// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@account-nav-background: @sidebar__background-color;
@account-nav-color: false;

@account-nav-current-border: 3px solid transparent;
@account-nav-current-border-color: @color-orange-red1;
@account-nav-current-color: @active__color;
@account-nav-current-font-weight: @font-weight__semibold;

@account-nav-delimiter__border-color: @color-gray82;

@account-nav-item-hover: @active__color;

@_password-default: @color-gray-light01;
@_password-weak: #ffafae;
@_password-medium: #ffd6b3;
@_password-strong: #c5eeac;
@_password-very-strong: #81b562;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .login-container {
        .block {
            &-new-customer {
                .actions-toolbar {
                    margin-top: 25px;
                }
            }

            .block-title {
                &:extend(.abs-login-block-title all);
                .lib-font-size(18);
            }
        }

        .fieldset {
            .lib-form-hasrequired(bottom);
            &:after {
                margin-top: 35px;
            }
        }
    }

    .block-addresses-list {
        .items.addresses {
            > .item {
                margin-bottom: @indent__base;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .form-address-edit {
        #region_id {
            display: none;
        }
    }

    .form-edit-account {
        .fieldset.password {
            display: none;
        }
    }

    //  Full name fieldset
    .fieldset {
        .fullname {
            &.field {
                > .label {
                    &:extend(.abs-visually-hidden all);

                    + .control {
                        width: 100%;
                    }
                }
            }

            .field {
                &:extend(.abs-add-clearfix all);
            }
        }
    }

    .column.main {
        .block:not(.widget) {
            &:extend(.abs-account-blocks all);
        }
    }

    //
    //  My account
    //  ---------------------------------------------

    .account {
        .column.main {
            h2 {
                margin-top: 0;
            }

            .toolbar {
                text-align: center;
                .limiter-options {
                    width: auto;
                }
            }

            .limiter {
                >.label {
                    &:extend(.abs-visually-hidden all);
                }
            }

            .block:not(.widget) {
                &.block-dashboard-orders {
                    .block-title {
                        margin-bottom: 0 !important;
                    }
                }

                &.block-dashboard-addresses,
                &.block-addresses-default,
                &.block-addresses-list {
                    .box-actions {
                        .action {
                            span {
                                &:extend(.abs-icon-link all);
                            }
                        }
                    }
                }
            }

            .empty {
                .lib-css(color, @primary__color);
                background-color: transparent;
                text-align: center;
                padding: 0;
                margin: 0;

                span {
                    display: inline-block;

                    &:before {
                        display: none;
                    }
                }
            }

            .actions-toolbar {
                .action.back {
                    display: none;
                }
            }

            .action.primary {
                &:extend(.abs-button-l all);
            }
        }

        .table-wrapper {
            &:last-child {
                margin-bottom: 0;
            }

            .action:not(.next):not(.previous) {
                &:extend(.abs-account-secondary-button);

                &:last-child {
                    margin-right: 0;
                }
            }

            &.orders-recent tbody {
                .col.total {
                    font-weight: @font-weight__bold;
                }
            }
        }

        .table-return-items {
            .qty {
                .input-text {
                    &:extend(.abs-input-qty all);
                }
            }
        }
    }

    //  Checkout address (create shipping address)
    .field.street {
        .field.additional {
            .label {
                &:extend(.abs-visually-hidden all);
            }
        }
    }

    //
    //  Account navigation
    //  ---------------------------------------------

    .common-left-nav {
        .item {
            .lib-css(border-bottom, 1px solid @secondary__color__lighter);
            margin: 0;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                .lib-css(border-bottom, none);
            }

            a,
            > strong {
                .lib-css(color, @account-nav-color);
                display: block;
            }

            a {
                .lib-css(color, @primary__color__light);
                text-decoration: none;

                &:hover {
                    .lib-css(color, @account-nav-item-hover);
                }
            }

            .delimiter {
                border-top: 1px solid @account-nav-delimiter__border-color;
                display: block;
                margin: @indent__s 1.8rem;
            }
        }
    }

    //
    //  Blocks & Widgets
    //  ---------------------------------------------

    .block {
        &:extend(.abs-margin-for-blocks-and-widgets all);
        .column.main & {
            &:last-child {
                margin-bottom: 0;
            }
        }

        .title {
            margin-bottom: @indent__s;

            strong {
                .column.main & {
                    font-size: @h3__font-size;
                }
            }
        }

        p:last-child {
            margin: 0;
        }
    }

    //
    //  Password Strength Meter
    //  ---------------------------------------------

    .field.password {
        .control {
            .lib-vendor-prefix-display();
            .lib-vendor-prefix-flex-direction();

            .mage-error {
                .lib-vendor-prefix-order(2);
            }

            .input-text {
                .lib-vendor-prefix-order(0);
                z-index: 2;
            }
        }
    }

    .password-strength-meter {
        background-color: @_password-default;
        height: @form-element-input__height;
        line-height: @form-element-input__height;
        padding: @form-element-input__padding;
        position: relative;
        z-index: 1;

        &:before {
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            z-index: -1;
        }

        .password-none & {
            &:before {
                background-color: @_password-default;
                width: 100%;
            }
        }

        .password-weak & {
            &:before {
                background-color: @_password-weak;
                width: 25%;
            }
        }

        .password-medium & {
            &:before {
                background-color: @_password-medium;
                width: 50%;
            }
        }

        .password-strong & {
            &:before {
                background-color: @_password-strong;
                width: 75%;
            }
        }

        .password-very-strong & {
            &:before {
                background-color: @_password-very-strong;
                width: 100%;
            }
        }
    }

    .control.captcha-image {
        .lib-css(margin-top, @indent__s);

        .captcha-img {
            vertical-align: middle;
        }
    }

    .block-search input[type="text"]::-ms-clear {
        display: none;
        width: 0;
        height: 0;
    }

    .block-search input[type="text"]::-ms-reveal {
        display: none;
        width: 0;
        height: 0;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .column.main {
        .block:not(.widget) {
            &:extend(.abs-account-blocks-mobile-xs all);

            .block-content {
                .box {
                    &-content {
                        .lib-css(font-size, 13px);

                        address {
                            .lib-css(font-size, 13px);
                        }
                    }
                }
            }
        }
    }

    .customer-address-index {
        .actions-toolbar {
            margin-bottom: 30px;
        }
    }

    .customer-account-index,
    .contact-index-index {
        .column.main {
            .block:not(.widget) .block-title,
            form .legend {
                .lib-css(font-size, 18px);
                padding-bottom: 4px;
                margin-bottom: 21px;
            }
        }
    }

    .account {
        .column.main {
            padding-bottom: 7px;

            .block:not(.widget) {
                margin-bottom: 30px;

                &.block-dashboard-info {
                    padding-bottom: 6px;

                    .box-actions {
                        margin-bottom: 10px;
                    }
                }

                &.block-dashboard-addresses {
                    padding-bottom: 22.5px;
                }

                &.block-addresses-default {
                    padding-bottom: @indent__xs;
                }

                .block-content {
                    .box {
                        &.box-shipping-address,
                        &.box-address-shipping,
                        &.item:nth-child(n+2) {
                            padding-top: 15px !important;
                            border-top: 1px solid @secondary__color__light;
                            margin-top: 18px;
                        }
                    }
                }

                &.block-dashboard-addresses,
                &.block-addresses-default,
                &.block-addresses-list {
                    .box-actions {
                        .action {
                            span {
                                &:after {
                                    top:0;
                                }
                            }
                        }
                    }
                }
            }

            .empty {
                font-size: 13px;
                margin-top: 12.5px;

                span {
                    margin-bottom: 12.5px;
                }
            }

            .table-wrapper {
                .action:not(.next):not(.previous) {
                    &:extend(.abs-account-secondary-button-mobile-xs);
                    padding: 5px 14px;
                }
            }
        }
    }

    .form-address-edit {
        .fieldset {
            .field.country + .message {
                margin: 5px 0 10px 0;
            }

            .field.choice + .message {
                margin-top: 2.5px;
            }
        }
    }

    .account-nav {
        margin-bottom: 10px;
    }

    .sidebar {
        margin-left: -15px;
        margin-right: -15px;
    }

    .common-left-nav {
        >.title {
            padding: 15px;
            margin-bottom: 10px;
            border-top: 1px solid @active__color;
            border-bottom: 1px solid @secondary__color__light;

            strong, span {
                &:not(.nav-title) {
                    font-size: 13px;
                    line-height: 1.1;

                    &:after {
                        font-size: 13px;
                    }
                }
            }
        }

        >.content {
            top: 46px;

            .item {
                padding: 10px 24px;
                border-bottom: 1px solid @secondary__color__light;

                a, strong {
                    font-size: 13px;
                }
            }
        }
    }

    .block {
        .box-actions {
            padding-top: 14px;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .login-container {
        .fieldset {
            &:after {
                text-align: center;
            }
        }
    }

    .block {
        .box-actions {
            padding-top: 28px;
        }
    }

    .box-billing-address,
    .box-shipping-address,
    .box-address-billing,
    .box-address-shipping,
    .box-information,
    .box-newsletter {
        .box-content {
            line-height: 30px;
        }
    }

    .customer-address-index {
        .actions-toolbar {
            margin-bottom: 60px;
        }
    }

    .column.main {
        .block:not(.widget) {
            &:extend(.abs-account-blocks-mobile all);

            .block-content {
                .box {
                    &-content {
                        .lib-css(font-size, 26px);
                        line-height: 100%;

                        address {
                            .lib-css(font-size, 26px);
                            line-height: 100%;
                        }
                    }
                }
            }
        }
    }

    .customer-account-index,
    .contact-index-index {
        .column.main {
            .block:not(.widget) .block-title,
            form .legend {
                .lib-css(font-size, 36px);
                padding-bottom: 8px;
                margin-bottom: 42px;

                > strong, > span {
                    .lib-css(font-weight, @font-weight__light);
                }
            }
        }
    }

    .account {
        .column.main {
            .block:not(.widget) {
                margin-bottom: 60px;

                &.block-dashboard-info {
                    padding-bottom: 12px;

                    .box-actions {
                        margin-bottom: 20px;
                    }

                    .information {
                        overflow: hidden;
                    }
                }

                &.block-dashboard-addresses {
                    padding-bottom: 45px;
                }

                &.block-addresses-default {
                    padding-bottom: @indent__s;
                }

                .block-content {
                    .box {
                        &.box-shipping-address,
                        &.box-address-shipping,
                        &.item:nth-child(n+2) {
                            padding-top: 30px;
                            border-top: 2px solid @secondary__color__light;
                            margin-top: 36px;
                        }
                    }
                }

                &.block-dashboard-addresses,
                &.block-addresses-default,
                &.block-addresses-list {
                    .box-actions {
                        .action {
                            span {
                                &:after {
                                    position: relative;
                                    top:-2px;
                                }
                            }
                        }
                    }
                }
            }

            .empty {
                font-size: 26px;
                text-align: left;
                margin-top: 25px;

                span {
                    margin-bottom: 25px;
                }
            }

            .table-wrapper {
                .action:not(.next):not(.previous) {
                    &:extend(.abs-account-secondary-button-mobile);
                    margin-right: 5px;
                    padding: 10px 28px;
                }
            }
        }

        .page.messages {
            margin-bottom: 0;
        }

        .toolbar {
            &:extend(.abs-pager-toolbar-mobile all);
        }
    }

    .form-address-edit {
        .fieldset {
            .field.country + .message {
                margin: 10px 0 20px 0;
            }

            .field.choice + .message {
                margin-top: 5px;
                width: 100%;
                display: inline-block;
            }
        }
    }

    .account-nav {
        margin-bottom: 20px;
    }

    .sidebar {
        margin-left: -30px;
        margin-right: -30px;
    }

    .common-left-nav {
        position: relative;
        background-color: @secondary__color__lighter;

        .title {
            strong, span {
                &.nav-title {
                    display: none;
                }
            }

            > a {
                text-decoration: none;
            }
        }

        >.title {
            padding: 24px 30px;
            line-height: 100%;
            margin-bottom: 20px;
            border-top: 2px solid @active__color;
            border-bottom: 2px solid @secondary__color__light;
            color: @active__color;

            strong, span {
                &:not(.nav-title) {
                    font-size: 26px;
                    line-height: 100%;
                    font-weight: @font-weight__light;

                    .lib-icon-font(
                            @icon-down,
                        @_icon-font-size: 26px,
                        @_icon-font-line-height: 100%,
                        @_icon-font-text-hide: true,
                        @_icon-font-position: after,
                        @_icon-font-color: @primary__color,
                        @_icon-font-display: block
                    );

                    &:after {
                        float: right;
                        font-weight: @font-weight__bold;
                    }
                }
            }

            &.active {
                strong, span {
                    &:not(.nav-title) {
                        .lib-icon-font-symbol(
                                @icon-up,
                            @_icon-font-position: after
                        );

                        &:after {
                            float: right;
                            font-weight: @font-weight__bold;
                        }
                    }
                }
            }
        }

        >.content {
            display: none;
            background-color: @secondary__color__lighter;
            position: absolute;
            left: 0;
            right: 0;
            top: 78px;
            z-index: 99999;

            &.active {
                display: block;
            }

            .item {
                padding: 20px 48px;
                border-bottom: 2px solid @secondary__color__light;

                a, strong {
                    .lib-css(font-size, 26px);
                    font-weight: @font-weight__light;
                }
            }
        }

    }

    .control.captcha-image {
        .captcha-img {
            .lib-css(margin-bottom, @indent__s);
            display: block;
        }
    }

    .customer-account-index {
        .page-title-wrapper {
            position: relative;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .login-container {
        &:extend(.abs-add-clearfix-desktop all);

        .block {
            &:extend(.abs-blocks-2columns all);
            &.login {
                .actions-toolbar {
                    > .primary {
                        margin-bottom: 0;
                        margin-right: @indent__l;
                    }

                    > .secondary {
                        float: left;
                    }
                }
            }
        }

        .fieldset {
            &:after {
                &:extend(.abs-margin-for-forms-desktop all);
            }

            > .field {
                > .control {
                    width: 55%;
                }
            }
        }
    }

    .form-address-edit {
        .fieldset {
            width: 45%;
            box-sizing: border-box;

            &:nth-child(odd) {
                clear: left;
                float: left;
            }

            &:nth-child(even) {
                float: right;
            }

            .field.country + .message {
                margin-top: -15px;
            }

            .field.choice + .message {
                margin-top: -10px;
            }
        }
    }

    .block {
        .box-actions {
            padding-top: 24px;
        }
    }

    //  Full name fieldset
    .fieldset {
        .fullname {
            .field {
                .label {
                    .lib-css(margin, @form-field-type-label-inline__margin);
                    .lib-css(padding, @form-field-type-label-inline__padding);
                    .lib-css(text-align, @form-field-type-label-inline__align);
                    .lib-css(width, @form-field-type-label-inline__width);
                    box-sizing: border-box;
                    float: left;
                }

                .control {
                    .lib-css(width, @form-field-type-control-inline__width);
                    float: left;
                }
            }
        }
    }

    .form.password.reset,
    .form.send.confirmation,
    .form.password.forget,
    .form.create.account {
        min-width: 600px;
        width: 50%;
    }

    //
    //  My account
    //  ---------------------------------------------

    .page-layout-2columns-left {

        &.account,
        &.contact-index-index,
        &.faq-index-index,
        &.sales-guest-form,
        &.sales-guest-view,
        &.sales-guest-invoice,
        &.sales-guest-shipment,
        &.sales-guest-creditmemo {
            .sidebar-main,
            .sidebar-additional {
                width: 21.875%;
                padding-right: 4.7%;
            }

            .column.main {
                width: 78.125%;
            }
        }
    }

    .column.main {
        .block:not(.widget):not(.crosssell) {
            &:extend(.abs-account-blocks-desktop all);

            .block-content {
                .box {
                    &-content {
                        .lib-css(font-size, 16px);

                        address {
                            .lib-css(font-size, 16px);
                        }
                    }
                }
            }
        }
    }

    .account {
        .breadcrumbs {
            margin-bottom: 45px;
        }

        .column.main {
            .block:not(.block-order-details-view) {
                .block-content .box {
                    &:extend(.abs-blocks-2columns all);
                }
            }

            .block:not(.widget) {
                margin-bottom: 55px;

                .block-content {
                    &:extend(.abs-add-clearfix-desktop all);

                    .box {
                        &-shipping-address,
                        &-address-shipping,
                        &.item:nth-child(2n) {
                            padding-left: @indent__xl;
                            border-left: 1px solid @secondary__color__light;
                        }

                        &.item:nth-child(n+3) {
                            margin-top: 35px;
                        }
                    }
                }

                &.block-dashboard-info {
                    .box-actions {
                        margin-bottom: @indent__base;
                    }

                    .box-information {
                        .information {
                            .lib-css(font-size, 14px);

                            &:before {
                                .lib-css(font-size, 15px);
                                position: relative;
                                top: 2px;
                            }
                        }
                    }
                }

                &.block-dashboard-addresses {
                    .box {
                        margin-bottom: 45px;
                    }
                }

                &.block-addresses-default {
                    .box {
                        margin-bottom: @indent__xs;
                    }
                }

                &.block-addresses-list {
                    .action.edit {
                        margin-right: 7px;
                    }
                }

                &.block-dashboard-addresses,
                &.block-addresses-default,
                &.block-addresses-list {
                    .box-actions {
                        .action {
                            span {
                                &:after {
                                    position: relative;
                                    top:-1px;
                                }
                            }
                        }
                    }
                }
            }

            .empty {
                font-size: 22px;
                margin-top: 25px;

                span {
                    margin-bottom: 40px;
                }
            }

            .field {
                label {
                    span {
                        .lib-css(font-size, 16px);
                    }
                }
            }

            .table-wrapper {
                .action:not(.next):not(.previous) {
                    &:extend(.abs-account-secondary-button-desktop);
                    padding: 10px 7.5%;
                    margin-right: 8px;
                }

                &.orders-recent, &.orders-history {
                    .action {
                        padding: 6px 7% !important;

                        &.view {
                            margin-bottom: 12px;
                        }
                    }
                }
            }
        }

        .toolbar {
            &:extend(.abs-pager-toolbar all);
        }
    }

    .form-address-edit {
        .field {
            &.choice.billing {
                margin-bottom: @indent__base;
            }
        }

        .actions-toolbar {
            clear: both;
        }
    }

    .common-left-nav {
        margin-bottom: 20px;

        .title {
            display: none;
        }

        .content {
            .lib-css(border, 1px solid @secondary__color__light);
            padding: 14px 0;
        }

        .item {
            a,
            > strong {
                .lib-css(font-size, @font-size__l);
                padding: 10px 28px;
            }

            &.current {
                a,
                strong {
                    .lib-css(color, @account-nav-current-color);
                }
            }
        }
    }

    //
    //  Welcome block
    //  ---------------------------------------------

    .dashboard-welcome-toggler {
        &:extend(.abs-visually-hidden-desktop all);
    }

    .control.captcha-image {
        .captcha-img {
            margin: 0 @indent__s @indent__s 0;
        }
    }
}
