// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .master_loviitcc,
    .sofort_loviitsu,
    .paypal_loviitppal,
    .visa_loviitcc {
        background-image: url('../images/cc/vi.png');
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        vertical-align: middle;
        width: 46px;
        height: 30px;
        border: 1px solid @border-color__base;
        margin-left: @indent__s;
    }

    .master_loviitcc {
        background-image: url('../images/cc/mc.jpg');
    }

    .paypal_loviitppal {
        width: 86px;
        background-image: url('../images/cc/paypal.png');
    }

    .sofort_loviitsu {
        width: 98px;
        background-image: url('../images/cc/sofort.png');
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .master_loviitcc,
    .sofort_loviitsu,
    .paypal_loviitsu,
    .visa_loviitcc {
        width: 23px;
        height: 15px;
        margin-left: @indent__xs;
    }

    .sofort_loviitsu {
        width: 49px;
    }

    .paypal_loviitppal {
        width: 43px;
    }
}