// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .actions-toolbar {
        > .primary,
        > .secondary {
            text-align: center;
            margin-bottom: 0;

            .action {
                &:extend(.abs-button-responsive all);
                margin-bottom: 0;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .actions-toolbar {
        .lib-actions-toolbar();
        > .primary,
        > .secondary {
            margin-bottom: 0;

            .action {
                margin-bottom: 0;
                width: auto;
            }
        }
    }

    form {
        .actions-toolbar {
            .column:not(.sidebar-main) &,
            .column:not(.sidebar-additional) & {
                &:extend(.abs-margin-for-forms-desktop all);
            }
        }
    }
}
