// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@form-field__vertical-indent__desktop: 29px;
@form-calendar-icon__color: @primary__color;
@form-element-mobile-input__height: 50px;

@form-element-mobile-input__font-size: 24px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .fieldset {
        .lib-form-fieldset();
        &:last-child {
            margin-bottom: 0;
        }

        > .field,
        > .fields > .field {
            .lib-form-field();

            &.no-label {
                > .label {
                    &:extend(.abs-visually-hidden all);
                }
            }

            &.choice {
                .label {
                    display: inline;
                    font-weight: normal;
                    vertical-align: middle;
                }
            }

            .label {
                .column:not(.main) & {
                    font-weight: normal;
                }
            }

            .field.choice {
                margin-bottom: @indent__s;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            input[type=file] {
                margin: @indent__xs 0;
            }
        }
    }

    .choice {
        label {
            display: inline;
            font-weight: normal;
            vertical-align: middle;
        }
    }

    .legend + .fieldset,
    .legend + div {
        clear: both;
    }

    .legend {
        strong {
            margin-left: @indent__xs;
        }
    }

    fieldset.field {
        border: 0;
        padding: 0;
    }

    .field {
        &.date {
            &:extend(.abs-field-date all);

            .time-picker {
                display: inline-block;
                margin-top: @indent__s;
                white-space: nowrap;
            }
        }

        .message {
            &.warning {
                margin-top: @indent__s;
            }
        }
    }

    .select-styling() {
        .lib-css(appearance, none, 1);
        appearance: none;
        background: @select__background url('../images/select-bg.svg') no-repeat 100% 45%;
        background-size: 30px 60px;
        border: 1px solid @secondary__color__light;
        height: @form-element-input__height;
        padding-right: 25px;
        text-indent: .01em;
        text-overflow: '';

        &::-ms-expand {
            display: none;
        }

        .lt-ie10 & {
            background-image: none;
            padding-right: 4px;
        }
    }

    input[type="radio"] {
        margin: 0 @indent__xs 0 0 ;
        width: 34px;
        height: 34px;
        display: inline-block;
        vertical-align: middle;

        + label {
            cursor: pointer;
            margin: 0 !important;
            vertical-align: middle;
            color: @primary__color__lightest;
            font-size: 24px;
        }

        &:after {
            cursor: pointer;
            width: 34px;
            height: 34px;
            border-radius: 50%;
            position: relative;
            background-color: @color-white;
            content: '';
            display: inline-block;
            visibility: visible;
            box-shadow: 0 0 0 1px @form-element-input__border-color;
            box-sizing: border-box;
        }

        &:checked {
            + label {
                color: @primary__color;
            }

            &:after {
                background-color: @primary__color;
                border: 8px solid @color-white;
            }
        }
    }

    input[type="checkbox"]{
        -webkit-appearance: none;
        background-color: @color-white;
        border: 1px solid @form-element-input__border-color;
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: middle;
    }

    input[type="checkbox"]:checked{
        background: transparent;
        border-color: @form-element-input__border-color;

        .lib-icon-font(
                @icon-checkmark,
            @_icon-font-color: @primary__color,
            @_icon-font-size: @font-size__xs,
            @_icon-font-line-height: 18px,
            @_icon-font-margin: 0,
            @_icon-font-position: after
        );

        &:after {
            display: block;
            font-weight: @font-weight__bold;
        }
    }

    select:not(.wpwl-control) {
        .select-styling();
    }

    .field-error,
    div.mage-error[generated] {
        margin-top: 2.5px;
    }

    .field-error {
        .lib-form-validation-note();
    }

    .field .tooltip {
        .lib-tooltip(right);
        .tooltip-content {
            min-width: 200px;
            white-space: normal;
        }
    }

    input:focus ~ .tooltip .tooltip-content,
    select:focus ~ .tooltip .tooltip-content {
        display: block;
    }

    ._has-datepicker {
        ~ .ui-datepicker-trigger {
            .lib-button-reset();
            .lib-icon-font(
                @_icon-font-content: @icon-calendar,
                @_icon-font-color: @primary__color__lighter,
                @_icon-font-size: @icon-calendar__font-size,
                @_icon-font-line-height: @icon-calendar__font-size,
                @_icon-font-display: block,
                @_icon-font-text-hide: true
            );
            display: inline-block;
            vertical-align: middle;

            &:focus {
                box-shadow: none;
                outline: 0;
            }
        }
    }

    //
    //  Sidebar forms
    //  -----------------------------------------

    .sidebar {
        .fieldset {
            margin: 0;

            > .field:not(.choice) >,
            .fields > .field {
                &:not(:last-child) {
                    margin: 0 0 @form-field__vertical-indent;
                }

                .label {
                    margin: 0 0 4px;
                    padding: 0 0 @indent__xs;
                    text-align: left;
                    width: 100%;
                }

                .control {
                    width: 100%;
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .fieldset {
        .lib-form-fieldset(
            @_legend-font-size: 15px,
            @_legend-font-weight: @font-weight__bold,
            @_legend-margin: 0 0 5px 0,
            @_margin: 0 0 20px 0
        );

        > .legend {
            padding-bottom: 5px;
            border-bottom: 1px solid @secondary__color__light;
        }

        > .field,
        > .fields > .field {
            .lib-form-field(
                @_label-font-weight: @font-weight__bold,
                @_label-font-size: 13px,
                @_type-block-label-margin: 0 0 5px 0
            );

            .note {
                font-size: 12px;
            }

            &:not(.choice) {
                margin-bottom: 15px;
            }

            &:last-child {
                margin-bottom: 20px;
            }

            &.billing {
                margin-bottom: 8px;
            }

            &.billing,
            &.shipping {
                label {
                    font-size: 12px;
                }
            }

            ._lib-form-field-required(
                @_font-size: 13px;
            )
        }
    }

    textarea {
        border-width: 1px;
    }

    input[type='checkbox'] + label {
        font-size: 12px;
    }

    input[type='checkbox'] {
        border: 1px solid @secondary__color__light;
        width: 15px;
        height: 15px;

        &:checked {
            &:after {
                font-size: @font-size__xs;
                line-height: 14px;
            }
        }
    }

    input[type="email"],
    input[type="text"],
    input[type="password"],
    input[type="url"],
    input[type="tel"],
    input[type="search"],
    input[type="number"],
    input[type="datetime"],
    input[type='text'],
    select:not(.wpwl-control) {
        height: @form-element-mobile-input__height / 2;
        border: 1px solid @secondary__color__light;
        font-size: @form-element-mobile-input__font-size / 2;
    }

    input[type="radio"] {
        width: 17px;
        height: 17px;

        &:after {
            width: 17px;
            height: 17px;
            left: -1px;
            top: -1px;
        }

        + label {
            font-size: @font-size__s;
        }

        &:checked {
            &:after {
                border-width: 4px;
            }
        }
    }

    form {
        .actions-toolbar {
            margin-bottom: 30px;
        }
    }

    input,
    select,
    textarea {
        .lib-form-validation();
    }

    div.mage-error[generated] {
        .lib-form-validation-note(
            @_note-font-size: 12px
        );
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .fieldset {
        .lib-form-fieldset(
            @_legend-font-size: 30px,
            @_legend-font-weight: @font-weight__bold,
            @_legend-margin: 0 0 10px 0
        );

        > .legend {
            padding-bottom: 10px;
            border-bottom: 2px solid @secondary__color__light;
        }

        > .field,
        > .fields > .field {
            .lib-form-field(
                @_label-font-weight: @font-weight__bold,
                @_label-font-size: 26px
            );

            .note {
                font-size: 24px;
            }

            &:not(.choice) {
                margin-bottom: 30px;
            }

            &:last-child {
                margin-bottom: 40px;
            }

            &.billing {
                margin-bottom: 16px;
            }

            &.billing,
            &.shipping {
                label {
                    font-size: 24px;
                }
            }

            ._lib-form-field-required(
                @_font-size: 26px;
            )
        }
    }

    textarea {
        border-width: 2px;
    }

    input[type='checkbox'] {
        border: 2px solid @secondary__color__light;
        width: 30px;
        height: 30px;

        &:checked {
            &:after {
                font-size: 14px;
                line-height: 26px;
            }
        }
    }

    input[type='checkbox'] + label {
        font-size: 24px;
    }

    input[type="email"],
    input[type="text"],
    input[type="password"],
    input[type="url"],
    input[type="tel"],
    input[type="search"],
    input[type="number"],
    input[type="datetime"],
    input[type='text'],
    select:not(.wpwl-control) {
        height: @form-element-mobile-input__height;
        border: 2px solid @secondary__color__light;
        font-size: @form-element-mobile-input__font-size;
    }

    form {
        .actions-toolbar {
            margin-bottom: 60px;
        }
    }

    input,
    select,
    textarea {
        .lib-form-validation();
    }

    div.mage-error[generated] {
        .lib-form-validation-note(
            @_note-font-size: 24px
        );
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .fieldset {
        .legend {
            &:extend(.abs-margin-for-forms-desktop all);
        }

        > .field {
            .lib-form-field-type-revert();
            margin: 0 0 @form-field__vertical-indent__desktop;
        }
    }

    input[type='checkbox'] + label {
        font-size: 16px;
    }

    input[type="radio"] {
        width: 20px;
        height: 20px;

        + label {
            font-size: 16px;
        }

        &:after {
            width: 20px;
            height: 20px;
        }

        &:checked {
            &:after {
                border-width: 4px;
            }
        }
    }
}
