// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@layout-column-main__sidebar-offset: 2%;
@layout-column__additional-sidebar-offset: @layout-column-main__sidebar-offset;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .columns {
        #lib-layout-columns();

        .column.main {
            &:extend(.abs-add-box-sizing all);
            .lib-css(padding-bottom, @indent__xl);
            .lib-vendor-prefix-flex-basis(100%);
            .lib-vendor-prefix-flex-grow(1);
            .lib-vendor-prefix-order(1);
            width: 100%;
        }

        .sidebar-main {
            &:extend(.abs-add-box-sizing all);
            .lib-vendor-prefix-flex-grow(1);
            .lib-vendor-prefix-flex-basis(100%);
            .lib-vendor-prefix-order(0);
        }

        .sidebar-additional {
            &:extend(.abs-add-box-sizing all);
            .lib-vendor-prefix-flex-grow(1);
            .lib-vendor-prefix-flex-basis(100%);
            .lib-vendor-prefix-order(2);
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .bottom.container,
    .page-header .header.panel,
    .header.content,
    .footer-social .icons,
    .footer-links .lists,
    body:not(.cms-home) .page-main,
    .page-wrapper > .widget,
    .bottom-policy .policy-text,
    .block.category.event,
    .top-container {
        padding-left: @layout__width-xs-indent * 2;
        padding-right: @layout__width-xs-indent * 2;
    }

    .page-main {
        .cms-privacy-policy & {
            padding-top: 41px;
            position: relative;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .bottom.container,
    .page-header .header.panel,
    .header.content,
    .footer-social .icons,
    .footer-links .lists,
    body:not(.cms-home) .page-main,
    .page-wrapper > .widget,
    .bottom-policy .policy-text,
    .block.category.event,
    .top-container {
        padding-left: @layout__width-xs-indent;
        padding-right: @layout__width-xs-indent;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .swiper-container .slide-width,
    .swiper-container .swiper-button-arrows,
    .page-header .header.panel,
    .navigation,
    .header.content,
    .block-search,
    .message.global.cookie > div,
    .checkout-index-index #maincontent,
    .checkout-cart-index #maincontent,
    .account #maincontent,
    body:not(.cms-home) .page-main,
    .submenu .sub-contents,
    .feature-icon-swiper {
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        max-width: @layout__max-width;
        padding-left: @layout-indent__width;
        padding-right: @layout-indent__width;
        width: 100%;
    }

    .bottom.container,
    .bottom-policy .policy-text,
    .footer-social .icons,
    .footer-links .lists {
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        max-width: 1240px;
        padding-left: @layout-indent__width;
        padding-right: @layout-indent__width;
        width: 100%;
    }

    .catalog-product-view .page-main,
    .page-wrapper > .widget,
    .block.category.event,
    .top-container,
    .home-recommended-products {
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        max-width: 1660px !important;
        padding-left: @layout-indent__width;
        padding-right: @layout-indent__width;
        width: 100%;
    }

    body[class*='catalog']:not(.catalog-product-view) .page-main {
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        max-width: 1600px !important;
        padding-left: @layout-indent__width;
        padding-right: @layout-indent__width;
        width: 100%;
    }

    .page-wrapper > .widget,
    .block.category.event,
    .top-container,
    .catalog-category-view .page-main,
    .catalog-product-view .page-main,
    .catalogsearch-result-index .page-main {
        width: 100%;

        .lib-vendor-prefix-flex-grow(1);
        .lib-vendor-prefix-flex-shrink(0);
        .lib-vendor-prefix-flex-basis(auto);

        .ie9 & {
            width: auto;
        }
    }

    .columns {
        display: block;
    }

    .column.main {
        #lib-layout-columns > .main();
        &:extend(.abs-add-box-sizing-desktop all);
        min-height: 300px;
    }

    .sidebar-main {
        #lib-layout-columns > .left();
        padding-right: @layout-column-main__sidebar-offset;
        &:extend(.abs-add-box-sizing-desktop all);
    }

    .page-layout-2columns-right .sidebar-main {
        padding-left: @layout-column-main__sidebar-offset;
        padding-right: 0;
    }

    .sidebar-additional {
        #lib-layout-columns > .right();
        clear: right;
        padding-left: @layout-column__additional-sidebar-offset;
        &:extend(.abs-add-box-sizing-desktop all);
    }

    .page-layout-2columns-left {
        .sidebar-additional {
            clear: left;
            float: left;
            padding-left: 0;
            padding-right: @layout-column__additional-sidebar-offset;
        }
    }
}
