// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .message.info {
        .lib-message-icon-inner(info);
    }

    .message.error {
        .lib-message-icon-inner(error);
    }

    .message.warning {
        .lib-message-icon-inner(warning);
    }

    .message.notice {
        .lib-message-icon-inner(notice);
    }

    .message.success {
        .lib-message-icon-inner(success);
    }

    .message {
        text-align: center;

        > *:first-child {
            position: relative;
            top: 3px;
            text-align: left;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .message.info,
    .message.notice {
        font-size: 11px;
        padding: 15px 0;

        > *:first-child {
            &:before {
                font-size: 13px;
                line-height: 13px;
                width: 15px;
                height: 15px;
            }
        }
    }

    .message.error,
    .message.warning {
        font-size: 11px;
        padding: 14px 0;

        > *:first-child {
            &:before {
                font-size: 14px;
                line-height: 14px;
                top: 0;
                width: 16px;
                height: 16px;
            }
        }
    }

    .message.success {
        font-size: 11px;
        padding: 14px 0;

        > *:first-child {
            &:before {
                font-size: 14px;
                line-height: 14px;
                top: -1px;
                margin-right: 5px;
                width: 16px;
                height: 16px;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .message.info,
    .message.notice {
        font-size: 22px;
        padding: 30px 60px;
        text-align: center;

        > *:first-child {
            &:before {
                font-size: 26px;
                line-height: 26px;
                top: -1px;
                width: 28px;
                height: 28px;
            }
        }
    }

    .message.error,
    .message.warning {
        font-size: 22px;
        padding: 28px 60px;

        > *:first-child {
            &:before {
                font-size: 28px;
                line-height: 28px;
                top: -1px;
                width: 30px;
                height: 30px;
            }
        }
    }

    .message.success {
        font-size: 22px;
        padding: 28px 60px;

        > *:first-child {
            &:before {
                font-size: 28px;
                line-height: 28px;
                top: -1px;
                margin-right: 10px;
                width: 30px;
                height: 30px;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .message {
        > *:first-child {
            &:before {
                width: 22px;
                height: 22px;
            }
        }
    }
}
