// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .pages {
        .action {
            &.previous {
                margin-right: 20px;

                &:before {
                    width: @pager-icon__font-size;
                }
            }

            &.next {
                margin-left: 20px;

                &:before {
                    width: @pager-icon__font-size;
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .pages {
        .lib-pager(
            @_pager-font-size: 13px,
            @_pager-icon-font-size: 10px,
            @_pager-item-padding: 0 7.5px,
            @_pager-current-border: 1px solid @active__color
        );

        .action {
            &.previous {
                margin-right: 5px;

                &:before {
                    width: 10px;
                }
            }

            &.next {
                margin-left: 5px;

                &:before {
                    width: 10px;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .pages {
        .lib-pager(
            @_pager-font-size: 24px,
            @_pager-icon-font-size: 16px,
            @_pager-color: @secondary__color__light,
            @_pager-color-visited: @secondary__color__light,
            @_pager-font-weight: @font-weight__bold,
            @_pager-item-padding: 0 15px,
            @_pager-current-border: 2px solid @active__color
        );

        .action {
            &.previous {
                margin-right: 10px;

                &:before {
                    width: 20px;
                    font-weight: @font-weight__bold;
                }
            }

            &.next {
                margin-left: 10px;

                &:before {
                    width: 20px;
                    font-weight: @font-weight__bold;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .pages {
        .lib-pager(
            @_pager-color: @primary__color__light,
            @_pager-color-visited: @primary__color__light
        );
    }
}
