// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@table-head__color: #666;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .table-wrapper {
        margin-bottom: @indent__base;
    }

    table {
        .lib-table-caption();
    }

    .table {
        &:not(.totals) {
            .lib-table-typography();
            .lib-table-background-color();
            .lib-table-bordered(
            @_table_type: horizontal_body,
            @_table_border-width: @table__border-width
            );

            thead > tr {
                > th,
                > td {
                    color: @table-head__color;
                }
            }

            tfoot {
                .mark {
                    text-align: right;
                }
            }
        }

        &:not(.history):not(.recent) {
            tbody {
                tr {
                    td {
                        &.price,
                        &.subtotal,
                        &.total {
                            .price {
                                color: @primary__color__light;
                            }

                            .original-price .price {
                                color: @primary__color__lightest;
                                text-decoration: line-through;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .table-wrapper {
        .table {
            &:not(.cart) {
                &:not(.totals) {
                    &:not(.table-comparison) {
                        .lib-table-typography(
                            @_table-td-font-size: 13px
                        );

                        > tbody {
                            border-bottom: 1px solid @table__border-color;

                            > tr {
                                border-top: 1px solid @table__border-color;

                                td,
                                th {
                                    &:not(.actions):before {
                                        .lib-typography(
                                            @_font-size: 13px,
                                            @_color: @table-th__color,
                                            @_font-family: @table-th__font-family,
                                            @_font-weight: @table-th__font-weight,
                                            @_line-height: @table-th__line-height,
                                            @_font-style: @table-th__font-style
                                        );
                                    }
                                }

                                > td:first-child {
                                    padding-top: @indent__base / 2;
                                }

                                > td:last-child {
                                    padding-top: 10px;
                                    padding-bottom: @indent__l / 2;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .table {
        &:not(.history):not(.recent):not(.table-order-items) {
            tbody {
                tr {
                    td {
                        &.price,
                        &.subtotal {
                            .price {
                                font-size: 18px;
                            }

                            .original-price .price {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .table-wrapper {
        .lib-table-overflow();
        position: relative; // To hide unnecessary horizontal scrollbar in Safari

        .table {
            &:not(.cart) {
                &:not(.totals) {
                    &:not(.table-comparison) {
                        .lib-table-responsive();
                        .lib-table-typography(
                            @_table-td-font-size: 26px
                        );
                        .lib-table-bordered(
                            @_table_type: light,
                            @_table_border-width: @table__border-width
                        );

                        tbody {
                            border-bottom: 2px solid @table__border-color;

                            > tr {
                                border-top: 2px solid @table__border-color;

                                &:first-child {
                                    border-top: none;
                                }

                                > td:first-child {
                                    padding-top: @indent__base;
                                }

                                > td:last-child {
                                    padding-top: 20px;
                                    padding-bottom: @indent__l;
                                }
                            }
                        }

                        &.additional-attributes {
                            tbody {
                                th {
                                    &:extend(.abs-no-display-s all);
                                }

                                td {
                                    &:last-child {
                                        border: none;
                                        padding: 0 0 @indent__xs;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .table {
            &:not(.totals) {
                &:not(.table-comparison) {
                    tfoot {
                        display: block;

                        tr {
                            display: block;
                            &:extend(.abs-add-clearfix-mobile all);

                            &:first-child {
                                th,
                                td {
                                    padding-top: @indent__base;
                                }
                            }
                        }

                        th {
                            box-sizing: border-box;
                            float: left;
                            padding-left: 0;
                            padding-right: 0;
                            text-align: left;
                            width: 70%;
                        }

                        td {
                            box-sizing: border-box;
                            float: left;
                            padding-left: 0;
                            padding-right: 0;
                            text-align: right;
                            width: 30%;
                        }
                    }
                }
            }
        }
    }

    .data-table-definition-list {
        thead {
            display: none;
        }

        tbody th {
            padding-bottom: 0;
        }

        tbody th,
        tbody td {
            display: block;
            padding-left: 0;
            padding-right: 0;
        }
    }


    .table {
        &:not(.history):not(.recent):not(.table-order-items) {
            tbody {
                tr {
                    td {
                        &.price,
                        &.subtotal {
                            .price {
                                font-size: 36px;
                            }

                            .original-price .price {
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    table {
        > thead,
        > tbody,
        > tfoot {
            > tr {
                > td {
                    text-align: center;
                }
            }
        }

        tbody {
            border-bottom: @table__border-width solid @table__border-color;
        }

        &.creditmemo {
            tbody {
                tr {
                    td {
                        &.price,
                        &.subtotal,
                        &.total {
                            .price {
                                font-size: 20px;
                                font-weight: @font-weight__bold;
                                line-height: 1;
                            }
                        }
                    }
                }
            }
        }

        &:not(.history):not(.recent) {
            tbody {
                tr {
                    td {
                        &.price,
                        &.subtotal {
                            .price {
                                font-size: 20px;
                                line-height: 1;
                            }

                            .original-price .price {
                                font-size: 15px;
                            }
                        }

                        &.qty {
                            font-size: 15px;
                        }
                    }
                }
            }

            > thead,
            > tbody,
            > tfoot {
                > tr {
                    > th,
                    > td {
                        &.item,
                        &.name {
                            text-align: left;
                        }

                        &.price,
                        &.subtotal,
                        &.discount,
                        &.total {
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
}
