// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Luma theme variables
//  _____________________________________________

//
//  Typography
//  ---------------------------------------------

//  Fonts
@font-family-name__base: 'LG Smart';
@font-family__sans-serif: Tahoma, Arial, sans-serif;
@font-family__base: @font-family-name__base, @font-family__sans-serif;

//
//  Color nesting
//  ---------------------------------------------

@primary__color: @color-gray20;
@primary__color__dark: darken(@primary__color, 35%); // #000
@primary__color__darker: darken(@primary__color, 13.5%); // #111
@primary__color__lightest: lighten(@primary__color, 40%); // #999
@primary__color__lighter: lighten(@primary__color, 26%); // #757575
@primary__color__light: lighten(@primary__color, 20%); // #666

@secondary__color: @color-gray-light2; // #bbb
@secondary__color__light: lighten(@secondary__color, 6.5%); // #ccc
@secondary__color__lighter: lighten(@secondary__color, 21.5%); // #f2f2f2

@page__background-color: @color-white;
@panel__background-color: darken(@page__background-color, 6%);

@active__color: #a50034;
@active__color__light: #D80546;
@error__color: @color-red10;

//
//  Icons
//  ---------------------------------------------

@ico-lg-print: "\e932";
@ico-lg-m_signin: "\e92b";
@ico-lg-not_circle_cart: "\e929";
@ico-lg-information: "\e92a";
@ico-lg-minus: "\e928";
@ico-lg-banner_btn_right: "\e900";
@ico-lg-banner_btn_left: "\e927";
@ico-lg-cart: "\e901";
@ico-lg-chk_addr: "\e902";
@ico-lg-chk_complete: "\e903";
@ico-lg-chk_shipping: "\e904";
@ico-lg-close_light: "\e905";
@ico-lg-close_medium: "\e906";
@ico-lg-close_small: "\e907";
@ico-lg-delete: "\e908";
@ico-lg-info: "\e909";
@ico-lg-nocart: "\e90a";
@ico-lg-play: "\e90b";
@ico-lg-plus: "\e90c";
@ico-lg-quantity_minus: "\e90d";
@ico-lg-quantity_plus: "\e90e";
@ico-lg-rating_star: "\e90f";
@ico-lg-revise: "\e910";
@ico-lg-search: "\e911";
@ico-lg-share: "\e912";
@ico-lg-signin: "\e913";
@ico-lg-sns_facebook: "\e914";
@ico-lg-sns_google: "\e915";
@ico-lg-sns_insta: "\e916";
@ico-lg-sns_mail: "\e917";
@ico-lg-sns_pin: "\e918";
@ico-lg-sns_twitter: "\e919";
@ico-lg-sns_youtube: "\e91a";
@ico-lg-stop: "\e91b";
@ico-lg-top: "\e91c";
@ico-lg-updown: "\e91d";
@ico-lg-video_play: "\e91e";
@ico-lg-wish_heart: "\e91f";
@ico-lg-wish_heartline: "\e920";
@ico-lg-check: "\e921";
@ico-lg-next_btn: "\e922";
@ico-lg-back_btn: "\e92c";
@ico-lg-state_info: "\e923";
@ico-lg-state_ok: "\e924";
@ico-lg-state_warn: "\e925";
@ico-lg-hamburger: "\e926";


//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background
