<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<small class="copyright">
    <span><?= /* @escapeNotVerified */ $block->getCopyright() ?></span>
</small>
<a href="http://www.lgcorp.com/about/affiliatesList.dev" title="<?= __('Opens new window');?>" target="_blank">
    <span><?= /* @escapeNotVerified */ __('This is the official homepage of LG Electronics. To go to the LG Corp corporate website or other LG websites, please click'); ?></span>
</a>
