// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-wrapper__margin: @indent__base;
@checkout-wrapper__columns: 8;

@checkout-step-title__border: @border-width__base solid @border-color__base;
@checkout-step-title__font-size: 26px;
@checkout-step-title__font-weight: @font-weight__light;
@checkout-step-title__padding: @indent__s;

@checkout-step-title-mobile__font-size: 18px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .checkout-index-index {
        .header.content {
            text-align: center;
            padding-bottom: @indent__s;

            .logo {
                float: none;
                margin: 0;
            }
        }
    }

    .checkout-container {
        &:extend(.abs-add-clearfix all);
        .lib-css(margin, 0 0 @checkout-wrapper__margin);
    }

    .opc-wrapper {
        .lib-css(margin, 0 0 @checkout-wrapper__margin);

        .opc {
            &:extend(.abs-reset-list all);
        }

        .step-title {
            &:extend(.abs-block-title all);
        }
    }

    .checkout-index-index {
        .nav-sections,
        .nav-toggle {
            display: none;
        }

        .logo {
            padding-left: 0;
            
            img {
                margin: auto;
            }
        }
    }

    .checkout-onepage-success {
        &:extend(.abs-add-clearfix all);

        .success-title {
            text-align: center;
        }

        .actions-toolbar {
            margin-top: @indent__base;
            border-top: 0;
            text-align: center;

            .primary {
                float: none;
            }
        }

        .checkout-success {
            text-align: center;
            font-weight: @font-weight__light;

            p {
                span,
                strong,
                a {
                    font-weight: @font-weight__semibold;
                    color: @primary__color;
                }
            }
        }

        #registration {
            padding-top: @indent__s;
            text-align: center;
            font-weight: @font-weight__light;

            form {
                margin-top: @indent__base;
            }
        }

        #registration,
        .actions-toolbar {
            .action {
                .lib-button-l();
                font-weight: @font-weight__light;
                font-size: @button__font-size__l !important;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .opc-wrapper {
        .fieldset > .legend,
        .step-title {
            .lib-css(font-size, @checkout-step-title-mobile__font-size);
            border-bottom: 0;
            padding-bottom: 0;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .checkout-onepage-success {
        #registration {
            .action {
                width: 100%;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .opc-wrapper {
        &:extend(.abs-add-box-sizing-desktop-m all);
        .lib-layout-column(2, 1, @checkout-wrapper__columns);
        padding-right: @indent__l;
    }

    .checkout-index-index {
        .page-header {
            border-bottom: 1px solid @border-color__base;
        }
    }
}
