// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Checkout Estimated Total
    //  ---------------------------------------------

    .opc-estimated-wrapper {
        &:extend(.abs-add-clearfix all);
        &:extend(.abs-no-display-desktop all);
        background: @sidebar__background-color;
        margin: 0 -@layout__width-xs-indent 15px;
        position: relative;
        padding: 15px;

        .estimated-block {
            .lib-css(font-size, @checkout-step-title-mobile__font-size);
            .lib-css(font-weight, @font-weight__semibold);
            float: left;

            .estimated-label {
                display: block;
            }
        }

        .minicart-wrapper {
            right: @layout__width-xs-indent;

            .action {
                .lib-button-reset();
                padding-right: @indent__s;

                &.showcart {
                    &:before {
                        .lib-css(color, @text__color);
                        line-height: 80px;
                        font-size: 28px;
                    }

                    .counter.qty {
                        height: 20px;
                        min-width: 20px;
                        line-height: 20px;
                        font-size: 13px;
                        top: 15px !important;
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .opc-estimated-wrapper {
        display: none;
    }
}
