// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-summary-mark-value__color: @color-gray60;
@checkout-summary-items__max-height: 370px;
@checkout-summary-items__padding: 15px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Order Summary
    //  ---------------------------------------------

    .opc-block-summary {
        &:extend(.abs-sidebar-summary all);

        .block {
            &:extend(.abs-discount-block all);
        }

        //  Totals block
        .checkout-totals {
            &:extend(.abs-sidebar-totals all);
        }

        .not-calculated {
            font-style: italic;
        }

        //
        //  Items list
        //  ---------------------------------------------

        //  Block title
        .items-in-cart {
            .product {
                position: relative;
            }
        }

        //  Cart items
        .minicart-items-wrapper {
            .lib-css(margin, 0 -(@checkout-summary-items__padding) 0 0);
            .lib-css(max-height, @checkout-summary-items__max-height);
            .lib-css(padding, 0 @checkout-summary-items__padding 0 0);
            border: 0;
        }

        .column.main & {
            .product-item {
                margin: 0;
                padding-left: 0;
            }
        }

        .product-item {
            .product-item-inner {
                display: table;
                margin: 0 0 @indent__s;
                width: 100%;
                position: static;
                background-color: transparent;
                text-align: left;
            }

            .details-qty,
            .product-item-name {
                margin: 0 0 @indent__xs;
            }

            .details-qty {
                font-size: @font-size__s;
            }

            .price {
                .lib-font-size(14);
                font-weight: @font-weight__regular;
            }

            .price-including-tax {
                & + .price-excluding-tax {
                    margin: 0;

                    .price {
                        .lib-font-size(10);
                    }
                }
            }
        }

        .actions-toolbar {
            position: relative;
            z-index: 1;

            .secondary {
                border-top: @border-width__base solid @border-color__base;
                display: block;
                float: none;
                margin: -1px 0 0;
                padding: 15px 0 0;
                text-align: left;

                .action {
                    margin: 0;
                }
            }
        }
    }

    .opc-summary-wrapper {
        .modal-header {
            .action-close {
                padding: @summary__padding;
                margin: 0;

                &:before {
                    font-size: @font-size__l;
                    line-height: @font-size__l;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .opc-summary-wrapper {
        .modal-header {
            .action-close {
                display: none;
            }
        }
    }
}
