// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-payment-method-title__border: @checkout-shipping-method__border;
@checkout-payment-method-title__padding: @checkout-shipping-method__padding;
@checkout-payment-method-title-mobile__padding:15px;
@checkout-payment-method-content__padding__xl: 22px;

@checkout-billing-address-details__line-height: 27px;
@checkout-billing-address-details__padding: @indent__base;
@checkout-billing-width: 600px;
//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .checkout-payment-method {
        .step-title {
            &:extend(.abs-visually-hidden all);
        }

        .payment-group + .payment-group {
            .lib-css(border-top, @checkout-payment-method-title__border);
        }

        .payment-method {
            &:first-child {
                .payment-method-title {
                    border-top: 0;
                }
            }

            &._active {
                .payment-method-content {
                    display: block;
                }
            }

            & + .payment-method {
                .payment-method-title {
                    .lib-css(border-top, @checkout-payment-method-title__border);
                }
            }
        }

        .payment-method-content {
            > .actions-toolbar {
                margin-top: @indent__base;

                > .primary {
                    .action {
                        &.primary {
                            &:extend(.abs-button-l all);
                        }
                    }
                }
            }
        }

        .payment-method-title {
            .lib-css(padding, @checkout-payment-method-title__padding 0);
            margin: 0;

            .payment-icon {
                display: inline-block;
                margin-right: @indent__xs;
                vertical-align: middle;
            }

            .action-help {
                display: inline-block;
                margin-left: @indent__xs;
            }
        }

        .payment-method-content {
            display: none;
            .lib-css(padding, 0 0 @indent__base);
            .fieldset {
                &:not(:last-child) {
                    margin: 0 0 @indent__base;
                }
            }
        }

        .payment-group {
            & + .payment-group {
                .step-title {
                    margin: @indent__base 0 0;
                }
            }
        }

        .billing-address-same-as-shipping-block {
            margin: 0 0 @indent__s;
        }

        .checkout-billing-address {
            margin: 0 0 @indent__base;

            .actions-toolbar {
                border-top: none;
                padding: 0;
            }

            .primary {
                float: none;
                width: 100%;

                .action-update {
                    float: left;
                    .lib-button-primary(
                        @_button-width: 48.5%
                    );

                    & + .action-cancel {
                        width: 48.5%;
                        float: right;
                        .lib-button-revert-secondary-color();
                        .lib-button-revert-secondary-size();
                    }
                }
            }

            .action-cancel {
                &:extend(.abs-action-button-as-link all);
            }

            .billing-address-details-border {
                .lib-css(padding, @checkout-billing-address-details__padding);
                border: 1px solid @border-color__base;
                position: relative;

                .action-edit-address {
                    &:extend(.abs-action-button-as-link all);
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                }
            }

            .choice.field {
                margin-bottom: @indent__base;
            }
        }

        .payment-method-note {
            & + .checkout-billing-address {
                margin-top: @indent__base;
            }
        }

        .field-select-billing {
            > .label {
                &:extend(.abs-visually-hidden all);
            }
        }

        .payment-method-iframe {
            background-color: transparent;
            display: none;
            width: 100%;
        }

        .no-payments-block {
            margin: @indent__base 0;
        }

        .actions-toolbar {
            .primary {
                button {
                    width: 100%;
                    margin: 0;
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .payment-method {
        .field-tooltip {
            .field-tooltip-content {
                .lib-css(right, @checkout-tooltip-content-mobile__right);
                .lib-css(top, @checkout-tooltip-content-mobile__top);
                left: auto;

                &:before,
                &:after {
                    .lib-arrow(
                        @_position: top,
                        @_size: @checkout-tooltip-icon-arrow__font-size,
                        @_color: @checkout-tooltip-content__background-color
                    );
                    .lib-css(margin-top, @checkout-tooltip-icon-arrow__left);
                    .lib-css(right, @indent__s);
                    left: auto;
                    top: 0;
                }

                &:before {
                    .lib-css(border-bottom-color, @checkout-tooltip-content__border-color);
                }

                &:after {
                    .lib-css(border-bottom-color, @checkout-tooltip-content__background-color);
                    top: 1px;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .checkout-payment-method {
        width: @checkout-billing-width;

        .fieldset {
            > .field-select-billing {
                > .control {
                    float: none;
                    width: 100%;
                }
            }
        }

        .payment-method-content {
            > .actions-toolbar {
                > .primary {
                    width: 300px;
                }
            }
        }
    }

    .checkout-billing-address {
        .billing-address-details {
            width: @checkout-shipping-item__width;
        }
    }
}
