// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-progress-bar__font-size: 18px;
@checkout-progress-bar__margin: @indent__base;
@checkout-progress-bar-item__margin: 0;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Checkout Progress Bar
    //  ---------------------------------------------

    .opc-progress-bar {
        &:extend(.abs-reset-list all);
        .lib-css(margin, @checkout-progress-bar__margin 0);
        display: table;
        width: 100%;

        .opc-progress-bar-item {
            .lib-css(margin, 0 0 @checkout-progress-bar-item__margin);
            text-align: left;
            width: 50%;
            display: table-cell;
            vertical-align: bottom;
            box-sizing: border-box;

            span {
                display: block;
                font-size: @checkout-progress-bar__font-size;
                padding-bottom: 8px;
                border-bottom: 1px solid @border-color__base;
                color: @border-color__base;
            }

            &:first-child {
                padding-right: @indent__s;
            }

            &:last-child {
                padding-left: @indent__s;
            }

            &._active {
                span {
                    color: @primary__color;
                }
            }

            &._complete {
                cursor: pointer;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .opc-progress-bar {
        .opc-progress-bar-item {
            span {
                font-size: @checkout-progress-bar__font-size * 2;
            }
        }
    }
}