// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-shipping-item-icon__background-color: @checkout-shipping-item__active__border-color;
@checkout-shipping-item-icon__color: @color-white;
@checkout-shipping-item-icon__content: @icon-checkmark;

@checkout-shipping-item__border: 1px solid @border-color__base;
@checkout-shipping-item__margin: 0 0 @indent__base;
@checkout-shipping-item__padding: @indent__base;
@checkout-shipping-item__transition: .3s border-color;
@checkout-shipping-item__width: 100%/3;
@checkout-shipping-item-tablet__width: 100%/2;
@checkout-shipping-item-mobile__width: 100%;
@checkout-shipping-item__active__border-color: @primary__color;

@checkout-shipping-item-icon__selected__height: 25px;
@checkout-shipping-item-icon__selected__width: 25px;

@checkout-shipping-item-mobile__padding: 0 0 15px;
@checkout-shipping-item-mobile__margin: @checkout-shipping-item-mobile__padding;
@checkout-shipping-item-mobile__active__padding: 15px (@indent__l + 5px) 15px 18px;

@checkout-shipping-item-before__border-color: @color-gray80;
@checkout-shipping-item-before__height: calc(~'100% - 20px');

@checkout-shipping-method__border: @checkout-step-title__border;
@checkout-shipping-method__padding: @indent__base;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .opc-wrapper {

        //
        //  Shipping Address
        //  ---------------------------------------------

        .form-login,
        .form-shipping-address {
            margin-bottom: @indent__base;

            .fieldset {
                .note {
                    font-size: @font-size__base;
                    margin-top: @indent__s;
                }
            }
        }

        .shipping-address-items {
            margin-left: -@indent__base;
        }

        .shipping-address-item-div {
            .lib-css(width, @checkout-shipping-item-tablet__width);
            padding-left: @indent__base;
            float: left;
            box-sizing: border-box;
        }

        .action-show-popups {
            padding-right: @indent__s;
            box-sizing: border-box;
            margin-bottom: @indent__base;
            width: 50%;

            button {
                width: 100%;
            }
        }

        .shipping-address-item {
            &:extend(.abs-add-box-sizing all);
            .lib-css(border, @checkout-shipping-item__border);
            .lib-css(margin, @checkout-shipping-item__margin);
            .lib-css(padding, @checkout-shipping-item__padding);
            .lib-css(transition, @checkout-shipping-item__transition);
            font-size: @font-size__base;
            font-weight: @font-weight__light;
            position: relative;
            vertical-align: top;
            word-wrap: break-word;

            &.selected-item {
                .lib-css(border-color, @checkout-shipping-item__active__border-color);

                &:after {
                    .lib-css(background, @checkout-shipping-item-icon__background-color);
                    .lib-css(color, @checkout-shipping-item-icon__color);
                    .lib-css(content, @checkout-shipping-item-icon__content);
                    .lib-css(font-family, @icons__font-name);
                    .lib-css(height, @checkout-shipping-item-icon__selected__height);
                    .lib-css(width, @checkout-shipping-item-icon__selected__width);
                    font-size: 22px;
                    line-height: 21px;
                    padding-top: 2px;
                    position: absolute;
                    right: 0;
                    text-align: center;
                    top: 0;
                }

                .action-select-shipping-item {
                    &:extend(.abs-no-display-s all);
                    visibility: hidden;
                }
            }
        }

        .field {
            &.addresses {
                &:extend(.abs-add-clearfix all);
            }
        }

        .action-select-shipping-item {
            .lib-button-reset();
            top: -1px;
            right: -1px;
            position: absolute;
            border: 1px solid @border-color__base;
            .lib-css(height, @checkout-shipping-item-icon__selected__height);
            .lib-css(width, @checkout-shipping-item-icon__selected__width);

            span {
                display: none;
            }

            &:focus,
            &:active,
            &:hover {
                border: 1px solid @border-color__base;
            }
        }

        .edit-address-link {
            &:extend(.abs-action-button-as-link all);
            display: block;
            position: absolute;
            right: 10px;
            bottom: 10px;
        }
    }

    //
    //  Shipping Methods
    //  ---------------------------------------------

    .checkout-shipping-method {
        .no-quotes-block {
            margin: @indent__base 0;
        }
    }

    .table-checkout-shipping-method {
        thead {
            th {
                display: none;
            }
        }

        tbody {
            td {
                .lib-css(padding-bottom, @checkout-shipping-method__padding);
                padding-top: 0;
                cursor: pointer;

                &:first-child {
                    padding-left: 0;
                    padding-right: 0;
                    width: 20px;
                }

                .col-carrier,
                .col-method {
                    font-weight: @font-weight__light;
                }
            }

            .row-error {
                td {
                    border-top: none;
                    padding-bottom: @indent__s;
                    padding-top: 0;
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .opc-wrapper {
        .form-login {
            .lib-css(border-bottom, 1px solid @checkout-shipping-item-before__border-color);
            .lib-css(margin, @checkout-shipping-item-mobile__padding);
            .lib-css(padding, @checkout-shipping-item-mobile__padding);
        }

        .shipping-address-item-div {
            width: 100%;
        }

        .shipping-address-item {
            .lib-css(margin, @checkout-shipping-item-mobile__margin);

            &.selected-item {
                .edit-address-link {
                    .lib-css(right, @checkout-shipping-item-icon__selected__width + @indent__s);
                }
            }
        }

        .action-show-popups {
            width: 100%;
            padding-right: 0;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .checkout-shipping-method {
        .actions-toolbar {
            > .primary {
                float: right;
            }

            .action {
                &.primary {
                    margin: 0;
                }
            }
        }
    }

    .table-checkout-shipping-method {
        width: auto;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .opc-wrapper {
        .shipping-address-item-div {
            .lib-css(width, @checkout-shipping-item__width);
        }

        .action-show-popups {
            .lib-css(width, @checkout-shipping-item__width);
        }
    }
    .table-checkout-shipping-method {
        min-width: 500px;
    }
}
