// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-sidebar-shipping-information__line-height: @checkout-billing-address-details__line-height;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Shipping Information
    //  ---------------------------------------------

    .opc-block-shipping-information {
        .lib-css(background, @sidebar__background-color);

        .shipping-information-title {
            .lib-css(border-bottom, 1px solid @border-color__base);
            font-size: @font-size__l;
            padding: @indent__s @summary__padding;
            text-transform: uppercase;
            font-weight: @font-weight__semibold;
            position: relative;

            .action-edit {
                &:extend(.abs-action-button-as-link all);
                float: right;
                position: relative;
                font-size: @font-size__base;
                top: 3px;
                text-transform: capitalize;
            }
        }

        .shipping-information-content {
            padding: @indent__s @summary__padding;
            .lib-css(line-height, @checkout-sidebar-shipping-information__line-height);
            .actions-toolbar {
                margin-left: 0;
            }
        }
    }
}
