<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div data-role="checkout-agreements">
    <div class="checkout-agreements" data-bind="visible: isVisible">
        <div class="title">
            <span translate="'Please check the boxes below if you agree to our Terms and Conditions.'"/>
        </div>
        <!-- ko foreach: agreements -->
            <!-- ko if: ($parent.isAgreementRequired($data)) -->
            <div class="checkout-agreement required">
                <input type="checkbox" class="required-entry"
                       data-bind="attr: {
                                    'id': $parent.getCheckboxId($parentContext, agreementId),
                                    'name': 'agreement[' + agreementId + ']',
                                    'value': agreementId
                                    }"/>
                <label data-bind="attr: {'for': $parent.getCheckboxId($parentContext, agreementId)}">
                    <span data-bind="html: checkboxText"></span>
                </label>
            </div>
            <!-- /ko -->
            <!-- ko ifnot: ($parent.isAgreementRequired($data)) -->
            <div class="checkout-agreement">
                <input type="checkbox"
                       data-bind="attr: {
                                    'id': $parent.getCheckboxId($parentContext, agreementId),
                                    'name': 'agreement[' + agreementId + ']',
                                    'value': agreementId
                                    }"/>
                <label data-bind="attr: {'for': $parent.getCheckboxId($parentContext, agreementId)}">
                    <span data-bind="html: checkboxText"></span>
                </label>
            </div>
            <!-- /ko -->
        <!-- /ko -->
        <span translate="'After this transaction, If you want to withdraw your consents above, please contact LG SAC 0800 76 or send us an e-mail through the Contact Us'"/>
        <div id="checkout-agreements-modal" data-bind="afterRender: initModal" style="display: none">
            <div class="checkout-agreements-item-content" data-bind="html: modalContent"></div>
        </div>
    </div>
</div>
