.eguana-slider-banner-edit {
    #rule_conditions_fieldset .legend,
    #rule_category_fieldset .legend{
        border-bottom: none;
        margin: 0;
    }
    #rule_conditions_fieldset,
    #rule_category_fieldset {
      padding: 0;
    }
    #rule_conditions_fieldset .legend + br {
      display: none;
    }
    #banner_slides .admin__data-grid-wrap {
        overflow-x: visible;
    }
}
.eguana-slider-statistic-index {
    .page-actions-buttons {
        height: 45px;
    }
}
