// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@autocomplete__background-color: @color-white;
@autocomplete__border: 1px solid @form-element-input__border-color;
@autocomplete-item__border: 1px solid @secondary__color__light;
@autocomplete-item__hover__color: @color-gray91;
@autocomplete-item-amount__color: @color-gray60;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .catalogsearch-result-index {
        .page-title span > span {
            font-weight: @font-weight__light;
        }
    }

    .block-search {
        position: relative;
        margin-bottom: 0;
        top: -112px;

        .block {
            &-title {
                display: none;
            }
        }

        .block-content {
            margin-bottom: 0;
        }

        input {
            .lib-input-placeholder(@color-white);
            background: #222;
            border-color:#222 !important;
            color: @color-white;
        }

        .label {
            .lib-icon-font(
                @_icon-font-content: @icon-search,
                @_icon-font-size: 35px,
                @_icon-font-line-height: 1.1,
                @_icon-font-color: @minicart-icons-color,
                @_icon-font-color-hover: @minicart-icons-color-hover,
                @_icon-font-color-active: @minicart-icons-color-hover,
                @_icon-font-text-hide: true
            );
            display: inline-block;
            position: absolute;
            top: 38px;
            right: 85px;
            cursor: pointer;

            &.active {
                + .control {
                    input {
                        position: static;
                    }
                }
            }
        }

        .action.search {
            display: inline-block;
            .lib-button-icon(
                @_icon-font-content: @icon-search,
                @_icon-font-size: 38px,
                @_icon-font-line-height: 1.1,
                @_icon-font-text-hide: true,
                @_icon-font-color: @header-icons-color,
                @_icon-font-color-hover: @header-icons-color,
                @_icon-font-color-active: @header-icons-color
            );
            .lib-button-reset();
            padding: 13px @indent__base 13px 0;
            position: absolute;
            right: 80px;
            top: @indent__base;
            z-index: 16;

            &[disabled] {
                opacity: 1;
            }
        }

        .nested {
            display: none;
        }

        .minisearch {
            .actions {
                display: none;
            }

            .control {
                display: none;
                position: absolute;
                left: 0;
                right: 80px;
                height: 112px;
                padding: @indent__base 0 @indent__base @layout__width-xs-indent * 2;
                background: @navigation-desktop__background;
                border-bottom: 4px solid @navigation-desktop-level0-item__active__border-color;
                box-sizing: border-box;
                z-index: 15;
            }

            .active {
                & + .actions,
                .control {
                    display: block;
                }

                > .label {
                    right: 0;
                    top: 0;
                    background: @navigation-desktop__background;

                    .lib-icon-font-symbol(
                            @icon-remove,
                        @_icon-font-position: before
                    );
                }
            }
        }

    }

    .search-autocomplete {
        &:extend(.abs-add-box-sizing all);
        display: none;
        margin-top: -15px;
        overflow: hidden;
        position: absolute;
        z-index: 3;
        background: @color-white;
        border: @autocomplete__border;

        ul {
            .lib-list-reset-styles();

            li {
                .lib-css(border-top, @autocomplete-item__border);
                cursor: pointer;
                margin: 0;
                padding: @indent__xs @indent__xl @indent__xs @indent__s;
                position: relative;
                text-align: left;
                white-space: normal;

                &:not(:empty) {
                    border-top: 0;
                    .lib-css(border, @autocomplete__border);
                    .lib-css(background, @autocomplete__background-color);
                }

                &:first-child {
                    border-top: none;
                }

                &:hover,
                &.selected {
                    .lib-css(background, @autocomplete-item__hover__color);
                }

                .amount {
                    .lib-css(color, @autocomplete-item-amount__color);
                    position: absolute;
                    right: 7px;
                    top: @indent__xs;
                }
            }
        }

        .label {
            display: none;
        }

        .autocomplete-list-title {
            border: 0 !important;

            &:hover {
                background: @color-white;
            }
        }

        .autocomplete-list {
            dd {
                overflow: hidden;
                padding: @indent__s 0;
                margin-bottom: 0;
                border-left: 0 !important;
                border-right: 0 !important;
            }

            .product-image-box {
                float: left;
                width: 25%;
                box-sizing: border-box;
            }

            .product-item {
                float: left;
                width: 75%;
                box-sizing: border-box;
                margin: 0;
            }

            .price-box {
                margin-top: @indent__xs;

                .old-price {
                    color: @primary__color__lighter !important;
                }

                > span {
                    margin-left: 0 !important;
                }
            }
        }
    }

    .form.search.advanced {
        .fields.range {
            .field {
                &:first-child {
                    position: relative;

                    .control {
                        padding-right: 25px;

                        &:after {
                            content: ' \2013 ';
                            display: inline-block;
                            position: absolute;
                            right: 0;
                            text-align: center;
                            top: 6px;
                            width: 25px;
                        }
                    }
                }

                &:last-child {
                    position: relative;

                    div.mage-error[generated] {
                        left: 0;
                        position: absolute;
                        top: 32px;
                    }
                }

                &.with-addon {
                    .control {
                        padding-right: 45px;
                    }
                }
            }
        }

        .group.price {
            .addon {
                .addafter {
                    background: none;
                    border: 0;
                    padding-top: 6px;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }
    }

    .search.summary {
        margin-bottom: @indent__s;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .catalogsearch-result-index {
        .page-title-wrapper {
            margin-top: 17.5px;
            margin-bottom: 6.5px;
        }
    }

    .block-search {
        top: -56px;

        .action.search {
            top: @indent__s;
            padding: 6px @indent__s 6px 0;
            right: 40px;

            &:before {
                font-size: 20px;
            }
        }

        input {
            height: 34px;
        }

        .label {
            top: 18px;
            right: 45px;

            &:before {
                font-size: 20px;
                width: 22px;
            }
        }

        .minisearch {
            .control {
                height: 56px;
                right: 40px;
                padding: @indent__s 0 @indent__s @layout__width-xs-indent;
                border-bottom-width: 2px;
            }

            .active {
                .label {
                    padding: 16px @indent__s;

                    &:before {
                        font-size: 15px;
                        width: 17px;
                    }
                }
            }
        }
    }

    .search-autocomplete {
        border-width: 1px;
        padding: @indent__s;

        .autocomplete-list-title {
            font-size: @font-size__base;
        }

        .autocomplete-list {
            dd {
                border-width: 1px !important;
                font-size: @font-size__base;
                padding-left: @indent__s;
                padding-right: @indent__s;

                .price-box {
                    .price {
                        font-size: @font-size__base;
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .catalogsearch-result-index {
        .page-title-wrapper {
            margin-top: 35px;
            margin-bottom: 13px;
        }
    }

    .block-search {
        .block-content {
            margin-bottom: 0;
        }

        input {
            height: 68px;
        }

        .minisearch {
            .active {
                .label {
                    padding: 37px @indent__base;
                    z-index: 3;

                    &:before {
                        font-size: 30px;
                    }
                }
            }
        }
    }

    .search-autocomplete {
        border-width: 2px;
        margin-top: 0;

        .autocomplete-list-title {
            font-size: 24px;
            padding-left: 15px;
            padding-right: 15px;
        }

        .autocomplete-list {
            dd {
                border-width: 2px !important;
                padding-left: @indent__base;
                padding-right: @indent__base;
                font-size: 20px;

                .price-box {
                    .price {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .block-search {
        position: relative;
        top: -75px;
        z-index: 4;

        .minisearch {
            position: relative;

            .control {
                left: auto;
                width: 25%;
                right: 40px;
                height: 60px;
                padding: @indent__xs 0 @indent__xs @indent__l;
            }

            .label {
                right: 0;
                top: 15px;

                &:before {
                    font-size: 26px;
                    width: 28px;
                }
            }

            .active {
                .label {
                    &:before {
                        font-size: 20px;
                        padding: 15px 0;
                    }
                }
            }
        }

        .nested {
            display: block;
            padding-top: 5px;
            position: absolute;
        }

        input {
            padding-right: 35px;
            height: 45px;
            font-size: @font-size__l;
        }

        .action.search {
            top: 5px;
            right: 40px;
            padding: 8px @indent__s;


            &:before {
                font-size: 26px;
                width: 28px;
            }
        }
    }

    .cms-home {
        .block-search {
            top: -75px + 15px; // add .navigation margin-bottom
        }
    }

    .search-autocomplete {
        margin-top: 0;

        .autocomplete-list-title {
            font-size: @font-size__l;
            padding: @indent__s @indent__base;
        }

        .autocomplete-list {
            dd {
                padding: @indent__s @indent__base;
            }
        }
    }
}
