<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
    /* @var $block \Magento\MultipleWishlist\Block\Behaviour */
?>
<script id="form-tmpl-multiple" type="text/x-magento-template">
    <form id="wishlist-hidden-form" method="post" action="<%- data.url %>" class="no-display">
        <% if (data.itemId) { %>
            <input name="item_id" value="<%- data.itemId %>">
        <% } %>
        <% if (data.wishlistId) { %>
            <input name="wishlist_id" value="<%- data.wishlistId %>">
        <% } %>
        <% if (data.qty) { %>
            <input name="qty" value="<%- data.qty %>">
        <% } %>
        <% if (data.item) { %>
            <input name="item" value="<%- data.item %>">
        <% } %>
        <% if (data.entity) { %>
            <input name="entity" value="<%- data.entity %>">
        <% } %>
        <% if (data.form_key) { %>
            <input name="form_key" value="<%- data.form_key %>">
        <% } %>
    </form>
</script>
<script id="popup-tmpl" type="text/x-magento-template">
    <div class="window wishlist overlay active modals-overlay"></div>
    <div id="<%- data.popupWishlistBlockId %>" class="window wishlist popup active modal-popup _inner-scroll _show">
        <div class="modal-inner-wrap">
            <header class="popup-header modal-header">
                <h1 class="title modal-title" id="popup-title">
                    <% if (data.isEdit) { %>
                    <%- window.jQuery.mage.__('Edit Wish List') %>
                    <% } else { %>
                    <%- window.jQuery.mage.__('Create New Wish List') %>
                    <% } %>
                </h1>
                <button type="button"
                        title="<%- window.jQuery.mage.__('Close') %>"
                        class="action-close action close <%- data.btnCloseClass %>"
                        data-dismiss="popup">
                    <span><%- window.jQuery.mage.__('Close') %></span>
                </button>
            </header>
            <div class="popup-content modal-content" id="popup-content">
                <form id="<%- data.popupWishlistFormId %>" method="post" action="<%- data.url %>" class="form wishlist">
                    <?= $block->getBlockHtml('formkey') ?>
                    <fieldset class="fieldset">
                        <div class="field name">
                            <label for="wishlist-name" class="label">
                                <span><%- window.jQuery.mage.__('Wish List Name') %></span>
                            </label>
                            <div class="control">
                                <input id="wishlist-name"
                                       class="input-text"
                                       data-role="prompt-field"
                                       data-validate="{required:true}"
                                       type="text"
                                       name="name"
                                       maxlength="255"
                                       value="<%- data.name %>">
                            </div>
                        </div>
                        <div class="actions-toolbar modal-footer">
                            <div class="primary">
                                <button class="action save primary" type="submit" title="<%- window.jQuery.mage.__('Save Wish List') %>">
                                    <span><%- window.jQuery.mage.__('Save Wish List') %></span>
                                </button>
                            </div>
                            <div class="secondary">
                                <button class="action secondary cancel <%- data.btnCloseClass %>" type="button" title="<%- window.jQuery.mage.__('Cancel') %>">
                                    <span><%- window.jQuery.mage.__('Cancel') %></span>
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</script>
<script id="split-btn-tmpl" type="text/x-magento-template">
    <a title="<%- data.buttonName %>" aria-label="<%- data.buttonName %>" data-post='<%- JSON.stringify(data.generalParams) %>' data-action="add-to-wishlist" class="label action towishlist">
        <span><%- data.buttonName %></span>
    </a>
</script>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "multiplewishlist": {
                        "component": "Magento_MultipleWishlist/js/view/multiple-wishlist",
                        "config": {
                            "multipleWishlistOptions": {
                                "createUrl": "<?= /* @escapeNotVerified */  $block->getCreateUrl() ?>",
                                "wishlistLink": ".action.towishlist"
                            }
                        }
                    }
                }
            }
        }
    }
</script>
