// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//  Layered navigation
@filter-title-background-color: @color-gray94;
@filter-link: @primary__color__light;
@filter-link-hover: @active__color;
@filter-quantity: @primary__color__light;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .filter {
        &.block {
            margin-bottom: 0;
        }

        &-title {
            strong {
                z-index: 2;

                &[data-count]:after {
                    .lib-css(color, @color-white);
                    background: @color-orange-red1;
                    border-radius: 2px;
                    content: attr(data-count);
                    display: inline-block;
                    font-size: .8em;
                    line-height: 1;
                    margin: 0 @indent__xs;
                    min-width: 1em;
                    padding: 2px;
                }

                &.disabled {
                    opacity: .5;
                }
            }
        }

        .block-subtitle {
            font-weight: @font-weight__bold;
        }

        &-subtitle {
            display: none;
        }

        &-current {
            margin: 0;

            .item {
                position: relative;
                z-index: 1;
            }

            .filter &-subtitle {
                border: none;
                display: block;
            }

            .action.remove {
                &:extend(.abs-remove-button-for-blocks all);
                left: 0;
                position: absolute;
                top: 0;
            }
        }

        &-label {
            font-weight: @font-weight__bold;

            &:after {
                content: ' : ';
            }
        }

        &-value {
            .lib-css(color, @filter-quantity);
            word-break: break-all;
        }

        &-options {
            display: none;
            margin: 0;

            &-title {
                cursor: pointer;
                font-weight: @font-weight__semibold;
                margin: 0;
                overflow: hidden;
                padding-right: @indent__s + 30px;
                position: relative;
                z-index: 1;

                .active > & {
                    .lib-icon-font-symbol(
                        @_icon-font-content: @icon-up,
                        @_icon-font-position: after
                    );
                }
            }

            &-content {
                a {
                    .lib-css(color, @filter-link);
                    display: block;

                    &:hover {
                        text-decoration: underline;
                        .lib-css(color, @filter-link-hover);
                    }
                }

                .count {
                    .lib-css(color, @filter-quantity);
                    font-weight: @font-weight__light;
                    padding-left: 5px;
                    padding-right: 5px;

                    &:before {
                        content: '(';
                    }

                    &:after {
                        content: ')';
                    }
                }

                .filter-count-label {
                    &:extend(.abs-visually-hidden all);
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .filter {
        &.active {
            .filter-options-item:last-child {
                margin-bottom: @indent__xl / 2 ;
            }

            .filter-title {
                border-bottom: 1px solid @secondary__color__light;
                height: 40px;

                strong {
                    right: 15px;

                    .lib-icon-font(
                            @icon-remove,
                        @_icon-font-color: @text__color__muted,
                        @_icon-font-size: 10px,
                        @_icon-font-position: after
                    );

                    &:after {
                        line-height: 40px;
                    }
                }
            }

            .filter-subtitle {
                .lib-font-size(18);
                left: 15px;
                line-height: 40px;
            }

            .filter-options {
                top: 40px;

                &-item {
                    padding: 6.5px 15px;
                    border-bottom: 1px solid @secondary__color__light;
                }

                &-content {
                    padding: 2.5px 0 5.5px 0;

                    a {

                        &:not(.ui-slider-handle):not(.action.small) {
                            padding: 7.5px 0 0 0;
                        }

                        &:not(.ui-slider-handle) {
                            .lib-font-size(13);
                        }
                    }
                }

                &-title {
                    .lib-font-size(15);

                    .lib-icon-font(
                        @_icon-font-content: @icon-down,
                        @_icon-font-size: 10px,
                        @_icon-font-position: after,
                        @_icon-font-display: block
                    );

                    &:after {
                        line-height: 21px;
                    }
                }
            }
        }
    }

    .filter {
        &-title {
            border: 1px solid @secondary__color__light;
            padding: 4px 12.5px 4px 15px;
            border-left: none;

            strong {
                .lib-font-size(12);

                .lib-icon-font(
                    @_icon-font-content: @icon-expand,
                    @_icon-font-color: @primary__color,
                    @_icon-font-size: 10px,
                    @_icon-font-position: after,
                    @_icon-font-vertical-align: middle,
                    @_icon-font-display: block
                );

                &:after {
                    line-height: 17px;
                }
            }
        }
    }

    .filter {
        & &-subtitle {
            font-size: 10px;
        }

        &-actions {
            margin: -44px 0 9px;
        }

        &-options-content {
            padding: @indent__xs / 2 @indent__xs;
        }
    }

    .filter .filter-current {
        border-bottom: 1px solid @secondary__color__light;
        padding-left: 15px;
        padding-right: 15px;

        &-subtitle {
            .lib-font-size(12);
            padding: 6px 0;

            .lib-icon-font(
                @_icon-font-content: @icon-down,
                @_icon-font-size: 10px,
                @_icon-font-position: before,
                @_icon-font-display: block
            );

            &:before {
                line-height: 30px;
                font-weight: @font-weight__bold;
            }
        }

        &.active {
            padding-bottom: 58.5px;

            .items {
                .item {
                    margin-bottom: 6px;
                    padding-left: 12.5px;
                }

                span {
                    .lib-font-size(12);
                }
            }

            & + .block-actions {
                padding: 0 15px;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    body {
        &.filter-active {
            .page-header {
                display: none;
            }

            .page-wrapper {
                height: 0;
                margin-top: -999999em;
                visibility: hidden;
            }

            .columns {
                z-index: 999;
            }
        }
    }

    .filter {
        &.active {
            position: relative;
            visibility: visible;
            z-index: 99;

            .filter-options-item:last-child {
                margin-bottom: @indent__xl;
            }

            .filter-title {
                border-bottom: 2px solid @secondary__color__light;
                height: 80px;
                left: 0;
                position: fixed;
                right: 0;
                top: 0;
                z-index: 2;
                width: auto;
                border-top: none;
                border-right: none;
                background-color: @color-white;

                strong {
                    color: transparent;
                    position: absolute;
                    left: auto;
                    right: 30px;
                    top: 0;

                    .lib-icon-font(
                    @icon-remove,
                    @_icon-font-color: @text__color__muted,
                    @_icon-font-size: 16px,
                    @_icon-font-position: after
                    );

                    &:after {
                        line-height: 80px;
                        font-weight: bold;
                    }
                }
            }

            .filter-subtitle {
                .lib-font-size(36);
                display: block;
                left: 30px;
                position: fixed;
                top: 0;
                z-index: 12;
                line-height: 80px;
                font-weight: @font-weight__bold;
            }

            .filter-options {
                .lib-css(background, @color-white);
                bottom: 0;
                display: block;
                left: 0;
                overflow: scroll;
                position: fixed;
                right: 0;
                top: 80px;
                z-index: 10;

                &-item {
                    padding: 13px 30px;
                    border-bottom: 2px solid @secondary__color__light;

                    &.active .filter-options-title {
                        .lib-icon-font-symbol(
                            @_icon-font-content: @icon-up,
                            @_icon-font-position: after
                        );
                    }
                }

                &-content {
                    padding: 5px 0 11px 0;

                    .item {
                        margin-bottom: 0;
                    }

                    a {
                        &:not(.ui-slider-handle):not(.action.small) {
                            padding: 15px 0 0 0;
                        }

                        &:not(.ui-slider-handle) {
                            .lib-font-size(26);
                        }
                    }
                }

                &-title {
                    .lib-font-size(30);

                    .lib-icon-font(
                        @_icon-font-content: @icon-down,
                        @_icon-font-size: 18px,
                        @_icon-font-position: after,
                        @_icon-font-display: block
                    );

                    &:after {
                        position: absolute;
                        right: 0;
                        top: 0;
                        line-height: 42px;
                    }
                }
            }
        }
    }

    .filter {
        &-title {
            border: 2px solid @secondary__color__light;
            border-left: none;
            padding: 8px 25px 8px 30px;
            margin: 0;
            width: 50%;
            display: inline-block;
            box-sizing: border-box;

            strong {
                .lib-font-size(24);
                display: block;

                .lib-icon-font(
                    @_icon-font-content: @icon-expand,
                    @_icon-font-color: @primary__color,
                    @_icon-font-size: 15px,
                    @_icon-font-position: after,
                    @_icon-font-vertical-align: middle,
                    @_icon-font-display: block
                );

                &:after {
                    float: right;
                    line-height: 34px;
                    font-weight: @font-weight__bold;
                }
            }
        }
    }

    .filter {
        & &-subtitle {
            font-size: 20px;
            font-weight: @font-weight__light;
        }

        &-actions {
            display: block;
            margin: -88px 0 18px;
        }

        &-options-content {
            padding: @indent__xs @indent__s;
        }
    }

    .filter .filter-current {
        border-bottom: 2px solid @secondary__color__light;
        padding-left: 30px;
        padding-right: 30px;

        .items {
            display: none;
        }

        &-subtitle {
            position: relative;
            text-transform: uppercase;
            z-index: 1;
            .lib-font-size(24);
            padding: 12px 0;

            .lib-icon-font(
                @_icon-font-content: @icon-down,
                @_icon-font-size: 17px,
                @_icon-font-position: before,
                @_icon-font-display: block
            );

            &:before {
                position: absolute;
                right: 0;
                top: 0;
                line-height: 60px;
                font-weight: @font-weight__bold;
            }

            &:after {
                content: ' (' attr(data-count) ')';
            }
        }

        &.active {
            padding-bottom: 117px;

            .block-subtitle {
                .lib-icon-font-symbol(
                    @_icon-font-content: @icon-up,
                    @_icon-font-position: before
                );
            }

            .items {
                display: block;

                .item {
                    margin-bottom: 12px;
                    padding-left: 25px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                span {
                    .lib-font-size(24);
                    color: @primary__color__light;
                }

                .action.remove {
                    &:before {
                        font-weight: bold;
                    }
                }
            }

            & + .block-actions {
                display: block;
                padding: 0 30px;
            }
        }

        & + .block-actions {
            display: none;
        }
    }

    .filter-no-options {
        .filter-title {
            pointer-events: none;

            strong {
                color: @secondary__color;

                &:after {
                    color: @secondary__color;
                }
            }
        }
    }

    .page-with-filter {
        .columns {
            .sidebar-main {
                .lib-vendor-prefix-order(0);
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .filter {
        &.block {
            display: block !important;
            margin-bottom: @indent__base;
        }

        &-title {
            display: none;
        }

        &-label {
            .lib-font-size(16);
        }

        &-value {
            .lib-font-size(16);
        }

        &-content {
            .block-subtitle {
                .lib-font-size(16);
                padding-bottom: @indent__s;
            }

            .item {
                margin: 0;
            }
        }

        &-current {
            .item {
                margin-top: 3px;
                padding-left: 23px;

                &:first-child {
                    margin-top: 0;
                }
            }
        }

        &-options {
            &-content {
                padding: 8px 0 5px 0;

                .item {
                    line-height: 1.5em;
                }

                a:not(.ui-slider-handle) {
                    .lib-font-size(16);
                    margin-top: 6px;
                }

                div.ui-slider-horizontal {
                    margin-top: 6px;
                }
            }

            &-item {
                border-bottom: @border-width__base solid @secondary__color__lighter;
                padding: 12px 0;

                &:first-child {
                    padding-top: 0;
                }
            }

            &-title {
                .lib-font-size(18);
                .lib-icon-font(
                    @_icon-font-content: @icon-down,
                    @_icon-font-size: 13px,
                    @_icon-font-position: after,
                    @_icon-font-display: block
                );

                &:after {
                    position: absolute;
                    right: 13px;
                    top: 4px;
                }
            }
        }

        &-actions {
            padding-bottom: @indent__base;
            margin-top: 18px;
            margin-bottom: 10px;
            border-bottom: 1px solid @secondary__color__lighter;
        }

        &.active &-options,
        &-options {
            background: transparent;
            clear: both;
            display: block;
            overflow: initial;
            position: static;
        }

        &-subtitle {
            position: static;
        }
    }

    .page-layout-1column {
        .toolbar-products {
            position: absolute;
            top: 0;
            width: 100%;
        }

        .products ~ .toolbar-products {
            position: static;
        }

        &.page-with-filter .column.main {
            padding-top: 45px;
            position: relative;
            z-index: 1;
        }

        .filter {
            &.block {
                border-top: 1px solid @border-color__base;
            }

            &-content {
                margin-top: @indent__s;
            }

            &-subtitle {
                display: none;
            }

            &-options {
                &-item {
                    border: 0;
                    display: inline-block;
                    margin-right: @indent__m;
                    position: relative;

                    &.active {
                        z-index: 2;

                        .filter-options-content {
                            visibility: visible;
                        }

                        &:hover {
                            z-index: 3;
                        }

                        &:after,
                        &:before {
                            .lib-arrow(up, 8px, @color-black);
                            bottom: -1px;
                            content: '';
                            display: block;
                            left: @indent__xs;
                            position: absolute;
                            z-index: 3;
                        }

                        &:after {
                            .lib-css(border-bottom-color, @color-white);
                            margin-top: 2px;
                            z-index: 4;
                        }
                    }
                }

                &-title {
                    padding: 0 @indent__base 0 0;

                    &:after {
                        right: 2px;
                        top: 3px;
                        z-index: 3;
                    }
                }

                &-content {
                    @_shadow: 0 3px 5px 0 rgba(50, 50, 50, .75);

                    .lib-css(background, @color-white);
                    .lib-css(box-shadow, @_shadow, 1);
                    border: 1px solid @border-color__base;
                    padding: @indent__xs 0;
                    position: absolute;
                    top: 100%;
                    visibility: hidden;
                    width: 180px;
                    z-index: 2;

                    .item {
                        margin: 0;
                        padding: @indent__xs;

                        a {
                            margin-left: 0;
                        }

                        &:hover {
                            background-color: @color-gray91;
                        }
                    }
                }
            }

            &-current {
                display: inline;
                line-height: 35px;

                &-subtitle {
                    .lib-css(color, @text__color__muted);
                    display: inline;
                    font-size: @font-size__base;
                    font-weight: normal;
                    padding: 0;

                    &:after {
                        content: ':';
                    }
                }

                .item,
                .items {
                    display: inline;
                }

                .item {
                    margin-right: @indent__m;
                    white-space: nowrap;
                }

                .action.remove {
                    line-height: normal;
                }
            }

            &-actions {
                display: inline;
                white-space: nowrap;

                & ~ .filter-options {
                    margin-top: @indent__m;
                }
            }
        }
    }
}
