<?php
$product = $block->getProduct();
for($i = 1; $i <= 20; $i++) {

        if($product->getData('feature_'.$i)) {
            echo $block->getHtmlContent($product->getData('feature_' . $i));
        }

}
?>
<script>
    require(['jquery','swiper'], function ($,swiper) {
        "use strict";
        $(document).ready(function() {
            $('.open-feature').parent().nextAll('.m37').addClass('hide');
            $('.open-feature').parent().nextAll('.m36').addClass('hide');

            /*
            * Open Feature link Click Event
            */
            $('.open-feature').click(function(event){
                event.preventDefault();
                $(this).toggleClass('hide');
                $(this).prev().toggleClass('hide');
                $(this).parent().nextAll().each(function (index, element){
                    if($(element).hasClass('m37') || $(element).hasClass('m36')) {
                        $(element).slideToggle();
                    }else {
                        return false;
                    }
                });
            });

            $('.close-feature').click(function(event){
                event.preventDefault();
                $(this).parent().slideToggle();
                $(this).parent().nextAll().each(function (index, element){
                    if($(element).hasClass('m37') || $(element).hasClass('m36')) {
                        $(element).slideToggle();
                    }else {
                        return false;
                    }
                });
                $(this).parent().prevAll().each(function (index, element){
                    if($(element).hasClass('m37') || $(element).hasClass('m36')) {
                        $(element).slideToggle();
                        $(element).prev().find('.open-feature').toggleClass('hide');
                        $(element).prev().find('.open-feature-text').toggleClass('hide');
                    }else {
                        return false;
                    }
                });
                $(this).parent().prev().find('.open-feature').toggleClass('hide');
                $(this).parent().prev().find('.open-feature-text').toggleClass('hide');
            });

            /*
            * Feature Tab Click Event
            */
            $('.feature-tab .tab a').click(function(event){
                event.preventDefault();
                $('.feature-tab .tab').removeClass('on');
                $(this).parent().addClass('on');
                var tabIndex = parseInt($(this).attr('data-call-slide')) + 1;
                $('.feature-text-img').removeClass('on');
                $('.feature-text-img[data-slick-index='+tabIndex+']').addClass('on');
            });

            /*
            * Feature Slider Content
            */
            if($('.group-carousel .slick-slider').offset()) {
                var slickSwiper = new swiper('.group-carousel .slick-slider',{
                    direction: 'horizontal',
                    slidesPerView: 1,
                    spaceBetween: 0,
                    loop: true,
                    effect: 'fade',
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true
                    },
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev'
                    }
                });
            }

            /*
            * Video Event
            */
            $('.see-video').on('click',function(event){
                event.preventDefault();
                var n = $(this),
                    i = $(this).closest(".module").find(".video-asset"),
                    r = $(this).closest(".background-animation").find(".video-asset").attr("data-video-loop"),
                    s = $(this).closest(".module").find(".text-block h3").text();
                if (i.attr("data-video-type") == "youtube") {
                    var o = i.attr("data-embed-code"),
                        u = i.attr("data-iframe-title");
                    !$(this).closest(".module").hasClass("m36") && !$(this).closest(".module").hasClass("m37") ? ((r == 0 || $(this).closest(".module").hasClass("m01")) && $(this).closest(".module").find(".text-block").hide(), $(this).closest(".module").find(".video-thumb").hide()) : r == 0 && $(this).closest(".module").height() < 670 && $(this).closest(".module").height("670");
                    if (r == 0 && $(this).closest(".module").hasClass("m29")) var a = '<div class="video-content"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/' + o + '?rel=0&showinfo=0&wmode=opaque&autoplay=1" frameborder="0" allowfullscreen title="' + u + '"></iframe><a href="#" title="Close" class="close no-underline"><i class="icon icon-video-close"></i></a></div>';
                    else var a = '<div class="video-content"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/' + o + '?rel=0&showinfo=0&wmode=opaque" frameborder="0" allowfullscreen title="' + u + '"></iframe><a href="#" title="<?=__('close');?>" class="close no-underline"><i class="icon icon-video-close"></i></a></div>';
                    n.data("modalPopup") ? f($(this).closest(".module"), a) : (i.empty().append(a), i.show(), i.find(".video-content").attr("tabIndex", -1).focus(), i.find("a.close").unbind("click").on({
                        click: function(e) {
                            e.preventDefault(), i.empty().hide(), i.closest(".module").find(".text-block").attr("style", ""), i.closest(".module").find(".video-thumb").attr("style", ""), n.focus(), (i.closest(".module").hasClass("m36") || i.closest(".module").hasClass("m37")) && i.closest(".module").height("auto")
                        }
                    }))
                } else {
                    var l = i.attr("data-video-id"),
                        c = i.attr("data-account"),
                        h = i.attr("data-player") != null ? i.attr("data-player") : "default",
                        u = i.attr("data-iframe-title"),
                        a;
                    if ($("html").hasClass("lt-ie9")) {
                        $(this).closest(".module").find(".text-block").show();
                        return
                    } else if ($(this).closest(".module").find(".video-asset video").length) {
                        $(this).closest(".module").find(".video-asset").css("z-index","6");
                        var video = $(this).closest(".module").find("video")[0];
                        video.play();
                        video.addEventListener("ended", function() {
                            $(this).closest(".module").find(".video-asset").css("z-index","-1");
                        });
                        return
                    }
                    r == 0 ? a = '<div class="video-content"><iframe src="https://players.brightcove.net/' + c + "/" + h + "_default/index.html?videoId=" + l + '&autoplay=true" title="' + u + '" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe><a href="#" title="Close" class="close no-underline"><i class="icon icon-video-close"></i></a></div>' : a = '<div class="video-content"><iframe src="https://players.brightcove.net/' + c + "/" + h + "_default/index.html?videoId=" + l + '" title="' + u + '" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe><a href="#" title="<?=__('close');?>" class="close no-underline"><i class="icon icon-video-close"></i></a></div>', n.data("modalPopup") ? f($(this).closest(".module"), a) : (i.empty().append(a), i.show(), i.find(".video-content").attr("tabIndex", -1).focus(), i.find("a.close").unbind("click").on({
                        click: function(e) {
                            e.preventDefault(), i.empty().hide(), i.closest(".module").find(".text-block").attr("style", ""), i.closest(".module").find(".video-thumb").attr("style", ""), n.focus(), (i.closest(".module").hasClass("m36") || i.closest(".module").hasClass("m37")) && i.closest(".module").height("auto")
                        }
                    }))
                }
            });

            $('.video-asset .close').on('click',function(event){
                event.preventDefault();
                $('.video-content').remove();
                $('.video-asset').css('display','none');
            });

            $('.effect-fade a img[alt=ON]').click(function(){
                $(this).closest(".module").find(".bg-block").fadeIn();
                $(this).next().css('display','block');
                $(this).css('display','none');
            });

            $('.effect-fade a img[alt=OFF]').click(function(){
                $(this).closest(".module").find(".bg-block").fadeOut();
                $(this).prev().css('display','block');
                $(this).css('display','none');
            });


            $(".module.background-animation").each(function() {
                if ($(this).find(".video-asset").attr("data-video-type") == "bc" && $(this).find(".video-asset").attr("data-video-type") != null) {
                    if($(this).find(".video-asset").attr('data-play') == "1") {
                        if(navigator.userAgent.match(/Android|Mobile|iP(hone|od|ad)|BlackBerry|IEMobile|Kindle|NetFront|Silk-Accelerated|(hpw|web)OS|Fennec|Minimo|Opera M(obi|ini)|Blazer|Dolfin|Dolphin|Skyfire|Zune/)){
                            if(jQuery(window).width() < 769){
                                return;
                            }
                        }
                        $(this).find(".see-video").trigger('click');
                    }
                }
            });
        });
    });
</script>
