<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
$helper = $this->helper('Eguana\Theme\Helper\Data');
?>
<?php $_item = $block->getItem() ?>
<?php
$_order = $block->getItem()->getOrderItem()->getOrder();
$_product = $helper->getProduct($_item->getProductId());
?>
<tr id="order-item-row-<?= /* @escapeNotVerified */ $_item->getId() ?>">
    <td colspan="2" class="col name" data-th="<?= $block->escapeHtml(__('Item Name')) ?>">
        <a class="product-item-photo"><?= $helper->getImage($_product, 'cart_page_product_thumbnail')->toHtml() ?></a>
        <div class="product-item-details">
            <span class="product-item-model-name"><?= /* @escapeNotVerified */ $_product->getModelName() ?></span>
            <strong class="product name product-item-name"><?= $_product->getUserFriendlyName() ?></strong>
            <?php if ($_options = $block->getItemOptions()): ?>
            <dl class="item-options">
            <?php foreach ($_options as $_option) : ?>
                <dt><?= $block->escapeHtml($_option['label']) ?></dt>
                <?php if (!$block->getPrintStatus()): ?>
                    <?php $_formatedOptionValue = $block->getFormatedOptionValue($_option) ?>
                    <dd<?php if (isset($_formatedOptionValue['full_view'])): ?> class="tooltip wrapper"<?php endif; ?>>
                        <?= /* @escapeNotVerified */ $_formatedOptionValue['value'] ?>
                        <?php if (isset($_formatedOptionValue['full_view'])): ?>
                        <div class="tooltip content">
                            <dl class="item options">
                                <dt><?= $block->escapeHtml($_option['label']) ?></dt>
                                <dd><?= /* @escapeNotVerified */ $_formatedOptionValue['full_view'] ?></dd>
                            </dl>
                        </div>
                        <?php endif; ?>
                    </dd>
                <?php else: ?>
                    <dd><?= $block->escapeHtml((isset($_option['print_value']) ? $_option['print_value'] : $_option['value'])) ?></dd>
                <?php endif; ?>
            <?php endforeach; ?>
            </dl>
            <?php endif; ?>
            <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
            <?php if ($addInfoBlock) :?>
                <?= $addInfoBlock->setItem($_item->getOrderItem())->toHtml() ?>
            <?php endif; ?>
            <?= $block->escapeHtml($_item->getDescription()) ?>
        </div>
    </td>
    <td class="col qty" data-th="<?= $block->escapeHtml(__('Qty')) ?>">
        <ul class="items-qty">
            <li class="item">
                <span class="title"><?= /* @escapeNotVerified */ __('Shipped') ?></span>
                <span class="content"><?= /* @escapeNotVerified */ $_item->getQty()*1 ?></span>
            </li>
        </ul>
    </td>
</tr>
