/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

@import 'source/lib/_lib.less'; // Global lib
@import 'source/_theme.less'; // Theme overrides
@import 'source/_variables.less'; // Local theme variables

@baseDir: '../'; // Default

//  Magento/blank
.page-print {
    .logo {
        img {
            margin: 0;
        }

        picture {
            width: 106px;
            height: 51px;
            display: block;
            position: relative;

            img {
                display: inline-block;
                position: relative;
                z-index: 99;
            }
        }
    }
}

@media print {
    body {
        -webkit-print-color-adjust:exact;
    }

    //  Don't show links for images, or javascript/internal links
    pre,
    blockquote {
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;

        th {
            width: auto !important;
        }
    }

    .table-wrapper table {
        width: 100%;

        td {
            width: auto;
        }

        table-layout: fixed;
    }

    .box,
    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 1cm;
    }

    .page-title-wrapper {
        margin-bottom: 47px;

        & + .page.messages {
            margin: 0;
        }

        .page-title {
            margin-right: 10px;
            margin-bottom: 0;
            display: inline-block;
        }
    }

    .block-content,
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    a {
        text-decoration: none;
    }

    .block-content {
        page-break-before: avoid;
    }

    .block-title,
    h2,
    h3 {
        page-break-after: avoid;
    }

    .nav-toggle {
        display: none !important;
    }

    .sidebar,
    .nav-sections,
    .header.content > *[class],
    .panel.wrapper > *[class],
    .footer.content > *[class] {
        display: none;
    }

    .page-bottom,
    .bottom.content {
        display: none;
    }

    .logo,
    .footer .copyright {
        display: block !important;
        margin: 10px 0;
    }

    .order-status {
        display: inline-block;
        color: @color-white;
        background-color: @active__color;
        text-transform: uppercase;
        font-weight: @font-weight__bold;
        line-height: 1;
        padding: 5px;
        font-size: 13px;
    }

    .order-date {
        margin: 15px 0 0 0;

        date {
            font-size: 20px;
        }
    }

    .order-title {
        display: block;
        border-bottom: 1px solid @secondary__color__light;

        strong {
            color: @active__color;
            font-weight: @font-weight__bold;
            border-bottom: 2px solid @active__color;
            font-size: 20px;
            padding-bottom: 15px;
            display: inline-block;
            margin-bottom: 0;
        }
    }

    .order-details-items {
        .table-wrapper {
            table.table-order-items.creditmemo {
                th {
                    &.price,
                    &.rowtotal {
                        text-align: right !important;
                    }
                }

                td {
                    &.col.total {
                        padding-right: 30px !important;
                    }

                    &.name {
                        padding-bottom: 10px !important;
                    }
                }

                .col.discount,
                .col.rowtotal,
                .col.total,
                .col.price {
                    text-align: right !important;
                }

                &.price {
                    padding-right: 4% !important;
                }

                td.col {
                    padding: 40px 10px 30px;
                }

                .col {
                    &:first-child {
                        padding-left: 30px !important;
                    }

                    &:last-child {
                        padding-right: 30px !important;
                    }
                }
            }

            .table-order-items.shipment {
                .col {
                    &.qty {
                        width: 20% !important;
                    }
                }
            }

            table.table-order-items {
                th, td {
                    &.col.qty {
                        text-align: center;
                    }
                }

                th, td {
                    &.col.price {
                        text-align: right;
                        padding-right: 5px;
                    }
                }

                .col {
                    &.name {
                        text-align: left;

                        .product-item-sku {
                            font-size: 14px;
                        }

                        .product-item-sku,
                        .product-item-name {
                            display: block;
                        }
                    }

                    &.subtotal {
                        text-align: right;
                    }

                    &:first-child {
                        padding-left: 30px;
                    }

                    &:last-child {
                        padding-right: 30px;
                    }
                }

                .subtotal, .amount {
                    text-align: right;
                }

                tbody {
                    border-bottom: 1px solid @secondary__color__light;

                    tr {
                        > td:last-child {
                            padding-right: 30px;
                        }

                        td {
                            vertical-align: top;
                        }

                        .product-item-photo {
                            display: none;
                        }

                        .product-item-details {
                            padding-left: 0;
                        }
                    }
                }

                tfoot {
                    background-color: @secondary__color__lighter;

                    th.mark {
                        text-align: right;
                        padding-right: 0;
                    }

                    td {
                        padding-right: 30px;
                    }

                    tr:nth-last-child(2) {
                        th, td {
                            padding-bottom: 0;
                        }

                        th span {
                            border-bottom: 1px solid @primary__color;
                            display: inline-block;
                            padding-bottom: 16.5px;
                            line-height: 26px;
                        }

                        td span {
                            border-bottom: 1px solid @primary__color;
                            display: block;
                            padding-bottom: 15px;
                        }
                    }
                }
            }
        }

        .order-items {
            .order-gift-message {
                &:not(.expanded-content) {
                    height: auto;
                    visibility: visible;
                }
            }
        }

        &:not(.ordered) .table-wrapper {
            border-top: none;

            .col.qty {
                text-align: center;
            }
        }

        &.ordered {
            .table-wrapper {
                .col.qty {
                    width: 10%;
                }
            }
        }
    }

    .block-order-details-view {
        > .block-title {
            border-bottom: 1px solid @secondary__color__light;
            padding-bottom: 12px;

            strong {
                font-weight: @font-weight__light;
                font-size: 24px;
            }
        }

        > .block-content {
            padding: 18px 0 30px 0;
            background-color: @secondary__color__lighter;
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            .box {
                padding: 0 20px;
                box-sizing: border-box;

                &-title {
                    margin: 0 0 16px;
                }

                &:nth-child(n+2) {
                    border-left: 1px solid @secondary__color__light;
                }
            }
        }
    }

    .box-order-shipping-method {
        .order-tracking {
            .tracking-title {
                font-weight: @font-weight__light;
                margin-bottom: 0;
            }

            .tracking-content {
                display: block;
                margin: 0;
            }
        }
    }

    .item-options {
        dt {
            &:after {
                content: ':';
                padding: 0 0 0 3px;
            }
        }

        dt:nth-child(n+2):before {
            content: '/';
            padding: 0 2px 0 0;
        }
    }

    .item-options dd,
    table tbody tr td.price .price,
    table tbody tr td.subtotal .price {
        color: @primary__color__light;
    }

    .column.main {
        float: none !important;
        width: 100% !important;
    }

    .breadcrumbs {
        margin: 0 auto;
        text-align: right;
    }

    .footer.content {
        padding: 0;
    }

    .nav-sections,
    .block-search,
    .breadcrumbs {
        display: none !important;
    }
}
