<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/* @var $block \Magento\Catalog\Block\Product\Compare\ListCompare */
?>
<?php $_total = $block->getItems()->getSize() ?>
<?php if ($_total):
    $itemSkus = array();
    foreach ($block->getItems() as $_item)
    {
        $itemSkus[] = $_item->getSku();
    }
    $allItemsSpecifications = array();
    foreach ($block->getItems() as $_item)
    {
        $itemSpecifications = $_item->getData('specifications')?json_decode($_item->getData('specifications'), true):array();
        foreach ($itemSpecifications as $key=>$value)
        {
            if(is_array($value))
            {
                foreach ($value as $subSpecKey=>$subSpecVal)
                {
                    foreach ($itemSkus as $itemSku)
                    {
                        //$itemSkus[$_item->getSku()] = 'N/A';
                        if(!isset($allItemsSpecifications[$key][$subSpecKey][$itemSku])) {
                            $allItemsSpecifications[$key][$subSpecKey][$itemSku] = __('-');
                        }
                    }
                    $allItemsSpecifications[$key][$subSpecKey][$_item->getSku()] = $subSpecVal;
                }
            }else{
                $allItemsSpecifications[$key][$_item->getSku()] = $value;
            }
        }
    }
    ?>
	<div class="comparison">
		<div class="comparison-list">
			<div class="table-row">
				<div class="table-cell">
					<a href="#" class="action print" title="<?= /* @escapeNotVerified */ __('Print This Page') ?>">
						<span><?= /* @escapeNotVerified */ __('Print This Page') ?></span>
					</a>
				</div>
				<div class="table-cell">
					<div class="block-title">
						<strong><?= $_total; ?> <?= __('Products in Comparison List');?></strong>
					</div>
				</div>
			</div>
			<div class="table-row">
				<div class="table-cell bgcolor">
					<a href="javascript:history.back(-1);" title="<?= /* @escapeNotVerified */ __('Change') ?>">
						<span><?= /* @escapeNotVerified */ __('Change') ?></span>
						&amp;
						<span><?= /* @escapeNotVerified */ __('Add Product') ?></span>
					</a>
				</div>
				<div class="table-cell">
					<div class="block-content products-grid swiper-content">
						<div class="swiper-container">
							<ol class="product-items swiper-wrapper" id="product-comparison"
								data-mage-init='{"compareList":{
                                                "windowPrintSelector":".action.print",
                                                "productsInRow":"5",
                                                "selectors":{
                                                    "productAddToCartSelector":"button.action.tocart"}
                                                }}'>
                                <?php foreach ($block->getItems() as $_item): ?>
                                    <?php /** @var $_item \Magento\Catalog\Model\Product */ ?>
                                    <?php $productType = $_item->getTypeId() ?>
									<li class="item product-item swiper-slide <?= 'product-'.$productType; ?>">
										<div class="product-item-info">
                                            <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
                                            <?php $_helper = $this->helper('Magento\Catalog\Helper\Output'); ?>
											<a class="product-item-photo" href="<?= /* @escapeNotVerified */ $block->getProductUrl($_item) ?>" title="<?= /* @escapeNotVerified */ $block->stripTags($_item->getName(), null, true) ?>">
                                                <?= $block->getImage($_item, 'product_comparison_list')->toHtml() ?>
											</a>
											<div class="product-item-details">
                                                <?= $block->getProductDetailsHtml($_item) ?>
												<span class="product-item-model-name"><?= $block->escapeHtml($_item->getModelName()) ?></span>
												<strong class="product name product-item-name">
													<a  class="product-item-link" href="<?= /* @escapeNotVerified */ $block->getProductUrl($_item) ?>" title="<?= /* @escapeNotVerified */ $block->stripTags($_item->getName(), null, true) ?>">
                                                        <?= /* @escapeNotVerified */ $_helper->productAttribute($_item, $_item->getUserFriendlyName(), 'user_friendly_name') ?>
													</a>
												</strong>
                                                <?php $productShortDescription = $_helper->productAttribute($_item, $_item->getShortDescription(), 'short_description')?>
                                                <?php if (!empty($productShortDescription)):?>
													<div class="product description product-item-description">
                                                        <?= /* @escapeNotVerified */ $_helper->productAttribute($_item, $_item->getShortDescription(), 'short_description') ?>
													</div>
                                                <?php endif; ?>
                                                <?= /* @escapeNotVerified */ $block->getProductPrice($_item, '-compare-list-top') ?>
												<div class="product-item-inner">
													<div class="product actions product-item-actions">
														<div class="actions-primary">
                                                            <?php if ($_item->isSaleable()): ?>
																<form data-role="tocart-form" action="<?= /* @escapeNotVerified */ $this->helper('Magento\Catalog\Helper\Product\Compare')->getAddToCartUrl($_item) ?>" method="post">
                                                                    <?= $block->getBlockHtml('formkey') ?>
																	<button type="submit" class="action tocart primary">
																		<span><?= /* @escapeNotVerified */ __('Add to Cart') ?></span>
																	</button>
																</form>
                                                            <?php else: ?>
                                                                <?php if ($_item->getIsSalable()): ?>
																	<div class="stock available"><span><?= /* @escapeNotVerified */ __('In stock') ?></span></div>
                                                                <?php else: ?>
																	<div class="stock unavailable"><span><?= /* @escapeNotVerified */ __('Out of stock') ?></span></div>
                                                                <?php endif; ?>
                                                            <?php endif; ?>
														</div>

														<div class="actions-secondary" data-role="add-to-links">
                                                            <?php if ((($_item->getPrice() !=0) && !is_null($_item->getPrice())) && $this->helper('Magento\Wishlist\Helper\Data')->isAllow()) : ?>
																<a href="#" data-post='<?= /* @escapeNotVerified */ $block->getAddToWishlistParams($_item) ?>' class="action towishlist" data-action="add-to-wishlist">
																	<span><?= /* @escapeNotVerified */ __('Add to Wish List') ?></span>
																</a>
                                                            <?php endif; ?>
															<a href="#" data-post='<?= /* @escapeNotVerified */ $compareHelper->getPostDataRemove($_item) ?>'
															   class="action delete" title="<?= /* @escapeNotVerified */ __('Delete') ?>">
																<span><?= /* @escapeNotVerified */ __('Delete') ?></span>
															</a>
														</div>

													</div>
												</div>
											</div>
										</div>
									</li>
                                <?php endforeach; ?>
							</ol>
                            <?php if($_total > 3):?>
								<!-- Add Arrows -->
								<div class="swiper-button-arrows">
									<span class="swiper-button-next swiper-button-black"></span>
									<span class="swiper-button-prev swiper-button-black"></span>
								</div>
                            <?php endif;?>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="comparison-actions">
			<label for="buttons"><?= /* @escapeNotVerified */ __('Show') ?></label>
			<ul class="buttons">
				<li><a href="javascript:void(0);" class="all active"><?= /* @escapeNotVerified */ __('All') ?></a></li>
				<li><a href="javascript: void(0);" class="difference"><?= /* @escapeNotVerified */ __('difference') ?></a></li>
			</ul>
		</div>
		<div class="comparison-specs">
            <?php foreach ($allItemsSpecifications as $mainSpecKey => $mainSpecValues): ?>
				<!--                <div class="table-row group"><div class="table-cell">--><?php //echo $mainSpecKey; ?><!--</div></div>-->
                <?php foreach ($mainSpecValues as $key=>$value): ?>
					<div class="table-row">
						<div class="table-cell">
							<label><?php echo $key; ?></label>
						</div>
						<div class="table-cell">
							<div class="swiper-content">
								<div class="swiper-container">
									<ol class="swiper-wrapper">
                                        <?php foreach ($value as $sku=>$specValue): ?>
											<li class="swiper-slide"><?php echo $specValue; ?></li>
                                        <?php endforeach; ?>
									</ol>
								</div>
							</div>
						</div>
					</div>
                <?php endforeach; ?>
            <?php endforeach; ?>
		</div>
	</div>


    <?php if (!$block->isRedirectToCartEnabled()) : ?>
	<script type="text/x-magento-init">
        {
            "[data-role=tocart-form]": {
                "catalogAddToCart": {}
            }
        }
        </script>
<?php endif; ?>
	<script>
		require(['jquery','swiper'],function ($,Swiper) {
			$(document).ready(function() {
                <?php if($_total > 3):?>
				var compareProductSwiper = new Swiper('.comparison .products-grid .swiper-container', {
					simulateTouch: false,
					slidesPerView: 3,
					breakpoints: {
						768: {
							slidesPerView: 1
						}
					},
					navigation: {
						nextEl: '.swiper-button-next',
						prevEl: '.swiper-button-prev'
					}
				});

				var specProductSwiper = [];
				$('.comparison .comparison-specs .swiper-container').each(function(index,obj){
					specProductSwiper[index] = new Swiper(obj, {
						simulateTouch: false,
						shortSwipes: false,
						longSwipes: false,
						followFinger: false,
						slidesPerView: 3,
						breakpoints: {
							768: {
								slidesPerView: 1
							}
						}
					});
				});

				//Product Slider Next Button Event
				compareProductSwiper.on('slideNextTransitionStart',function(){
					$('.comparison .comparison-specs .swiper-container').each(function(index,obj){
						specProductSwiper[index].slideNext();
					});
				});

				//Product Slider Prev Button Event
				compareProductSwiper.on('slidePrevTransitionStart',function() {
					$('.comparison .comparison-specs .swiper-container').each(function(index,obj){
						specProductSwiper[index].slidePrev();
					});
				});
                <?php endif;?>

				$('.comparison-actions .buttons li a').click(function() {
					$('.comparison-actions .buttons li a').removeClass('active');
					$(this).addClass('active');

					if($(this).hasClass('all')) {
						$('.comparison-specs .table-cell').css('background-color','');
						return;
					}

					$('.comparison-specs .swiper-container').each(function(index, obj) {
						var colorChange = false;
						var element = [];
						$(obj).find('.swiper-slide').each(function(index, obj) {
							element[index] = $(obj).text();

							if(index > 0) {
								if(element[index-1] != element[index]) {
									colorChange = true;
								}
							}
						});

						if(colorChange) {
							$(obj).parent().parent().css('background-color',"#eedbdb");
						}
					});
				});
			});
		});
	</script>
<?php else: ?>
	<p><?= /* @escapeNotVerified */ __('You have no items to compare.') ?></p>
	<script>
		require(['jquery'],function ($) {
			$('.column.main').addClass('not-comparision');
		});
	</script>
<?php endif; ?>
