<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/* @var \Magento\Wishlist\Block\Link $block */
?>
<li class="link wishlist">
    <a <?= /* @noEscape */ $block->getLinkAttributes() ?>><?= $block->escapeHtml(__('My Wishlists')) ?></a>
</li>
