<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/* @var \Magento\Wishlist\Block\Customer\Wishlist\Item\Options $block */
?>

<?php $options = $block->getOptionList(); ?>
<?php if ($options): ?>
<div class="product-item-tooltip">
  <div class="tooltip content">
      <dl class="item-options">
          <?php foreach ($options as $option): ?>
          <dt class="label"><?= $block->escapeHtml($option['label']) ?></dt>
          <dd class="values">
              <?php if (is_array($option['value'])): ?>
              <?= /* @noEscape */ nl2br(implode("\n", $option['value'])) ?>
              <?php else: ?>
              <?= /* @noEscape */ $option['value'] ?>
              <?php endif; ?>
          </dd><br>
          <?php endforeach; ?>
      </dl>
  </div>
</div>
<?php endif ?>
