<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

?>

<div class="main-page-title"><?= $block->getBlockHtml('page.main.title'); ?></div>
<div class="main-category-description"><?= $this->getBlockHtml('category.description'); ?></div>

<!-- favorite filter -->
<div class="product_sorting_favorites">
    <ul class="favorites">
        <li class="items">
            <a href="#" class="item"><!-- filter image --></a>
        </li>
        <li class="items">
            <a href="#" class="item"><!-- filter image --></a>
        </li>
        <li class="items">
            <a href="#" class="item"><!-- filter image --></a>
        </li>
        <li class="items selected">
            <a href="#" class="item"><!-- filter image --></a>
        </li>
        <li class="items">
            <a href="#" class="item"><!-- filter image --></a>
        </li>
    </ul>
</div>
