<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>

<div class="product-custorm_sort">
    <div class="inner">
        <div class="in_tabs">
            <div class="in in-filter">
                <button type="button" class="toggle_filter">Filter</button>
                <span class="ico"></span>
            </div>
            <div class="in">
                <?= $block->getBlockHtml('product_list_sorder'); ?>
            </div>
        </div>
    </div>
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Catalog/js/toggle_filter": {}
        }
    }
</script>
