// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .info_shares_wrap {
        display: inline-block;
        vertical-align: top;

        .info_shares {
            display: inline-block;
            vertical-align: top;
        }

        .toggle {
            position: relative;

            &_btn {
                .lib-button-reset();
                .lib-icon-font(
                        @ico-lg-share,
                    @_icon-font-size: 38px,
                    @_icon-font-color: @primary__color__light,
                    @_icon-font-line-height: 1.1,
                    @_icon-font-text-hide: true,
                    @_icon-font-position: before
                );
            }

            &_shares {
                display: none;
                position: relative;
                border: 1px solid @secondary__color__light;
                background: @color-white;

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 50%;
                    border: 1px solid @secondary__color__light;
                    border-top: none;
                    border-right: none;
                    background: @color-white;
                    transform: rotate(45deg);
                }

                > ul {
                    .lib-list-inline();
                    white-space: nowrap;

                    li {
                        margin: 0;
                        vertical-align: middle;

                        .link {
                            .lib-icon-font(
                                    @ico-lg-sns_facebook,
                                @_icon-font-size: 42px,
                                @_icon-font-color: #365897,
                                @_icon-font-line-height: 100%,
                                @_icon-font-text-hide: true,
                                @_icon-font-position: before
                            );

                            &.t {
                                .lib-icon-font-symbol(
                                        @ico-lg-sns_twitter,
                                    @_icon-font-position: before
                                );

                                &:before {
                                    color: #2aa9e0;
                                }
                            }

                            &.g {
                                .lib-icon-font-symbol(
                                        @ico-lg-sns_google,
                                    @_icon-font-position: before
                                );

                                &:before {
                                    color: #cd3e28;
                                }
                            }

                            &.p {
                                .lib-icon-font-symbol(
                                        @ico-lg-sns_pin,
                                    @_icon-font-position: before
                                );

                                &:before {
                                    color: #cd3e28;
                                }
                            }
                        }
                    }
                }
            }

            &.on {
                .toggle_btn:before {
                    color: @secondary__color__light;
                }

                .toggle_shares {
                    display: inline-block;
                    vertical-align: top;
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .info_shares_wrap {
        .toggle {
            &_btn {
                line-height: 34px;

                &:before {
                    font-size: 20px;
                }
            }

            &_shares {
                margin: 0 0 0 14px;
                padding: @indent__xs;
                border-width: 1px;

                &:before {
                    left: -6px;
                    margin-top: -4.5px;
                    width: 9px;
                    height: 9px;
                    border-width: 1px;
                }

                > ul {
                    li {
                        & + li {
                            margin-left: @indent__xs;
                        }

                        .link {
                            &.f {
                                &:before {
                                    font-size: 16px;
                                }
                            }

                            &.t {
                                &:before {
                                    font-size: 16px;
                                }
                            }

                            &.p ,
                            &.g {
                                &:before {
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .info_shares_wrap {
        .toggle {
            &_btn {
                line-height: 66px;
            }

            &_shares {
                margin: 0 0 0 28px;
                padding: @indent__s 15px;
                border-width: 2px;

                &:before {
                    margin-top: -9px;
                    left: -11px;
                    width: 18px;
                    height: 18px;
                    border-width: 2px;
                }

                > ul {
                    li {
                        & + li {
                            margin-left: @indent__s;
                        }

                        .link {
                            &.f {
                                &:before {
                                    font-size: 32px;
                                }
                            }

                            &.t {
                                &:before {
                                    font-size: 32px;
                                }
                            }

                            &.p ,
                            &.g {
                                &:before {
                                    font-size: 42px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .info_shares_wrap {
        .toggle {
            &_btn {
                line-height: 46px;

                &:before {
                    font-size: 20px;
                }
            }

            &_shares {
                margin: 0 0 0 @indent__s;
                padding: @indent__s 15px;

                &:before {
                    margin-top: -5px;
                    left: -6px;
                    width: 10px;
                    height: 10px;
                }

                > ul {
                    li {
                        & + li {
                            margin-left: @indent__s;
                        }

                        .link {
                            &.t,
                            &.f {
                                &:before {
                                    font-size: 20px;
                                }
                            }

                            &.p ,
                            &.g {
                                &:before {
                                    font-size: 24px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
