<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * @var \Magento\Cms\Block\Widget\Page\Link $block
 */
?>
<span class="widget block-cms-link-inline">
    <a <?= /* @noEscape */ $block->getLinkAttributes() ?>>
        <span><?= $block->escapeHtml($block->getLabel()) ?></span>
    </a>
</span>
