// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Theme variables
//  _____________________________________________

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .spec-group {
        position: relative;
        margin: 0;
        
        .specs {
            .lib-data-accordion(
                  @_accordion-control-font-weight: @font-weight__bold,
                  @_accordion-control-margin-bottom: 0
            );

            > .item.title {
                cursor: pointer;

                span {
                    .lib-icon-font(
                            @icon-down,
                      @_icon-font-size: 12px,
                      @_icon-font-line-height: 100%,
                      @_icon-font-position: after,
                      @_icon-font-display: block
                    );

                    &:after {
                        font-weight: @font-weight__bold;
                        float: right;
                    }
                }
            }

            &.active {
                > .item.title {
                    span {
                        .lib-icon-font-symbol(
                          @_icon-font-content: @icon-up,
                          @_icon-font-position: after
                        );
                    }
                }
            }

            > .item.content {
                border-bottom: @accordion-control__border-bottom;
            }

            .spec {
                .lib-list-reset-styles();

                > li {
                    width: 100%;
                    box-sizing: border-box;
                    margin: 0;
                    font-size: 24px;
                    color: @primary__color__light;

                    .field {
                        display: table;
                        width: 100%;
                        border-bottom: 1px solid @secondary__color__lighter;
                    }

                    label {
                        display: table-cell;
                        width: 37.5%;
                        box-sizing: border-box;
                        vertical-align: top;
                        word-break: break-all;

                        & + .control {
                            width: 62.5%;
                            border-left: @accordion-control__border-bottom;
                            border-left-width: 2px;
                            box-sizing: border-box;
                            display: table-cell;
                            vertical-align: top;
                        }

                        &,
                        & + .control {
                            padding: @indent__s @indent__base;
                        }
                    }
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
  .spec-group {
      padding-top: 61px;
      padding-left: @layout__width-xs-indent;
      padding-right: @layout__width-xs-indent;

      .specs {
          > .item.title {
              > .switch {
                  height: 30px;
                  line-height: 30px;
                  border-bottom-width: 1px;
                  font-size: 15px;
                  padding: 0 @indent__s;
              }

              span {
                  &:after {
                      line-height: 30px;
                      font-size: @font-size__base;
                  }
              }
          }

          > .item.content {
              border-bottom-width: 1px;
          }

          .spec {
              > li {
                  font-size: @font-size__s;

                  .field {
                      border-bottom-width: 1px;

                      .control {
                          font-size: 11px;
                      }
                  }

                  label {
                      & + .control {
                          border-left-width: 1px;
                      }

                      &,
                      & + .control {
                        padding: @indent__xs @indent__s;
                      }
                  }
              }
          }
      }
  }

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .spec-group {
        padding-top: 122px;
        padding-left: @layout__width-xs-indent * 2;
        padding-right: @layout__width-xs-indent * 2;

        .specs {
            > .item.title {
                > .switch {
                    height: auto;
                    line-height: 58px;
                    border-bottom-width: 2px;
                    font-size: 30px;
                }

                span {
                    &:after {
                        line-height: 58px;
                        float: right;
                        font-size: @font-size__base*2;
                        font-weight: @font-weight__regular;
                    }
                }
            }

            > .item.content {
                border-bottom-width: 2px;
            }

            .spec {
                > li {
                    .field {
                        border-bottom-width: 2px;

                        label {
                            color: @primary__color;
                        }

                        .control {
                          font-size: 22px;
                        }
                    }

                    &:last-child {
                        .field {
                            &:last-child {
                                border-bottom: none;
                            }
                        }
                    }
                }
            }
        }
    }

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .spec-group {
        padding-top: 67px;

        .specs {
            .item.title {
                span {
                    display: inline-block;
                    min-width: 260px;

                    &:after {
                        line-height: @accordion-control__height;
                    }
                }
            }

            .spec {
                .lib-list-reset-styles();

                > li {
                    display: table;
                    width: 100%;
                    font-size: 16px;

                    .field {
                        display: table-cell;
                        vertical-align: top;
                        width: 50%;
                        position: relative;

                        &:first-child {
                            .control {
                                &:before {
                                    content: '';
                                    display: block;
                                    position: absolute;
                                    top: 0;
                                    bottom: 0;
                                    right: 0;
                                    border-right: @accordion-control__border-bottom;
                                }
                            }
                        }
                    }

                    &:last-child {
                        .field {
                          border-bottom: none;
                        }
                    }

                    label {
                        &,
                        & + .control {
                            padding: 15px @accordion-control__padding-left;
                            float: left;
                            display: block;
                        }

                        & + .control {
                            border-left: none;

                            &:before {
                                content: '';
                                display: block;
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 37.5%;
                                border-left: @accordion-control__border-bottom;
                            }
                        }
                    }

                    &.half {
                        width: 50%;
                    }
                }
            }
        }
    }
}