<?php
$product = $block->getProduct();
$specifications = $product->getData('specifications');
$specifications = json_decode($specifications, true);

?>
<?php if(count($specifications) > 0):?>
    <div class="block spec-group">
        <?php foreach($specifications as $groupName=>$attributes):?>
            <div class="specs" data-role="collapsible" data-mage-init='{"collapsible":{"openedState": "active", "active": false}}'>
                <div class="data item title" data-role="title">
                    <a class="data switch"><span><?php echo $groupName; ?></span></a>
                </div>
                <div class="data item content" data-role="content">
                    <ul class="spec">
                        <?php $i = 0;?>
                        <?php foreach ($attributes as $attributeName => $attributeValue):?>
                            <?php if($i%2 == 0): ?>
                                <li class="list <?php if(count($attributes)-1 == $i) {echo 'half';}?>">
                            <?php endif;?>
                                <div class="field">
                                    <label class="label"><strong><?php echo $attributeName; ?></strong></label>
                                    <div class="control"><?php echo $attributeValue; ?></div>
                                </div>
                            <?php if($i%2 == 1): ?>
                                </li>
                            <?php endif; ?>
                            <?php $i++;?>
                        <?php endforeach; ?>
                    </ul>
                </div>
            </div>
        <?php endforeach;?>
    </div>
    <script>
        require([
            'jquery',
            'accordion'], function ($) {
            $(".specs").accordion();
        });
    </script>
<?php endif;?>