<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div data-role="checkout-agreements">
    <div class="checkout-agreements" data-bind="visible: isVisible">
        <div class="title">
            <span translate="'Please check the boxes below if you agree to our Terms and Conditions.'"/>
        </div>
        <!-- ko foreach: agreements -->
            <!-- ko if: ($parent.isAgreementRequired($data)) -->
            <div class="checkout-agreement required">
                <input type="checkbox" class="required-entry"
                       data-bind="attr: {
                                    'id': $parent.getCheckboxId($parentContext, agreementId),
                                    'name': 'agreement[' + agreementId + ']',
                                    'value': agreementId
                                    }"/>
                <label data-bind="attr: {'for': $parent.getCheckboxId($parentContext, agreementId)}">
                    <button type="button"
                            class="action action-show"
                            data-bind="click: function(data, event) { return $parent.showContent(data, event) }"
                            >
                        <span data-bind="html: checkboxText"></span>
                    </button>
                </label>
            </div>
            <!-- /ko -->
            <!-- ko ifnot: ($parent.isAgreementRequired($data)) -->
            <!-- ko if: ($index() === 2) -->
                <div class="title secondary">
                    <p>Con riferimento alla Privacy Policy di LG Electronics Italia S.p.A.:</p>
                </div>
            <!-- /ko -->
            <div class="checkout-agreement">
                <input type="checkbox"
                       data-bind="attr: {
                                    'id': $parent.getCheckboxId($parentContext, agreementId),
                                    'name': 'agreement[' + agreementId + ']',
                                    'value': agreementId
                                    }"/>
                <label data-bind="attr: {'for': $parent.getCheckboxId($parentContext, agreementId)}">
                    <button type="button" class="action action-show"
                            data-bind="click: function(data, event) { return $parent.showContent(data, event) }">
                        <span data-bind="html: checkboxText"></span>
                    </button>
                </label>
            </div>
            <!-- /ko -->
        <!-- /ko -->
        <span translate="'*prestando il consenso, l’utente conferma di avere più di 16 anni'"/>
        <div id="checkout-agreements-modal" data-bind="afterRender: initModal" style="display: none">
            <div class="checkout-agreements-item-content" data-bind="html: modalContent"></div>
        </div>
    </div>
</div>
