<?php
/**
 * Created by PhpStorm.
 * User: jason
 * Date: 2018-08-24
 * Time: 오후 5:48
 */

/** @var $block \Eguana\RecommendedProducts\Block\ListBlock*/
$categoryInfo = $block->getCategoryInfo();
?>
<?php if($block->isEnabled()):?>
<style>
    .inactive{
        display:none;
    }
</style>
<div class="home-recommended-products">
    <div class="title">
        <h1><?=__('Recommended Products')?></h1>
    </div>
    <div class="category">
        <ul class="list">
        <?php foreach ($categoryInfo as $category):?>
            <li class="category-info" id="recommended_category_<?=$category['id']?>"><?=$category['name']?></li>
        <?php endforeach;?>
        </ul>
    </div>
    <div class="product-area">
        <?php foreach ($categoryInfo as $key => $category):?>
            <div class="recommended-product recommended-product-<?=$category['id']?> <?=$key==0 ? 'active' : 'inactive'?>" ><?=$category['html']?></div>
        <?php endforeach;?>
    </div>
</div>
<script>
    require(['jquery'],function ($) {
        $('.home-recommended-products > .category > .list > .category-info').click(function(){
            var categoryIdData = this.id.split('_');

            $('.recommended-product.active').removeClass('active').addClass('inactive');
            $('.recommended-product-'+categoryIdData[categoryIdData.length -1]).removeClass('inactive').addClass('active');
        })
    })
</script>
<?php endif;?>