<?php
/**
* Copyright 2016 Eguana. All rights reserved.
* See LICENSE.txt for license details.
*/

// @codingStandardsIgnoreFile

/* @var $block \Eguana\Slider\Block\Adminhtml\Page\Menu\Item */
?>
<li>
    <a <?php /* @noEscape */ echo $block->serializeLinkAttributes() ?>>
        <?php echo $block->escapeHtml(__($block->getLabel())) ?>
    </a>
</li>
