<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_productHelper = $this->helper('Eguana\Theme\Helper\Product');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?= /* @escapeNotVerified */ __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <div class="toolbar-top"><?= $block->getToolbarHtml() ?></div>
    <?= $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="products wrapper <?= /* @escapeNotVerified */ $viewMode ?> products-<?= /* @escapeNotVerified */ $viewMode ?>">
        <?php $iterator = 1; ?>
        <ol class="products list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>
                <?php $productType = $_product->getTypeId() ?>
                <?= /* @escapeNotVerified */ ($iterator++ == 1) ? '<li class="item product product-item'.' product-'.$productType.'">' : '</li><li class="item product product-item'.' product-'.$productType.'">' ?>
                <div class="product-item-info" data-container="product-grid">
                    <?php
                    $productImage = $block->getImage($_product, $image);
                    if ($pos != null) {
                        $position = ' style="left:' . $productImage->getWidth() . 'px;'
                            . 'top:' . $productImage->getHeight() . 'px;"';
                    }
                    $productFlag = $_productHelper->getProductFlagArray($_product);
                    ?>
                    <?php // Product Image ?>
                    <a href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="0">
                        <?php if($productFlag):?>
                            <div class="product-item-flag-icon">
                                <?php foreach ($productFlag as $valueId):?>
                                    <div class="product-item-flag">
                                        <span class="flag-<?php echo strtolower(preg_replace("/\s+/","",$valueId))?>"><?php echo $valueId; ?></span>
                                    </div><br>
                                <?php endforeach;?>
                            </div>
                        <?php endif;?>
                        <?= $productImage->toHtml() ?>
                    </a>
                    <div class="product details product-item-details">
                        <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                        ?>
                        <?= $block->getProductDetailsHtml($_product) ?>
                        <span class="product-item-model-name"><?= $block->escapeHtml($_product->getModelName()) ?></span>
                        <strong class="product name product-item-name">
                            <a class="product-item-link"
                               href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>">
                                <?= /* @escapeNotVerified */ $_helper->productAttribute($_product, $_product->getUserFriendlyName(), 'user_friendly_name') ?>
                            </a>
                        </strong>
                        <span class="product-item-energy-class">
                        <?php
                        $energyClass= $_product->getResource()->getAttribute('energy_class')->getStoreLabel();
                        $productEnergy = $_product->getAttributeText('energy_class');
                        $html = '';
                        switch($productEnergy)
                        {
                            case 'A+++' :
                                $html .= '<span class="product-item-energy-class-'.$_product->getId().'">'.$energyClass.'</span>';
                                $html .= '<img class="product-item-energy-img-'.$_product->getId().'" src="'.$block->getViewFileUrl('images/energy01.png').'"/>';
                                break;
                            case 'A++' :
                                $html .= '<span class="product-item-energy-class-'.$_product->getId().'">'.$energyClass.'</span>';
                                $html .= '<img class="product-item-energy-img-'.$_product->getId().'" src="'.$block->getViewFileUrl('images/energy02.png').'"/>';
                                break;
                            case 'A+' :
                                $html .= '<span class="product-item-energy-class-'.$_product->getId().'">'.$energyClass.'</span>';
                                $html .= '<img class="product-item-energy-img-'.$_product->getId().'" src="'.$block->getViewFileUrl('images/energy03.png').'"/>';
                                break;
                            case 'A' :
                                $html .= '<span class="product-item-energy-class-'.$_product->getId().'">'.$energyClass.'</span>';
                                $html .= '<img class="product-item-energy-img-'.$_product->getId().'" src="'.$block->getViewFileUrl('images/energy04.png').'"/>';
                                break;
                            case 'B' :
                                $html .= '<span class="product-item-energy-class-'.$_product->getId().'">'.$energyClass.'</span>';
                                $html .= '<img class="product-item-energy-img-'.$_product->getId().'" src="'.$block->getViewFileUrl('images/energy05.png').'"/>';
                                break;
                            case 'C' :
                                $html .= '<span class="product-item-energy-class-'.$_product->getId().'">'.$energyClass.'</span>';
                                $html .= '<img class="product-item-energy-img-'.$_product->getId().'" src="'.$block->getViewFileUrl('images/energy06.png').'"/>';
                                break;
                            case 'D' :
                                $html .= '<span class="product-item-energy-class-'.$_product->getId().'">'.$energyClass.'</span>';
                                $html .= '<img class="product-item-energy-img-'.$_product->getId().'" src="'.$block->getViewFileUrl('images/energy07.png').'"/>';
                                break;
                            case 'E' :
                                $html .= '<span class="product-item-energy-class-'.$_product->getId().'">'.$energyClass.'</span>';
                                $html .= '<img class="product-item-energy-img-'.$_product->getId().'" src="'.$block->getViewFileUrl('images/energy08.png').'"/>';
                                break;
                            default:
                                $html = '';
                                break;
                        }
                        echo $html;
                        ?>
                        </span>
                        <?php $productShortDescription = $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description')?>
                        <?php if (!empty($productShortDescription)):?>
                            <div class="product description product-item-description">
                                    <?= /* @escapeNotVerified */ $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                            </div>
                        <?php endif; ?>
                        <?= $block->getReviewsSummaryHtml($_product, $templateType) ?>

                        <?php if ($_product->isSaleable()): ?>
                            <?= /* @escapeNotVerified */ $block->getProductPrice($_product) ?>
                        <?php else: ?>
                            <?php if (!$_product->isAvailable()): ?>
                                <div class="price-box price-final_price"></div>
                            <?php endif; ?>
                        <?php endif; ?>

                        <div class="product-item-inner">
                            <div class="product actions product-item-actions"<?= strpos($pos, $viewMode . '-actions') ? $position : '' ?>>
                                <div class="actions-primary"<?= strpos($pos, $viewMode . '-primary') ? $position : '' ?>>
                                    <?php if ($_product->isSaleable()): ?>
                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                        <form data-role="tocart-form" data-product-sku="<?= $block->escapeHtml($_product->getSku()) ?>" action="<?= /* @NoEscape */ $postParams['action'] ?>" method="post">
                                            <input type="hidden" name="product" value="<?= /* @escapeNotVerified */ $postParams['data']['product'] ?>">
                                            <input type="hidden" name="<?= /* @escapeNotVerified */ Action::PARAM_NAME_URL_ENCODED ?>" value="<?= /* @escapeNotVerified */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED] ?>">
                                            <?= $block->getBlockHtml('formkey') ?>
                                            <button type="submit"
                                                    title="<?= $block->escapeHtml(__('Add to Cart')) ?>"
                                                    class="action tocart primary">
                                                <span><?= /* @escapeNotVerified */ __('Add to Cart') ?></span>
                                            </button>
                                        </form>
                                    <?php else: ?>
                                        <?php if ($_product->isAvailable()): ?>
                                            <div class="stock available"><span><?= /* @escapeNotVerified */ __('In stock') ?></span></div>
                                        <?php else: ?>
                                            <div class="stock unavailable"><span><?= /* @escapeNotVerified */ __('Out of stock') ?></span></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                                <div data-role="add-to-links" class="actions-secondary"<?= strpos($pos, $viewMode . '-secondary') ? $position : '' ?>>
                                    <?php if ($addToBlock = $block->getChildBlock('addto')): ?>
                                        <?= $addToBlock->setProduct($_product)->getChildHtml() ?>
                                    <?php endif; ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <?php
                $productEnergyDocId = $_product->getDocId();
                $productEnergyOriginalName = $_product->getData('original_name_b1_a1');
                $productEnergyFileName = $_product->getFileName();
                $productEnergyTc = $_product->getTc();
                $productEnergyGsriDoc = $_product->getGsriDoc();

                $productEnergyDocId2 = $_product->getDocId2();
                $productEnergyOriginalName2 = $_product->getData('original_name_b1_a1_2');
                $productEnergyFileName2 = $_product->getFileName2();
                $productEnergyTc2 = $_product->getTc2();
                $productEnergyGsriDoc2 = $_product->getGsriDoc2();
                ?>
                <form name="form-product-fitche-<?php echo $_product->getId()?>" id="form-product-fitche-<?php echo $_product->getId()?>" method="get" target="_blank">
                    <input type="hidden" name="DOC_ID" value="<?php echo $productEnergyDocId2?>">
                    <input type="hidden" name="ORIGINAL_NAME_b1_a1" value="<?php echo $productEnergyOriginalName2?>">
                    <input type="hidden" name="FILE_NAME" value="<?php echo $productEnergyFileName2?>">
                    <input type="hidden" name="TC" value="<?php echo $productEnergyTc2?>">
                    <input type="hidden" name="GSRI_DOC" value="<?php echo $productEnergyGsriDoc2?>">
                </form>
                <form name="form-energy-label-<?php echo $_product->getId()?>" id="form-energy-label-<?php echo $_product->getId()?>" method="get" target="_blank">
                    <input type="hidden" name="DOC_ID" value="<?php echo $productEnergyDocId?>">
                    <input type="hidden" name="ORIGINAL_NAME_b1_a1" value="<?php echo $productEnergyOriginalName?>">
                    <input type="hidden" name="FILE_NAME" value="<?php echo $productEnergyFileName?>">
                    <input type="hidden" name="TC" value="<?php echo $productEnergyTc?>">
                    <input type="hidden" name="GSRI_DOC" value="<?php echo $productEnergyGsriDoc?>">
                </form>
                <script>
                    require(['jquery'],function ($) {
                        $(document).ready(function() {
                            $('.product-item-energy-class-<?php echo $_product->getId()?>').click(function(){
                                document.forms['form-product-fitche-<?php echo $_product->getId()?>'].action='https://www.lg.com/lgecs.downloadFile.ldwf';
                                document.forms['form-product-fitche-<?php echo $_product->getId()?>'].target='_blank';
                                document.forms['form-product-fitche-<?php echo $_product->getId()?>'].submit();
                            });

                            $('.product-item-energy-img-<?php echo $_product->getId()?>').click(function(){
                                document.forms['form-energy-label-<?php echo $_product->getId()?>'].action='https://www.lg.com/lgecs.downloadFile.ldwf';
                                document.forms['form-energy-label-<?php echo $_product->getId()?>'].target='_blank';
                                document.forms['form-energy-label-<?php echo $_product->getId()?>'].submit();
                            });
                        });
                    });
                </script>
                <?= ($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
            <?php endforeach; ?>
        </ol>
    </div>
    <?= $block->getToolbarHtml() ?>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {
                    "product_sku": "<?= /* @NoEscape */ $_product->getSku() ?>"
                }
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>
