// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Theme variables
//  _____________________________________________

//  Messages
@message-global-note__background: @primary__color__light;
@message-global-note__border-color: @primary__color__light;
@message-global-note__color: @color-white;

@message-global-note-link__color: @color-white;
@message-global-note-link__color-hover: @link__hover__color;
@message-global-note-link__color-active: @link__active__color;

@message-global-caution__background: @color-red9;
@message-global-caution__border-color: none;
@message-global-caution__color: @color-white;

@message-global-caution-link__color: @link__color;
@message-global-caution-link__color-hover: @link__hover__color;
@message-global-caution-link__color-active: @link__active__color;

//  Header
@header__background-color: @primary__color;
@header-icons-color: @color-white;
@header-icons-color-hover: @header-icons-color;

//  Page title
@page-title-font-size: 36px;
@mobile-page-title-font-size: 48px;
@mobile-xs-page-title-font-size: 24px;

@addto-color: @text__color__muted;
@addto-hover-color: @active__color;

@minicart-icons-color: @color-white;
@minicart-icons-color-hover: @minicart-icons-color;

@button__shadow: inset 0 2px 1px rgba(0,0,0,.12);

@h1__margin-bottom__desktop: @indent__xl;

//  Footer
@footer__background-color: #e9ecf0;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .policy-text {
        padding: 35px 0 @indent__xl;

        p {
            margin-bottom: @indent__l;
            line-height: 1.2;
            font-size: 24px;

            a {
                .lib-link(
                    @_link-color: @active__color,
                    @_link-text-decoration: underline
                );
            }
        }
    }

    body:not(.page-print) {
        .lib-css(background-color, @page__background-color);
    }

    .information {
        color: @primary__color__lightest;
        text-align: left;
        overflow: hidden;
        .lib-icon-font(
            @_icon-font-content: @ico-lg-information,
            @_icon-font-color: @primary__color__lightest,
            @_icon-font-size: 18px,
            @_icon-font-line-height: 100%,
            @_icon-font-position: before,
            @_icon-font-vertical-align: top,
            @_icon-font-display: block
        );

        &:before {
            float: left;
        }

        span {
            width: 90%;
            float: left;
            margin-left: @indent__xs;
        }
    }

    //
    //  Header
    //  ---------------------------------------------

    .page-header {
        .lib-css(background-color, @header__background-color);
        border-bottom: 4px solid @active__color;
    }

    .header {
        &.content {
            &:extend(.abs-add-clearfix all);
            padding-top: @indent__base;
            padding-bottom: @indent__base;
            position: relative;
        }
    }

    .logo {
        position: relative;
        z-index: 5;

        img {
            display: block;
            margin: 0 auto;
        }

        .page-print & {
            float: none;
            background-color: @primary__color;
            display: block;
            text-align: left;
            padding-top: 25px;
            padding-bottom: 25px;
            padding-left: 30px;
            padding-right: 30px;
            margin-bottom: 40px;

            img {
                margin: 0;
            }
        }
    }

    .page-main {
        > .page-title-wrapper {
            .page-title + .action {
                margin-top: @indent__l;
            }
        }
    }

    //
    //  All Page Title
    //  ---------------------------------------------

    .page-title {
        .lib-css(font-weight, @font-weight__bold);
    }

    .action.skip {
        &:not(:focus) {
            &:extend(.abs-visually-hidden all);
        }

        &:focus {
            .lib-css(background, @color-gray94);
            .lib-css(padding, @indent__s);
            box-sizing: border-box;
            left: 0;
            position: absolute;
            text-align: center;
            top: 0;
            width: 100%;
            z-index: 15;
        }
    }

    .action-skip-wrapper {
        height: 0;
        position: relative;
    }

    //
    //  Global notice
    //  ---------------------------------------------

    .message.global {
        p {
            margin: 0;
            .lib-icon-font(
                @_icon-font-content: @ico-lg-information,
                @_icon-font-color: @message-global-note__color,
                @_icon-font-size: 18px,
                @_icon-font-line-height: 100%,
                @_icon-font-position: before,
                @_icon-font-vertical-align: top,
                @_icon-font-display: block
            );

            &:before {
                margin-right: @indent__s;
            }
        }

        &.noscript,
        &.cookie {
            background: @message-global-note__background;
            color: @message-global-note__color;
            margin: 0;

            a {
                text-decoration: underline;
            }

            > div {
                top: 0;
                position: unset;
                padding-top: @indent__s;
                padding-bottom: @indent__s;
                overflow: hidden;
            }
        }

        &.cookie {
            z-index: 3;

            p {
                float: left;
                margin-bottom: @indent__xs;
                margin-top: 7px;
            }

            .actions {
                float: right;
            }
        }

        &.demo {
            .lib-message(@_message-type: global-caution);
            margin-bottom: 0;
            text-align: center;
        }
    }

    //
    //  Footer
    //  ---------------------------------------------

    .page-footer {
        margin-top: auto;

        .footer-social {
            .lib-css(background-color, @header__background-color);
            padding: @indent__l 0 @indent__xl;

            .icons {
                color: @color-white;

                label {
                    display: block;
                    margin-bottom: 35px;
                    font-size: 24px;
                }
            }
        }

        .footer-links {
            .lib-css(background-color, @footer__background-color);
            overflow: hidden;

            ul {
                .lib-list-reset-styles();

                li {
                    a {
                        .lib-link(
                            @_link-color: @primary__color__light,
                            @_link-text-decoration: none,
                            @_link-color-visited: @primary__color__light,
                            @_link-text-decoration-visited: none,
                            @_link-color-hover: @primary__color__light,
                            @_link-text-decoration-hover: none,
                            @_link-color-active: @primary__color__light,
                            @_link-text-decoration-active: none
                        );
                    }
                }
            }
        }
    }

    .footer-social {
        .icons {
            a {
                vertical-align: middle;
                margin: 0 @indent__s;
                display: inline-block;

                &:not(.image) {
                    .lib-icon-font(
                        @_icon-font-content: @ico-lg-sns_facebook,
                        @_icon-font-color: @color-white,
                        @_icon-font-color-hover: @color-white,
                        @_icon-font-color-active: @color-white,
                        @_icon-font-size: 40px,
                        @_icon-font-line-height: 100%,
                        @_icon-font-text-hide: true,
                        @_icon-font-position: before
                    );
                }

                &.facebook {
                    .lib-icon-font-symbol(
                            @ico-lg-sns_facebook,
                        @_icon-font-position: before
                    );
                }

                &.twitter {
                    .lib-icon-font-symbol(
                            @ico-lg-sns_twitter,
                        @_icon-font-position: before
                    );
                }

                &.intagram {
                    .lib-icon-font-symbol(
                            @ico-lg-sns_insta,
                        @_icon-font-position: before
                    );
                }

                &.pinterest {
                    .lib-icon-font-symbol(
                            @ico-lg-sns_pin,
                        @_icon-font-position: before
                    );
                }

                &.youtube {
                    .lib-icon-font-symbol(
                            @ico-lg-sns_youtube,
                        @_icon-font-position: before
                    );
                }

                &.google-plus {
                    .lib-icon-font-symbol(
                            @ico-lg-sns_google,
                        @_icon-font-position: before
                    );
                }

                &.email {
                    .lib-icon-font-symbol(
                            @ico-lg-sns_mail,
                        @_icon-font-position: before
                    );
                }

                &.image {
                    img {
                        display: block;
                    }
                }
            }
        }
    }

    .bottom {
        &.content {
            .lib-css(background-color, @header__background-color);
            color: @header-icons-color;
            font-size: 24px;
            padding-top: 25px;

            ul {
                .lib-list-inline();

                li {
                    .lib-list-reset-styles();
                    .abs-bar(before,@color-white, 0 15px,@font-weight__regular);

                    a {
                        .lib-link(
                            @_link-color: @color-white,
                            @_link-color-hover: @color-white,
                            @_link-color-visited: @color-white,
                            @_link-color-active: @color-white
                        );
                    }

                    &:first-child {
                        &:before {
                            display: none;
                        }
                    }
                }
            }

            .footer-banner {
                img {
                    display: block;
                }
            }

            .copyright {
                display: block;
                line-height: 1.1;
                font-size: 24px;
                margin: @indent__l 0;

                & + a {
                    margin-bottom: 35px;
                    display: block;
                    line-height: 1.1;
                    .lib-link(
                        @_link-color: @color-white,
                        @_link-text-decoration: none,
                        @_link-color-visited: @color-white,
                        @_link-color-hover: @color-white,
                        @_link-color-active: @color-white
                    );

                    & + span {
                        margin-bottom: 35px;
                        display: block;
                    }
                }
            }
        }
    }

    .footer {
        &.content {
            .switcher-store {
                margin: 0 0 30px;
            }
        }
    }

    .page-header,
    .page-footer {
        .switcher {
            margin-right: 10px;

            .options {
                .lib-dropdown(
                @_dropdown-actions-padding: 0,
                @_dropdown-list-item-padding: 0,
                @_dropdown-toggle-icon-content: @icon-down,
                @_dropdown-toggle-active-icon-content: @icon-up,
                @_icon-font-text-hide: true,
                @_icon-font-size: 22px,
                @_icon-font-line-height: 22px,
                @_dropdown-list-min-width: 160px
                );

                ul.dropdown {
                    a {
                        display: block;
                        padding: 8px;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }

            li {
                font-size: @font-size__s;
                margin: 0;
            }

            .label {
                &:extend(.abs-visually-hidden all);
            }

            strong {
                font-weight: @font-weight__regular;
            }
        }
    }

    //
    //  Widgets
    //  ---------------------------------------------

    .sidebar {
        .widget.block:not(:last-child),
        .widget:not(:last-child) {
            &:extend(.abs-margin-for-blocks-and-widgets all);
        }
    }

    .widget {
        clear: both;

        .block-title {
            &:extend(.abs-block-title all);
        }
    }

    .page-header,
    .page-footer {
        .widget.block {
            .lib-css(margin, @indent__base 0);
        }
    }

    .no-display {
        &:extend(.abs-no-display all);
    }

    //
    //  Calendar
    //  ---------------------------------------------

    .ui-datepicker {
        td {
            padding: 0;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .message.global {
        &.noscript,
        &.cookie {
            padding-left: @layout__width-xs-indent;
            padding-right: @layout__width-xs-indent;
        }
    }
    .information {
        font-size: @font-size__s;

        &:before {
            font-size: @font-size__s;
            top: 3px;
        }
    }

    .page-header {
        border-bottom-width: 2px;
    }

    //
    //  All Page Title
    //  ---------------------------------------------

    .page-title-wrapper {
        margin-bottom: 13.5px;
    }

    .page-title {
        .lib-css(font-size, @mobile-xs-page-title-font-size);
        margin-bottom: 5px;
    }

    main {
        > .page-title-wrapper {
            padding-top: @indent__s;
            margin-bottom: @indent__xs;
        }
    }

    //
    //  Header
    //  ---------------------------------------------
    .header {
        &.content {
            padding-top: @indent__s;
            padding-bottom: @indent__s;
        }
    }

    .logo {
        img {
            width: 76px;
        }
    }

    //
    //  Footer
    //  ---------------------------------------------
    .bottom {
        &.content {
            padding-top: 15px;

            .left {
                font-size: @font-size__s;
            }

            ul {
                li {
                    &:before {
                        padding: 0 @indent__xs;
                    }
                }
            }

            .copyright {
                margin: @indent__l/2 0;
                font-size: @font-size__s;

                & + a {
                    margin-bottom: @indent__base;

                    & + span {
                        margin-bottom: @indent__base;
                    }
                }
            }

            .footer-banner {
                margin-left: -@layout__width-xs-indent;
                margin-right: -@layout__width-xs-indent;
            }
        }
    }

    .footer.content {
        .footer-social {
            padding: @indent__l/2 0 @indent__base;

            .icons {
                label {
                    font-size: @font-size__s;
                    margin-bottom: 15px;
                }

                a {
                    &:before {
                        font-size: 20px;
                    }
                }
            }
        }

        .footer-links {
            .lists {
                .list {
                    margin-left: -@layout__width-xs-indent;
                    margin-right: -@layout__width-xs-indent;

                    .links {
                        strong {
                            padding-left: @layout__width-xs-indent;
                            padding-right: @layout__width-xs-indent;
                            font-size: 13px;
                            padding-top: @indent__s;
                            padding-bottom: @indent__s;
                            border-bottom-width: 1px;

                            &:after {
                                font-size: @font-size__s;
                                line-height: 16px;
                            }
                        }

                        ul {
                            li {
                                border-bottom-width: 1px;

                                a {
                                    padding: @indent__s 0 @indent__s 25px;
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .policy-text {
        padding: @indent__l/2 0 @indent__base;

        p {
            margin-bottom: @indent__l/2;
            font-size: @font-size__s;
        }

        hr {
            border-top-width: 1px;
            margin-top: 25px;
            margin-bottom: 25px;
        }
    }

    //
    //  Back Top Button
    //  ---------------------------------------------

    .back-top {
        padding: 5px 8.5px;
        border-width: 1px;

        &:before {
            font-size: 12.5px;
        }

        &.end {
            top: -32px;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .message.global {
        &.noscript,
        &.cookie {
            padding-left: @layout__width-xs-indent * 2;
            padding-right: @layout__width-xs-indent * 2;
        }
    }

    .breadcrumbs {
        display: none;
    }

    .information {
        font-size: @font-size__s*2;

        &:before {
            font-size: 24px;
            position: relative;
            top: 6px;
        }
    }

    //
    //  All Page Title
    //  ---------------------------------------------

    .page-title-wrapper {
        margin-bottom: 27px;
    }

    .page-title {
        .lib-css(font-size, @mobile-page-title-font-size);
        margin-bottom: 10px;
        display: inline-block;
    }

    main {
        > .page-title-wrapper {
            padding-top: @indent__base;
            margin-bottom: @indent__s;

        }
    }

    //
    //  Header
    //  ---------------------------------------------

    .logo {
        img {
            width: 152px;
        }
    }

    //
    //  Footer
    //  ---------------------------------------------
    .bottom {
        &.content {
            text-align: center;

            .bottom.container .left {
                overflow: hidden;
            }

            .footer-banner {
                margin-left: -@layout__width-xs-indent * 2;
                margin-right: -@layout__width-xs-indent * 2;
            }
        }
    }

    .footer.content {
        .footer-social {
            .icons {
                text-align: center;
            }
        }

        .footer-links {
            .lists {
                .list {
                    margin-left: -@layout__width-xs-indent * 2;
                    margin-right: -@layout__width-xs-indent * 2;

                    .links {
                        strong {
                            display: block;
                            padding-left: @layout__width-xs-indent * 2;
                            padding-right: @layout__width-xs-indent * 2;
                            background: @color-white;
                            font-size: 26px;
                            font-weight: @font-weight__regular;
                            padding-top: @indent__base;
                            padding-bottom: @indent__base;
                            border-bottom: 2px solid @secondary__color__light;

                            .lib-icon-font(
                                @_icon-font-content: @icon-down,
                                @_icon-font-color: @primary__color,
                                @_icon-font-color-hover: @primary__color,
                                @_icon-font-color-active: @primary__color,
                                @_icon-font-size: 24px,
                                @_icon-font-line-height: 37px,
                                @_icon-font-position: after,
                                @_icon-font-display: block
                            );

                            & + ul {
                                display: none;
                            }

                            &:after {
                                float: right;
                                font-weight: @font-weight__bold;
                            }

                            &.active {
                                color: @active__color;
                                .lib-icon-font-symbol(
                                    @_icon-font-content: @icon-up,
                                    @_icon-font-position: after
                                );
                            }
                        }

                        ul {
                            li {
                                margin: 0;
                                border-bottom: 2px solid @secondary__color__light;
                                background: @secondary__color__lighter;

                                a {
                                    display: block;
                                    padding: @indent__base 0 @indent__base 50px;
                                    font-size: 26px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .policy-text {
        hr {
            border-top-width: 2px;
            margin-top: 55px;
            margin-bottom: 55px;
        }
    }

    //
    //  Back Top Button
    //  ---------------------------------------------

    .page-bottom {
        position: relative;
        z-index: 999;
    }

    .back-top {
        position: fixed;
        right: 0;
        bottom: 0;
        padding: 16px;
        background: #f4f5f7;
        border: 2px solid #a8a9ac;

        .lib-icon-font(
            @_icon-font-content: @icon-up,
            @_icon-font-color: @primary__color,
            @_icon-font-size: 25px,
            @_icon-font-line-height: 100%,
            @_icon-font-text-hide: true,
            @_icon-font-position: before
        );

        &.end {
            position: absolute;
            top: -61px;
            bottom: auto;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    html:not(.ie11),
    body {
        height: 100%; // Stretch screen area for sticky footer
    }

    html.ie11 {
        .page-footer {
            overflow: hidden;
        }
    }

    .page-wrapper {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction(column);
        min-height: 100%; // Stretch content area for sticky footer

        > .breadcrumbs,
        > .top-container,
        > .widget {
            box-sizing: border-box;
            width: 100%;
        }

        .ie10 &,
        .ie11 & {
            height: 100%;
        }
    }

    .header {
        &.content {
            &:extend(.abs-add-clearfix-desktop all);

            .header-right {
                float: right;

                > .header.links {
                    font-size: 0;
                    .lib-list-inline();
                    margin-left: auto;
                    margin-top: @indent__s;
                    float: left;

                    > li {
                        font-size: @font-size__l;
                        padding: 0 @indent__s;
                        margin: 0;

                        &.welcome,
                        a {
                            line-height: 30px;
                            color: @color-white;
                            text-decoration: none;
                        }

                        &.welcome {
                            a {
                                .lib-css(padding-left, @indent__xs);
                            }
                        }

                        &.customer-welcome {
                            display: none;
                        }

                        &.authorization-link {
                            &:not(.account-login) {
                                font-weight: @font-weight__bold;
                                
                                a {
                                    .lib-icon-font(
                                        @_icon-font-content: @ico-lg-signin,
                                        @_icon-font-color: @minicart-icons-color,
                                        @_icon-font-color-hover: @minicart-icons-color-hover,
                                        @_icon-font-color-active: @minicart-icons-color,
                                        @_icon-font-size: 32px,
                                        @_icon-font-line-height: 100%,
                                        @_icon-font-position: before,
                                        @_icon-font-vertical-align: top,
                                        @_icon-font-display: block
                                    );

                                    &:before {
                                        margin-right: 8px;
                                    }
                                }
                            }
                        }

                        &.account-login {
                            padding-left: 0;
                            .abs-bar(before,@primary__color__light,0 @indent__s 0 0,@font-weight__light);

                            & + .customer-welcome {
                                display: inline-block;
                                line-height: 30px;
                            }
                        }
                    }
                }
            }

            .customer-welcome {
                .lib-dropdown(
                    @_toggle-selector: ~'.action.switch',
                    @_options-selector: ~'ul',
                    @_dropdown-actions-padding: @indent__s 0,
                    @_dropdown-list-item-padding: 0 15px,
                    @_dropdown-toggle-icon-content: @icon-down,
                    @_dropdown-toggle-active-icon-content: @icon-up,
                    @_icon-font-text-hide: true,
                    @_icon-font-size: 10px,
                    @_icon-font-line-height: 30px,
                    @_dropdown-list-pointer-position: right,
                    @_dropdown-list-position-right: 0,
                    @_dropdown-list-z-index: 17,
                    @_dropdown-list-item-hover: false
                );

                li:extend(.switcher li all) {
                    a {
                        .lib-link(
                            @_link-color: @color-gray20,
                            @_link-text-decoration: none,
                            @_link-color-visited: @color-gray20,
                            @_link-text-decoration-visited: none,
                            @_link-color-hover: @color-gray20,
                            @_link-text-decoration-hover: none,
                            @_link-color-active: @color-gray20,
                            @_link-text-decoration-active: none
                        );
                        display: block;
                        line-height: 1;
                        padding: @indent__s 0 ;
                        border-bottom: 1px solid @secondary__color__lighter;
                    }

                    &:last-child {
                        a {
                            border-bottom: none;
                        }
                    }
                }

                .customer-name {
                    cursor: pointer;
                    color: @color-white;

                    &.active {
                        color: @primary__color__lightest;
                    }
                }

                .customer-menu {
                    display: none;
                }

                .action.switch {
                    .lib-button-reset();
                    .lib-css(color, @color-white);

                    &:after {
                        margin-left: @indent__xs;
                    }
                }

                .header.links {
                    min-width: 145px;

                    > li {
                        font-size: 16px;

                        a  {
                            color: @primary__color__light;
                        }
                    }
                }

                &.active {
                    .action.switch {
                        .lib-icon-font-symbol(
                            @_icon-font-content: @icon-up,
                            @_icon-font-position: after
                        );
                    }

                    .customer-menu {
                        display: block;
                    }
                }

                .greet {
                    display: none;
                }
            }
        }
    }

    .message.global.cookie {
        > div {
            display: table;
            width: 100%;
        }

        p {
            float: none !important;
            display: table-cell;
            vertical-align: middle;
            width: 80%;
        }

        .actions {
            float: none !important;
            display: table-cell;
            vertical-align: middle;
            text-align: right;
            width: 20%;
        }
    }

    //
    //  All Page Title
    //  ---------------------------------------------

    .page-title-wrapper {
        margin-bottom: 47px;
    }

    .page-title {
        .lib-css(font-size, @page-title-font-size);
        margin-bottom: 8px;
        display: inline-block;
    }

    .page-header {
        border-bottom: 1px solid #464646;
        margin-bottom: 0;

        .header.panel {
            &:extend(.abs-add-clearfix-desktop all);
        }

        .switcher {
            display: inline-block;
        }
    }

    .page-main {
        > .page-title-wrapper {
            .page-title {
                display: inline-block;
            }

            .page-title + .action {
                float: right;
                margin-top: @indent__base;
            }
        }
    }

    .page-title-wrapper + .page.messages {
        margin-top: -46px;
    }

    .logo {
        margin: 0 auto 0 0;
        float: left;

        img {
            max-height: inherit;
        }
    }

    //
    //  Footer
    //  ---------------------------------------------

    .footer {
        &.content {
            .block {
                float: right;
            }

            .switcher.store {
                display: inline-block;
                padding-right: 50px;
                vertical-align: top;
            }

            .footer-social {
                padding: @indent__base 0;
                text-align: right;

                .icons {
                    label {
                        display: inline-block;
                        vertical-align: middle;
                        font-size: 16px;
                        margin: 0;
                    }

                    a {
                        &:before {
                            font-size: 26px;
                        }

                        &.youtube,
                        &.google-plus,
                        &.email {
                            &:before {
                                font-size: 30px;
                            }
                        }

                    }
                }
            }

            .footer-links {
                padding: 75px 0 50px;

                .lists {
                    .list {
                        width: 100/4%;
                        float: left;

                        .links {
                            margin-bottom: @indent__l;
                        }

                        strong {
                            font-size: 22px;
                            display: block;
                            margin-bottom: @indent__xs;
                            word-wrap: break-word;
                        }

                        ul {
                            li {
                                margin-bottom: @indent__xs;
                            }
                        }
                    }
                }
            }
        }
    }

    .bottom {
        &.content {
            padding-top: @indent__base;
            padding-bottom: @indent__base;

            .container {
                display: table;
            }

            .left {
                width: 80%;
                display: table-cell;
                vertical-align: middle;
                font-size: @font-size__base;
            }

            .footer-banner {
                display: table-cell;
                vertical-align: middle;

                a {
                    float: right;
                }
            }

            ul {
                li {
                    &:before {
                        padding: 0 @indent__s;
                    }
                }
            }

            .copyright {
                margin: @indent__xs 0;
                font-size: @font-size__base;

                & + a {
                    margin: 0;

                    & + span {
                        margin: 0;
                    }
                }
            }
        }
    }

    .policy-text {
        padding: @indent__xl 0;

        hr {
            margin-top: @indent__l;
            margin-bottom: @indent__l;
        }

        p {
            font-size: @font-size__base;
            margin-bottom: @indent__base;
        }
    }

    //
    //  Back Top Button
    //  ---------------------------------------------

    .back-top {
        cursor: pointer;
        position: fixed;
        right: 0;
        bottom: 0;
        padding: @indent__base;
        background: fade(@primary__color,50%);
        z-index: 1;
        .lib-icon-font(
            @_icon-font-content: @icon-up,
            @_icon-font-color: @color-white,
            @_icon-font-size: 40px,
            @_icon-font-line-height: 100%,
            @_icon-font-text-hide: true,
            @_icon-font-position: before
        );

        &.end {
            bottom: 100px;
        }
    }

    .page-print {
        .page.messages {
            display: none;
        }

        .order-details-items {
            .product-item-details {
                padding-left: 0;
            }

            .order-title,
            .product-item-photo {
                display: none;
            }
        }

        .block-order-details-view {
            .box-title >* {
                .lib-font-size(20);
            }
        }
    }
}
