// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________
@product-list-hover-border-color: #e5e5e5;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .home-recommended-products {
        h2 {
            text-transform: uppercase;
            font-weight: @font-weight__bold;
            margin-top: 0;
        }

        .recommended-category-swiper .swiper-slide {
            width: auto !important;
        }

        ul {
            padding: 0;

            .category-info {
                margin: 0;
                cursor: pointer;

                &.active {
                    border-color: @active__color;

                    a,
                    a:hover,
                    a:active,
                    a:visited {
                        color: @active__color;
                    }
                }

                a {
                    .lib-link(
                        @_link-color: @primary__color__light,
                        @_link-text-decoration: none,
                        @_link-color-visited: @primary__color__light,
                        @_link-text-decoration-visited: none,
                        @_link-color-hover: @primary__color__light,
                        @_link-text-decoration-hover: none,
                        @_link-color-active: @primary__color__light,
                        @_link-text-decoration-active: none
                    );
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .home-recommended-products {
        margin-top: 37.5px;

        >.title {
            padding: 0 10px;

            h2 {
                font-size: 12px;
                margin-bottom: 12.5px;
            }
        }

        .recommended-category-swiper {
            margin-bottom: 17px;
        }

        ul {
            .category-info {
                border-bottom: 1.5px solid @secondary__color__lighter;

                &-title {
                    padding: 0 10px;

                    a {
                        font-size: 15px;
                    }
                }
            }
        }

        .recommended-products-swiper {
            padding: 0 5px;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .home-recommended-products {
        margin-top: 75px;

        >.title {
            padding: 0 20px;

            h2 {
                font-size: 24px;
                margin-bottom: 25px;
            }
        }

        .recommended-category-swiper {
            margin-bottom: 34px;
        }

        .recommended-product-area {
            margin: 0 !important;
        }

        .recommended-products-swiper {
            padding: 0 5px;
        }

        ul {
            .category-info {
                border-bottom: 3px solid @secondary__color__lighter;
                position: relative;

                &-title {
                    padding: 0 20px;

                    a {
                        font-size: 30px;
                        padding-bottom: 10px;
                    }
                }

                &.active {
                    a {
                        position: relative;
                    }
                }
            }
        }

        .products.wrapper {
            padding-top: 0 !important;
            margin-top: 0 !important;

            .products.list {
                margin: 0 !important;
            }

            .product-item {
                margin-top: 0 !important;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .home-recommended-products {
        margin-top: 155px;
        margin-bottom: 53px;

        h2 {
            font-size: 25px;
            text-align: center;
            margin-bottom: 35px;
        }

        .recommended-category-swiper {
            margin-bottom: 55px;
        }

        ul {
            display: block !important;
            text-align: center;
            margin-bottom: 0;

            .category-info {
                display: inline-block !important;

                &-title {
                    padding: 0 20px;

                    a {
                        font-size: 18px;
                    }
                }

                &.active {
                    a {
                        border-bottom: 2px solid;
                    }
                }
            }
        }

        .products.wrapper {
            padding: 0 !important;

            .products.list {
                margin: 0;
            }
        }
    }
}
