<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $_source  = $block->getSource() ?>
<?php if ($_source && $block->isDocomoMethod()): ?>
    
    
    <?php if ($block->creditNoteHasInterestFee() ): ?>
        <tr>
            <td class="label"><?php /* @escapeNotVerified */ echo __('DOCOMO Agio fee') ?><div id="loviit_administration_fee_adv"></div></td>
            <td>
                <span class="price" ><?php echo $block->getInterestFee()?></span>
                
            </td>
        </tr>
    <?php endif; ?>
    <?php if ($block->creditNoteHasAdministrationFee() ): ?>
        <tr>
            <td class="label"><?php /* @escapeNotVerified */ echo __('DOCOMO Administration fee') ?><div id="loviit_administration_fee_adv"></div></td>
            <td>
                <span class="price" ><?php echo $block->getCreditMemoAdministrationFee()?></span>
                
            </td>
        </tr>
    <?php endif; ?>
<?php endif; ?>
