<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php if ($detailedInfoGroup = $block->getGroupChildNames('detailed_info', 'getChildHtml')):?>
    <div class="product info detailed">
        <?php $layout = $block->getLayout(); ?>
        <div class="product data items">
            <?php $titleHtml= ''; $contentHtml = '';?>
            <?php foreach ($detailedInfoGroup as $name):?>
                <?php
                    $html = $layout->renderElement($name);
                    if (!trim($html)) {
                        continue;
                    }
                    $alias = $layout->getElementAlias($name);
                    $label = $block->getChildData($alias, 'title');
                    $cssClass = $block->getChildData($alias, 'css_class');
                    $alias = str_replace('.','-',$alias);

                    $titleHtml .= '<div class="data item title" aria-labeledby="tab-label-'.$alias.'-title" id="tab-label-'.$alias.'">';
                    $titleHtml .= '<a class="data switch" href="#'.$alias.'" id="tab-label-'.$alias.'-title">';
                    $titleHtml .= $label;
                    $titleHtml .= '</a></div>';

                    $contentHtml .= '<div class="data item content '.$cssClass.'" id="'.$alias.'">';
                    $contentHtml .= $html;
                    $contentHtml .='</div>';
                ?>
                <?php endforeach;?>
            <div class="titles">
                <?= $titleHtml;?>
            </div>
            <div class="contents">
                <?= $contentHtml;?>
            </div>
        </div>
    </div>
<?php endif; ?>
