<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product view template
 *
 * @see \Magento\Catalog\Block\Product\View\Description
 */
?>
<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_product = $block->getProduct();
$_call = $block->getAtCall();
$_code = $block->getAtCode();
$_className = $block->getCssClass();
$_attributeLabel = $block->getAtLabel();
$_attributeType = $block->getAtType();
$_attributeAddAttribute = $block->getAddAttribute();

$renderLabel = true;
// if defined as 'none' in layout, do not render
if ($_attributeLabel == 'none') {
    $renderLabel = false;
}

$_attributeLabel = $_product->getResource()->getAttribute($_code)->getStoreLabel();

if ($_attributeType && $_attributeType == 'text') {
    $_attributeValue = ($_helper->productAttribute($_product, $_product->$_call(), $_code)) ? $_product->getAttributeText($_code) : '';
} else {
    $_attributeValue = $_helper->productAttribute($_product, $_product->$_call(), $_code);
}
?>
<?php if ($_attributeValue): ?>
<span class="product-item-energy-class">
    <?php
    $html = '';
    switch($_attributeValue)
    {
        case 'A+++' :
            $html .= '<span class="product-item-energy-class-'.$_product->getId().'">'.$_attributeLabel.'</span>';
            $html .= '<img class="product-item-energy-img-'.$_product->getId().'" src="'.$block->getViewFileUrl('images/energy01.png').'"/>';
            break;
        case 'A++' :
            $html .= '<span class="product-item-energy-class-'.$_product->getId().'">'.$_attributeLabel.'</span>';
            $html .= '<img class="product-item-energy-img-'.$_product->getId().'" src="'.$block->getViewFileUrl('images/energy02.png').'"/>';
            break;
        case 'A+' :
            $html .= '<span class="product-item-energy-class-'.$_product->getId().'">'.$_attributeLabel.'</span>';
            $html .= '<img class="product-item-energy-img-'.$_product->getId().'" src="'.$block->getViewFileUrl('images/energy03.png').'"/>';
            break;
        case 'A' :
            $html .= '<span class="product-item-energy-class-'.$_product->getId().'">'.$_attributeLabel.'</span>';
            $html .= '<img class="product-item-energy-img-'.$_product->getId().'" src="'.$block->getViewFileUrl('images/energy04.png').'"/>';
            break;
        case 'B' :
            $html .= '<span class="product-item-energy-class-'.$_product->getId().'">'.$_attributeLabel.'</span>';
            $html .= '<img class="product-item-energy-img-'.$_product->getId().'" src="'.$block->getViewFileUrl('images/energy05.png').'"/>';
            break;
        case 'C' :
            $html .= '<span class="product-item-energy-class-'.$_product->getId().'">'.$_attributeLabel.'</span>';
            $html .= '<img class="product-item-energy-img-'.$_product->getId().'" src="'.$block->getViewFileUrl('images/energy06.png').'"/>';
            break;
        case 'D' :
            $html .= '<span class="product-item-energy-class-'.$_product->getId().'">'.$_attributeLabel.'</span>';
            $html .= '<img class="product-item-energy-img-'.$_product->getId().'" src="'.$block->getViewFileUrl('images/energy07.png').'"/>';
            break;
        case 'E' :
            $html .= '<span class="product-item-energy-class-'.$_product->getId().'">'.$_attributeLabel.'</span>';
            $html .= '<img class="product-item-energy-img-'.$_product->getId().'" src="'.$block->getViewFileUrl('images/energy08.png').'"/>';
            break;
        default:
            $html = '';
            break;
    }
    echo $html;
    ?>
</span>
<?php endif; ?>