<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<!-- Product Detail Area -->

<div class="detail_guide_anchors">
    <div class="inner">
        <button type="button" class="openner"><span><?= __('link open');?></span></button>
        <ul class="anchors">
            <li class="on"><a href="javascript:void(0)" class="anchor p1"><?= __('Features');?></a></li>
            <li><a href="javascript:void(0)" class="anchor p2"><?= __('Tech Specs');?></a></li>
            <li><a href="javascript:void(0)" class="anchor p3"><?= __('Support');?></a></li>
            <li><span class="anchor p4"><?= __('Review');?></span></li>
        </ul>
        <span class="ico"></span>
    </div>
    <span class="dimmed"></span>
</div>

<div class="detail_an_contents">
    <div class="detail_content" id="detail_guide_to_feature">
        <div class="cont feature"><?= $block->getChildHtml('new.features.tab'); ?></div>
    </div>
    <div class="detail_content" id="detail_guide_to_tech">
        <div class="cont tech"><?= $block->getChildHtml('new.specifications.tab'); ?></div>
    </div>
    <div class="detail_content" id="detail_guide_to_support">
        <div class="cont support"><?= $block->getChildHtml('new.support.tab'); ?></div>
    </div>
    <div class="detail_content" id="detail_guide_to_review" style="display: none;">
        <div class="cont review"></div>
    </div>
</div>

<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Catalog/js/feature_fixtab": {}
        }
    }
</script>



