<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product view template
 *
 * @var $block \Magento\Catalog\Block\Product\View
 */
?>
<?php $_helper = $this->helper('Magento\Catalog\Helper\Output'); ?>
<?php $_product = $block->getProduct(); ?>

<div class="product-add-form">
    <form data-product-sku="<?= $block->escapeHtml($_product->getSku()) ?>"
          action="<?= /* @NoEscape */ $block->getSubmitUrl($_product) ?>" method="post"
          id="product_addtocart_form"<?php if ($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
        <input type="hidden" name="product" value="<?= /* @escapeNotVerified */ $_product->getId() ?>" />
        <input type="hidden" name="selected_configurable_option" value="" />
        <input type="hidden" name="related_product" id="related-products-field" value="" />
        <?= $block->getBlockHtml('formkey') ?>
        <?= $block->getChildHtml('form_top') ?>
        <?php if (!$block->hasOptions()):?>
            <?= $block->getChildHtml('product_info_form_content') ?>
        <?php else:?>
            <?php if ($block->getOptionsContainer() == 'container1'):?>
                <?= $block->getChildChildHtml('options_container') ?>
            <?php endif;?>
        <?php endif; ?>

        <?php if ($block->hasOptions() && $block->getOptionsContainer() == 'container2'):?>
            <?= $block->getChildChildHtml('options_container') ?>
        <?php endif;?>
        <?= $block->getChildHtml('form_bottom') ?>
    </form>
    <?php
    $productEnergyDocId = $_product->getDocId();
    $productEnergyOriginalName = $_product->getData('original_name_b1_a1');
    $productEnergyFileName = $_product->getFileName();
    $productEnergyTc = $_product->getTc();
    $productEnergyGsriDoc = $_product->getGsriDoc();

    $productEnergyDocId2 = $_product->getDocId2();
    $productEnergyOriginalName2 = $_product->getData('original_name_b1_a1_2');
    $productEnergyFileName2 = $_product->getFileName2();
    $productEnergyTc2 = $_product->getTc2();
    $productEnergyGsriDoc2 = $_product->getGsriDoc2();
    ?>
    <form name="form-product-fitche-<?php echo $_product->getId()?>" id="form-product-fitche-<?php echo $_product->getId()?>" method="get" target="_blank">
        <input type="hidden" name="DOC_ID" value="<?php echo $productEnergyDocId2?>">
        <input type="hidden" name="ORIGINAL_NAME_b1_a1" value="<?php echo $productEnergyOriginalName2?>">
        <input type="hidden" name="FILE_NAME" value="<?php echo $productEnergyFileName2?>">
        <input type="hidden" name="TC" value="<?php echo $productEnergyTc2?>">
        <input type="hidden" name="GSRI_DOC" value="<?php echo $productEnergyGsriDoc2?>">
    </form>
    <form name="form-energy-label-<?php echo $_product->getId()?>" id="form-energy-label-<?php echo $_product->getId()?>" method="get" target="_blank">
        <input type="hidden" name="DOC_ID" value="<?php echo $productEnergyDocId?>">
        <input type="hidden" name="ORIGINAL_NAME_b1_a1" value="<?php echo $productEnergyOriginalName?>">
        <input type="hidden" name="FILE_NAME" value="<?php echo $productEnergyFileName?>">
        <input type="hidden" name="TC" value="<?php echo $productEnergyTc?>">
        <input type="hidden" name="GSRI_DOC" value="<?php echo $productEnergyGsriDoc?>">
    </form>
    <script>
        require(['jquery'],function ($) {
            $(document).ready(function() {
                $('.product-item-energy-class-<?php echo $_product->getId()?>').click(function(){
                    document.forms['form-product-fitche-<?php echo $_product->getId()?>'].action='https://www.lg.com/lgecs.downloadFile.ldwf';
                    document.forms['form-product-fitche-<?php echo $_product->getId()?>'].target='_blank';
                    document.forms['form-product-fitche-<?php echo $_product->getId()?>'].submit();
                });

                $('.product-item-energy-img-<?php echo $_product->getId()?>').click(function(){
                    document.forms['form-energy-label-<?php echo $_product->getId()?>'].action='https://www.lg.com/lgecs.downloadFile.ldwf';
                    document.forms['form-energy-label-<?php echo $_product->getId()?>'].target='_blank';
                    document.forms['form-energy-label-<?php echo $_product->getId()?>'].submit();
                });
            });
        });
    </script>
</div>
<script>
    require([
        'jquery',
        'priceBox'
    ], function($){
        var dataPriceBoxSelector = '[data-role=priceBox]',
            dataProductIdSelector = '[data-product-id=<?= $block->escapeHtml($_product->getId()) ?>]',
            priceBoxes = $(dataPriceBoxSelector + dataProductIdSelector);

        priceBoxes = priceBoxes.filter(function(index, elem){
            return !$(elem).find('.price-from').length;
        });

        priceBoxes.priceBox({'priceConfig': <?= /* @escapeNotVerified */ $block->getJsonConfig() ?>});
    });
</script>
