// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@active-nav-indent: 54px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .submenu .sub-contents > strong,
    .category-left-banner,
    .header.content .links,
    .panel.header .switcher {
        display: none;
    }

    .nav-sections {
        .lib-css(background, @navigation__background);
    }

    .nav-toggle {
        .lib-icon-font(
                @icon-menu,
            @_icon-font-size: 28px,
            @_icon-font-color: @header-icons-color,
            @_icon-font-color-hover: @header-icons-color-hover
        );
        .lib-icon-text-hide();
        cursor: pointer;
        display: block;
        font-size: 0;
        left: @layout__width-xs-indent * 2;
        position: absolute;
        top: 35px;
        z-index: 14;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .navigation {
        padding: 0;

        .all-banner {
            display: none;
        }

        .parent {
            .level-top {
                position: relative;
                .lib-icon-font(
                    @_icon-font-content: @icon-down,
                    @_icon-font-color: @primary__color,
                    @_icon-font-color-hover: @primary__color,
                    @_icon-font-color-active: @primary__color,
                    @_icon-font-size: 24px,
                    @_icon-font-position: after,
                    @_icon-font-display: block
                );

                &:after {
                    float: right;
                    font-weight: @font-weight__bold;
                }

                &.ui-state-active {
                    .lib-icon-font-symbol(
                        @_icon-font-content: @icon-up,
                        @_icon-font-position: after
                    );
                }
            }
        }

        .level0 {
            > .level-top {
                &.ui-state-active {
                    color: @active__color;
                }
            }
        }

        .level1 {
            &.submenu {
                > li {
                    background: @color-white;

                    & + li {
                        border-top: none;

                        a {
                            padding-top: @submenu__padding-top /2;
                        }
                    }

                    a {
                        padding-left: @layout__width-xs-indent * 2 + @indent__base + @indent__base;
                    }
                }
            }
        }
    }

    .nav-sections {
        -webkit-overflow-scrolling: touch;
        .lib-css(transition, left .3s, 1);
        height: 100%;
        left: -80%;
        left: calc(~'-1 * (100% - @{active-nav-indent})');
        overflow: auto;
        position: fixed;
        top: 0;
        width: 80%;
        width: calc(~'100% - @{active-nav-indent}');

        .switcher {
            border-top: 1px solid @color-gray82;
            font-size: 1.6rem;
            font-weight: @font-weight__bold;
            margin: 0;
            padding: .8rem 3.5rem .8rem 2rem;

            .label {
                display: block;
                margin-bottom: @indent__xs;
            }

            &:last-child {
                border-bottom: 1px solid @color-gray82;
            }
        }

        .switcher-trigger {
            strong {
                position: relative;
                .lib-icon-font(
                    @_icon-font-content: @icon-down,
                    @_icon-font-size: 42px,
                    @_icon-font-position: after,
                    @_icon-font-display: block
                );

                &:after {
                    position: absolute;
                    right: -40px;
                    top: -16px;
                }
            }

            &.active strong {
                .lib-icon-font-symbol(
                    @_icon-font-content: @icon-up,
                    @_icon-font-position: after
                );
            }
        }

        .switcher-dropdown {
            .lib-list-reset-styles();
            padding: @indent__s 0;
        }

        .header.links {
            .lib-list-reset-styles();

            li {
                margin: 0;
                border-bottom: @navigation-level0-item__border;

                > a {
                    display: block;
                    .lib-link(
                        @_link-color: @navigation-level0-item__color,
                        @_link-text-decoration: none,
                        @_link-text-decoration-visited: none,
                        @_link-text-decoration-hover: none,
                        @_link-text-decoration-active: none
                    );
                    font-weight: @navigation-level0-item__font-weight;
                    font-size: @navigation-level0-item__font-size;
                    padding: @navigation-level0-item__padding;
                }
            }
        }

        .nav-links {
            display: none;

            & + .nav-sections-item-content {
                display: block !important;
                margin-top: 0;
                background: @primary__color;
                position: relative;

                .menu-close {
                    position: absolute;
                    padding: @indent__base @layout__width-xs-indent*2;
                    top: 20px;
                    .lib-icon-font(
                            @icon-remove,
                        @_icon-font-size: 30px,
                        @_icon-font-line-height: 100%,
                        @_icon-font-color: @color-white,
                        @_icon-font-text-hide: true,
                        @_icon-font-position: after

                    );
                }

                .top.links {
                    .lib-list-reset-styles();
                    .lib-list-inline();
                    text-align: right;
                    padding-left: @layout__width-xs-indent * 2;
                    padding-right: @layout__width-xs-indent * 2;
                    padding-top: 42px;
                    padding-bottom: 42px;

                    li {
                        font-size: 26px;
                        color: @color-white;
                        margin: 0;
                        line-height: 100%;

                        &.authorization-link {
                            font-weight: @font-weight__bold;

                            &:not(.account-login) {
                                a {
                                    .lib-icon-font(
                                            @ico-lg-m_signin,
                                        @_icon-font-size: 28px,
                                        @_icon-font-line-height: 100%,
                                        @_icon-font-color: @color-white,
                                        @_icon-font-position: before
                                    );

                                    &:before {
                                        margin-right: @indent__s;
                                        margin-top: -9px;
                                    }
                                }
                            }
                        }

                        &.welcome {
                            & + .account-login {
                                .abs-bar(before,@color-white,0 @indent__base 0 15px,@font-weight__bold);
                            }
                        }

                        a {
                            .lib-link(
                                @_link-color: @color-white,
                                @_link-text-decoration: none,
                                @_link-color-visited: @color-white,
                                @_link-text-decoration-visited: none,
                                @_link-color-hover: @color-white,
                                @_link-text-decoration-hover: none,
                                @_link-color-active: @color-white,
                                @_link-text-decoration-active: none
                            );
                        }
                    }
                }
            }
        }
    }

    .nav-before-open {
        height: 100%;
        overflow-x: hidden;
        width: 100%;

        .page-wrapper {
            .lib-css(transition, left .3s, 1);
            height: 100%;
            left: 0;
            overflow: hidden;
            position: relative;
        }

        body {
            height: 100%;
            overflow: hidden;
            position: relative;
            width: 100%;
        }
    }

    .nav-open {
        .page-wrapper {
            left: 80%;
            left: calc(~'100% - @{active-nav-indent}');
        }

        .nav-sections {
            @_shadow: 0 0 5px 0 rgba(50, 50, 50, .75);

            .lib-css(box-shadow, @_shadow, 1);
            left: 0;
            z-index: 99;
        }

        .nav-toggle {
            &:after{
                background: rgba(0, 0, 0, @overlay__opacity);
                content: '';
                display: block;
                height: 100%;
                position: fixed;
                right: 0;
                top: 0;
                width: 100%;
                z-index: 1;
            }
        }
    }

    .nav-sections-items {
        .lib-clearfix();
        position: relative;
        z-index: 1;
    }

    .nav-sections-item-title {
        background: @navigation__background;
        border: solid @secondary__color__lighter;
        border-width: 0 0 4px;
        box-sizing: border-box;
        float: left;
        height: 110px;
        display: table;
        text-align: center;
        width: 50%;
        margin-top: 110px;

        > a {
            .lib-typography(
                @_font-size: 30px,
                @_font-weight: @font-weight__bold
            );

            .lib-link(
                @_link-color: @secondary__color__light,
                @_link-text-decoration: none,
                @_link-color-visited: @primary__color,
                @_link-text-decoration-visited: none,
                @_link-color-hover: @primary__color,
                @_link-text-decoration-hover: none,
                @_link-color-active: @primary__color,
                @_link-text-decoration-active: none
            );
            text-transform: uppercase;
            display: table-cell;
            vertical-align: middle;
            line-height: 1;
        }

        &.active {
            background: transparent;
            border-bottom-color: @primary__color;

            > a {
                color: @primary__color;
            }
        }

        .nav-sections-item-switch {
            &:hover {
                text-decoration: none;
            }
        }
    }

    .nav-sections-item-content {
        .lib-clearfix();
        box-sizing: border-box;
        float: right;
        margin-left: -100%;
        margin-top: 220px;
        width: 100%;

        &.active {
            display: block;
        }
    }

    .lib-main-navigation(
        @_nav__indent-side:  @layout__width-xs-indent * 2 + @indent__base
    );
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .nav-toggle {
        left: @layout__width-xs-indent;
        top: 18px;

        &:before {
            font-size: @font-size__base;
        }
    }

    .navigation {
        .parent {
            .level-top {
                &:after {
                    font-size: @font-size__s;
                    line-height: 18px;
                }
            }
        }

        .level1 {
            &.submenu {
                > li {
                    & + li {
                        a {
                            padding-top: @indent__xs;
                        }
                    }

                    a {
                        padding-left: @layout__width-xs-indent + @indent__s + @indent__s;
                    }
                }
            }
        }
    }

    .nav-sections {
        .header.links {
            li {
                border-bottom-width: 1px;

                > a {
                    font-size: @navigation-level0-item__font-size/2;
                    padding: @indent__s @layout__width-xs-indent;
                }
            }
        }

        .nav-links {
            & + .nav-sections-item-content {
                .menu-close {
                    padding: @indent__s @layout__width-xs-indent;
                    top: 6px;

                    &:after {
                        font-size: 15px;
                    }
                }

                .top.links {
                    padding-left: @layout__width-xs-indent;
                    padding-right: @layout__width-xs-indent;
                    padding-top: 17.5px;
                    padding-bottom: 17.5px;

                    li {
                        font-size: 13px;
                        line-height: 1.5;

                        &.authorization-link {
                            &:not(.account-login) {
                                a {
                                    &:before {
                                        margin-right: @indent__xs;
                                        font-size: @font-size__base;
                                        margin-top: -4px;
                                    }
                                }
                            }
                        }

                        &.welcome {
                            & + .account-login {
                                &:before {
                                    padding: 0 @indent__s 0 @indent__xs;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .nav-sections-item-title {
        border-width: 0 0 2px;
        height: 55px;
        margin-top: 55px;

        > a {
            font-size: 15px;
        }
    }

    .nav-sections-item-content {
        margin-top: 110px;
    }

    .lib-main-navigation(
        @_nav__indent-side: @layout__width-xs-indent + @indent__s,
        @_nav-level0-font-size: @navigation-level0-item__font-size/2,
        @_nav-level0-item-border: 1px solid @secondary__color__light,
        @_nav-level0-item-padding: @indent__s @layout__width-xs-indent,
        @_submenu-item__padding-top: @indent__s,
        @_submenu-item__padding-bottom: @indent__s
    );
}
//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .nav-toggle {
        display: none;
    }

    .nav-sections {
        .lib-vendor-prefix-flex-shrink(0);
        .lib-vendor-prefix-flex-basis(auto);
        margin-bottom: 15px;
        .lib-css(background, @navigation-desktop__background);

        &:after {
            content: '';
            display: block;
            background: @navigation-desktop-level0-item__active__border-color;
            height: 4px;
        }
    }

    .cms-home {
        .nav-sections {
            margin-bottom: 0;
        }
    }

    .nav-sections-item-title {
        display: none;
    }

    .nav-sections-item-content {
        display: block !important;
    }

    .nav-sections-item-content > * {
        display: none;
    }

    .nav-sections-item-content {
        > .navigation {
            display: block;
        }
    }

    .lib-main-navigation-desktop();

    .navigation {
        margin-bottom: -4px;

        > ul {
            margin-left: -25px;
        }

        .level0 {
            > .level-top {
                display: block;
                border-bottom: 4px solid @navigation-desktop-level0-item__active__border-color;

                &:hover, &.ui-state-focus, &.ui-state-active {
                    border-bottom-color: @navigation-desktop-level0-item__hover__background;
                }
            }

            &.active:hover {
                > .level-top {
                    color: @active__color;
                }
            }

            > .level1 {
                width: 25%;
                float: left;
            }

            .submenu {
                .level2 {
                    > a {
                        font-size: @font-size__base;
                        .lib-link(
                            @_link-color: @primary__color__light,
                            @_link-text-decoration: none,
                            @_link-color-visited: @primary__color__light,
                            @_link-text-decoration-visited: none,
                            @_link-color-hover: @active__color,
                            @_link-text-decoration-hover: none,
                            @_link-color-active: @active__color,
                            @_link-text-decoration-active: none
                        );
                    }
                }
            }
        }

        .level1 {
            > a {
                line-height: 1;
                .lib-icon-font(
                        @icon-next,
                    @_icon-font-size: @font-size__s,
                    @_icon-font-line-height: 100%,
                    @_icon-font-color: @active__color,
                    @_icon-font-color-hover: @active__color,
                    @_icon-font-color-active: @active__color,
                    @_icon-font-vertical-align: text-bottom,
                    @_icon-font-position: after
                );

                span {
                    vertical-align: middle;
                    line-height: 100%;
                }

                &:after {
                    font-weight: @font-weight__bold;
                    padding-left: @indent__xs;
                }
            }

            &.submenu {
                padding-left: @indent__s;
                margin-top: @indent__s;
            }
        }
    }

    .header.content .links,
    .panel.header .switcher {
        display: inline-block;
    }

    .submenu {
        .menu-div {
            .level0 {
                display: block;
            }
        }

        .sub-contents {
            overflow: hidden;
            padding-top: 25px;
            padding-bottom: 25px;

            > strong {
                display: block;
                font-size: 22px;
                margin-bottom: 10px;
            }

            .category-left-banner {
                display: block;
                width: 61%;
                float: left;
                box-sizing: border-box;

                > ul {
                    .lib-list-inline();
                    margin-left: -@indent__xl;

                    li {
                        width: 25%;
                        box-sizing: border-box;
                        padding-left: @indent__xl;
                        margin: 0;
                        float: left;

                        a {
                            display: block;
                            padding: 0;

                            img {
                                display: block;
                            }

                            label {
                                display: block;
                                text-align: center;
                                margin-top: 10px;
                                font-size: @font-size__l;
                            }
                        }
                    }
                }

                & + .menu-div {
                    width: 39%;
                    box-sizing: border-box;
                    float: left;
                    text-align: left;
                    padding-left: 9.5%;

                    > ul {
                        display: inline-block;
                        text-align: left;
                        margin: auto;
                    }

                    .level1 {
                        width: 100%;
                    }
                }
            }
        }
    }
}
