<?php
/**
 * Created by PhpStorm.
 * User: jason
 * Date: 2018-08-23
 * Time: 오전 9:43
 */

/** @var \Eguana\Slider\Block\Banner\Content $block*/
$banner = $block->getBanner();

?>

<div class="banner-area banner-content-area">
    <div class="banner-content">
        <?=$block->contentFilter($banner->getContent())?>
    </div>
</div>