<?php
/**
 * Created by PhpStorm.
 * User: jason
 * Date: 2018-08-23
 * Time: 오전 9:43
 */

/** @var \Eguana\Slider\Block\Banner\Slide $block*/
/** @var \Eguana\Slider\Api\Data\SlideInterface $slide*/
$banner = $block->getBanner();
$slides = $block->getSlides();
$bannerId = $banner->getId();
?>
<?php if(count($slides)> 0):?>
    <div class="banner-area banner-slide-area">
        <div class="banner-content banner-slide-content">
            <?=$block->contentFilter($banner->getContent())?>
        </div>

        <div class="banner-slides">
            <div class="swiper-container swiper-container-<?=$bannerId?>" id="swiper-container-<?=$bannerId?>">
                <div class="swiper-wrapper swiper-wrapper-<?=$bannerId?>">
                    <?php foreach ($slides as $key => $slide):?>
                        <div class="swiper-slide slide-unit">
                            <img class="slide-img mb-slide-img" alt="<?=$slide->getImgAlt()?>" title="<?=$slide->getImgTitle()?>"  src="<?=$block->getSlideMobImgUrl($slide)?>"/>
                            <img class="slide-img slide-img" alt="<?=$slide->getImgAlt()?>" title="<?=$slide->getImgTitle()?>" src="<?=$block->getSlideImgUrl($slide)?>"/>

                            <div class="slide-width">
                                <div class="table">
                                    <div class="table-cell">
                                        <div class="slide-description"><?=$block->contentFilter($slide->getDescription())?></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php endforeach;?>
                </div>
                <?php if(count($slides)> 1):?>
                <!-- Add Arrows -->
                <div class="swiper-button-arrows">
                    <span class="swiper-button-next swiper-button-white swiper-button-next-<?=$bannerId?>"></span>
                    <span class="swiper-button-prev swiper-button-white swiper-button-prev-<?=$bannerId?>"></span>
                </div>
                <?php endif;?>
            </div>
            <!--        <!-- Add Pagination -->
            <?php if(count($slides)> 1):?>
            <div class="swiper-pagination">
                <div class="swiper-pagination-<?=$bannerId?>"></div>
                <span class="stop-autoplay swiper-autoplay-stop active swiper-autoplay-stop-<?=$bannerId?>"><span><?=__('stop');?></span></span>
                <span class="start-autoplay swiper-autoplay-start swiper-autoplay-start-<?=$bannerId?>"><span><?=__('start');?></span></span>
            </div>
            <?php endif;?>
        </div>

        <?php if(count($slides) > 0):?>
            <script>
                require(
                    [
                        'jquery',
                        'swiper'
                    ],function($,swiper){
                        "use strict";
                        var buttonWidth = 0;
                        var bannerSwiper = new swiper("#swiper-container-<?=$bannerId?>", {
                            slidesPerView: 1,
                            spaceBetween: <?=$banner->getPauseTimeBetweenTransitions()?>,
                            loop: true,
                            centeredSlides: true,
                            speed:<?=$banner->getSlideTransitionSpeed()?>,
                            pagination: {
                                el: '.swiper-pagination-<?=$bannerId?>',
                                clickable: true
                            },
                            autoplay: {
                                delay: <?=$banner->getSlideDelay()?>,
                                disableOnInteraction: false
                            },

                            navigation: {
                                nextEl: '.swiper-button-next-<?=$bannerId?>',
                                prevEl: '.swiper-button-prev-<?=$bannerId?>'
                            },
                            <?php if($block->isSlideFadeEffect()):?>
                            effect: 'fade'
                            <?php endif;?>
                        });

                        //button Width
                        $('.swiper-slide-duplicate button').css('opacity','1');
                        buttonWidth = parseInt($('.swiper-slide-duplicate button').outerWidth()) + 1;

                        $(window).resize(function(){
                            $('.swiper-slide button').css('width','auto');
                            $('.swiper-slide-duplicate button').css('opacity','1');
                            buttonWidth = parseInt($('.swiper-slide-duplicate button').outerWidth()) + 1;
                        });

                        afterSlideChange();

                        bannerSwiper.on('slideChangeTransitionStart',function(){
                            afterSlideChange();
                        });

                        $('.stop-autoplay').click(function () {
                            bannerSwiper.autoplay.stop();
                            $(this).removeClass('active');
                            $('.swiper-autoplay-start').addClass('active');
                        });

                        $('.start-autoplay').click(function () {
                            bannerSwiper.autoplay.start();
                            $(this).removeClass('active');
                            $('.swiper-autoplay-stop').addClass('active');
                        });

                        function afterSlideChange() {
                            var html = $(bannerSwiper.slides);
                            html.find('.text h2').css('opacity','0').animate({opacity: '1'}, 1000);
                            html.find('.text h3').css('opacity','0').animate({opacity: '1'}, 1000);
                            html.find('.text img').css('opacity','0').animate({opacity: '1'}, 1000);
                            html.find('.text button').css('width','0').animate({opacity: '1',width: buttonWidth}, 1000);
                        }
                    });

            </script>
        <?php endif;?>
    </div>
<?php endif;?>