<?php
/**
 * Created by PhpStorm.
 * User: jason
 * Date: 2018-08-23
 * Time: 오전 9:43
 */


/** @var \Eguana\Slider\Block\Banner\SortPrint $block*/
/** @var \Eguana\Slider\Api\Data\SlideInterface $slide*/
$banner = $block->getBanner();
$slides = $block->getSlides();
?>
<div class="banner-area banner-sort-print-area">
    <div class="banner-content banner-sort-print-content">
        <?=$block->contentFilter($banner->getContent())?>
    </div>

    <div class="banner-sorts">
        <ul>
            <?php $i = 1;?>
            <?php foreach ($slides as $key => $slide):?>
                <li class="motion0<?php echo $i; ?> product-banner" onclick="location.href='<?=$block->getSlideUrl($slide->getUrl())?>'">
                    <div class="thumb_bg">
                        <?php if($block->mobileImgExist($slide)):?>
                            <picture>
                                <source media="(max-width: <?=$block->getMobileImgWidth()?>px)" srcset="<?=$block->getSlideMobImgUrl($slide)?>">
                                <img class="slide-img" alt="<?=$slide->getImgAlt()?>" title="<?=$slide->getImgTitle()?>" src="<?=$block->getSlideImgUrl($slide)?>"/>
                            </picture>
                        <?php else:?>
                            <img class="slide-img" alt="<?=$slide->getImgAlt()?>" title="<?=$slide->getImgTitle()?>" src="<?=$block->getSlideImgUrl($slide)?>"/>
                        <?php endif;?>
                    </div>
                    <div class="slide-description"><?=$block->contentFilter($slide->getDescription())?></div>
                </li>
                <?php $i++?>
            <?php endforeach;?>
        </ul>
    </div>
</div>

