<div class='loviit_installments_table_wrap'>
	<!-- ko if: getInstallmentPlans().length == 0 && installmentTableIsLoading() == false -->
	<span class='message error'><!-- ko i18n: 'No installment plan configured'--><!-- /ko --></span>
	<!-- /ko -->
	<!-- ko if: getInstallmentPlans().length > 0 -->
	<table class='loviit_installments_table'>
		<tr>
			<th><!-- ko i18n: 'Number of installments'--><!-- /ko --></th>
			<!-- ko if: showMinimumDepositColumn() --> 			<th><!-- ko i18n: 'Minumum deposit'--><!-- /ko --></th> 	<!-- /ko -->
			<!-- ko if: showInterestColumn() --> 			<th><!-- ko i18n: 'Agio fee (%)'--><!-- /ko --></th> 	<!-- /ko -->
			<!-- ko if: showAdminFeeColumn() --> 	<th><!-- ko i18n: 'Administration Fee'--><!-- /ko --></th> 	<!-- /ko -->
			<!-- ko if: showDepositColumn() != '1' --> 			<th><!-- ko i18n: 'First Rate'--><!-- /ko --></th> 			<!-- /ko -->
			<!-- ko if: showDepositColumn() == '1' --> 			<th><!-- ko i18n: 'Deposit'--><!-- /ko --></th> 			<!-- /ko -->
			<th><!-- ko i18n: 'Other Rates'--><!-- /ko --></th>
			<!-- ko if: showDiscountColumn() --> <th><!-- ko i18n: 'Discount'--><!-- /ko --></th> <!-- /ko -->
			<th><!-- ko i18n: 'Total'--><!-- /ko --></th>
		</tr>
		<!-- ko foreach: { data: getInstallmentPlans(), as: 'plan' } -->
		<tr>
			<td>
	                    <input type="radio" data-bind="click: $parent.selectRate.bind($data,$parent), checked: $parent.selectedRate, attr: {name: 'installment_plan_'+$parent.getCode()}, value: plan.number_of_months" >
	                    <span data-bind="html: plan.number_of_months"></span>
			</td>
			<!-- ko if: $parent.showMinimumDepositColumn() -->
			<td data-bind="text: plan.minimum_deposit_formatted"></td>
			<!-- /ko -->
			<!-- ko if: $parent.showInterestColumn() -->
			<td data-bind="text: plan.interest"></td>
			<!-- /ko -->
			<!-- ko if: $parent.showAdminFeeColumn() -->
			<td data-bind="attr: {id: 'administration_fee_amount-' + plan.number_of_months}, text: plan.administration_fee_amount_formatted"></td>
			<!-- /ko -->
			<!-- ko if: $parent.showDepositColumn() != '1' -->
			<td data-bind="attr: {id: 'first_rate_amount-' + plan.number_of_months}, text: plan.first_rate_formatted"></td>
			<!-- /ko -->
			<!-- ko if: $parent.showDepositColumn() == '1' -->
			<td data-bind="text: plan.deposit_formatted"></td>
			<!-- /ko -->
			<td data-bind="attr: {id: 'second_rate_amount-' + plan.number_of_months}, text: plan.second_rate_formatted"></td>
			<!-- ko if: $parent.showDiscountColumn() --> 
	                <td data-bind="attr: {id: 'discount-' + plan.number_of_months}, text: plan.discount_formatted"></td>
	        <!-- /ko -->
			<td data-bind="attr: {id: 'total-' + plan.number_of_months}, text: plan.total_formatted"></td>
		</tr>
		<!-- /ko -->
	</table>
	<!-- /ko -->
</div>