<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Dashboard\Address $block */
?>
<div class="block block-dashboard-addresses">
    <div class="block-title">
        <strong><?= $block->escapeHtml(__('Address Book')) ?></strong>
        <a class="action edit" href="<?= $block->escapeUrl($block->getAddressBookUrl()) ?>"><span><?= $block->escapeHtml(__('Manage Addresses')) ?></span></a>
    </div>
    <div class="block-content">
        <div class="box box-billing-address">
            <strong class="box-title">
                <span><?= $block->escapeHtml(__('Default Billing Address')) ?></span>
            </strong>
            <div class="box-content">
                <address>
                    <?php if($block->getPrimaryBillingAddressHtml()):?>
                        <?php echo $block->getPrimaryBillingAddressHtml();?>
                    <?php else:?>
                        <?= $block->escapeHtml(__('You have not set a default shipping address.')) ?>
                    <?php endif;?>
                </address>
            </div>
            <?php if($block->getPrimaryBillingAddressHtml()):?>
                <div class="box-actions">
                    <a class="action edit" href="<?= $block->escapeUrl($block->getPrimaryBillingAddressEditUrl()) ?>" data-ui-id="default-billing-edit-link"><span><?= $block->escapeHtml(__('Edit Address')) ?></span></a>
                </div>
            <?php endif;?>
        </div>
        <div class="box box-shipping-address">
            <strong class="box-title">
                <span><?= $block->escapeHtml(__('Default Shipping Address')) ?></span>
            </strong>
            <div class="box-content">
                <address>
                    <?php if($block->getPrimaryShippingAddressHtml()):?>
                        <?php echo $block->getPrimaryShippingAddressHtml();?>
                    <?php else:?>
                        <?= $block->escapeHtml(__('You have not set a default billing address.')) ?>
                    <?php endif;?>
                </address>
            </div>
            <?php if($block->getPrimaryShippingAddressHtml()):?>
                <div class="box-actions">
                    <a class="action edit" href="<?= $block->escapeUrl($block->getPrimaryShippingAddressEditUrl()) ?>" data-ui-id="default-shipping-edit-link"><span><?= $block->escapeHtml(__('Edit Address')) ?></span></a>
                </div>
            <?php endif;?>
        </div>
    </div>
</div>
