// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@product-grid-items-per-row-layout-default: 2;

@product-grid-items-per-row-layout-1-screen-s: 3;
@product-grid-items-per-row-layout-1-screen-m: 4;
@product-grid-items-per-row-layout-1-screen-l: 5;

@product-grid-items-per-row-layout-2-left-screen-s: 3;
@product-grid-items-per-row-layout-2-left-screen-m: 4;
@product-grid-items-per-row-layout-2-left-screen-l: '';

@product-grid-items-per-row-layout-2-right-screen-s: 3;
@product-grid-items-per-row-layout-2-right-screen-m: 4;
@product-grid-items-per-row-layout-2-right-screen-l: '';

@product-grid-items-per-row-layout-3-screen-s: 3;
@product-grid-items-per-row-layout-3-screen-m: '';
@product-grid-items-per-row-layout-3-screen-l: '';

@product-grid-items-padding: 0 @indent__base @indent__base;
@product-grid-items-margin: 0 0 @indent__s;

@product-name-text-decoration: none;
@product-name-text-decoration-hover: @link__hover__text-decoration;

@toolbar-mode-icon-font-size: 26px;
@product-h1-margin-bottom-desktop: @indent__base;

@product-info-detail-tab-border-color: #d9d9d9;

@import 'module/_features.less';
@import 'module/_listings.less';
@import 'module/_toolbar.less';

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Category view
    //  ---------------------------------------------

    .catalog-category-view {
        .page-title-wrapper {
            .page-title {
                margin-bottom: 0;
            }
        }

        .category-description p {
            margin-bottom: 0;
        }
    }

    .catalog-product-view {
        .box-tocart {
            .display-none-out-of-stock .price-box {
                display: none;
            }
        }
    }

    .old-price,
    .old.price {
        text-decoration: line-through;
    }

    .prices-tier {
        .price-container {
            .price-including-tax {
                + .price-excluding-tax {
                    &:before {
                        content: '(' attr(data-label) ': ';
                    }

                    &:last-child:after {
                        content: ')';
                    }
                }
            }

            .weee[data-label] {
                display: inline;

                .price {
                    .lib-font-size(11);
                }

                &:before {
                    content: ' +' attr(data-label) ': ';
                }
            }
        }
    }

    .actual-price {
        font-weight: @font-weight__bold;
    }

    .product.name a {
        &:extend(.abs-product-link all);
    }

    .category-image {
        .image {
            display: block;
            height: auto;
            max-width: 100%;
        }
    }

    //
    //  Product images general container
    //  ---------------------------------------------

    .product-image-container {
        display: inline-block;
        max-width: 100%;
    }

    .product-image-wrapper {
        display: block;
        height: 0;
        overflow: hidden;
        position: relative;
        z-index: 1;
    }

    .product-image-photo {
        bottom: 0;
        display: block;
        height: auto;
        left: 0;
        margin: auto;
        max-width: 100%;
        position: absolute;
        right: 0;
        top: 0;
    }

    //
    //  Product view
    //  ---------------------------------------------

    .product.media {
        position: relative;

        .product-social-links {
            position: absolute;
            top: 0;
            z-index: 1;
        }

        .product.photo .photo.image {
            &:extend(.abs-adaptive-images-centered);
        }

        .placeholder .photo.container {
            max-width: 100%;
        }

        .notice {
            .lib-css(color, @text__color__muted);
            .lib-font-size(@font-size__s);
            margin: @indent__s 0;
        }

        .product.thumbs {
            margin: @indent__base 0 @indent__l;
        }

        .items.thumbs {
            .lib-list-inline();

            .active {
                display: block;
                line-height: 1;
            }
        }
    }

    .product.info.detailed {
        clear: both;
        margin-bottom: 30px;

        &.info-sticky {
            &:before {
                display: none;
            }

            &:after {
                display: none;
            }
        }

        .titles {
            &.sticky {
                position: fixed;
                top: 0;
                z-index: 1000;
            }

            .title {
                a {
                    color: @primary__color__lighter;
                }
            }

            [aria-labeledby=tab-label-reviews-title] {
                pointer-events: none;

                a {
                    color: @secondary__color__light;

                    &:hover {
                        color: @secondary__color__light;
                    }
                }
            }

            [data-role=active] a {
                color: @primary__color;
            }
        }

        .additional-attributes {
            width: auto;
            .lib-table-resize(
            @_th-padding-left: 0,
            @_th-padding-right: @indent__l,
            @_th-padding-bottom: @indent__s,
            @_td-padding-bottom: @indent__s
            );
        }
    }

    .product-info-main {
        .page-title-wrapper {
            .page-title {
                line-height: 1.2;
                margin-bottom: @indent__s;
            }
        }

        .product {
            &.attribute {
                &.model-name {
                    font-weight: @font-weight__bold;

                    > .value {
                        display: inline-block;
                        vertical-align: top;
                        word-break: break-all;
                    }

                    .type {
                        margin-right: @indent__xs;
                    }
                }

                &.overview {
                    [itemprop=description] {
                        color: @primary__color__lighter;
                    }
                }
            }

            &.alert {
                margin: @indent__s 0;
            }
        }

        .product-reviews-summary .reviews-actions {
            .lib-font-size(@font-size__base);
        }
    }

    .product-options-wrapper {
        .fieldset-product-options-inner {
            .legend {
                .lib-css(font-weight, @font-weight__bold);
                .lib-css(margin, 0 0 @indent__xs);
                .lib-font-size(14px);
                border: none;
                display: inline-block;
                float: none;
                padding: 0;
            }

            //  Date & Time custom option (Affect Time that goes only after Date)
            input.datetime-picker {
                ~ select.datetime-picker {
                    margin-top: @indent__s;
                }
            }

            &.required,
            &._required {
                .legend {
                    &:after {
                        content: '*';
                        .lib-typography(
                        @_font-size: @form-field-label-asterisk__font-size,
                        @_color: @form-field-label-asterisk__color,
                        @_font-family: @form-field-label-asterisk__font-family,
                        @_font-weight: @form-field-label-asterisk__font-weight,
                        @_line-height: @form-field-label-asterisk__line-height,
                        @_font-style: @form-field-label-asterisk__font-style
                        );
                        .lib-css(margin, @form-field-label-asterisk__margin);
                    }
                }
            }
        }

        .field {
            .note {
                display: block;
            }

            .price-notice {
                &:extend(.abs-adjustment-incl-excl-tax all);
            }
        }
    }

    .product-info-main,
    .product-options-bottom {
        .price-box {
            .price-wrapper .price {
                font-weight: @font-weight__bold;
                color: @active__color;
            }

            .old-price {
                position: relative;

                .price {
                    color: @primary__color__lighter;
                }
            }

            .price {
                white-space: nowrap;
            }
        }

        .old-price + span {
            display: block;
        }

        .special-price {
            .price-container {
                .lib-font-size(14);
            }

            .price-label + .price-wrapper {
                display: inline-block;
            }
        }

        .old-price,
        .special-price {
            .price-label {
                &:after {
                    content: ': ';
                }
            }
        }

        .label,
        .swatch-attribute-label,
        .product-item-energy-class span {
            color: @primary__color__lighter;
        }

        .box-tocart {
            .input-text.qty {
                text-align: center;
                font-weight: @font-weight__bold;
                vertical-align: middle;
            }

            .actions {
                button, a.primary {
                    width: 100%;

                    &.stock.unavailable {
                        background-color: @secondary__color__light;
                        border-color: @secondary__color__light;
                        text-align: center;
                        cursor: auto;
                    }
                }
            }
        }

        .product-addto-links {
            margin: @indent__base 0;
        }

        .action.tocompare {
            color: @primary__color__light;
            .lib-font-size(16);
            padding: 18px 0 24px;
            display: inline-block;

            span {
                text-decoration: underline;
            }

            &:hover {
                color: @active__color;
                text-decoration: none;

                span {
                    text-decoration: underline;
                }
            }

            &:before {
                content: '▤';
            }
        }
    }

    .prices-tier {
        &:extend(.abs-reset-list all);
        .lib-css(background, @sidebar__background-color);
        margin: @indent__s 0;
        padding: @indent__s (.75 * @indent__base);

        .price-container {
            display: inline-block;
        }

        .price-including-tax,
        .price-excluding-tax,
        .weee {
            display: inline-block;

            .price {
                .lib-font-size(14);
                font-weight: @font-weight__bold;
            }
        }
    }

    .ui-dialog-titlebar-close {
        .lib-button-as-link();
    }

    .block.related {
        .action.select {
            margin: 0 @indent__xs;
        }
    }

    //
    //  Sidebar product view
    //  ---------------------------------------------

    .sidebar {
        .product-items {
            .product-item {
                margin-bottom: @indent__base;
                position: relative;
            }

            .product-item-info {
                position: relative;
                width: auto;

                .product-item-photo {
                    left: 0;
                    position: absolute;
                    top: 0;
                }
            }

            .product-item-name {
                margin-top: 0;
            }

            .product-item-details {
                margin: 0 0 0 85px;
            }

            .product-item-actions {
                display: block;
                margin-top: @indent__s;
            }

            .price-box {
                display: block;
                margin: 7px 0;
            }

            .text {
                margin-right: 8px;
            }

            .counter {
                .lib-css(color, @primary__color__lighter);
                .lib-font-size(12);
                white-space: nowrap;
            }

            .minilist {
                .price {
                    display: inline;
                    padding: 0;
                }

                .weee:before {
                    display: inline-block;
                }
            }
        }

        .action {
            &.delete {
                &:extend(.abs-remove-button-for-blocks all);
                position: absolute;
                right: 0;
                top: 0;
            }
        }

        .subtitle {
            &:extend(.abs-no-display all);
        }

        //
        //  Product images only
        //  ---------------------------------------------

        .product-items-images {
            &:extend(.abs-add-clearfix all);
            margin-left: -@indent__xs;

            .product-item {
                &:extend(.abs-add-box-sizing all);
                float: left;
                padding-left: @indent__xs;
            }
        }

        //
        //  Product names only
        //  ---------------------------------------------

        .product-items-names {
            .product-item {
                margin-bottom: @indent__s;
            }

            .product-item-name {
                margin: 0;
            }
        }

        .actions-toolbar .secondary {
            display: block;
            float: none;
            overflow: hidden;
        }

        .action.clear {
            display: block;
            background-color: @secondary__color__lighter;
            text-align: center;
            box-sizing: border-box;

            &:hover {
                text-decoration: none;
                color: @primary__color
            }
        }

        .block-compare {
            margin: 0;

            .block-title {
                font-weight: @font-weight__bold;
            }

            .counter {
                &:extend(.abs-parentheses all);
                &:extend(.abs-block-items-counter all);
            }

            .product-item .product-item-name {
                color: @primary__color__light;
            }

            .actions-toolbar {
                margin: 17px 0 0;

                > div {
                   width: 100%;
                }

                .action {
                    display: block;
                    width: 100%;
                    overflow: hidden;
                    margin-right: 0;
                    margin-top: 0;

                    &.primary {
                        margin-bottom: 10px;
                    }
                }
            }

            .action {
                &.delete {
                    &:extend(.abs-remove-button-for-blocks all);
                    left: 0;
                    position: absolute;
                    top: 0;
                }
            }
        }
    }

    //
    //  Category page 1 column layout
    //  ---------------------------------------------

    .catalog-category-view.page-layout-1column {
        .column.main {
            min-height: inherit;
        }
    }

}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .catalog-category-view {
        .page-title-wrapper {
            margin-top: 21px;
            margin-bottom: 9px;

            .page-title {
                font-size: 27px;
            }
        }

        .category-view {
            margin-bottom: 13px;
            margin-top: -9px;
        }

        .category-description {
            padding-top: 2.5px;

            p {
                .lib-font-size(12);
            }
        }

        .sidebar-additional {
            padding-left: @layout-indent__width/2;
            padding-right: @layout-indent__width/2;
            padding-top: 29px;
        }
    }

    .catalog-product-view {
        .product.media {
            margin-top: 10px;
        }
    }

    .product-info-main {
        .page-title-wrapper {
            border-bottom: 1px solid @secondary__color__lighter;

            .page-title {
                .lib-font-size(24);
                margin-bottom: 11px;
            }
        }

        .product {
            &.attribute {
                &.overview {
                    margin: 17.5px 0 3.5px 0;

                    [itemprop=description] {
                        .lib-font-size(13);
                        padding: 14px 0 16.5px;
                        border-top: 1px solid @secondary__color__lighter;
                        border-bottom: 1px solid @secondary__color__lighter;
                    }
                }
            }
        }

        .product.attribute.model-name,
        .page-title-wrapper,
        .product-add-form {
            padding: 0 5px;

            .actions {
                margin-left: -5px;
                margin-right: -5px;
            }
        }

        .label span,
        .swatch-attribute-label,
        .product-item-energy-class span {
            .lib-font-size(12);
        }

        .product.attribute.model-name {
            .lib-font-size(15);
        }

        .box-tocart {
            .actions {
                margin-top: 13px;

                .action {
                    .lib-font-size(18);
                    padding: 15.5px 0;
                }
            }

            .product-item-energy-class {
                margin-top: 12.5px;

                img {
                    width: 60px;
                }
            }
        }

        .price-box {
            .price-wrapper {
                .price {
                    .lib-font-size(27);
                }
            }

            .old-price {
                .price {
                    .lib-font-size(18);
                }
            }
        }
    }

    .product-add-form {
        .control {
            padding-top: 5px;

            button {
                border: 1px solid @secondary__color__light;
                height: 30px;

                .icon:before {
                    font-size: 10px !important;
                }
            }

            .input-text.qty {
                height: 30px;
            }
        }
    }

    .product.info.detailed {
        margin-left: -15px;
        margin-right: -15px;

        .product.media + & {
            padding-top: 20px;
        }

        .titles {
            border-bottom: 1px solid @product-info-detail-tab-border-color;

            &.sticky {
                .lib-icon-font(
                    @_icon-font-content: @icon-down,
                    @_icon-font-color: @primary__color,
                    @_icon-font-size: 15px,
                    @_icon-font-line-height: 52px,
                    @_icon-font-position: after,
                    @_icon-font-vertical-align: middle,
                    @_icon-font-display: block
                );

                &:after {
                    right: 20px;
                }

                &.open {
                    .lib-icon-font(
                        @_icon-font-content: @icon-up,
                        @_icon-font-color: @primary__color,
                        @_icon-font-size: 15px,
                        @_icon-font-line-height: 52px,
                        @_icon-font-position: after,
                        @_icon-font-vertical-align: middle,
                        @_icon-font-display: block
                    );
                }
            }

            .title {
                .lib-font-size(19);
                padding: 12px 20px;
            }
        }
    }

    .sidebar {
        .action.clear {
            .lib-font-size(11);
            border: 1px solid @secondary__color;
            padding: 5px 0;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .catalog-category-view {
        .page-title-wrapper {
            margin-bottom: 18px;
            margin-top: 42px;

            .page-title {
                font-size: 54px;
            }
        }

        .category-view {
            margin-bottom: 26px;
            margin-top: -18px;
        }

        .category-description {
            padding-top: 5px;

            p {
                .lib-font-size(24);
            }
        }

        .sidebar-additional {
            padding-left: @layout-indent__width;
            padding-right: @layout-indent__width;
            padding-top: 58px;

            .banner-content-area img {
                width: 100%;
            }
        }
    }

    .catalog-product-view {
        .column.main {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(column);
        }

        .product.media {
            .lib-vendor-prefix-order(-1);
            margin-top: 20px;
        }
    }

    .product-info-main {
        .page-title-wrapper {
            border-bottom: 2px solid @secondary__color__lighter;

            .page-title {
                .lib-font-size(48);
                font-weight: @font-weight__light;
                margin-bottom: 22px;
            }
        }

        .action.tocompare {
            display: none;
        }

        .product {
            &.attribute {
                &.overview {
                    margin: 35px 0 7px 0;

                    [itemprop=description] {
                        .lib-font-size(26);
                        padding: 28px 0 33px;
                        border-top: 2px solid @secondary__color__lighter;
                        border-bottom: 2px solid @secondary__color__lighter;
                    }
                }
            }
        }

        .product.attribute.model-name,
        .page-title-wrapper,
        .product-add-form {
            padding: 0 10px;

            .actions {
                margin-left: -10px;
                margin-right: -10px;
            }
        }

        .label {
            width: 30%;
        }

        .label span,
        .swatch-attribute-label,
        .product-item-energy-class span {
            .lib-font-size(24);
            font-weight: @font-weight__light;
        }

        .product.attribute.model-name {
            .lib-font-size(30);
        }

        .box-tocart {
            .field.qty {
                display: table;
                width: 100%;

                .label {
                    display: table-cell !important;
                }
            }

            .actions {
                margin-top: 26px;

                .action {
                    .lib-font-size(36);
                    padding: 31px 0;
                }

                .action.tocart {
                    &:extend(.abs-button-responsive-smaller all);
                }
            }

            .product-item-energy-class {
                margin-top: 25px;

                span {
                    width: 29.5%;
                }

                img {
                    width: 80px;
                    vertical-align: top;
                }
            }
        }

        .price-box {
            .label {
                display: inline-block;
                float: left;
            }

            .price-wrapper {
                .price {
                    .lib-font-size(54);
                    vertical-align: top;
                    line-height: 1.0;
                }
            }

            .old-price+span {
                margin-left: 30%;
            }

            .old-price {
                display: inline-block !important;

                .price {
                    .lib-font-size(36);
                    font-weight: @font-weight__light;
                }
            }
        }
    }

    .product-add-form {
        .control {
            display: table-cell;
            vertical-align: top;
            width: 70%;
            padding-top: 10px;

            button {
                border: 2px solid @secondary__color__light;
                height: 60px;
                width: 15%;
                float: left;
                padding: 0;

                .icon:before {
                    font-size: 18px;
                }
            }

            .input-text.qty {
                height: 60px;
                width: 70%;
                border-left: none;
                border-right: none;
                float: left;
            }

            .qty {
                &-decrease .icon {
                    .lib-icon-font(
                        @_icon-font-content: @ico-lg-quantity_minus,
                        @_icon-font-color: @secondary__color__light,
                        @_icon-font-size: 18px,
                        @_icon-font-line-height: 100%,
                        @_icon-font-position: before,
                        @_icon-font-vertical-align: middle,
                        @_icon-font-display: block
                    );
                }

                &-increase .icon {
                    .lib-icon-font(
                        @_icon-font-content: @ico-lg-quantity_plus,
                        @_icon-font-color: @secondary__color__light,
                        @_icon-font-size: 18px,
                        @_icon-font-line-height: 100%,
                        @_icon-font-position: before,
                        @_icon-font-vertical-align: middle,
                        @_icon-font-display: block
                    );
                }
            }
        }
    }

    .product.info.detailed {
        margin-left: -30px;
        margin-right: -30px;

        .product.media + & {
            padding-top: 40px;
        }

        .titles {
            border-bottom: 2px solid @product-info-detail-tab-border-color;
            background-color: @secondary__color__lighter;

            a:hover {
                text-decoration: none;
                color: @primary__color;
            }

            &.sticky {
                left: 0;
                right: 0;

                .lib-icon-font(
                    @_icon-font-content: @icon-down,
                    @_icon-font-color: @primary__color,
                    @_icon-font-size: 30px,
                    @_icon-font-line-height: 104px,
                    @_icon-font-position: after,
                    @_icon-font-vertical-align: middle,
                    @_icon-font-display: block
                );

                &:after {
                    position: absolute;
                    top: 0;
                    right: 40px;
                    z-index: -99;
                }

                [data-role=active] {
                    a {
                        display: inline-block;
                    }
                }

                &.open {
                    .lib-icon-font(
                        @_icon-font-content: @icon-up,
                        @_icon-font-color: @primary__color,
                        @_icon-font-size: 30px,
                        @_icon-font-line-height: 104px,
                        @_icon-font-position: after,
                        @_icon-font-vertical-align: middle,
                        @_icon-font-display: block
                    );

                    .title {
                        display: block;
                    }
                }
            }

            .title {
                .lib-font-size(38);
                padding: 24px 40px;
                display: none;
            }

            [data-role=active] {
                display: block;
            }
        }
    }

    .block.related {
        .action.select {
            display: block;
            margin: @indent__xs 0;
        }
    }

    .compare,
    .product-addto-links .action.tocompare,
    .product-item-actions .actions-secondary > .action.tocompare,
    [class*='block-compare'] {
        display: none;
    }

    .sidebar {
        .action.clear {
            .lib-font-size(11);
            border: 1px solid @secondary__color;
            padding: 5px 0;
        }

        .action.clear {
            .lib-font-size(22);
            border: 2px solid @secondary__color;
            padding: 10px 0;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .catalog-category-view {
        .page-title-wrapper {
            margin-bottom: 14px;
        }

        .columns {
            padding-top: 16px;

            .column.main {
                padding-bottom: 80px;
            }
        }

        .category-view {
            margin-top: -10px;
            margin-bottom: 20px;
        }
    }

    .catalog-product-view {
        .breadcrumbs {
            padding-left: 30px;
        }
    }

    .category-description {
        p {
            .lib-font-size(24);
        }
    }

    .product-info-main,
    .product-options-bottom {
        .label,
        .swatch-attribute-label {
            .lib-font-size(15);
        }
    }

    .product-add-form {
        .box-tocart {
            .field.qty {
                display: table-cell;

                .label {
                    margin-bottom: 5px;
                }
            }

            .label {
                display: block;
            }

            .actions {
                padding-top: 18px;

                button, a.primary {
                    font-weight: @font-weight__light;
                    .lib-font-size(24);
                    padding: 16px 0;
                }
            }

            .product-item-energy-class {
                margin-top: 8px;

                & + .actions {
                    padding-top: 8px;
                }
            }

            .display-none-out-of-stock {
                .product-item-energy-class {
                    margin-top: 14px;
                }

                & + .actions {
                    padding-top: 8px;
                }
            }

            .input-text.qty {
                height: 40px;
                width: 56px;
                .lib-font-size(20);
            }

            .price-box {
                margin-top: 15px;

                .price-wrapper .price {
                    .lib-font-size(36);
                    line-height: 1.0;
                }

                .old-price .price {
                    .lib-font-size(26);
                    font-weight: @font-weight__light;
                    line-height: 1.2;
                }
            }

            .control {
                button {
                    border: 1px solid @secondary__color__light;
                    width: 40px;
                    height: 40px;
                    padding: 0;
                }

                .qty {
                    &-decrease .icon {
                        .lib-icon-font(
                            @_icon-font-content: @ico-lg-quantity_minus,
                            @_icon-font-color: @secondary__color__light,
                            @_icon-font-size: 14px,
                            @_icon-font-line-height: 100%,
                            @_icon-font-position: before,
                            @_icon-font-vertical-align: middle,
                            @_icon-font-display: block
                        );
                    }

                    &-increase .icon {
                        .lib-icon-font(
                            @_icon-font-content: @ico-lg-quantity_plus,
                            @_icon-font-color: @secondary__color__light,
                            @_icon-font-size: 14px,
                            @_icon-font-line-height: 100%,
                            @_icon-font-position: before,
                            @_icon-font-vertical-align: middle,
                            @_icon-font-display: block
                        );
                    }
                }
            }
        }
    }

    .product-info-main {
        .page-title-wrapper {
            border-bottom: 1px solid @secondary__color__lighter;
            margin-bottom: 15px;
            padding-bottom: 3px;

            .page-title {
                .lib-font-size(26);
                font-weight: @font-weight__light;
            }
        }

        .product {
            &.attribute {
                &.overview {
                    margin: @indent__base 0 0 0;

                    [itemprop=description] {
                        .lib-font-size(15);
                        padding: 20px 0;
                        border-top: 1px solid @secondary__color__lighter;
                        border-bottom: 1px solid @secondary__color__lighter;
                    }
                }
            }
        }
    }

    .product.info.detailed {
        margin-top: 60px;

        &:before {
            content: '';
            display: block;
            position: absolute;
            background-color: @secondary__color__lighter;
            width: 100%;
            height: 54px;
            left: 0;
            right: 0;
        }

        .titles {
            background-color: @secondary__color__lighter;

            &.sticky {
                min-width: 1540px;

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    background-color: @secondary__color__lighter;
                    width: 100%;
                    height: 54px;
                    margin-left: -100%;
                    top: 0;
                }

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    background-color: @secondary__color__lighter;
                    width: 100%;
                    height: 54px;
                    margin-right: -100%;
                    top: 0;
                    right: 0;
                }
            }

            .title {
                width: 25%;
                display: inline-block;
                .lib-font-size(16);
                margin-top: 15px;
                font-weight: @font-weight__bold;
                text-align: center;
                padding-bottom: 13px;
                border-bottom: 2px solid @secondary__color__lighter;

                &:last-child a {
                    border-right: none;
                }

                a {
                    display: block;
                    border-right: 2px solid @color-white;

                    &:hover {
                        color: @primary__color;
                        text-decoration: none;
                    }
                }
            }

            [aria-labeledby=tab-label-reviews-title] a {
                &:hover {
                    color: @secondary__color__light;
                }
            }

            [data-role=active] {
                border-bottom: 4px solid @active__color;
            }
        }
    }

    .sidebar {
        .product-items {
            .product-item-info {
                .product-item-photo {
                    float: left;
                    left: auto;
                    margin: 0 @indent__s @indent__s 0;
                    position: relative;
                    top: auto;
                }
            }

            .product-item-details {
                margin: 0;
            }

            .product-item-actions {
                clear: left;
            }
        }

        .action.clear {
            .lib-font-size(18);
            border: 1px solid @secondary__color;
            padding: 6px 0;
        }

        .block-compare {
            .block-title {
                .lib-font-size(16);
                margin-bottom: 12px;
            }

            .product-item {
                margin-top: 4px;
                margin-bottom: 0;

                .product-item-name {
                    .lib-font-size(16);
                    margin-left: 29px;
                }
            }

            .block-content {
                padding-bottom: 43px;
            }

            .actions-toolbar {
                .action {
                    .lib-font-size(18);

                    &.primary {
                        padding: 11.5px 0;
                    }
                }
            }
        }
    }
}

//
//  Desktop large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .catalog-category-view {
        .columns {
            padding-left: @layout-indent__width;
            padding-right: @layout-indent__width;
        }
    }

    .sidebar {
        .product-items {
            .product-item-info {
                .product-item-photo {
                    float: none;
                    left: 0;
                    margin: 0;
                    position: absolute;
                    top: 0;
                }
            }

            .product-item-details {
                margin-left: 85px;
            }
        }
    }
}

//
//  Category page layout
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .product-info-main {
        float: right;
        padding-right: 30px;
        box-sizing: border-box;

        .product {
            &.attribute {
                &.model-name {
                    .lib-font-size(17);
                }
            }
        }
    }

    .product.media {
        float: left;
        margin-bottom: @indent__m;
        padding-left: 30px;
    }

    .page-layout-1column {
        .product-info-main {
            width: 20.625%;
        }

        .product.media {
            width: 79.375%;
            box-sizing: border-box;
            padding-right: 4.5%;
        }
    }

    .page-layout-2columns-left,
    .page-layout-2columns-right,
    .page-layout-3columns {
        .product-info-main {
            width: 48%;
        }

        .product.media {
            width: 50%;
        }
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    //
    //  Compare Products Page
    //  ---------------------------------------------

    .catalog-product-compare-index {
        .page-title-wrapper {
            margin-bottom: @indent__s;
            padding-top: @indent__base;
        }
    }

    .comparison {
        .action.print {
            font-size: 16px;
            line-height: 34px;

            .lib-link(
                @_link-color: @text__color,
                @_link-text-decoration: none,
                @_link-color-visited: @text__color,
                @_link-text-decoration-visited: none,
                @_link-color-hover: @text__color,
                @_link-text-decoration-hover: none,
                @_link-color-active: @text__color,
                @_link-text-decoration-active: none
            );

            .lib-icon-font(
                    @ico-lg-print,
                @_icon-font-size: 32px,
                @_icon-font-color: @text__color,
                @_icon-font-color-hover: @text__color,
                @_icon-font-position: before,
                @_icon-font-display: block
            );

            span {
                vertical-align: middle;
            }
        }

        &-actions {
            font-size: 16px;
            margin-bottom: @indent__base;

            label {
                &:extend(.abs-colon all);
                display: inline-block;
                vertical-align: middle;
                font-weight: @font-weight__bold;
            }

            ul {
                display: inline-block;
                vertical-align: middle;
                .lib-list-inline();

                li {
                    margin: 0;

                    a {
                        .lib-link(
                            @_link-color: @text__color,
                            @_link-text-decoration: none,
                            @_link-color-visited: @text__color,
                            @_link-text-decoration-visited: none,
                            @_link-color-hover: @active__color,
                            @_link-text-decoration-hover: none,
                            @_link-color-active: @active__color,
                            @_link-text-decoration-active: none
                        );

                        &.active {
                            color: @active__color;
                            text-decoration: underline;
                        }
                    }

                    &:last-child {
                        .abs-bar(before,@primary__color__light, 0 @indent__s 0 6px,@font-weight__regular);
                    }
                }
            }
        }

        .comparison-list {
            display: table;
            margin-bottom: @indent__l*2;
            width: 100%;
            table-layout: fixed;

            .table-row {
                display: table-row;

                .table-cell {
                    display: table-cell;

                    &:first-child {
                        width: 12.98%;
                        box-sizing: border-box;
                    }

                    &:last-child {
                        padding-left: 57px;
                        box-sizing: border-box;
                        width: 87.01%;

                        .swiper-content {
                            max-width: 1283px;

                            .swiper-container {
                                .swiper-button-prev {
                                    left: 0;
                                }

                                .swiper-button-next {
                                    right: 0;
                                }
                            }
                        }
                    }

                    &.bgcolor {
                        background: @secondary__color__lighter;
                        text-align: center;
                        font-size: @font-size__l;
                        font-weight: @font-weight__bold;

                        a {
                            max-width: 200px;
                            .lib-link(
                                @_link-color: @text__color,
                                @_link-text-decoration: none,
                                @_link-color-visited: @text__color,
                                @_link-text-decoration-visited: none,
                                @_link-color-hover: @text__color,
                                @_link-text-decoration-hover: none,
                                @_link-color-active: @text__color,
                                @_link-text-decoration-active: none
                            );
                            .lib-icon-font(
                                    @icon-expand,
                                @_icon-font-size: 25px,
                                @_icon-font-color: @text__color,
                                @_icon-font-color-hover: @text__color,
                                @_icon-font-position: before,
                                @_icon-font-display: block
                            );

                            &:before {
                                display: block;
                            }
                        }

                        span {
                            &:last-child {
                                display: block;
                            }
                        }
                    }
                }
            }
        }

        .comparison-specs {
            display: table;
            margin-bottom: @indent__l*2;
            width: 100%;
            table-layout: fixed;

            .table-row {
                display: table-row;

                .table-cell {
                    display: table-cell;
                    position: relative;
                    font-size: 18px;
                    text-align: left;
                    color: @primary__color__light;
                    border-top: 1px solid @secondary__color__lighter;
                    vertical-align: top;

                    &:first-child {
                        font-size: 16px;
                        padding: 15px @indent__base;
                        width: 18.83%;
                        box-sizing: border-box;
                        border-right: 1px solid @table__border-color;

                        label {
                            display: block;
                            max-width: 250px;
                            word-break: break-all;
                        }
                    }

                    &:last-child {
                        width: 81.17%;
                    }

                    .swiper-content {
                        max-width: 1250px;

                        .swiper-slide {
                            text-align: left;
                            justify-content: left;
                            background: transparent;
                        }

                        ol {
                            .lib-list-inline();

                            li {
                                margin: 0;
                                width: 100%/3;
                                padding: 15px 25px;
                                box-sizing: border-box;
                                white-space: normal;
                            }
                        }
                    }
                }

                &.group {
                    .table-cell {
                        text-align: left;
                        border-right: 0;
                        font-size: 20px;
                        color: @text__color;
                        font-weight: @font-weight__bold;
                        border-top: 1px solid @table__border-color;
                        border-bottom: 1px solid @table__border-color;
                    }
                }

                &:first-child {
                    .table-cell {
                        border-top: 1px solid @table__border-color;
                    }
                }

                &:last-child {
                    .table-cell {
                        border-bottom: 1px solid @table__border-color;
                    }
                }
            }
        }

        .block-title {
            font-size: 24px;
            padding-bottom: 25px;
            border-bottom: 1px solid @table__border-color;

            > strong {
                font-weight: @font-weight__regular;
            }
        }

        .product-items {
            padding-top: @indent__l * 2;

            .product-item {
                padding-left: 32px;
                padding-right: 32px;
                margin-bottom: 0 !important;

                &:hover {
                    .product-item-info {
                        border-color: transparent;
                        box-shadow: none;
                    }
                }

                &-info {
                    padding-bottom: 0;
                }

                &-actions {
                    margin-bottom: 0;
                    font-size: @font-size__base;
                }
            }

            .towishlist {
                &:before,
                span {
                    color: @active__color !important;
                }
            }
        }
    }

    .not-comparision {
        text-align: center;
        padding: 8% 0;

        .page-title-wrapper {
            width: 100% !important;
            float: none !important;
            margin-bottom: 15px !important;

            .page-title {
                .lib-icon-font(
                        @icon-warning,
                    @_icon-font-size: 95px,
                    @_icon-font-color: @active__color,
                    @_icon-font-position: before,
                    @_icon-font-display: block
                );

                &:before {
                    display: block;
                    margin-bottom: @indent__xl;
                }
            }
        }

        p {
            font-size: 20px;
            margin-bottom: @indent__l;
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    //
    //  Compare Products Page
    //  ---------------------------------------------

    .catalog-product-compare-index {
        .page-title-wrapper {
            .lib-layout-column(2, 2, @layout-column-main__width-2-left);
            margin-bottom: 0;
            padding-top: 0;
        }
    }

    .comparison {
        .comparison-specs {
            .table-row {
                &:not(.group) {
                    .table-cell {
                        &:last-child {
                            position: relative;

                            &:before,
                            &:after {
                                content: '';
                                display: block;
                                width: 1px;
                                border-left: 1px solid @table__border-color;
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                z-index: 3;
                            }

                            &:before {
                                left: 100%/3;
                            }

                            &:after {
                                right: 100%/3;
                            }
                        }
                    }
                }
            }
        }

        .product-items {
            .product-item {
                .swatch-option {
                    font-size: @font-size__base;
                }
            }
        }
    }
}