<?php /** @var $block \Loviit\Loviit\Block\Onepage\Failure */ ?>
<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php if ($error = $block->getErrorMessage()) : ?><p><?php /* @escapeNotVerified */ echo $error ?></p><?php endif ?>
 <a href=" <?php echo $block->escapeUrl($block->getCheckoutUrl()); ?>"><?php echo _("Back to checkout");?></a>
<p><?php /* @escapeNotVerified */ echo __('Click <a href="%1">here</a> to continue shopping.', $block->escapeUrl($block->getContinueShoppingUrl())) ?></p>
