<?php /** @var $block \Loviit\Loviit\Block\Onepage\Success */ ?>
<div class="checkout-success">
    <?php if ($block->getOrderId()):?>
    
    	<?php if ($block->isOrderOnHold()): ?>
    		<p><?php echo __('Your order will be checked') ?></p>
    	<?php endif; ?>
    	<?php if ($block->getErrorMessage()): ?>
    		<p><?php echo __($block->getErrorMessage()) ?></p>
    	<?php endif; ?>
        <?php if ($block->getCanViewOrder()) :?>
            <p><?php echo __('Your order number is: %1.', sprintf('<a href="%s" class="order-number"><strong>%s</strong></a>', $block->escapeHtml($block->getViewOrderUrl()), $block->escapeHtml($block->getOrderId()))) ?></p>
        <?php else: ?>
            <p><?php echo __('Your order # is: <span>%1</span>.', $block->escapeHtml($block->getOrderId())) ?></p>
        <?php endif; ?>

        <?php if ($block->getOrder()->getPayment()->getMethodInstance()->getCode() == 'loviitpp' or
            $block->getOrder()->getPayment()->getMethodInstance()->getCode() == 'loviitrppp'): ?>
        <p>
            <?php if ($block->getOrder()->getPayment()->getMethodInstance()->getCode() == 'loviitpp'): ?>
                <?php echo __('Please send money to the following bankaccount'); ?><br />
            <?php else: ?>
                <?php echo __('Please only send the deposit of %1 to the following bankaccount', $block->getLoviitDeposit()); ?><br />
            <?php endif; ?>
            <?php echo __('IBAN: DE25 7001 3100 0070 1291 35'); ?><br />
            <?php echo __('BIC: BVWBDE2WXXX'); ?><br />
            <?php echo __('Owner'); ?>: <?php echo __('Loviit AG'); ?><br />
            <?php echo __('Usage'); ?>: <?php echo substr($block->getUniqueIdSubstring(), -8); ?>
        </p>
        <?php endif; ?>
        <p><?php /* @escapeNotVerified */ echo __('We\'ll email you an order confirmation with details and tracking info.') ?></p>
    <?php endif; ?>

    <?php echo $block->getAdditionalInfoHtml() ?>

    <div class="actions-toolbar">
        <div class="primary">
            <a class="action primary continue" href="<?php /* @escapeNotVerified */ echo $block->getUrl() ?>"><span><?php /* @escapeNotVerified */ echo __('Continue Shopping') ?></span></a>
        </div>
    </div>
    <script>
        require([
            'Magento_Customer/js/customer-data'
        ], function (customerData) {
            var sections = ['cart'];
            customerData.invalidate(sections);
        });
</script>
</div>
