// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .banner-slides {
        position: relative;
    }

    .banner-area {
        .product.add-info.promotion {
            img {
                display: block;
                width: 100%;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .banner-area {
        .product.add-info.promotion {
            margin-left: -15px;
            margin-right: -15px;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .banner-slide-area {
        .slide-area {
            .swiper-container {
                img {
                    width: 100%;
                }
            }
        }
    }

    .cms-home .banner-slide-area .swiper-slide {
        img:not(.mb-slide-img) {
            display: none !important;
        }
    }

    .banner-area {
        .product.add-info.promotion {
            margin-left: -30px;
            margin-right: -30px;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .banner-relative {
        margin-top: -15px;
    }
}
