// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Blank theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files

//
//  Layout variables
//  _____________________________________________
@layout__max-width: 1340px;
@layout-indent__width: 30px;
@layout-column-main__sidebar-offset: 3.5%;
@screen__m: 769px;

//
//  Typography variables
//  _____________________________________________
//

@icons__font-path: '@{baseDir}fonts/LG-Icon/lgobs';
@icons__font-name: 'icons';
@icon-checkmark: @ico-lg-check;
@icon-wishlist-empty: @ico-lg-wish_heartline;
@icon-wishlist-full: @ico-lg-wish_heart;
@icon-up: @ico-lg-top;
@icon-down: @ico-lg-updown;
@icon-pointer-down: @ico-lg-updown;
@icon-prev: @ico-lg-banner_btn_left;
@icon-next: @ico-lg-banner_btn_right;
@icon-cart: @ico-lg-cart;
@icon-star: @ico-lg-rating_star;
@icon-search: @ico-lg-search;
@icon-collapse: @ico-lg-minus;
@icon-expand: @ico-lg-plus;
@icon-trash: @ico-lg-delete;
@icon-remove: @ico-lg-close_light;
@icon-settings: @ico-lg-revise;
@icon-edit: @ico-lg-revise;
@icon-menu: @ico-lg-hamburger;
@icon-help: @ico-lg-info;
@icon-envelope: @ico-lg-sns_mail;
@icon-account: @ico-lg-signin;
@icon-warning: @ico-lg-state_info;

//
//  Borders
//  ---------------------------------------------

@border-color__base: @secondary__color;

//  Links
//  ---------------------------------------------

@link__color: @primary__color;
@link__hover__color: @active__color__light;
@link__active__color: @link__hover__color;
@link__text-decoration: none;
@link__visited__text-decoration: @link__text-decoration;

//
//  Buttons variables
//  _____________________________________________

//
//  Buttons
//  ---------------------------------------------
//  Default = secondary button
@button__color: @active__color;
@button__font-size: 15px;
@button__font-weight: @font-weight__bold;
@button__padding: 8px 15px;
@button__border-radius: 0;
@button__border: 1px solid @active__color;
@button__background: @color-white;
@button__hover__color: @active__color__light;
@button__hover__background: @button__background;
@button__hover__border: 1px solid @button__hover__color;

//  Large button
@button__font-size__l: 20px;
@button__padding__l: 20px 0;

//  Primary button
@button-primary__line-height: @button__line-height;
@button-primary__background: @active__color;
@button-primary__border: 1px solid @active__color;
@button-primary__hover__background: @active__color__light;
@button-primary__hover__border: 1px solid @active__color__light;

//
//  Modal
//  _____________________________________________

@modal-popup__padding: 15px;
@modal-slide__padding: 15px;
@modal-slide-mobile__background-color: @color-white;

//
//  Table variables
//  _____________________________________________
@table__border-color: @secondary__color__light;
@table-th__font-size: 15px;
@table-th__font-weight: @font-weight__light;
@table-th__color: #666;
@table-td__font-size: 16px;
@table-cell__padding-vertical: 12px;
@table-responsive-cell__padding: 0;

//
//  Navigation
//  _____________________________________________
@navigation__background: @color-white;
@navigation-level0-item__text-transform: uppercase;
@navigation-level0-item__border: 2px solid @secondary__color__light;
@navigation-level0-item__color: @primary__color;
@navigation-level0-item__font-weight: @font-weight__regular;
@navigation-level0-item__font-size: 26px;
@navigation-level0-item__padding: @indent__base @layout__width-xs-indent*2;
@navigation-level0-item__active__color: @primary__color;
@navigation-level0-item__active__border-width: 0;
@submenu-item__background: @secondary__color__lighter;
@submenu-item__active__border: 0;
@submenu-item__active__border-width: 0;
@submenu-item__active__color: @primary__color;
@submenu__padding-left: 0;
@submenu__padding-top: @indent__base;
@submenu__padding-bottom: @indent__base;
@navigation-desktop__font-size: 16px;
@navigation-desktop__background: @primary__color;
@submenu-desktop__border-width: 0;
@submenu-desktop__padding: 0;
@submenu-desktop__min-width: 100%;
@submenu-desktop__font-weight: @font-weight__regular;
@submenu-desktop__font-size: 18px;
@submenu-desktop-item__color: @color-black;
@submenu-desktop-item__text-decoration: none;
@submenu-desktop-item__hover__background: none;
@submenu-desktop-item__hover__color: @active__color;
@submenu-desktop-item__hover__text-decoration: none;
@submenu-desktop-item__padding: 0;
@submenu-desktop-item__active__color: @active__color;
@submenu-desktop-item__active__border-width: 0px;
@navigation-desktop-level0-item__color: @color-white;
@navigation-desktop-level0-item__line-height: 56px;
@navigation-desktop-level0-item__margin: 0;
@navigation-desktop-level0-item__padding: 0 25px;
@navigation-desktop-level0-item__active__border-width: 0 0 4px 0;
@navigation-desktop-level0-item__active__border-color: @active__color;
@navigation-desktop-level0-item__active__color: @navigation-desktop-level0-item__color;
@navigation-desktop-level0-item__hover__background: @color-white;
@navigation-desktop-level0-item__hover__color: @active__color;

//
//  Form
//  _____________________________________________
@form-field-type-label-inline__margin: 0;
@form-field-label__font-size: 16px;
@form-field-label__font-weight: @font-weight__light;
@form-field-type-label-block__margin: 0 0 10px 0;
@form-element-choice__margin: 0 8px 0 0;
@form-element-input__height: 36px;
@form-element-input__border: 1px solid #949494;
@form-element-input__border-color: #949494;
@form-element-input__font-size: 16px;
@form-fieldset-legend__font-size: 24px;
@form-fieldset-legend__padding: 0 0 12px 0;
@form-fieldset-legend__margin: 0 0 32px 0;
@form-fieldset-legend__line-height: 1.42857143;
@form-field-label-asterisk__color: @active__color;
@form-field-label-asterisk__font-size: 16px;
@form-field-note__font-size: @form-element-input__font-size;
@form-field-note__margin: @indent__xs 0 0;
@form-field-note__color: @primary__color__lightest;
@form-field-note-icon-font: false;
@form-field-note-icon-font__content: '';
@form-validation-note__font-size: @font-size__base;
@form-element-validation__border-error: @active__color;
@error__color: @active__color;

//
//  Message
//  _____________________________________________
@message__padding: 11px 40px;
@message__font-size: 14px;
@message-icon__font-size: 20px;
@message-icon__font-line-height: 20px;
@message-info__color: #534741;
@message-info__background: #ffffe5;
@message-info-icon__color-inner: #534741;
@message-info-icon__top: -3px;
@message-notice__color: #534741;
@message-notice__background: #ffffe5;
@message-notice-icon__color-inner: #534741;
@message-notice-icon__top: -3px;
@message-error__color: #ff0000;
@message-error__background: #ffebec;
@message-error-icon: @ico-lg-state_warn;
@message-error-icon__color-inner: @message-error__color;
@message-error-icon__top: -2px;
@message-warning__color: #ff0000;
@message-warning__background: #ffebec;
@message-warning-icon: @ico-lg-state_warn;
@message-warning-icon__color-inner: @message-error__color;
@message-warning-icon__top: -2px;
@message-success__color: #0000ff;
@message-success__background: #e0f2fe;
@message-success-icon: @ico-lg-state_ok;
@message-success-icon__color-inner: @message-success__color;
@message-success-icon__top: -3px;

//
//  Tooltips variables
//  _____________________________________________

@tooltip__background: @color-white;
@tooltip__border-color: @active__color;
@tooltip__border-width: 1px;
@tooltip__border-radius: false;
@tooltip__color: @active__color;

//
//  Dropdown variables
//  _____________________________________________

@dropdown-list__z-index: 99999;

//
//  Breadcrumbs variables
//  _____________________________________________
@breadcrumbs__font-size: 14px;
@breadcrumbs-current__color: #949494;
@breadcrumbs-link__color: #949494;
@breadcrumbs-link__visited__color: #949494;
@breadcrumbs-link__hover__color: #949494;
@breadcrumbs-link__active__color: #949494;
@breadcrumbs-icon__font-size: 10px;
@breadcrumbs-icon__font-line-height: 100%;
@breadcrumbs-icon__font-vertical-align: middle;
@breadcrumbs__container-margin: 0 0 44px;

//
//  Pager variables
//  _____________________________________________
@pager__font-size: 18px;
@pager-current__color: @active__color;
@pager-icon__font-size: 10px;
@pager__font-weight: @font-weight__light;
@pager-current__font-weight: @font-weight__bold;
@pager-action__border: none;
@pager-item__padding: 0 12px;
@pager-current__border: 1px solid @active__color;
@pager-item__margin: 0;
@pager-icon__font-margin: 0;
@pager-action__color: @secondary__color;

//
//  Accordions
//  ---------------------------------------------
@accordion-control__height: 42px;
@accordion-control__font-size: 20px;
@accordion-control__border-top: 0;
@accordion-control__border-right: 0;
@accordion-control__border-left: 0;
@accordion-control__border-bottom: 1px solid @secondary__color__light;
@accordion-control__background-color: @color-white;
@accordion-control__color: @primary__color;
@accordion-control__hover__background-color: @accordion-control__background-color;
@accordion-control__hover__color: @accordion-control__color;
@accordion-control__active__background-color: @accordion-control__background-color;
@accordion-control__active__color: @accordion-control__color;
@accordion-control__padding-bottom: 0;
@accordion-control__padding-right: 15px;
@accordion-content__padding: 0;
@accordion-content__margin: 0;
@accordion-content__border: 0;