// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-payment-method-title__border: @checkout-shipping-method__border;
@checkout-payment-method-title__padding: @indent__base;
@checkout-payment-method-title-mobile__padding: @indent__base;
@checkout-payment-method-content__padding__xl: 22px;
@checkout-billing-address-details__line-height: 27px;
@checkout-billing-address-details__padding: 25px 25px 0;
@checkout-billing-width: @checkout-shipping-address__max-width;
//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .checkout-payment-method {
        .payment-group + .payment-group {
            .lib-css(border-top, @checkout-payment-method-title__border);
        }

        .payments {
            .legend {
                &:extend(.abs-visually-hidden all);
            }
        }

        .payment-method {
            &:first-child {
                .payment-method-title {
                    border-top: 0;
                }
            }

            &._active {
                .payment-method-content {
                    display: block;
                }
            }

            & + .payment-method {
                .payment-method-title {
                    .lib-css(border-top, @checkout-payment-method-title__border);
                }
            }
        }

        .payment-method-content {
            > .actions-toolbar {
                margin-top: @indent__xl;

                > .primary {
                    .action {
                        &.primary {
                            &:extend(.abs-button-l all);
                            margin-right: 0;
                        }
                    }
                }
            }
        }

        .payment-method-title {
            .lib-css(padding, @checkout-payment-method-title__padding 0);
            margin: 0;

            .payment-icon {
                display: inline-block;
                margin-right: @indent__xs;
                vertical-align: middle;
            }

            .action-help {
                display: inline-block;
                margin-left: @indent__xs;
            }
        }

        .payment-method-content {
            display: none;
            .lib-css(padding, 0 0 @indent__base);

            .fieldset {
                &:not(:last-child) {
                    margin: 0 0 @indent__base;
                }
            }
        }

        .payment-group {
            & + .payment-group {
                .step-title {
                    margin: @indent__base 0 0;
                }
            }
        }

        .billing-address-same-as-shipping-block {
            margin: 0 0 @indent__xl;
            padding-top: @indent__xl;
            border-top: @checkout-shipping-method__border;
            border-top-width: 2px;
        }

        .checkout-billing-address {
            margin: 0 0 @indent__s;

            .actions-toolbar {
                border-top: none;
                padding: 0;
            }

            .primary {
                .action-update {
                    &:extend(.abs-button all);
                }
            }

            .action-cancel {
                &:extend(.abs-button all);

                &,
                &:hover,
                &:active {
                    border-color: @border-color__base;
                    color: @primary__color;
                    background-color: @secondary__color__lighter;
                    font-weight: @font-weight__regular;
                }
            }

            .billing-address-details-border {
                .lib-css(padding, @checkout-billing-address-details__padding);
                border: 4px solid @active__color;
                line-height: 1.2;
                font-size: 24px;
                position: relative;

                &.not-border {
                    border-color: @color-white;
                }

                a {
                    display: block;
                    margin-top: @indent__base;
                    pointer-events: none;
                    cursor: default;
                    .lib-link(
                        @_link-color: @active__color,
                        @_link-text-decoration: none,
                        @_link-color-visited: @active__color,
                        @_link-text-decoration-visited: none,
                        @_link-color-hover: @active__color,
                        @_link-text-decoration-hover: none,
                        @_link-color-active: @active__color,
                        @_link-text-decoration-active: none
                    );
                }

                .action-edit-address {
                    &:extend(.abs-button all);
                    &,
                    &:hover,
                    &:active {
                        border-color: @border-color__base !important;
                        color: @primary__color !important;
                        background-color: @secondary__color__lighter !important;
                        font-weight: @font-weight__regular !important;
                    }
                }
            }
        }

        .payment-method-note {
            & + .checkout-billing-address {
                margin-top: @indent__base;
            }
        }

        .field-select-billing {
            margin: 0 !important;

            > .label {
                &:extend(.abs-visually-hidden all);
            }
        }

        .billing-address-form {
            border-top: @checkout-shipping-method__border;
            border-top-width: 2px;
            padding-top: @indent__xl;
        }

        .payment-method-iframe {
            background-color: transparent;
            display: none;
            width: 100%;
        }

        .no-payments-block {
            margin: @indent__base 0;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .payment-method {
        .field-tooltip {
            .field-tooltip-content {
                .lib-css(right, @checkout-tooltip-content-mobile__right);
                .lib-css(top, @checkout-tooltip-content-mobile__top);
                left: auto;

                &:before,
                &:after {
                    .lib-arrow(
                        @_position: top,
                        @_size: @checkout-tooltip-icon-arrow__font-size,
                        @_color: @checkout-tooltip-content__background-color
                    );
                    .lib-css(margin-top, @checkout-tooltip-icon-arrow__left);
                    .lib-css(right, @indent__s);
                    left: auto;
                    top: 0;
                }

                &:before {
                    .lib-css(border-bottom-color, @checkout-tooltip-content__border-color);
                }

                &:after {
                    .lib-css(border-bottom-color, @checkout-tooltip-content__background-color);
                    top: 1px;
                }
            }
        }
    }

    .payment-methods {
        .step-title {
            padding-bottom: @indent__xs;
        }
    }

    .checkout-billing-address {
        .actions-toolbar {
            margin-bottom: 0;

            .action-cancel {
                font-weight: @font-weight__regular;
                .lib-button-as-link(
                    @_padding: @indent__base 0 0
                );
                color: @active__color;
                text-decoration: underline;
            }
        }
    }

    .checkout-payment-method {
        .checkout-billing-address {
            .billing-address-details-border {
                &.not-border {
                    padding-top: 0;
                    padding-bottom: @indent__xl;
                }
            }
        }

        .payment-method-content {
            > .actions-toolbar {
                > .primary {
                    p {
                        font-size: 24px;
                        margin-top: @indent__base;
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .checkout-payment-method {
        .payment-method-title {
            padding: @checkout-payment-method-title__padding/2 0;
        }

        .payment-method-content {
            > .actions-toolbar {
                margin-top: @indent__base;
            }
        }

        .billing-address-form {
            padding-top: @indent__base;
            border-top-width: 1px;
        }

        .billing-address-same-as-shipping-block {
            margin: 0 0 @indent__base;
            padding-top: @indent__base;
            border-top-width: 1px;
        }

        .checkout-billing-address {
            .billing-address-details-border {
                padding: 15px 15px 0;
                font-size: @font-size__s;
                border-width: 2px;

                a {
                    margin-top: @indent__s;
                }
            }

            .actions-toolbar {
                .action-cancel {
                    font-weight: @font-weight__regular;
                    .lib-button-as-link(
                        @_padding: @indent__s 0 0
                    );
                    color: @active__color;
                    text-decoration: underline;
                }
            }
        }
    }

    .checkout-payment-method {
        .checkout-billing-address {
            .billing-address-details-border {
                &.not-border {
                    padding-bottom: @indent__base;
                }
            }
        }

        .payment-method-content {
            > .actions-toolbar {
                > .primary {
                    p {
                        font-size: @font-size__s;
                        margin-top: @indent__s;
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .checkout-payment-method {
        .fieldset {
            > .field-select-billing {
                > .control {
                    float: none;
                    width: 100%;
                }
            }
        }

        .payment-method-title {
            padding: 15px 0;
        }

        .payment-method-content {
            padding: 0 @indent__l;

            > .actions-toolbar {
                margin: 0 -@indent__l @indent__l;

                > .primary {
                    float: right;
                    text-align: right;

                    button {
                        text-align: center;
                        float: none;
                    }

                    p {
                        max-width: 400px;
                        text-align: left;
                        margin-top: @indent__s;
                    }
                }
            }
        }

        .billing-address-same-as-shipping-block {
            margin: 0 0 15px;
            border-top: 0;
            padding: 0;
        }

        .checkout-billing-address {
            max-width: @checkout-billing-width;

            .billing-address-details-border {
                border: none;
                font-size: 16px;
                line-height: 1.8;
                padding: @indent__s @indent__l 0;

                a {
                    margin-top: 0;
                }
            }

            .billing-address-form {
                margin-top: 50px;
                padding-top: 50px;
                border-top-width: 1px;

                .choice.field {
                    margin-bottom: @form-field__vertical-indent__desktop;
                }
            }

            .actions-toolbar {
                margin-top: @indent__l;

                .action-cancel {
                    margin-left: @indent__xs;
                }
            }
        }
    }
}
