// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-shipping-policy-action__color: @active__color;
@checkout-shipping-policy-tooltip__width: auto;
@checkout-shipping-policy-tooltip-mobile__width: auto;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .checkout-shipping-method {
        position: relative;
        clear: both;
    }

    .shipping-policy-block {
        &.field-tooltip {
            top: 9px;

            .field-tooltip-action {
                .lib-link(
                    @_link-color: @checkout-shipping-policy-action__color,
                    @_link-text-decoration: underline,
                    @_link-color-visited: @link__visited__color,
                    @_link-text-decoration-visited: @link__visited__text-decoration,
                    @_link-color-hover: @link__hover__color,
                    @_link-text-decoration-hover: @link__hover__text-decoration,
                    @_link-color-active: @link__active__color,
                    @_link-text-decoration-active: @link__active__text-decoration
                );
                font-size: 24px;
                cursor: pointer;

                &:before {
                    display: none;
                }

                span {
                    &:extend(.abs-visually-hidden-reset all);
                }
            }

            .field-tooltip-content {
                &:extend(.abs-add-box-sizing all);
                .lib-css(right, @checkout-tooltip-content-mobile__right);
                .lib-css(bottom, @checkout-tooltip-content-mobile__top);
                left: auto;
                top: auto;

                &:before,
                &:after {
                    .lib-arrow(
                        @_position: down,
                        @_size: @checkout-tooltip-icon-arrow__font-size,
                        @_color: @checkout-tooltip-content__background-color
                    );
                    .lib-css(margin-bottom, @checkout-tooltip-icon-arrow__left);
                    .lib-css(right, @indent__s);
                    left: auto;
                    bottom: 0;
                    top: auto;
                }

                &:before {
                    .lib-css(border-top-color, @checkout-tooltip-content__border-color);
                }

                &:after {
                    .lib-css(border-top-color, @checkout-tooltip-content__background-color);
                    bottom: 1px;
                }
                word-break: break-word;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .shipping-policy-block {
        &.field-tooltip {
            .field-tooltip-content {
                .lib-css(width, @checkout-shipping-policy-tooltip-mobile__width);
                width: 400px;
                right: 0;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .shipping-policy-block {
        &.field-tooltip {
            top: 3px;

            .field-tooltip-content {
                bottom: 30px;
                width: 280px;
            }

            .field-tooltip-action {
                font-size: @font-size__s;
            }
        }
    }
}


//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .shipping-policy-block {
        &.field-tooltip {
            top: 28px;

            .field-tooltip-action {
                font-size: 16px;
            }

            .field-tooltip-content {
                width: 600px;
            }
        }
    }
}