<?php

/**
 * @var \Eguana\Faq\Block\Faq $block
 * @var \Eguana\Faq\Model\Faq $faq
 */
$typeData = $block->getTypeOptionArray();
$faqData = $block->getFaqBindData();
?>
<style>
    .in-active{
        display:none;
    }
</style>
<div class="faqs">
    <div class="type-area">
        <?php $typeId=1 ?>

        <?php foreach($typeData as $key => $value){?>
            <span class="type-title type-<?=$key?> <?=($typeId == 1) ? 'active' : ''?>" id="type-<?=$key?>"><?=$value?></span>
            <?php $typeId++; ?>
        <?php };?>
    </div>
    <?php $typeId=1 ?>
    <?php foreach($typeData as $key => $value){?>
        <div class="faq-group type-<?=$key?> <?=($typeId == 1) ? 'active' : 'in-active'?>">
            <?php if(isset($faqData[$key]) && count($faqData[$key]) > 0):?>
                <?php foreach ($faqData[$key] as $faq):?>
                    <div class="faq">
                        <div class="title"><span><?=$faq->getTitle()?></span></div>
                        <div class="content in-active"><span><?=$faq->getDescription()?></span></div>
                    </div>
                <?php endforeach;?>
            <?php else:?>
                <div class="empty">
                    <p class="empty-icon"><?=__('No Data')?></p>
                    <p class="text"><?=__('There is no registered contents.')?></p>
                </div>
            <?php endif;?>
            <?php $typeId++; ?>
        </div>
    <?php };?>
</div>
<script>
    require(["jquery"], function($){
        $('.type-title').click(function () {
            $('.type-title.active').removeClass('active');
            $('.faq-group.active').removeClass('active').addClass('in-active');
            $('.type-title.'+ this.id).addClass('active');
            $('.faq-group.'+ this.id).addClass('active').removeClass('in-active');
        });

        $('.faq > .title').click(function(){
            $(this).next().slideToggle();
            $(this).parent().toggleClass('active');
        });
    });
</script>
