<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div id="checkout-shipping-method-load">
    <table class="table-checkout-shipping-method">
        <thead>
        <tr class="row">
            <th class="col col-method" translate="'Select Method'"></th>
            <th class="col col-price" translate="'Price'"></th>
            <th class="col col-method" translate="'Method Title'"></th>
            <th class="col col-carrier" translate="'Carrier Title'"></th>
        </tr>
        </thead>
        <tbody>
            <!-- ko foreach: { data: rates(), as: 'method'} -->
                <!--ko template: { name: element.shippingMethodItemTemplate} --><!-- /ko -->
            <!-- /ko -->
        </tbody>
    </table>
    <p class="information">
        <span>
            Servizio Gold con consegna e installazione.<br/>
            Il servizio è dedicato ai TV e Grandi Elettrodomestici a libero posizionamento. Comprende montaggio, allacciamento e verifica del funzionamento del prodotto.<br/>
            <b>IMPORTANTE</b>: il personale addetto all’installazione del prodotto, potrà eseguirla solo su impianti preesistenti, perfettamente funzionanti e rispondenti alle normative di sicurezza vigenti. Gli accessori funzionali all’installazione del prodotto come staffe a muro, spine, adattatori, cavi e prolunghe, etc., dovranno essere messi a disposizione dal cliente al momento della consegna<br/>
        </span>
    </p>
</div>
