// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .form.wishlist.items {
        .actions-toolbar {
            &:extend(.abs-reset-left-margin all);
        }
    }

    .product-info-main,
    .product-options-bottom,
    .block-bundle-summary {
        .action.towishlist {
            &:extend(.abs-action-addto-product all);
        }
    }

    .product-items,
    .products.list.items,
    .table-comparison {
        .action {
            &.towishlist {
                &:extend(.abs-actions-addto-gridlist all);
                .lib-icon-font-symbol(
                    @icon-wishlist-full
                );
            }
        }
    }

    .product-addto-links {
        display: inline-block;
        vertical-align: middle;
        
        .action {
            &.towishlist {
                .lib-icon-font(
                        @icon-wishlist-empty,
                    @_icon-font-size: 38px,
                    @_icon-font-color: @active__color,
                    @_icon-font-line-height: 1.1,
                    @_icon-font-text-hide: true,
                    @_icon-font-position: before
                );

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .account .table-wrapper .data.table.wishlist {
        .lib-table-bordered(
            @_table_type: horizontal
        );

        thead > tr > th {
            border-bottom: 0;
        }

        tbody > tr:last-child > td {
            border-bottom: 1px solid @table__border-color;
        }

        .product.name {
            display: inline-block;
            margin-bottom: @indent__s;
        }

        .box-tocart {
            margin: @indent__s 0;

            .qty {
                vertical-align: middle;
                &:extend(.abs-input-qty all);
            }
        }

        .col {
            &.item {
                width: 50%;
            }

            &.photo {
                max-width: 150px;
            }

            &.selector {
                max-width: 15px;
            }
        }

        textarea {
            margin: @indent__s 0;
        }

        .input-text.qty {
            margin-bottom: @indent__s;
        }

        .action.primary {
            vertical-align: top;
        }

        .price {
            font-weight: @font-weight__bold;
        }
    }

    .block-wishlist {
        .block-title {
            &:extend(.abs-block-title all);
        }

        .counter {
            &:extend(.abs-block-items-counter all);
        }

        .product-item-name {
            margin-right: @indent__m;
        }
    }

    .products-grid.wishlist {
        .product {
            &-item {
                &-photo {
                    display: block;
                }

                &-name {
                    margin-top: 0;
                }

                &-link {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    word-wrap: break-word;
                }

                .price-box {
                    margin: 0;
                    border-top: none;

                    p {
                        margin-bottom: 0;
                    }
                }

                &-tooltip {
                    display: block;

                    .item-options {
                        margin-bottom: 0;

                        dt, dd {
                            margin-bottom: 0;
                        }

                        dt:before {
                            display: none;
                        }
                    }
                }

                .comment-box {
                    display: none;

                    .label {
                        &:extend(.abs-visually-hidden all);
                    }
                }

                &-comment {
                    display: block;
                    height: 42px;
                    margin: @indent__s 0;
                }

                &-actions {
                    display: block;

                    > * {
                        margin-right: 15px;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }

                .box-tocart {
                    .field.qty {
                        display: none;
                    }

                    .actions-primary {
                        margin: 0;
                        display: block;

                        button {
                            min-width: 100%;
                        }
                    }

                    input.qty {
                        height: 32px;
                        &:extend(.abs-input-qty all);
                    }
                }

                &-info {
                    position: relative;
                }

                &-inner {
                    > .product-item-actions {
                        .action.delete {
                            span {
                                color: @primary__color__lighter;
                                text-transform: uppercase;
                                display: block;
                                font-weight: @font-weight__bold;
                            }

                            &:hover {
                                text-decoration: none;

                                span {
                                    color: @active__color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .wishlist-index-index {
        #maincontent {
            &.page-main {
                padding-left: 10px;
                padding-right: 10px;
            }
        }

        .sidebar {
            margin-left: -10px;
            margin-right: -10px;
        }
    }

    .products-grid.wishlist {
        .product {
            &-items {
                margin-left: -5px;
                margin-right: -5px;
            }

            &-item {
                margin-bottom: 45px;
                padding: 0 7.5px;

                &:nth-last-child(-n+2) {
                    margin-bottom: 25px;
                }

                &-link {
                    height: 62px;
                }

                &-tooltip {
                    padding: 0 5px;
                    margin-bottom: 0;
                    min-height: 20px;
                    margin-top: 4px;

                    .item-options {
                        dt {
                            &:after {
                                padding: 0 2.5px 0 1.5px;
                            }
                        }

                        dt, dd {
                            font-size: 12px;
                        }
                    }
                }

                &-name {
                    margin-top: 4.5px;
                }

                &-name + .price-box {
                    margin-top: 24px;
                }

                &-name + .product-item-inner {
                    margin-top: 60px;
                }

                &-tooltip + .product-item-inner {
                    margin-top: 36px;
                }

                .price-box {
                    padding-top: @indent__xs;
                    min-height: 26px;
                }

                .box-tocart {
                    .actions-primary {
                        button {
                            padding: 8.25px 0;

                            span {
                                font-size: 11px;
                            }
                        }

                        .stock.unavailable {
                            min-height: 29.5px;
                        }
                    }
                }

                &-inner {
                    margin-top: @indent__s;

                    > .product-item-actions {
                        .action.delete {
                            margin-top: @indent__xs;

                            span {
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    .form-wishlist-items {
        >.actions-toolbar .primary {
            button {
                font-size: 11px;
                padding: 8.5px 0;
                border-width: 1px;
                margin-bottom: 5px;
            }
        }
    }

    .product-addto-links {
        .action {
            &.towishlist {
                line-height: 34px;
                margin-right: @indent__s;

                &:before {
                    font-size: 20px;
                    width: 22px;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .wishlist-index-index {
        #maincontent {
            &.page-main {
                padding-left: 20px;
                padding-right: 20px;
            }

            .common-left-nav {
                margin-bottom: 0;

                > .title {
                    margin-bottom: 0;
                }
            }
        }

        .sidebar {
            margin-left: -20px;
            margin-right: -20px;
        }
    }

    .products-grid.wishlist {
        .product {
            &-items {
                margin-left: -15px;
                margin-right: -15px;
            }

            &-item {
                position: relative;
                margin-bottom: 92px;
                padding: 0 15px;

                &:nth-last-child(-n+2) {
                    margin-bottom: 50px;
                }

                &-name {
                    margin-bottom: 0;
                    margin-top: 9px;
                }

                &-name + .product-item-inner {
                    margin-top: 108px;
                }

                &-tooltip + .product-item-inner {
                    margin-top: 66px;
                }

                &-link {
                    height: 125px;
                    line-height: 1.2;
                    -webkit-line-clamp: 4;
                }

                &-actions {
                    margin: 0;

                    .action {
                        margin-right: 15px;

                        &:last-child {
                            margin-right: 0;
                        }

                        &.edit {
                            float: left;
                        }

                        &.delete {
                            float: right;
                        }

                        &.edit,
                        &.delete {
                            margin-top: 10px;
                        }
                    }
                }

                &-tooltip {
                    padding: 0 10px;
                    overflow: hidden;
                    margin-bottom: 0;
                    margin-top: 8px;
                    min-height: 34px;

                    .item-options {
                        dt {
                            display: inline-block;
                            min-width: auto;

                            &:after {
                                content: ': ';
                                padding: 0 5px 0 3px;
                            }
                        }

                        dt, dd {
                            font-size: 24px;
                            float: none;
                            display: inline-block;
                            min-width: auto;
                        }
                    }
                }

                .box-tocart {
                    .actions-primary {
                        button {
                            padding: 16.5px 0;

                            span {
                                font-size: 22px;
                            }
                        }

                        .stock.unavailable {
                            min-height: 57px;
                        }
                    }
                }

                &-name + .price-box {
                    margin-top: 42px;
                }

                .price-box {
                    padding-top: @indent__s;
                }

                &-inner {
                    margin-top: @indent__base;

                    > .product-item-actions {
                        .action.delete {
                            span {
                                font-size: 20px;
                            }
                        }
                    }
                }

                .giftregisty-dropdown,
                .field.qty {
                    display: none;
                }
            }
        }
    }

    .form-wishlist-items {
        >.actions-toolbar .primary {
            button {
                font-size: 22px;
                padding: 17px 0;
                border-width: 2px;
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .product-addto-links {
        .action {
            &.towishlist {
                line-height: 66px;
                margin-right: 15px;
            }
        }
    }

    //
    //  Grid view for wishlist
    //  -----------------------------------------

    .wishlist-index-index {
        .product {
            &-item {
                width: 50%;

                &-info {
                    width: auto;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .products-grid.wishlist {
        .product {
            &-items {
                margin-left: -11px;
                margin-right: -11px;
            }

            &-item {
                width: 100% / 4;
                padding: 0 @indent__s;
                box-sizing: border-box;
                margin: 0 0 42px 0;

                &:nth-last-child(-n+4) {
                    margin-bottom: 25px;
                }

                &-photo {
                    margin-bottom: 6px;
                }

                &-name {
                    margin-bottom: 0;
                }

                &-link {
                    height: 65px;
                    -webkit-line-clamp: 3;
                }

                &-name + .price-box {
                    margin-top: 25px;
                }

                &-name + .product-item-inner {
                    margin-top: 68px;
                }

                &-tooltip + .product-item-inner {
                    margin-top: 43px;
                }

                .price-box {
                    line-height: 1.0;

                    .price-as-configured {
                        >.price-configured_price,
                        >.price-final_price {
                            display: block;
                            margin-top: 19px;
                        }
                    }

                    span {
                        display: block;
                    }

                    .old-price .price {
                        line-height: 1.2;
                    }
                }

                &-tooltip {
                    padding: 3px 10px 1px 10px;
                    min-height: 21px;

                    .item-options {
                        dt, dd {
                            font-size: 14px;
                        }
                    }
                }

                .fieldset {
                    .field.qty {
                        margin-bottom: @indent__s;
                        padding-right: @indent__s;

                        .label {
                            width: auto;
                        }
                    }
                }

                .box-tocart {
                    .product-item-actions {
                        margin-bottom: 0;
                    }

                    .stock {
                        margin: @indent__base 0 0;
                    }
                }

                &-inner {
                    > .product-item-actions {
                        margin-top: 5px;

                        .action.delete {
                            span {
                                text-align: right;
                            }
                        }
                    }
                }
            }
        }
    }

    .wishlist-index-index {
        .main {
            .form-wishlist-items {
                .actions-toolbar {
                    &:extend(.abs-reset-left-margin-desktop all);
                }
            }
        }
    }

    .form-wishlist-items {
        >.actions-toolbar .primary {
            button {
                padding: 9px 0;
                width: 225px;
                margin-right: 6px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .product-addto-links {
        .action {
            &.towishlist {
                line-height: 46px;
                margin-right: @indent__s;

                &:before {
                    font-size: 20px;
                    width: 22px;
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .products-grid.wishlist {
        .product {
            &-items {
                margin-left: -31px;
                margin-right: -31px;
            }
        }
    }
}
