<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $_source  = $block->getSource() ?>
<?php if ($_source && $block->isDocomoMethod()): ?>
    <?php if ($block->creditNoteHasInterestFee() ): ?>
        <tr>
            <td class="label"><?php /* @escapeNotVerified */ echo __('DOCOMO Agio fee') ?><div id="loviit_variable_fee_adv"></div></td>
            <td><?php /* @escapeNotVerified */ echo $block->getInterestFee() ?></td>
        </tr>
    <?php endif; ?>
    <?php if ($block->orderHasAdministrationFee()): ?>
        <tr>
            <td class="label"><?php /* @escapeNotVerified */ echo __('DOCOMO Administration fee') ?><div id="loviit_administration_fee_adv"></div></td>
            <td>
                <input type="text"
                    name="creditmemo[loviit_administration_fee]"
                    value="<?php /* @escapeNotVerified */ echo $block->getAdministrationFee()*1 ?>"
                    class="input-text admin__control-text not-negative-amount"
                    id="loviit_administration_fee"/>
                <script>
                    require(['prototype'], function(){

                    //<![CDATA[
                    Validation.addAllThese([
                        ['not-negative-amount', '<?php /* @escapeNotVerified */ echo __('Please enter a positive number in this field.') ?>', function(v) {
                            if(v.length)
                                return /^\s*\d+([,.]\d+)*\s*%?\s*$/.test(v);
                            else
                                return true;
                        }]
                    ]);

                    if ($('loviit_administration_fee')) {
                        $('loviit_administration_fee').advaiceContainer = $('loviit_administration_fee_adv');
                        unblockSubmit('loviit_administration_fee');
                    }
                

                    function unblockSubmit(id) {
                        $(id).observe('focus', function(event) {
                            if ($$('button[class="scalable update-button disabled"]').size() > 0) {
                                enableElements('submit-button');
                            }
                        });
                    }
                    //]]>

                    });
                </script>
            </td>
        </tr>
    <?php endif; ?>

<?php endif; ?>
