<?php

/**
 * @var \Eguana\Faq\Block\Faq $block
 * @var \Eguana\Faq\Model\Faq $faq
 */

$typeData = $block->getTypeOptionArray();
$faqData = $block->getFaqBindData();

?>

<style>
    .in-active{
        display:none;
    }
</style>

<div class="faqs">

    <div class="type-area">
        <?php for($typeId=1 ; $typeId <= count($typeData) ; $typeId++) {?>
            <span class="type-title type-<?=$typeId?> <?=($typeId == 1) ? 'active' : ''?>" id="type-<?=$typeId?>"><?=$typeData[$typeId]?></span>
        <?php };?>
    </div>


    <?php for($typeId=1 ; $typeId <= count($typeData) ; $typeId++) {?>
        <div class="faq-group type-<?=$typeId?> <?=($typeId == 1) ? 'active' : 'in-active'?>">
            <?php if(isset($faqData[$typeId]) && count($faqData[$typeId]) > 0):?>

            <?php foreach ($faqData[$typeId] as $faq):?>
                <div class="faq">
                    <div class="title"><span><?=$faq->getTitle()?></span></div>
                    <div class="content in-active"><span><?=$faq->getDescription()?></span></div>
                </div>
            <?php endforeach;?>

            <?php else:?>

                <span><?=__('Empty')?></span>

            <?php endif;?>
        </div>
    <?php };?>

</div>
<script>

    require(["jquery"], function($){

        $('.type-title').click(function () {

            $('.type-title.active').removeClass('active');
            $('.faq-group.active').removeClass('active').addClass('in-active');

            $('.type-title.'+ this.id).addClass('active');
            $('.faq-group.'+ this.id).addClass('active').removeClass('in-active');
        });

        $('.faq > .title').click(function(){
            $(this).next().slideToggle();
            $(this).parent().toggleClass('active');
        });
    });

</script>
