//
// Styles for privacy policy popup
// _______________________________________________

//
//  Common
//  ----------------------------------------------

& when (@media-common = true) {
    .amprivacy-policy {
        max-height: 500px;
        display: none;
        overflow-y: scroll;
        word-wrap: break-word;
    }

    .gdpr-customer-settings,
    .sales-order-view,
    .sales-guest-view {
        .block-content form {
            .control.checkbox {
                .accept.addon {
                    display: inline-block;
                    vertical-align: middle;
                }
            }

            .action.primary {
                &:extend(.abs-button-l all);
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .gdpr-customer-settings {
        .field.password.current {
            margin-bottom: 0;
        }
    }

    .gdpr-customer-settings,
    .sales-order-view,
    .sales-guest-view {
        .block-content form {
            .control.checkbox {
                margin-bottom: 20px;

                .accept.addon {
                    line-height: 12px;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .gdpr-customer-settings {
        .field.password.current {
            margin-bottom: 0;
        }
    }

    .gdpr-customer-settings,
    .sales-order-view,
    .sales-guest-view {
        .block-content form {
            .control.checkbox {
                margin-bottom: 40px;

                .accept.addon {
                    line-height: 24px;
                }
            }

            .actions-toolbar .action.primary {
                width: 100%;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .gdpr-customer-settings,
    .sales-order-view,
    .sales-guest-view {
        .block-content form {
            .control.checkbox {
                margin-bottom: 40px;

                .accept.addon {
                    line-height: 20px;
                }
            }
        }
    }
}