// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@gift-message-field-label__color: @primary__color;
@gift-item-block__border-color: @secondary__color__light;
@gift-item-block__border-width: 2px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .gift-message {
        .field {
            &:extend(.abs-clearfix all);
            margin-bottom: @indent__base;

            .label {
                .lib-css(color, @gift-message-field-label__color);
                .lib-css(font-weight, @font-weight__regular);
            }
        }
    }

    .gift-options {
        &:extend(.abs-add-clearfix all);

        .actions-toolbar {
            .action-cancel {
                &:extend(.abs-action-button-as-link all);
                display: none;
            }

            .action-update {
                &:extend(.abs-button all);
            }
        }
    }

    .gift-options-title {
        margin: 0 0 @indent__base;
    }

    .gift-options-content {
        .fieldset {
            margin: 0 0 @indent__base;
        }
    }

    .gift-summary {
        .actions-toolbar {
            > .secondary {
                float: none;

                .action {
                    margin: @indent__s @indent__base 0 0;
                }
            }
        }
    }

    .action-gift {
        &:extend(.cart.table-wrapper .actions-toolbar > .action all);

        .lib-button-icon(
            @icon-down,
            @_icon-font-size: 32px,
            @_icon-font-line-height: 16px,
            @_icon-font-position: after
        );

        &.active,
        &._active {
            .lib-icon-font-symbol(
                @icon-up,
                @_icon-font-position: after
            );
        }
    }

    //
    //  In-table block
    //  ---------------------------------------------

    .cart {
        &.table-wrapper {
            .gift-content {
                box-sizing: border-box;
                clear: left;
                display: none;
                float: left;
                margin: @indent__s 0 @indent__base;
                text-align: left;
                width: 100%;

                &._active {
                    display: block;
                }
            }
        }
    }

    //
    //  Collapsible block
    //  ---------------------------------------------

    .gift-item-block {
        margin: 0;

        &._active {
            .title {
                .lib-icon-font-symbol(
                    @_icon-font-content: @icon-up,
                    @_icon-font-position: after
                );
            }
        }

        .title {
            cursor: pointer;

            .lib-icon-font(
                @_icon-font-content: @icon-down,
                @_icon-font-line-height: 20px,
                @_icon-font-size: 14px,
                @_icon-font-position: after
            );

            span {
                color: @active__color;
            }

            &:after {
                font-weight: @font-weight__bold;
            }
        }

        .content {
            position: relative;
        }
    }

    //
    //  Account order gift message
    //  ---------------------------------------------

    .order-details-items {
        .order-gift-message,
        .block-order-details-gift-message {
            .item-options {
                dt {
                    .lib-css(font-weight, @font-weight__regular);
                    margin: @indent__s 0;
                }
            }

            &:extend(.abs-add-clearfix all);

            dt {
                &:after {
                    content: '';
                }
            }

            .label {
                &:extend(.abs-colon all);
            }

            .item-message {
                clear: left;
            }
        }

        .order-items {
            .order-gift-message {
                &:not(.expanded-content) {
                    &:extend(.abs-hidden);
                }

                .action.close {
                    &:extend(.abs-no-display all);
                }
            }

            .action.show {
                .lib-icon-font(
                @_icon-font-content: @icon-down,
                @_icon-font-size: 22px,
                @_icon-font-text-hide: false,
                @_icon-font-position: after,
                @_icon-font-display: inline-block
                );
                padding-right: @indent__base;
                position: relative;

                &:after {
                    position: absolute;
                    right: 0;
                    top: -4px;
                }

                &.expanded {
                    .lib-icon-font-symbol(
                    @_icon-font-content: @icon-up,
                    @_icon-font-position: after
                    );
                }
            }
        }
    }

    .block-order-details-gift-message {
        border-top: @border-width__base solid @border-color__base;
        padding-top: @indent__s;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    #gift-options-cart {
        margin-top: @indent__l;
    }

    .gift-item-block {
        .lib-css(border-top, @gift-item-block__border-width solid @gift-item-block__border-color);
        border-bottom: 0;

        .title {
            display: block;
            padding: 15px @summary__padding;
            margin: 0;
            font-size: 30px;

            &:after {
                float: right;
                font-size: 18px;
                line-height: 40px;
            }
        }

        .content {
            padding: 15px @summary__padding;
        }

        .actions-toolbar {
            margin-bottom: 25px;
        }
    }

    .gift-options-title {
        font-size: 26px;
        font-weight: @font-weight__bold;
        line-height: 1;
    }

    .cart {
        &.table-wrapper {
            .gift-content {
                margin-right: -@indent__s;
            }
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    #gift-options-cart {
        margin-top: @indent__l/2;
    }

    .cart {
        &.table-wrapper {
            .gift-content {
                border-bottom: @border-width__base solid @border-color__base;
                margin-bottom: @indent__base;
            }
        }
    }

    .gift-item-block {
        border-top-width: @gift-item-block__border-width/2;

        .title {
            padding: 15px/2 @summary__padding/2;
            font-size: 15px;

            &:after {
                font-size: 10px;
                line-height: 20px;
            }
        }

        .content {
            padding: 15px/2 @summary__padding/2;
        }

        .actions-toolbar {
            margin-bottom: 15px;
        }
    }

    .gift-options-title {
        font-size: 13px;
        margin-bottom: @indent__s;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .gift-message {
        margin-top: @indent__l;

        .field {
            margin-bottom: 15px;
        }
    }

    .gift-options {
        position: relative;
        z-index: 1;

        .actions-toolbar {
            clear: both;
            position: static;
            margin-bottom: 15px;

            .secondary {
                float: none;

                .action-cancel {
                    display: inline-block;
                    margin-left: @indent__base;
                    font-size: 16px;
                    .lib-link(
                        @_link-color: @active__color,
                        @_link-color-visited: @active__color
                    );
                }
            }

            &:nth-child(3) {
                &:before {
                    .lib-css(border-left, 1px solid @gift-item-block__border-color);
                    bottom: 5rem;
                    content: '';
                    display: block;
                    left: 50%;
                    overflow: hidden;
                    position: absolute;
                    top: 0;
                    width: 0;
                }
            }
        }
    }

    .gift-item-block {
        .title {
            font-size: @font-size__l;

            &:after {
                margin-left: 15px;
            }
        }

        .content {
            margin-top: @indent__s;
        }
    }

    .gift-options-title {
        .lib-font-size(16);
        margin: 0 0 @indent__s;
    }

    .gift-summary,
    .cart.table-wrapper .gift-summary {
        .actions-toolbar {
            &:extend(.abs-reset-left-margin-desktop all);
        }
    }

    .cart-container {
        .cart-gift-item {
            &:extend(.abs-shopping-cart-items-desktop all);
            margin-top: @indent__l * 2;
        }
    }

    //
    //  In-table block
    //  ---------------------------------------------

    .cart {
        &.table-wrapper {
            .action-gift {
                float: left;
            }
        }
    }

    //
    //  Multiple Shipping Checkout
    //  ---------------------------------------------

    .order-options,
    .table-order-review {
        .gift-wrapping {
            max-width: 50%;
        }
    }
}
