// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .block-viewed-products-list {
        padding-bottom: 0;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .block-viewed-products-list {
        padding-bottom: 35px;
        margin-top: 20px;
    }
}

