<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\AuthorizationLink $block */

$dataPostParam = '';
$authorizationClass = '';
if ($block->isLoggedIn()) {
    $dataPostParam = sprintf(" data-post='%s'", $block->getPostParams());
    $authorizationClass = 'account-login';
}
?>
<li class="authorization-link <?=$authorizationClass?>" data-label="<?= $block->escapeHtmlAttr(__('or')) ?>">
    <a href="<?= /* @noEscape */ $block->getHref() ?>" <?= /* @noEscape */ $dataPostParam ?>>
        <?= $block->escapeHtml($block->getLabel()) ?>
    </a>
</li>
