<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div id="checkout-shipping-method-load">
    <table class="table-checkout-shipping-method">
        <thead>
        <tr class="row">
            <th class="col col-method" translate="'Select Method'"></th>
            <th class="col col-price" translate="'Price'"></th>
            <th class="col col-method" translate="'Method Title'"></th>
            <th class="col col-carrier" translate="'Carrier Title'"></th>
            <th class="col col-image" translate="'Carrier Image'"></th>
        </tr>
        </thead>
        <tbody>
            <!-- ko foreach: { data: rates(), as: 'method'} -->
                <!--ko template: { name: element.shippingMethodItemTemplate} --><!-- /ko -->
            <!-- /ko -->
        </tbody>
    </table>
    <p class="information">
        <span>
            <span translate="'Orders containing small-sized products, eg smartphones, accessories, etc., will be processed on business days by courier GLS or InPost.'"></span>
            <span translate="'Orders containing bulky products, eg TVs, Washing machines, Refrigerators, etc., will be carried out on working days by courier ROHLIC SUUS.'"></span>
            <span translate="'If you are interested in additional services such as Home Installation, please contact us at tel 801-54-54-54.'"></span>
        </span>
    </p>
</div>
