// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@form-field__vertical-indent__desktop: 29px;
@form-calendar-icon__color: @primary__color;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .fieldset {
        .lib-form-fieldset();
        &:last-child {
            margin-bottom: 0;
        }

        > .field,
        > .fields > .field {
            .lib-form-field();

            &.no-label {
                > .label {
                    &:extend(.abs-visually-hidden all);
                }
            }

            &.choice {
                .label {
                    display: inline;
                    font-weight: normal;
                }
            }

            .label {
                .column:not(.main) & {
                    font-weight: normal;
                }
            }

            .field.choice {
                margin-bottom: @indent__s;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            input[type=file] {
                margin: @indent__xs 0;
            }
        }
    }

    .legend + .fieldset,
    .legend + div {
        clear: both;
    }

    .legend {
        strong {
            margin-left: @indent__xs;
        }
    }

    fieldset.field {
        border: 0;
        padding: 0;
    }

    .field {
        &.date {
            &:extend(.abs-field-date all);

            .time-picker {
                display: inline-block;
                margin-top: @indent__s;
                white-space: nowrap;
            }
        }

        .message {
            &.warning {
                margin-top: @indent__s;
            }
        }
    }

    .select-styling() {
        .lib-css(appearance, none, 1);
        appearance: none;
        background: @select__background url('../images/select-bg.svg') no-repeat 100% 45%;
        background-size: 30px 60px;
        border: 1px solid @form-element-input__border-color;
        height: @form-element-input__height;
        padding-right: 25px;
        text-indent: .01em;
        text-overflow: '';

        &::-ms-expand {
            display: none;
        }

        .lt-ie10 & {
            background-image: none;
            padding-right: 4px;
        }
    }

    input[type="radio"] {
        margin: 0 @indent__xs 0 0 ;
        width: 15px;
        height: 15px;
        display: inline-block;
        vertical-align: middle;

        + label {
            cursor: pointer;
            margin: 0 !important;
            vertical-align: middle;
        }

        &:after {
            cursor: pointer;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            position: relative;
            background-color: @color-white;
            content: '';
            display: inline-block;
            visibility: visible;
            box-shadow: 0 0 0 1px @form-element-input__border-color;
            box-sizing: border-box;
        }

        &:checked {
            &:after {
                background-color: @primary__color;
                border: 4px solid @color-white;
            }
        }
    }

    input[type="checkbox"]{
        -webkit-appearance: none;
        background-color: @color-white;
        border: 1px solid @form-element-input__border-color;
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: middle;
    }

    input[type="checkbox"]:checked{
        background: @primary__color;
        border-color: @primary__color;

        .lib-icon-font(
                @icon-checkmark,
            @_icon-font-color: @color-white,
            @_icon-font-size: 18px,
            @_icon-font-line-height: 18px,
            @_icon-font-margin: 0,
            @_icon-font-position: after
        );
    }

    select {
        .select-styling();
    }

    .field-error,
    div.mage-error[generated] {
        margin-top: 7px;
    }

    .field-error {
        .lib-form-validation-note();
    }

    .field .tooltip {
        .lib-tooltip(right);
        .tooltip-content {
            min-width: 200px;
            white-space: normal;
        }
    }

    input:focus ~ .tooltip .tooltip-content,
    select:focus ~ .tooltip .tooltip-content {
        display: block;
    }

    ._has-datepicker {
        ~ .ui-datepicker-trigger {
            .lib-button-reset();
            .lib-icon-font(
            @_icon-font-content: @icon-calendar,
            @_icon-font-color: @primary__color__lighter,
            @_icon-font-size: @icon-calendar__font-size,
            @_icon-font-line-height: @icon-calendar__font-size,
            @_icon-font-display: block,
            @_icon-font-text-hide: true
            );
            display: inline-block;
            vertical-align: middle;

            &:focus {
                box-shadow: none;
                outline: 0;
            }
        }
    }

    //
    //  Sidebar forms
    //  -----------------------------------------

    .sidebar {
        .fieldset {
            margin: 0;

            > .field:not(.choice) >,
            .fields > .field {
                &:not(:last-child) {
                    margin: 0 0 @form-field__vertical-indent;
                }

                .label {
                    margin: 0 0 4px;
                    padding: 0 0 @indent__xs;
                    text-align: left;
                    width: 100%;
                }

                .control {
                    width: 100%;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .fieldset {
        .legend {
            &:extend(.abs-margin-for-forms-desktop all);
        }

        > .field {
            .lib-form-field-type-revert();
            margin: 0 0 @form-field__vertical-indent__desktop;
        }
    }
}
