// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .checkout-agreements-block {
        margin-bottom: @indent__xl;

        .checkout-agreements {
            .title {
                font-size: 24px;
                margin-bottom: @indent__base;
            }

            .checkout-agreement {
                margin-bottom: @indent__s;
                display: block;

                &.required {
                    label button {
                        .lib-link(
                            @_link-color: @active__color,
                            @_link-text-decoration: underline
                        );
                    }
                }

                &:not(.required) {
                    label button {
                        pointer-events: none;
                    }
                }

                label {
                    display: table-cell;
                    position: relative;

                    button {
                        text-align: left;
                    }
                }

                input[type="checkbox"] {
                    float: left;
                }
            }
        }

        .action-show {
            &:extend(.abs-action-button-as-link all);
            vertical-align: baseline;
        }
    }

    //  Checkout Agreements in popup
    .checkout-agreements-items {
        &:extend(.abs-reset-list all);
        padding-bottom: @indent__l;

        .checkout-agreements-item {
            margin-bottom: @indent__base;
        }

        .checkout-agreements-item-title {
            &:extend(.abs-checkout-title all);
        }
    }

    .agreements-modal {
        footer {
            display: none;
        }
    }

    //  Checkout Agreements
    .checkout-agreement-item-content {
        overflow: auto;
    }
}
//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .checkout-agreements-block {
        margin-bottom: @indent__base;

        .checkout-agreements {
            .title {
                font-size: 12px;
                margin-bottom: @indent__s;
            }

            .checkout-agreement {
                margin-bottom: @indent__xs;

                label {
                    button {
                        span {
                            top: -1px;
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .checkout-agreements-block {
        .checkout-agreements {
            .checkout-agreement {
                label {
                    button {
                        span {
                            position: relative;
                            top: -4px;
                        }
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .checkout-agreements-block {
        margin-bottom: @indent__s;
        margin-top: 35px;

        .checkout-agreements {
            .title {
                font-size: 16px;
                margin-bottom: @indent__s;
            }

            .checkout-agreement {
                margin-bottom: @indent__xs;

                label {
                    top: -2px;
                }
            }
        }
    }
}