// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-wrapper__margin: 70px;
@checkout-wrapper__columns: 8;

@checkout-step-title__border: @border-width__base solid @secondary__color__light;
@checkout-step-title__font-size: 36px;
@checkout-step-title__font-weight: @font-weight__bold;
@checkout-step-title__padding: 0 0 @indent__l/2;

@checkout-step-title-mobile__font-size: 30px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .checkout-index-index {
        .page-title-wrapper {
            display: none;
        }
    }

    .checkout-container {
        &:extend(.abs-add-clearfix all);
    }

    .opc-wrapper {
        .opc {
            &:extend(.abs-reset-list all);
        }

        .step-title {
            &:extend(.abs-step-title all);
        }

        .step-content {
            .lib-css(margin, 0 0 @checkout-wrapper__margin);
        }
    }

    .page-layout-checkout {
        .nav-sections,
        .nav-toggle {
            display: none;
        }

        .logo {
            padding-left: 0;
        }
    }

    .checkout-onepage-success {
        &:extend(.abs-add-clearfix all);

        .success-title {
            text-align: center;
        }

        .actions-toolbar {
            margin-top: 50px;
            border-top: 0;

            .action.primary {
                float: none;
                &:extend(.abs-button-l all);

            }
        }

        .checkout-success {
            vertical-align: middle;
            width: 100%;

            .page-title {
                font-size: 60px;
                margin-top: 50px;

                .lib-icon-font(
                    @_icon-font-content: @ico-lg-chk_complete,
                    @_icon-font-color: @active__color,
                    @_icon-font-size: 130px,
                    @_icon-font-position: before,
                    @_icon-font-display: block
                );

                &:before {
                    display: block;
                    margin-bottom: @indent__l;
                }
            }

            p {
                font-size: 30px;

                span,
                strong,
                a {
                    font-weight: @font-weight__bold;
                    color: @active__color;
                }
            }
        }

        #registration {
            padding-top: @indent__s;

            form {
                margin-top: @indent__base;

                input {
                    &:extend(.abs-button-l all);
                }
            }

            p {
                font-size: 30px;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .page-layout-checkout {
        .header.content {
            .logo {
                img {
                    margin: auto;
                }
            }
        }
    }

    .checkout-onepage-success {
        #registration {
            margin-top: @indent__xl;
            padding-top: @indent__l;
            border-top: 2px solid @secondary__color__light;
        }

        .checkout-success {
            .page-title {
                &:before {
                    font-size: 120px;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .opc-wrapper {
        .step-content {
            .lib-css(margin, 0 0 @checkout-wrapper__margin/2);
        }
    }

    .checkout-onepage-success {
        .checkout-success {
            .page-title {
                font-size: 30px;
                margin-top: 25px;

                &:before {
                    font-size: 60px;
                }
            }

            p {
                font-size: 15px;
            }
        }

        #registration {
            margin-top: @indent__base;
            padding-top: 15px;
            border-top-width: 1px;

            p {
                font-size: 15px;
            }
        }

        .actions-toolbar {
            margin-top: 25px;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .opc-wrapper {
        &:extend(.abs-add-box-sizing-desktop-m all);
        .lib-layout-column(2, 1, 62%);
        padding-right: @indent__l;
    }

    .page-layout-checkout {
        .page-title-wrapper {
            margin-top: @indent__xl;
            margin-bottom: 0;
        }

        .header.content {
            padding-top: @indent__base;
            padding-bottom: @indent__base;
        }

        .page-header {
            border-bottom: 4px solid @active__color;
            margin-bottom: 15px;
        }

        .step-content {
            margin-bottom: 50px;
        }
    }

    .checkout-onepage-success {
        #registration,
        .checkout-success {
            text-align: center;

            .page-title {
                font-size: 36px;
                margin-bottom: @indent__base;
            }

            p {
                font-size: 20px;
                margin: 0;
            }

            .actions-toolbar {
                text-align: center;
                margin-top: 50px;

                > .primary {
                    float: none !important;
                }
            }
        }

        .column.main {
            display: table;
        }

        #registration {
            display: table-row;
        }

        .checkout-success {
            display: table-cell;
            padding-bottom: 70px;
        }
    }
}
