// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Checkout Estimated Total
    //  ---------------------------------------------

    .opc-estimated-wrapper {
        &:extend(.abs-add-clearfix all);
        &:extend(.abs-no-display-desktop all);
        background: @secondary__color__lighter;
        margin: 0 -@layout__width-xs-indent*2 15px;
        position: relative;
        padding: 15px @layout__width-xs-indent*2 @indent__s;
        border-top: 2px solid @secondary__color__light;
        border-bottom: 2px solid @secondary__color__light;

        .estimated-block {
            .lib-css(font-size, 26px);
            .lib-css(font-weight, @font-weight__bold);
            float: left;

            .estimated-label {
                display: block;
            }

            .estimated-price {
                color: @active__color;
                font-size: 40px;
            }
        }

        .minicart-wrapper {
            float: right;
            .lib-icon-font(
                @ico-lg-banner_btn_left,
                @_icon-font-size: 18px,
                @_icon-font-line-height: 30px,
                @_icon-font-color: @primary__color,
                @_icon-font-position: before
            );

            &:before {
                border: 2px solid @secondary__color__light;
                font-weight: bold;
                box-sizing: border-box;
                width: 35px;
                height: 35px;
                margin-right: @indent__xs;
            }

            &:after {
                display: none;
            }

            .action {
                .lib-button-reset();

                &.showcart {
                    line-height: 94px;

                    .lib-icon-font-symbol(
                            @ico-lg-not_circle_cart,
                        @_icon-font-position: before
                    );


                    &:before {
                        .lib-css(color, @text__color);
                        font-size: 28px;
                        vertical-align: middle;
                        margin: 0 @indent__s;
                    }

                    &:after {
                        display: none;
                    }

                    .counter {
                        background: none;
                        color: @primary__color;
                        height: auto;
                        font-weight: @font-weight__bold;
                        font-size: 22px;
                        margin: 0;
                        vertical-align: middle;
                    }
                }
            }
        }
    }

    .modal-popup {
        .opc-block-summary {
            margin: 0;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .opc-estimated-wrapper {
        margin: 0 -@layout__width-xs-indent 15px;
        padding: @indent__xs @layout__width-xs-indent;
        border-bottom-width: 1px;
        border-top-width: 1px;

        .estimated-block {
            .lib-css(font-size, 13px);

            .estimated-price {
                font-size: 20px;
            }
        }

        .minicart-wrapper {
            &:before {
                border-width: 1px;
                width: 18px;
                height: 18px;
                line-height: 16px;
                font-size: @font-size__xs;
                margin-right: @indent__xs/2;
            }

            .action {
                &.showcart {
                    line-height: 46px;

                    &:before {
                        font-size: 14px;
                        margin: 0 @indent__xs;
                    }

                    .counter {
                        font-size: 11px;
                    }
                }
            }
        }

    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .opc-estimated-wrapper {
        display: none;
    }
}
