// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-summary-mark-value__color: @color-gray60;
@checkout-summary-items__max-height: 370px;
@checkout-summary-items__padding: 15px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Order Summary
    //  ---------------------------------------------

    .opc-block-summary {
        &:extend(.abs-sidebar-summary all);
        background: transparent;
        border: 1px solid @secondary__color__light;

        .block {
            &:extend(.abs-discount-block all);

            > .title {
                border-top: none;
                border-bottom: 2px solid @secondary__color__light;

                strong {
                    font-size: 26px !important;

                    span:first-child {
                        font-weight: @font-weight__bold;
                    }
                }
            }
        }

        //  Totals block
        .checkout-totals {
            &:extend(.abs-sidebar-totals all);
            border-top-color: @secondary__color__light;

            tbody {
                border-bottom: none;
            }

            tr {
                .mark,
                .amount {
                    font-weight: @font-weight__regular;
                    vertical-align: top;
                }

                .mark {
                    .value {
                        display: block;
                        color: @primary__color__lightest;
                    }
                }

                &.grand {
                    .mark,
                    .amount {
                        border-top: 2px solid @secondary__color__light;
                    }
                }
            }
        }

        .not-calculated {
            font-style: italic;
        }

        //
        //  Items list
        //  ---------------------------------------------

        //  Block title
        .items-in-cart {
            .product {
                position: relative;
            }
        }

        //  Cart items
        .minicart-items-wrapper {
            .lib-css(margin, 0 -(@checkout-summary-items__padding) 0 0);
            .lib-css(max-height, @checkout-summary-items__max-height);
            .lib-css(padding, 0 @checkout-summary-items__padding 0 0);
            border: 0;
        }

        .column.main & {
            .product-item {
                margin: 0;
            }
        }

        .product-item {
            .product-item-inner {
                display: table;
                margin: 0 0 @indent__s;
                width: 100%;
                position: static;
                background-color: transparent;
                text-align: left;
            }

            .details-qty {
                margin: 0 0 @indent__xs;
            }

            .details-qty {
                font-size: 24px;
            }

            .options {
                dl {
                    margin: 0;
                    overflow: hidden;
                }
            }

            .price {
                .lib-font-size(36);
                color: @primary__color__light;
            }
        }

        .actions-toolbar {
            position: relative;
            z-index: 1;

            .secondary {
                border-top: @border-width__base solid @border-color__base;
                display: block;
                float: none;
                margin: -1px 0 0;
                padding: 15px 0 0;
                text-align: left;

                .action {
                    margin: 0;
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .opc-summary-wrapper {
        &.modal-custom {
            .opc-block-summary {
                padding: 0 @indent__base;
                border: none;
                margin: 0;

                > .title {
                    display: block;
                    .lib-css(border-bottom, 2px solid @modal-title__border-color);
                    .lib-css(font-size, @modal-popup-title-mobile__font-size);
                    padding: 35px 0 15px 0;
                    line-height: 1.1;
                }

                .items-in-cart {
                    > .title {
                        padding-left: 0;
                        padding-right: 0;

                        strong {
                            font-size: 26px !important;
                            font-weight: @font-weight__regular;

                            span {
                                &:first-child {
                                    font-weight: @font-weight__bold;
                                }
                            }
                        }
                    }

                    > .content {
                        padding-left: 0;
                        padding-right: 0;
                        padding-top: 30px;
                        border-bottom: 2px solid @secondary__color__light;
                    }

                    .minicart-items {
                        .item-options {
                            dd,
                            dt {
                                min-width: auto;
                                line-height: 1.5;
                            }

                            dt {
                                &:after {
                                    content: ':';
                                    padding: 0 @indent__s 0 8px;
                                }
                            }
                        }

                        .product-item {
                            padding-bottom: @indent__base;
                        }

                        .product-item-details {
                            .details-qty {
                                margin-top: 35px;
                            }
                        }
                    }
                }

                .checkout-totals {
                    border-top: none;
                    padding-left: 0;
                    padding-right: 0;

                    .mark {
                        .value {
                            font-size: 24px;
                        }
                    }

                    tr.totals-tax {
                        .mark {
                            padding-bottom: @indent__s;
                        }
                    }

                    tr.grand {
                        .mark,
                        .amount {
                            padding-top: 15px;
                            padding-bottom: 15px;
                        }

                        .amount {
                            font-size: 26px;
                            color: @primary__color;
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .opc-block-summary {
        .product-item {
            .details-qty {
                font-size: @font-size__s;
            }

            .price {
                .lib-font-size(18);
            }
        }
    }

    .opc-summary-wrapper {
        &.modal-custom {
            .opc-block-summary {
                padding: 0 @indent__s;

                > .title {
                    .lib-css(font-size, @modal-popup-title-mobile__font-size/2);
                    padding: 15px 0 5px 0;
                    border-bottom-width: 1px;
                }

                .items-in-cart {
                    > .title {
                        border-bottom-width: 1px;

                        strong {
                            font-size: 13px !important;
                        }
                    }

                    > .content {
                        padding-top: 15px;
                        border-bottom-width: 1px;
                    }

                    .minicart-items {
                        .item-options {
                            dt {
                                &:after {
                                    padding: 0 @indent__xs 0 3px;
                                }
                            }
                        }

                        .product-item {
                            padding-bottom: @indent__s;
                        }

                        .product-item-details {
                            .details-qty {
                                margin-top: 15px;
                            }
                        }
                    }
                }

                .checkout-totals {
                    .mark {
                        .value {
                            font-size: 12px;
                        }
                    }
                    
                    tr {
                        &:first-child {
                            .mark,
                            .amount {
                                padding-top: @indent__s !important;
                            }
                        }
                    }

                    tr.totals-tax {
                        .mark {
                            padding-bottom: @indent__xs;
                        }
                    }

                    tr.grand {
                        .mark,
                        .amount {
                            padding-top: @indent__xs;
                            padding-bottom: @indent__xs;
                            border-top-width: 1px;
                        }

                        .amount {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .opc-block-summary {
        padding-top: @indent__l;

        > .title {
            font-size: 36px;
            line-height: 1.1;
            padding-top: 5px;
            padding-bottom: @indent__base;
        }

        .checkout-totals {
            margin-bottom: 25px;
            margin-top: @indent__xs;

            tr {
                .mark,
                .amount {
                    font-size: 16px;
                }

                &.totals-tax {
                    .mark {
                        padding-bottom: 25px;
                    }
                }

                &.grand {
                    .mark,
                    .amount {
                        font-size: 24px;
                        border-top-width: 1px;
                    }
                }
            }
        }

        .block {
            > .title {
                border-bottom-width: 1px;
                padding-top: 0;

                strong {
                    font-size: 18px !important;
                }
            }
        }

        .product-item {
            .details-qty {
                font-size: 15px;
                margin-top: @indent__xs;
            }

            .subtotal {
                float: right;
            }

            .price {
                font-size: 18px;
            }

            .options {
                margin-bottom: @indent__s;
            }
        }

        .column.main & {
            .product-item {
                padding: @indent__base 0;
            }
        }
    }

    .opc-summary-wrapper {
        .modal-header {
            .action-close {
                display: none;
            }
        }
    }
}
