// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-progress-bar__font-size: 22px;
@checkout-progress-bar__margin: 80px;
@checkout-progress-bar-item__margin: @indent__s;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Checkout Progress Bar
    //  ---------------------------------------------

    .opc-progress-bar {
        &:extend(.abs-reset-list all);
        .lib-css(margin, @checkout-progress-bar__margin 0);
        text-align: center;

        .opc-progress-bar-item {
            .lib-css(margin, 0 0 @checkout-progress-bar-item__margin);
            text-align: center;
            margin-bottom: @indent__xs;
            display: inline-block;
            width: 310px;
            margin-left: -4px;

            span {
                display: block;
                font-size: @checkout-progress-bar__font-size;
                padding-bottom: 15px;
                border-bottom: 2px solid @secondary__color__light;
                font-weight: @font-weight__bold;
                color: @secondary__color__light;
            }

            &._active {
                span {
                    color: @active__color;
                    border-bottom-color: @active__color;
                    .lib-icon-font(
                        @_icon-font-content: @ico-lg-chk_shipping,
                        @_icon-font-size: 24px,
                        @_icon-font-line-height: 24px,
                        @_icon-font-text-hide: false,
                        @_icon-font-position: before,
                        @_icon-font-display: block
                    );

                    &:before {
                        margin-right: 15px;
                    }
                }
            }

            &._complete {
                cursor: pointer;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .opc-progress-bar {
        display: none;
    }
}