// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-shipping-address__max-width: 540px;
@checkout-shipping-item-icon__background-color: @checkout-shipping-item__active__border-color;
@checkout-shipping-item-icon__color: @color-white;
@checkout-shipping-item-icon__content: @icon-checkmark;

@checkout-shipping-item__font-size: 24px;
@checkout-shipping-item__border: 4px solid transparent;
@checkout-shipping-item__margin: 0 0 @indent__base;
@checkout-shipping-item__padding: @indent__l;
@checkout-shipping-item__transition: .3s border-color;
@checkout-shipping-item__width: 100%/3;
@checkout-shipping-item-tablet__width: 100%/2;
@checkout-shipping-item-mobile__width: 100%;
@checkout-shipping-item__active__border-color: @active__color;

@checkout-shipping-item-icon__selected__height: 30px;
@checkout-shipping-item-icon__selected__width: 30px;

@checkout-shipping-item-mobile__padding: 0 0 15px;
@checkout-shipping-item-mobile__margin: 0;
@checkout-shipping-item-mobile__active__padding: 15px (@indent__l + 5px) 15px 18px;

@checkout-shipping-item-before__border-color: @secondary__color__light;

@checkout-shipping-method__border: @checkout-step-title__border;
@checkout-shipping-method__padding: @indent__l;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .opc-wrapper {

        //
        //  Shipping Address
        //  ---------------------------------------------

        .form-login,
        .form-shipping-address {
            padding-top: @indent__l;
        }

        .form-login {
            .actions-toolbar {
                .action.primary {
                    &:extend(.abs-button-l all);
                }

                .secondary {
                    a {
                        font-size: 22px;

                        .lib-link(
                            @_link-color: @active__color
                        );
                    }
                }
            }
        }

        .shipping-address-items {
            font-size: 0;
        }

        .action-show-popup {
            &:extend(.abs-button all);
            .lib-button-icon(
                @icon-expand,
                @_icon-font-size: 14px,
                @_icon-font-line-height: 100%,
                @_icon-font-vertical-align: baseline,
                @_icon-font-text-hide: false
            );
        }

        .shipping-address-item {
            &:extend(.abs-add-box-sizing all);
            .lib-css(border, @checkout-shipping-item__border);
            .lib-css(font-size, @checkout-shipping-item__font-size);
            .lib-css(margin, @checkout-shipping-item__margin);
            .lib-css(padding, @checkout-shipping-item__padding);
            .lib-css(transition, @checkout-shipping-item__transition);
            .lib-css(width, @checkout-shipping-item-tablet__width);
            line-height: 1.8;
            display: inline-block;
            position: relative;
            vertical-align: top;
            word-wrap: break-word;

            a {
                pointer-events: none;
                cursor: default;
                .lib-link(
                    @_link-color: @active__color,
                    @_link-text-decoration: none,
                    @_link-text-decoration-visited: none,
                    @_link-text-decoration-hover: none,
                    @_link-text-decoration-active: none
                );
            }

            &.selected-item {
                .lib-css(border-color, @checkout-shipping-item__active__border-color);

                &:before {
                    .lib-css(background, @checkout-shipping-item-icon__background-color);
                    .lib-css(color, @checkout-shipping-item-icon__color);
                    .lib-css(content, @checkout-shipping-item-icon__content);
                    .lib-css(font-family, @icons__font-name);
                    .lib-css(height, @checkout-shipping-item-icon__selected__height);
                    .lib-css(width, @checkout-shipping-item-icon__selected__width);
                    font-size: 19px;
                    line-height: @checkout-shipping-item-icon__selected__height;
                    position: absolute;
                    right: 0;
                    text-align: center;
                    top: 0;
                }

                .action-select-shipping-item {
                    &:extend(.abs-no-display-s all);
                    visibility: hidden;
                }
            }
        }

        .field {
            &.addresses {
                &:extend(.abs-add-clearfix all);
            }
        }

        .action-select-shipping-item {
            &:extend(.abs-button all);
        }

        .edit-address-link {
            &:extend(.abs-button all);
            &,
            &:hover,
            &:active {
                border-color: @border-color__base !important;
                color: @primary__color !important;
                background-color: @secondary__color__lighter !important;
                font-weight: @font-weight__regular !important;
            }
        }
    }

    //
    //  Shipping Methods
    //  ---------------------------------------------

    .checkout-shipping-method {
        .no-quotes-block {
            margin: @indent__base 0;
        }

        .actions-toolbar {
            > .primary {
                .action {
                    &.primary {
                        &:extend(.abs-button-l all);
                    }
                }
            }
        }
    }

    .table-checkout-shipping-method {
        thead {
            th {
                display: none;
            }
        }

        tbody {
            border-bottom: none;

            td {
                .lib-css(padding-top, @checkout-shipping-method__padding);
                .lib-css(padding-bottom, @checkout-shipping-method__padding);
                cursor: pointer;
                text-align: left;
                font-size: 24px;
                border-bottom: 1px solid @secondary__color__light;

                &:first-child {
                    padding-left: 0;
                    padding-right: 0;
                    width: 50px;
                }

                &.col-price {
                    font-weight: @font-weight__bold;
                }

                .col-carrier,
                .col-method {
                    font-weight: @font-weight__light;
                }
            }

            tr {
                &:last-child {
                    td {
                        border-bottom: none;
                    }
                }
            }

            .row-error {
                td {
                    border-top: none;
                    padding-bottom: @indent__s;
                    padding-top: 0;
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .opc-wrapper {
        .form-login {
            .lib-css(border-top, 1px solid @checkout-shipping-item-before__border-color);

            & + .form-shipping-address {
                padding-top: 0;
            }

            .actions-toolbar {
                margin-bottom: 75px;
                padding-bottom: 75px;
                border-bottom: 1px solid @checkout-shipping-item-before__border-color;

                .secondary {
                    margin-top: 35px;

                    a {
                        text-decoration: underline;
                    }
                }
            }
        }

        .shipping-address-items {
            margin-bottom: @indent__xl;

            .actions-toolbar {
                margin-left: -@checkout-shipping-item__padding;
                margin-right: -@checkout-shipping-item__padding;

                .edit-address-link,
                .action-select-shipping-item {
                    margin-top: @indent__l;
                }

                .edit-address-link {
                    margin-left: @indent__xl;
                }
            }
        }

        .shipping-address-item {
            .lib-css(margin, @checkout-shipping-item-mobile__margin);
            .lib-css(width, @checkout-shipping-item-mobile__width);
            border-width: 0;
            padding-bottom: @indent__xl;
            line-height: 1.2;

            a {
                display: inline-block;
                margin-top: @indent__base;
            }

            &.selected-item {
                border-width: 4px;
                padding-bottom: @checkout-shipping-item__padding;

                .edit-address-link {
                    .lib-css(right, @checkout-shipping-item-icon__selected__width + @indent__s);
                }

                & + .shipping-address-item {
                    &:after {
                        display: none;
                    }
                }
            }

            &:after {
                .lib-css(background, @checkout-shipping-item-before__border-color);
                content: '';
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                height: 2px;
            }

            &:first-child {
                &:after {
                    display: none;
                }
            }

            &.not-selected-item {
                &:last-child {
                    &:before {
                        .lib-css(background, @checkout-shipping-item-before__border-color);
                        content: '';
                        left: 0;
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        height: 2px;
                    }
                }
            }

            &.selected-item {
                &:after {
                    display: none;
                }

                .action-select-shipping-item {
                    display: none;
                }
            }
        }

        .action-select-shipping-item,
        .action-show-popup {
            width: 100%;
        }

        .action-show-popup {
            &:before {
                font-weight: @font-weight__bold;
            }
        }
    }

    .checkout-shipping-method {
        .step-content {
            background: @secondary__color__lighter;
            margin: 0 -@layout__width-xs-indent * 2;
            padding: @checkout-shipping-method__padding @layout__width-xs-indent * 2 @indent__xl;

            form {
                .actions-toolbar {
                    margin-bottom: 0;
                }
            }
        }
    }

    .table-checkout-shipping-method {
        tbody {
            tr {
                &:first-child {
                    td {
                        padding-top: 0;
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .checkout-shipping-method {
        tbody {
            td {
                font-size: @font-size__s;
                .lib-css(padding-top, @checkout-shipping-method__padding/2);
                .lib-css(padding-bottom, @checkout-shipping-method__padding/2);
            }
        }

        .step-content {
            margin: 0 -@layout__width-xs-indent;
            padding: @checkout-shipping-method__padding/2 @layout__width-xs-indent @indent__base;
        }
    }

    .opc-wrapper {
        .form-login,
        .form-shipping-address {
            padding-top: 15px;
        }

        .form-login {
            .actions-toolbar {
                margin-bottom: 35px;
                padding-bottom: 35px;

                .secondary {
                    margin-top: 15px;

                    a {
                        font-size: 11px;
                    }
                }
            }
        }

        .shipping-address-items {
            margin-bottom: @indent__base;

            .actions-toolbar {
                margin-left: -@checkout-shipping-item__padding/2;
                margin-right: -@checkout-shipping-item__padding/2;

                .edit-address-link,
                .action-select-shipping-item {
                    margin-top: 15px;
                }

                .edit-address-link {
                    margin-left: @indent__base;
                }
            }
        }

        .shipping-address-item {
            font-size: @checkout-shipping-item__font-size/2;
            padding: @checkout-shipping-item__padding/2;
            padding-bottom: @indent__base;

            a {
                margin-top: @indent__s;
            }

            &.selected-item {
                border-width: 2px;
                padding-bottom: @checkout-shipping-item__padding/2;

                &:before {
                    width: @checkout-shipping-item-icon__selected__height/2;
                    height: @checkout-shipping-item-icon__selected__height/2;
                    line-height: @checkout-shipping-item-icon__selected__height/2;
                    font-size: @font-size__xs;
                }
            }

            &:after {
                height: 1px;

            }

            &.not-selected-item {
                &:last-child {
                    &:before {
                        height: 1px;
                    }
                }
            }
        }

        .action-show-popup {
            &:before {
                font-size: @font-size__xs;
                position: relative;
                top: 1px;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .checkout-shipping-method {
        .actions-toolbar {
            margin-top: @indent__l;

            > .primary {
                float: right;
            }

            .action {
                &.primary {
                    margin: 0;
                }
            }
        }

        tbody {
            td {
                font-size: 16px;
                .lib-css(padding-top, @indent__base);
                .lib-css(padding-bottom, @indent__base);

                &.col-price {

                }
            }
        }
    }

    .table-checkout-shipping-method {
        max-width: 500px;
    }

    .opc-wrapper {
        .form-login {
            .lib-css(border-bottom, 1px solid @checkout-shipping-item-before__border-color);
            margin-bottom: 15px;
            padding-bottom: 15px;

            .actions-toolbar {
                margin-bottom: 35px;

                .secondary {
                    margin-left: 30px;
                    float: left;

                    a {
                        font-size: 16px;
                        margin-top: @indent__base;
                    }
                }
            }
        }

        .form-login,
        .form-shipping-address {
            max-width: @checkout-shipping-address__max-width;
        }

        .shipping-address-item {
            font-size: 16px;
            .lib-css(width, @checkout-shipping-item__width);
            padding: @indent__xl @indent__l @indent__s;
            border-width: 2px;
            margin-bottom: @indent__xl;

            &.selected-item {
                &:before {
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                }
            }
        }

        .edit-address-link {
            margin-top: @indent__l;
        }

        .action-select-shipping-item {
            margin-top: @indent__l;
            margin-left: 7px;
        }

        .action-show-popup {
            &:before {
                font-size: @font-size__xs;
                position: relative;
            }
        }
    }
}
