// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-sidebar-shipping-information__line-height: @checkout-billing-address-details__line-height;

@checkout-sidebar-shipping-information-edit-icon__color: @primary__color__lightest;
@checkout-sidebar-shipping-information-edit-icon__content: @icon-settings;
@checkout-sidebar-shipping-information-edit-icon__font-size: 24px;
@checkout-sidebar-shipping-information-edit-icon__line-height: 24px;
@checkout-sidebar-shipping-information-edit-icon__top: 2px;
@checkout-sidebar-shipping-information-edit-icon__hover__color: @primary__color;


//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Shipping Information
    //  ---------------------------------------------

    .opc-block-shipping-information {
        padding: 0 @summary__padding;

        .shipping-information-title {
            .lib-css(border-bottom, 1px solid @secondary__color__light);
            position: relative;

            span {
                &:extend(.abs-step-title all);
                border-bottom: none;
            }

            .action-edit {
                &:extend(.abs-action-button-as-link all);
                float: right;
                position: relative;
                top: 16px;
                .lib-icon-font(
                        @checkout-sidebar-shipping-information-edit-icon__content,
                    @_icon-font-size: @checkout-sidebar-shipping-information-edit-icon__font-size,
                    @_icon-font-line-height: @checkout-sidebar-shipping-information-edit-icon__line-height,
                    @_icon-font-text-hide: true,
                    @_icon-font-color: @checkout-sidebar-shipping-information-edit-icon__color,
                    @_icon-font-color-hover: @checkout-sidebar-shipping-information-edit-icon__hover__color,
                    @_icon-font-color-active: @checkout-sidebar-shipping-information-edit-icon__color
                );
            }
        }

        .shipping-information-content {
            padding: @indent__s 0;
            .lib-css(line-height, @checkout-sidebar-shipping-information__line-height);

            .actions-toolbar {
                margin-left: 0;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .opc-summary-wrapper {
        &.modal-custom {
            .opc-block-shipping-information {
                padding: 0 @indent__base;

                .shipping-information-title {
                    padding-top: @indent__l;
                    padding-bottom: @indent__s;
                    border-bottom-width: 2px;

                    .action-edit {
                        top: 10px;

                        &:before {
                            font-size: 30px;
                            line-height: 30px;
                        }
                    }
                }

                .shipping-information-content {
                    font-size: 24px;
                    line-height: 1.2;
                    padding-top: @indent__l;
                    padding-bottom: @indent__l;

                    a {
                        display: block;
                        margin-top: @indent__base;
                        .lib-link(
                            @_link-color: @active__color,
                            @_link-text-decoration: none,
                            @_link-color-visited: @active__color,
                            @_link-text-decoration-visited: none,
                            @_link-color-hover: @active__color,
                            @_link-text-decoration-hover: none,
                            @_link-color-active: @active__color,
                            @_link-text-decoration-active: none
                        );
                    }
                }

                .ship-via {
                    .shipping-information-title {
                        padding-top: 0;
                    }
                }

                .ship-to {
                    .shipping-information-content {
                        padding-bottom: @indent__s;
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .opc-summary-wrapper {
        &.modal-custom {
            .opc-block-shipping-information {
                padding: 0 @indent__s;

                .shipping-information-title {
                    padding-top: 15px;
                    padding-bottom: @indent__xs;
                    border-bottom-width: 1px;

                    .action-edit {
                        top: 3px;

                        &:before {
                            font-size: 15px;
                            line-height: 15px;
                        }
                    }
                }

                .shipping-information-content {
                    font-size: @font-size__s;
                    padding-top: @indent__l/2;
                    padding-bottom: @indent__l/2;


                    a {
                        margin-top: @indent__s;
                    }
                }

                .ship-to {
                    .shipping-information-content {
                        padding-bottom: @indent__xs;
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .opc-block-shipping-information {
        .shipping-information-title {
            padding-bottom: 15px;
            padding-top: @indent__l;
        }

        .shipping-information-content {
            font-size: 16px;
            line-height: 1.8;

            a {
                pointer-events: none;
                cursor: default;
                .lib-link(
                    @_link-color: @active__color,
                    @_link-text-decoration: none,
                    @_link-color-visited: @active__color,
                    @_link-text-decoration-visited: none,
                    @_link-color-hover: @active__color,
                    @_link-text-decoration-hover: none,
                    @_link-color-active: @active__color,
                    @_link-text-decoration-active: none
                );
            }
        }
    }
}