// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-tooltip__hover__z-index: @tooltip__z-index;
@checkout-tooltip-breakpoint__screen-m: @modal-popup-breakpoint-screen__m;

@checkout-tooltip-icon-arrow__font-size: 10px;
@checkout-tooltip-icon-arrow__left: -( @checkout-tooltip-content__padding + @checkout-tooltip-icon-arrow__font-size - @checkout-tooltip-content__border-width);

@checkout-tooltip-icon__color: @secondary__color__light;
@checkout-tooltip-icon__content: @icon-help;
@checkout-tooltip-icon__font-size: 30px;
@checkout-tooltip-icon__hover__color: @active__color;

@checkout-tooltip-content__background-color: @tooltip__background;
@checkout-tooltip-content__border-color: @tooltip__border-color;
@checkout-tooltip-content__border-width: 1px;
@checkout-tooltip-content__font-size: 24px;
@checkout-tooltip-content__padding: 12px;
@checkout-tooltip-content__width: 270px;
@checkout-tooltip-content__active__border-color: @active__color;

@checkout-tooltip-content-mobile-popup__width: 200px;
@checkout-tooltip-content-mobile__right: -(@indent__s);
@checkout-tooltip-content-mobile__top: 30px + @checkout-tooltip-icon-arrow__font-size;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .field-tooltip {
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;

        &._active {
            .lib-css(z-index, @checkout-tooltip__hover__z-index);

            .field-tooltip-content {
                display: block;
            }

            .field-tooltip-action {
                &:before {
                    .lib-css(color, @checkout-tooltip-icon__hover__color);
                }
            }
        }

        .field-tooltip-action {
            .lib-icon-font(
                @checkout-tooltip-icon__content,
                @_icon-font-line-height: @form-element-input__height,
                @_icon-font-size: @checkout-tooltip-icon__font-size,
                @_icon-font-text-hide: true,
                @_icon-font-color: @checkout-tooltip-icon__color,
                @_icon-font-color-hover: @checkout-tooltip-icon__hover__color,
                @_icon-font-color-active: false
            );

            &:before {
                width: @checkout-tooltip-icon__font-size + 2px;
            }

            &:focus {
                ._keyfocus & {
                    .lib-css(z-index, @checkout-tooltip__hover__z-index);

                    + .field-tooltip-content {
                        display: block;
                    }

                    &:before {
                        .lib-css(color, @checkout-tooltip-icon__hover__color);
                    }
                }
            }
        }

        .field-tooltip-content {
            .lib-css(background, @checkout-tooltip-content__background-color);
            .lib-css(border, @checkout-tooltip-content__border-width solid @checkout-tooltip-content__border-color);
            .lib-css(border-radius, @checkout-tooltip-content__border-width);
            .lib-css(font-size, @checkout-tooltip-content__font-size);
            .lib-css(padding, @checkout-tooltip-content__padding);
            .lib-css(width, @checkout-tooltip-content__width);
            display: none;
            left: 38px;
            position: absolute;
            text-transform: none;
            top: -9px;
            word-wrap: break-word;
            z-index: 2;
            color: @active__color;
        }
    }
}

//
//  Mobile
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .field-tooltip {
        .field-tooltip-content {
            left: auto;
            right: 0;
            top: 55px;

            &:before,
            &:after {
                .lib-arrow(
                    @_position: up,
                    @_size: @checkout-tooltip-icon-arrow__font-size,
                    @_color: @checkout-tooltip-content__background-color
                );
                content: '';
                display: block;
                position: absolute;
                z-index: 3;
                right: 0;
                top: -20px;
            }

            &:before {
                .lib-css(border-bottom-color, @checkout-tooltip-content__active__border-color);
                border-width: 11px;
                top: -23px;
            }

            &:after {
                .lib-css(border-bottom-color, @checkout-tooltip-content__background-color);
                width: 2px;
                z-index: 4;
            }
        }

        .field-tooltip-action {
            &:before {
                line-height: @form-element-mobile-input__height;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .modal-popup {
        .field-tooltip {
            .field-tooltip-content {
                .lib-css(width, @checkout-tooltip-content-mobile-popup__width);
            }
        }
    }

    .field-tooltip {
        .field-tooltip-content {
            font-size: @font-size__s;
            top: 35px;

            &:after,
            &:before {
                top: -10px;
            }

            &:after {
                border-width: 5px;
            }

            &:before {
                border-width: 6px;
                top: -13px;
            }
        }

        .field-tooltip-action {
            &:before {
                line-height: @form-element-mobile-input__height/2;
                font-size: 20px;
                width: 22px;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .field-tooltip {
        .field-tooltip-content {
            font-size: 16px;
            top: 15px;
            left: 45px;

            &:before,
            &:after {
                border-top: 0 solid transparent;
                border-bottom: 10px solid transparent;
                border-right: 10px solid @checkout-tooltip-content__active__border-color;
                height: 0;
                width: 0;
                .lib-css(left, -10px);
                .lib-css(top, 0);
                content: '';
                display: block;
                position: absolute;
                z-index: 3;
            }

            &:before {
                top: -1px;
                border-top: 1px solid @active__color;
                .lib-css(border-right-color, @checkout-tooltip-content__active__border-color);
            }

            &:after {
                .lib-css(border-right-color, @checkout-tooltip-content__background-color);
                width: 1px;
                z-index: 4;
            }
        }
    }
}
