// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Components -> Modals
//  _____________________________________________

//
//  Variables
//  ---------------------------------------------

@modal-title__color: @text__color;
@modal-title__border-color: @secondary__color__light;

@modal-popup-title__font-size: 36px;
@modal-popup-title-mobile__font-size: 30px;
@modal-popup-breakpoint-screen__m: @screen__m;

@modal-slide__first__indent-left: 44px;
@modal-slide-mobile__background-color: @color-gray-light01;
@modal-overlay__background-color: fade(@color-gray20, 55%);

@modal-action-close__color: @primary__color;
@modal-action-close__font-size: 15px;
@modal-action-close__hover__color: darken(@primary__color, 10%);
@modal-slide-action-close__padding: @modal-action-close__font-size;

@modal-slide-title-desktop__padding: 28px 0 21px 0;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .modal-custom,
    .modal-popup,
    .modal-slide {
        .action-close {
            .lib-button-reset();
            .lib-button-icon(
                    @icon-remove,
                @_icon-font-color: @text__color,
                @_icon-font-size: @modal-action-close__font-size,
                @_icon-font-line-height: @modal-action-close__font-size,
                @_icon-font-text-hide: true
            );
            position: absolute;
            right: 0;
            top: 0;

            &:before {
                padding: @modal-slide-action-close__padding;
            }

            &:hover {
                &:before {
                    color: @modal-action-close__hover__color;
                }
            }
        }
    }

    .modal-custom {
        .action-close {
            .lib-css(margin, @indent__m);
        }
    }

    .modal-popup {
        .modal-header,
        .modal-footer {
            padding: 0;
        }

        .modal-title {
            .lib-css(font-weight, @font-weight__bold);
        }

        .modal-content {
            padding: 0;
        }
    }

    .modal-slide {
        .page-main-actions {
            margin-bottom: @modal-slide-header__padding-vertical - (@indent__l/2);
            margin-top: @modal-slide-header__padding-vertical;
        }
    }

    .modals-overlay {
        .lib-css(background-color, @modal-overlay__background-color);
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
    }

    body {
        &._has-modal-custom {
            .modal-custom-overlay {
                height: 100vh;
                left: 0;
                position: fixed;
                top: 0;
                width: 100vw;
                z-index: @overlay__z-index;
            }
        }
    }

    .modal-inner-wrap {
        box-shadow: none !important;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .modal-custom,
    .modal-popup,
    .modal-slide {
        .action-close {
            .lib-button-reset();
            .lib-button-icon(
                    @icon-remove,
                @_icon-font-color: @text__color,
                @_icon-font-size: 10px,
                @_icon-font-line-height: 10px,
                @_icon-font-text-hide: true
            );

            &:before {
                padding: 10px;
            }
        }
    }

    .modal-popup {
        &.confirm {
            .modal-inner-wrap {
                .modal-content {
                    margin-bottom: 25px;

                    div {
                        font-size: 12px;
                    }
                }
            }
        }

        &:not(.confirm):not(.prompt) {
            .modal-content .field:last-child:not(.additional) {
                margin-bottom: 0;
            }

            .modal-footer {
                padding-top: 17.5px;
            }
        }

        .modal-header {
            padding: 0 10px;
        }

        .modal-title {
            .lib-css(border-bottom, 1px solid @modal-title__border-color);
            .lib-css(font-size, @modal-popup-title-mobile__font-size/2);
            padding: 17.5px 0 7.5px 0;
            margin-bottom: 10px;
        }

        .modal-content {
            padding: 0 10px;

            .field:last-child:not(.additional) {
                margin-bottom: 17.5px;
            }
        }

        .modal-footer {
            padding: 0 10px 20px;

            .action {
                font-size: 11px;

                &.primary {
                    padding: 8.5px 0;
                }

                &.secondary {
                    padding: 15px 0 1.5px 0;
                }
            }

            &.actions-toolbar {
                padding: 0 0 20px 0;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @modal-popup-breakpoint-screen__m) {
    .custom-slide {
        .lib-modal();
        .lib-modal-popup();
    }

    body {
        &._has-modal-custom {
            .modal-custom-overlay {
                .lib-css(background-color, @modal-overlay__background-color);
            }
        }
    }

    .modal-custom,
    .modal-popup,
    .modal-slide {
        .action-close {
            .lib-button-reset();
            .lib-button-icon(
                    @icon-remove,
                @_icon-font-color: @text__color,
                @_icon-font-size: 18px,
                @_icon-font-line-height: 18px,
                @_icon-font-text-hide: true
            );

            &:before {
                padding: 20px;
                font-weight: @font-weight__bold;
            }
        }
    }

    .modal-popup {
        &.modal-slide {
            .modal-inner-wrap[class] {
                .lib-css(background-color, @modal-slide-mobile__background-color);
            }

            &._inner-scroll {
                &._show {
                    -webkit-overflow-scrolling: touch;
                    overflow-y: auto;
                }

                .modal-inner-wrap {
                    height: auto;
                    min-height: 100%;
                }
            }
        }

        &:not(.confirm):not(.prompt) {
            .modal-content .field:last-child:not(.additional) {
                margin-bottom: 0;
            }

            .modal-footer {
                padding-top: 35px;
            }
        }

        &.confirm {
            .modal-inner-wrap {
                .modal-content {
                    margin-bottom: 50px;

                    div {
                        font-size: 24px;
                    }
                }
            }
        }

        .modal-header {
            padding: 0 20px;
        }

        .modal-title {
            .lib-css(border-bottom, 2px solid @modal-title__border-color);
            .lib-css(font-size, @modal-popup-title-mobile__font-size);
            padding: 35px 0 15px 0;
        }

        .modal-content {
            padding: 0 20px;

            .field:last-child:not(.additional) {
                margin-bottom: 35px;
            }
        }

        .modal-footer {
            padding: 0 20px 40px;
            text-align: center;
            margin-bottom: 0;

            &.actions-toolbar {
                padding: 0 0 40px 0;
            }

            .action {
                font-size: 22px;

                &.primary {
                    padding: 17px 0;
                    margin: 0;
                    width: 100%;
                }

                &.secondary {
                    border: none;
                    color: @active__color;
                    font-weight: @font-weight__light;
                    border-bottom: 1px solid @active__color;
                    padding: 30px 0 3px 0;
                    width: auto;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @modal-popup-breakpoint-screen__m) {
    .modal-popup {
        &.modal-slide {
            .modal-footer {
                text-align: right;
            }
        }

        &.confirm {
            .modal-inner-wrap {
                width: 400px;

                .modal-content {
                    margin-bottom: 75px;

                    div {
                        padding: 0 30px;
                        font-size: 16px;
                    }
                }
                .modal-footer {
                    .action-accept {
                        width: 130px;
                    }
                }
            }
        }

        &:not(.alert) {
            .modal-footer {
                text-align: right;

                > .primary {
                    float: right;
                }
            }
        }

        &.alert {
            .modal-footer {
                text-align: center;
            }
        }

        .modal-header {
            padding: 0 30px;
        }

        .modal-title {
            .lib-css(border-bottom, 1px solid @modal-title__border-color);
            .lib-css(padding, @modal-slide-title-desktop__padding);
            font-size: @modal-popup-title__font-size;
            margin-bottom: 22px;
            min-height: 1em;
            word-wrap: break-word;
        }

        .modal-content {
            padding: 0 30px;

            .field:last-child:not(.additional) {
                margin-bottom: 38px;
            }
        }

        .modal-footer {
            padding: 20px 30px;
            border-top: 1px solid @modal-title__border-color;

            .action {
                font-size: 18px;

                &.primary {
                    width: 182px;
                    padding: 11.5px 0;
                    margin: 0;
                }

                &.secondary {
                    border: none;
                    color: @primary__color;
                    font-weight: @font-weight__light;
                    padding: 0 30px;
                    line-height: 41px;
                    width: auto;
                }
            }
        }
    }
}
