// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________
@summary__padding: 30px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Shopping cart
    //  ---------------------------------------------

    //  Summary block
    .cart-summary {
        &:extend(.abs-sidebar-summary all);

        .block {
            &:extend(.abs-discount-block all);

            .item-options {
                margin-left: 0;
            }

            .fieldset {
                .field {
                    .lib-form-field-type-revert(@_type: block);

                    &.note {
                        margin: 0 0 @indent__s;
                    }

                    &:not(.choice) {
                        > .label {
                            font-weight: @font-weight__bold;
                        }
                    }

                    .message {
                        top: 0;
                        margin-bottom: 0;
                        padding-left: @indent__s;
                        padding-right: @indent__s;
                        padding-top: @indent__s;
                    }

                    > .label {
                        width: calc(100% - 40px);
                    }
                }

                &.coupon {
                    margin-bottom: @indent__base;
                    overflow: hidden;

                    .field {
                        margin: 0 0 @indent__s;

                        label {
                            font-weight: @font-weight__light;
                        }
                    }

                    .actions-toolbar {
                        border: none;
                        padding: 0;
                        margin: 0;

                        .primary {
                            width: 100%;
                        }
                    }
                }
            }

            .fieldset.estimate {
                > .legend,
                > .legend + br {
                    &:extend(.abs-no-display all);
                }
            }
        }

        .actions-toolbar {
            > .primary {
                button {
                    &:extend(.abs-revert-secondary-color all);
                }
            }
        }
        &:extend(.abs-adjustment-incl-excl-tax all);

        .items.methods {
            dt {
                font-size: 26px;
                margin-bottom: @indent__s;
            }

            dd {
                margin-bottom: @indent__l;

                .price {
                    font-weight: @font-weight__bold;
                }
            }
        }
    }

    //  Totals block
    .cart-totals {
        &:extend(.abs-sidebar-totals all);

        .table-wrapper {
            margin-bottom: 0;
            overflow: inherit;

            .totals-tax {
                th,
                td span {
                    display: none;
                }
            }

            .totals {
                tbody {
                    border-bottom: none;

                    .grand {
                        th,
                        td {
                            border-top: 1px solid @primary__color;
                        }
                    }
                }
            }
        }
    }

    //  Products table
    .cart.table-wrapper {
        .col {
            vertical-align: top;

            &.qty {
                .input-text {
                    &:extend(.abs-input-qty all);
                    vertical-align: top;
                    margin: 0 -5px 0 -6px;
                }

                .qty-collapse,
                .qty-expande {
                    height: @form-element-mobile-input__height;
                    width: @form-element-mobile-input__height;
                    font-size: @form-element-mobile-input__font-size;

                    .lib-button(
                        @_button-color: @form-element-input__border-color,
                        @_button-color-active: @form-element-input__border-color,
                        @_button-color-hover: @form-element-input__border-color,
                        @_button-border: @form-element-input__border,
                        @_button-border-hover: @form-element-input__border,
                        @_button-border-active: @form-element-input__border,
                        @_button-padding: 0 ,
                        @_button-icon-use: true,
                        @_button-font-content: @icon-collapse,
                        @_button-icon-font-size: @button__font-size,
                        @_button-icon-font-line-height: @form-element-mobile-input__font-size,
                        @_button-icon-font-text-hide: true
                    );

                    border-width: 2px;
                }

                .qty-expande {
                    .lib-icon-font-symbol(
                        @_icon-font-content:  @icon-expand,
                        @_icon-font-position: @button-icon__position
                    );
                }

                .label {
                    &:extend(.abs-visually-hidden all);
                }

                .action {
                    margin: 0;
                    .lib-button(
                        @_button-icon-use: true,
                        @_button-font-content: @icon-update,
                        @_button-icon-font-size: @button__font-size,
                        @_button-icon-font-line-height: @button__line-height,
                        @_button-icon-font-text-hide: true
                    );
                }
            }

            &.price {
                p {
                    margin: 0;
                }

                .price {
                    font-weight: @font-weight__bold;
                    line-height: 100%;
                }

                .old-price {
                    display: block;
                    line-height: 100%;

                    .price {
                        font-weight: @font-weight__regular;
                        color: @primary__color__lightest;
                    }
                }
            }
        }

        .item {
            &-actions td {
                text-align: center;
                white-space: normal;
                border-top: none;
                padding: 0;
            }

            .col {
                &.item {
                    position: relative;
                    border-top: 0;
                }
            }
        }


        .actions-toolbar {
            border: none;
            position: relative;
            margin-bottom: 0;

            &:extend(.abs-add-clearfix all);

            .action {
                font-weight: @font-weight__light;

                span {
                    color: @primary__color;
                }

                &:last-child {
                    &:after {
                        display: none;
                    }
                }

                &-edit,
                &-towishlist,
                &-delete {
                    position: absolute;
                    right: 55px;
                    top: 0;
                    .lib-icon-font(
                            @icon-edit,
                        @_icon-font-size: 26px,
                        @_icon-font-line-height: 100%,
                        @_icon-font-text-hide: true,
                        @_icon-font-color: @primary__color__lightest,
                        @_icon-font-color-hover: @primary__color,
                        @_icon-font-color-active: @primary__color
                    );
                }

                &-delete {
                    &:extend(.abs-action-button-as-link all);
                    right: 15px;
                    .lib-icon-font-symbol(
                        @_icon-font-content: @icon-trash
                    );
                }

                &-towishlist {
                    display: none;
                    &:extend(.abs-action-button-as-link all);
                    .lib-icon-font-symbol(
                        @_icon-font-content: @icon-wishlist-empty
                    );

                    &:before {
                        font-size: 20px;
                        width: 24px;
                        color: @active__color !important;
                    }
                }
            }
        }

        .action {
            &.help.map {
                &:extend(.abs-action-button-as-link all);
                font-weight: @font-weight__regular;
            }
        }

        .product {
            &-item-photo {
                display: table-cell;
            }

            &-item-details {
                position: relative;
                display: table-cell;
                vertical-align: top;
                white-space: normal;
                padding-left: 55px;

                .message {
                    margin: @indent__s 0 0;
                }

                .actions-toolbar {
                    position: static;

                    .action {
                        display: none;

                        &-towishlist {
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: auto;
                        }
                    }
                }
            }

            &-item-name {
                height: auto;
            }
        }

        .gift-registry-name-label {
            &:after {
                content: ':';
            }
        }

        //  Product options
        .item-options {
            &:extend(.abs-product-options-list all);
            &:extend(.abs-add-clearfix all);
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }

        .action.configure {
            display: inline-block;
            margin: 0 0 @indent__base;
        }
    }

    .cart-container {
        .form-cart {
            .actions {
                button.action {
                    &:extend(.abs-button all);
                }

                p {
                    margin-bottom: 30px;
                    overflow: hidden;
                }
            }
        }

        .checkout-methods-items {
            &:extend(.abs-reset-list all);
            text-align: center;

            .action.primary {
                &:extend(.abs-button-l all);
                width: 100%;
                min-width: auto;
            }

            .action.multicheckout {
                display: block;
                font-size: 24px;
                margin-top: @indent__l;

                .lib-link(
                    @_link-color: @active__color,
                    @_link-color-visited: @active__color,
                    @_link-text-decoration: underline
                );
            }

            .item {
                & + .item {
                    margin-bottom: @indent__s;
                }
            }
        }
    }

    //  Products pager
    .cart-products-toolbar {
        .toolbar-amount {
            margin: @indent__m 0 15px;
            padding: 0;
            text-align: center;
        }

        .pages {
            margin: 0 0 @indent__m;
            text-align: center;

            .items {
                > .item {
                    border-bottom: 0;
                }
            }
        }
    }

    .cart-products-toolbar-top {
        border-bottom: @border-width__base solid @border-color__base;
    }

    .no-cart-item {
        display: table;
        width: 100%;
    }

    .cart-empty {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        width: 100%;

        .page-title {
            .lib-icon-font(
                @_icon-font-content: @ico-lg-nocart,
                @_icon-font-color: @active__color,
                @_icon-font-size: 150px,
                @_icon-font-position: before,
                @_icon-font-display: block
            );

            &:before {
                display: block;
                margin-bottom: @indent__xs;
            }
        }

        p {
            font-size: 36px;
            margin: 0;
        }

        a {
            .lib-link(
                @_link-color: @active__color,
                @_link-color-visited: @active__color
            );
        }

        .actions-toolbar {
            margin-top: @indent__base;
            border-top: 0;
            text-align: center;

            .primary {
                float: none;
            }
        }
    }

    //
    //  Cross sell
    //  ---------------------------------------------

    .block.crosssell {
        margin-top: 70px;

        .title {
            text-transform: uppercase;

            strong {
                font-size: 30px !important;
            }
        }
    }

    .cart-tax-info,
    .cart .cart-tax-info {
        + .cart-tax-total {
            display: block;
        }
    }

    //  Discount
    .cart-discount {
        box-sizing: border-box;

        .block {
            &:extend(.abs-discount-block all);

            .title {
                border-top-color: @secondary__color__light;

                strong {
                    color: @active__color;
                }

                &:after {
                    margin-left: 15px;
                }
            }

            .content {
                label {
                    &:extend(.abs-visually-hidden all);
                }
            }

            .fieldset {
                display: table;
                width: 100%;
                margin: 0;

                .field {
                    display: table-cell;
                }
            }

            .actions-toolbar {
                display: table-cell;
                vertical-align: top;
                width: 30%;

                .primary {
                    display: block;
                    width: 100%;

                    button {
                        &:extend(.abs-button all);
                        padding-left: 0 !important;
                        padding-right: 0 !important;
                    }
                }
            }

            .links {
                button {
                    .lib-button-reset();
                    .lib-link(
                        @_link-color: @active__color,
                        @_link-text-decoration: underline
                    );
                    line-height: 1;
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .cart {
        &.table-wrapper {
            overflow: inherit;

            thead {
                .col {
                    display: none !important;
                }
            }

            tbody {
                border-bottom: 2px solid @secondary__color__light;
                position: relative;

                & + tbody {
                    border-top: none;
                }

                .item-actions {
                    .actions-toolbar {
                        a {
                            top: auto !important;
                            bottom: 120px;
                            right: @layout__width-xs-indent * 2;

                            &:before {
                                font-size: 40px;
                            }

                            &.action-edit {
                                right: @layout__width-xs-indent * 2 + 55px;
                            }
                        }
                    }
                }
            }

            .col {
                &.qty,
                &.price,
                &.subtotal {
                    box-sizing: border-box;
                    display: block;
                    float: left;
                    text-align: left;
                    white-space: nowrap;
                    width: 100%;
                    border: none;
                }

                &.price > span,
                &.qty > .qty,
                &.price > .price-box {
                    padding-left: 55px;
                    display: block;
                    float: right;
                    width: 63%;
                    box-sizing: border-box;
                }

                &.qty,
                &.price,
                &.item {
                    padding: 0 @layout__width-xs-indent * 2 @indent__xl;
                }

                &.item {
                    padding-top: 35px;
                    padding-bottom: 0 !important;
                }

                &.msrp {
                    white-space: normal;
                }

                &.msrp {
                    display: none;
                }

                &.subtotal {
                    padding: 0 @layout__width-xs-indent * 2;

                    &:before {
                        content: attr(data-th);
                        display: block;
                        font-weight: @font-weight__bold;
                        width: 50%;
                        float: left;
                        text-align: left;
                        line-height: 69px;
                        font-size: 26px;
                        border-top: 2px solid @secondary__color__light;
                    }

                    > span {
                        width: 50%;
                        float: right;
                        text-align: right;
                        border-top: 2px solid @secondary__color__light;

                        .price {
                            font-size: 40px !important;
                            color: @active__color !important;
                        }
                    }

                    span {
                        line-height: 1.7;
                    }
                }

                &.price {
                    .old-price {
                        .price {
                            font-size: 24px;
                        }
                    }
                }
            }

            .product {
                &-item-photo {
                    width: 37%;
                    display: block;
                    float: left;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;

                    span {
                        width: 100% !important;
                        display: block;

                        img {
                            width: 100%;
                            display: block;
                        }
                    }
                }
                
                &-item-details {
                    width: 63%;
                    display: block;
                    float: left;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                }
            }

            .item {
                .col {
                    &.item {
                        display: block;
                    }
                }
            }

            .actions-toolbar {
                .action-towishlist {
                    &:before {
                        font-size: 30px;
                        width: 32px;
                    }
                }
            }
        }

        &.actions {
            display: none;

            .continue,
            .clear {
                display: none !important;
            }

            .table-wrapper ~ & {
                display: block;
                padding: 0 @layout__width-xs-indent * 2;
            }
        }

        &-totals {
            .table-wrapper {
                .totals {
                    tbody {
                        .grand {
                            th,
                            td {
                                border-top-color: @secondary__color__light;
                                border-top-width: 2px;
                            }
                        }
                    }
                }
            }
        }
    }

    .cart-container {
        .form-cart {
            &:extend(.abs-shopping-cart-items-mobile all);
        }

        .checkout-methods-items {
            padding-left: @summary__padding;
            padding-right: @summary__padding;
        }
    }

    .cart-summary {
        .items.methods {
            dd {
                &:last-child {
                    margin-bottom: @indent__xl;
                }
            }
        }
    }

    #gift-options-cart,
    .cart-discount,
    .form-cart {
        margin: 0 -@layout__width-xs-indent*2;
    }

    .cart-discount {
        margin-top: @indent__l;

        #gift-options-cart + & {
            margin-top: 0;
        }

        .block {
            .title {
                strong {
                    font-weight: @font-weight__regular;
                }
            }

            .content {
                margin-bottom: @indent__xl;
                margin-top: @indent__base;
            }

            input {
                height: 56px;

            }

            .actions-toolbar {
                width: 42%;
            }

            .links {
                margin-top: @indent__base;

                button {
                    font-size: 24px;
                }
            }
        }
    }

    .cart-empty {
        padding: 10% 0;

        .page-title {
            &:before {
                font-size: 120px;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .cart {
        &.table-wrapper {
            tbody {
                border-bottom-width: 1px;

                .item-actions {
                    .actions-toolbar {
                        a {
                            bottom: 60px;
                            right: @layout__width-xs-indent;

                            &:before {
                                font-size: 20px;
                            }

                            &.action-edit {
                                right: @layout__width-xs-indent + 28px;
                            }
                        }
                    }
                }
            }

            .col {
                &.price {
                    .old-price {
                        .price {
                            font-size: 12px;
                        }
                    }
                }

                &.qty {
                    .input-text {
                        margin: 0 -5px;
                    }

                    .qty-collapse,
                    .qty-expande {
                        height: @form-element-mobile-input__height/2;
                        width: @form-element-mobile-input__height/2;
                        border-width: 1px;

                        &:before {
                            font-size: @font-size__xs;
                        }
                    }
                }

                &.subtotal {
                    padding: 0 @layout__width-xs-indent;

                    &:before {
                        line-height: 34px;
                        font-size: 13px;
                        border-top-width: 1px;
                    }

                    > span {
                        border-top-width: 1px;

                        .price {
                            font-size: 20px !important;
                        }
                    }
                }

                &.qty,
                &.price,
                &.item {
                    padding: 0 @layout__width-xs-indent @indent__base;
                }

                &.price > span,
                &.price > .price-box,
                &.qty > .qty {
                    padding-left: 25px;
                }


                &.item {
                    padding-top: @indent__base;
                }
            }

            .product {
                &-item-details {
                    padding-left: 25px;
                }
            }

            .actions-toolbar {
                .action-towishlist {
                    &:before {
                        font-size: 15px;
                        width: 16px;
                    }
                }
            }
        }

        &-totals {
            .table-wrapper {
                .totals {
                    tbody {
                        .grand {
                            th,
                            td {
                                border-top-width: 1px !important;
                            }
                        }
                    }
                }
            }
        }

        &.actions {
            .table-wrapper ~ & {
                padding: 0 @layout__width-xs-indent;
            }
        }
    }

    #gift-options-cart,
    .cart-discount,
    .form-cart {
        margin: 0 -@layout__width-xs-indent;
    }

    .cart-discount {
        margin-top: @indent__l/2;

        .block {
            .content {
                margin-bottom: @indent__base;
                margin-top: @indent__s;
            }

            input {
                height: 28px;
            }

            .links {
                margin-top: @indent__s;

                button {
                    font-size: @font-size__s;
                }
            }
        }
    }

    .cart-container {
        .form-cart {
            .actions {
                p {
                    font-size: @font-size__s;
                    margin-bottom: 15px;
                }
            }
        }

        .checkout-methods-items {
            padding-left: @summary__padding/2;
            padding-right: @summary__padding/2;

            .action.multicheckout {
                margin-top: @indent__l/2;
                font-size: @font-size__s;
            }
        }
    }

    .cart-summary {
        .items.methods {
            dt {
                font-size: 13px;
                margin-bottom: @indent__xs;
            }

            dd {
                margin-bottom: @indent__l/2;

                &:last-child {
                    margin-bottom: @indent__base;
                }
            }
        }
    }

    .block.crosssell {
        margin-top: 35px;

        .title {
            strong {
                font-size: 15px !important;
            }
        }
    }

    .cart-empty {
        p {
            font-size: 18px;
        }

        .page-title {
            &:before {
                font-size: 60px;
            }
        }
    }
}


//
//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .checkout-cart-index {
        .page-title {
            margin-bottom: 15px;
        }
    }

    .cart-container {
        &:extend(.abs-add-clearfix-desktop all);
        .form-cart {
            &:extend(.abs-shopping-cart-items-desktop all);

            .actions {
                p {
                    float: left;
                    width: 80%;
                }
            }
        }

        .cart-discount,
        .block.crosssell {
            &:extend(.abs-shopping-cart-items-desktop all);
        }

        .checkout-methods-items {
            .action.multicheckout {
                font-size: 16px;
                margin-top: @indent__l;
            }
        }

        .widget {
            float: left;
        }
    }

    .cart-summary {
        position: relative;
        .lib-layout-column(2, 2, 26.5%);

        .actions-toolbar {
            .column.main & {
                &:extend(.abs-reset-left-margin-desktop all);
                > .secondary {
                    float: none;
                }
            }
        }

        .items.methods {
            dt {
                font-size: @form-field-label__font-size;
                margin-top: 15px;
                margin-bottom: @indent__xs;
            }

            dd {
                margin-bottom: @indent__base;

                &:last-child {
                    margin-bottom: @indent__l;
                }
            }
        }
    }

    .cart {
        &.table-wrapper {
            .items { // Google Chrome version 44.0.2403.107 m fix
                min-width: 100%;
                width: auto;

                thead + .item {
                    border-top: @border-width__base solid @secondary__color__light;
                }
            }

            .col {
                padding: @indent__l + @indent__s @table-cell__padding-horizontal @table-cell__padding-vertical;

                &.qty {
                    .input-text {
                        margin: 0 -4px 0 -5px;
                    }

                    .qty-collapse,
                    .qty-expande {
                        height: @form-element-input__height;
                        width: @form-element-input__height;
                        font-size: @form-element-input__font-size;
                        border-width: 1px;
                    }
                }

                &.price {
                    .old-price {
                        .price {
                            font-size: 15px;
                        }
                    }
                }

                &.item {
                    width: 50%;
                }

                &.price,
                &.subtotal {
                    width: 15%;
                }

                &.qty {
                    width: 20%;
                }
            }

            .item {
                .col {
                    &.item {
                        padding-top: @indent__l;
                        padding-bottom: @indent__l;
                        padding-left: 0;
                    }
                }

                &-actions {
                    td {
                        text-align: right;

                        .actions-toolbar {
                            margin-top: -@indent__l*2;
                        }
                    }
                }
            }

            .item-options {
                &:extend(.abs-product-options-list-desktop all);
            }

            .actions-toolbar {
                &:extend(.abs-reset-left-margin-desktop all);
             }

            .product {
                &-item {
                    &-details {
                        padding-left: @indent__xl;
                        padding-top: @indent__s;
                    }

                    &-name {
                        margin-top: 0;
                    }
                }
            }
        }

        .action {
            margin-bottom: @indent__s;
        }

        &-totals {
            .table-wrapper {
                margin-bottom: @indent__s;

                .totals {
                    tbody {
                        .grand {
                            th {
                                vertical-align: top;
                            }
                        }
                    }
                }
            }
        }
    }

    //  Products pager
    .cart-products-toolbar {
        .toolbar-amount {
            line-height: 30px;
            margin: 0;
        }

        .pages {
            float: right;
            margin: 0 0 1px;

            .item {
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .cart.table-wrapper {
        .cart-products-toolbar {
            + .cart {
                thead {
                    tr {
                        th.col {
                            padding-bottom: 7px;
                            padding-top: 8px;
                        }
                    }
                }
            }
        }

        .cart {
            + .cart-products-toolbar {
                margin-top: @indent__m;
            }
        }
    }

    //  Discount
    .cart-discount {
        margin-top: @indent__l *2;

        #gift-options-cart + & {
            margin-top: @indent__l / 2;
        }

        .block {
            &:extend(.abs-blocks-2columns all);

            .title {
                padding: 25px 0;

                strong {
                    font-size: @font-size__l !important;
                }

                &:after {
                    float: none;
                }
            }

            &:nth-child(odd) {
                .content {
                    padding-right: @indent__xl;
                }
            }

            &:nth-child(even) {
                .title,
                .content {
                    padding-left: @indent__xl;
                }
            }

            .actions-toolbar {
                .primary {
                    button {
                        width: 100%;

                        .lib-button(
                            @_button-padding: 9px @indent__s
                        );
                    }
                }
            }

            .links {
                margin-top: @indent__s;
            }
        }
    }

    .block.crosssell {
        margin-top: 90px;

        .title {
            strong {
                font-size: 24px !important;
            }
        }
    }

    .cart-empty {
        padding: 15% 0;

        p {
            font-size: 20px;
        }
    }
}
