/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

.swatch-attribute-label {
    position: relative;
    color: #757575;
    font-size: 15px;
    margin-bottom: 3px;
    display: inline-block;
}

.swatch-attribute-label.required {
    padding-right: 10px;
}

.swatch-attribute-label[data-required="1"]:after {
    content: '*';
    color: red;
    position: absolute;
    right: -11px;
    top: -2px;
    font-weight: bold;
    font-size: 1em;
}

.swatch-attribute-selected-option {
    color: #333;
    padding-left: 10px;
    font-weight: bold;
    display: none;
}

.swatch-option {
    padding: 1px 2px;
    min-width: 20px;
    height: 20px;
    max-width: 90px;
    display: inline-block;
    margin: 0 10px 0 0;
    text-align: center;
    cursor: pointer;
    position: relative;
    text-overflow: ellipsis;
    border: 1px solid #c0c0c0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    box-sizing: border-box;
}

.swatch-option:last-child {
    margin: 0;
}

.swatch-option.text {
    color: #666;
    height: auto;
    border: 1px solid #bbb;
    padding: 2px;
    margin: 0 5px 0 0;
    box-sizing: border-box;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.swatch-option.selected {
    color: #a50034;
    border-color: #fff;
}

.swatch-option:not(.text).selected:before {
    content: " ";
    width: 22px;
    height: 22px;
    border: 1px solid #a50034;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    left: -3px;
}

.swatch-option.text.selected {
    border-color: #a50034;
}

.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.swatch-attribute.inch_code .swatch-option:after {
    content: '”';
    display: inline;
}

.swatch-attribute.size .swatch-option, .swatch-attribute.manufacturer .swatch-option {
    background: rgb(240, 240, 240);
    color: rgb(148, 148, 148);
}

.swatch-attribute.size .swatch-option.selected, .swatch-attribute.manufacturer .swatch-option.selected {
    color: black;
    background: #fff;
    border: 1px solid #fff;
}

.swatch-option.disabled {
    cursor: default;
}

.swatch-option.disabled:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    background: -moz-linear-gradient(to left top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 42%, rgba(255,255,255,1) 43%, rgba(255,255,255,1) 46%, rgba(255,82,22,1) 47%, rgba(255,82,22,1) 53%, rgba(255,255,255,1) 54%, rgba(255,255,255,1) 57%, rgba(255,255,255,0) 58%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(42%,rgba(255,255,255,0)), color-stop(43%,rgba(255,255,255,1)), color-stop(46%,rgba(255,255,255,1)), color-stop(47%,rgba(255,82,22,1)), color-stop(53%,rgba(255,82,22,1)), color-stop(54%,rgba(255,255,255,1)), color-stop(57%,rgba(255,255,255,1)), color-stop(58%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(to left top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 42%,rgba(255,255,255,1) 43%,rgba(255,255,255,1) 46%,rgba(255,82,22,1) 47%,rgba(255,82,22,1) 53%,rgba(255,255,255,1) 54%,rgba(255,255,255,1) 57%,rgba(255,255,255,0) 58%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(to left top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 42%,rgba(255,255,255,1) 43%,rgba(255,255,255,1) 46%,rgba(255,82,22,1) 47%,rgba(255,82,22,1) 53%,rgba(255,255,255,1) 54%,rgba(255,255,255,1) 57%,rgba(255,255,255,0) 58%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(to left top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 42%,rgba(255,255,255,1) 43%,rgba(255,255,255,1) 46%,rgba(255,82,22,1) 47%,rgba(255,82,22,1) 53%,rgba(255,255,255,1) 54%,rgba(255,255,255,1) 57%,rgba(255,255,255,0) 58%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to left top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 42%,rgba(255,255,255,1) 43%,rgba(255,255,255,1) 46%,rgba(255,82,22,1) 47%,rgba(255,82,22,1) 53%,rgba(255,255,255,1) 54%,rgba(255,255,255,1) 57%,rgba(255,255,255,0) 58%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
}

.swatch-option-tooltip {
    max-width: 50px;
    /*max-height: 160px;*/
    max-height: 100%;
    min-height: 20px;
    min-width: 20px;
    position: absolute;
    padding: 5px;
    background: #fff;
    color: rgb(148, 148, 148);
    border: 1px solid #adadad;
    display: none;
    z-index: 999;
    text-align: center;
}

.swatch-option-tooltip .corner,
.swatch-option-tooltip-layered .corner {
    left: 40%;
    position: absolute;
    bottom: -9px;
    height: 8px;
}

.swatch-option-tooltip .corner:after,
.swatch-option-tooltip-layered .corner:after {
    content: '';
    position: relative;
    top: 1px;
    left: -16px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 7.5px 0 7.5px;
    border-color: #fff transparent transparent transparent;
    font-size: 1px;
}

.swatch-option-tooltip .corner:before,
.swatch-option-tooltip-layered .corner:before {
    content: '';
    position: relative;
    top: 2px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8.5px 0 8.5px;
    border-color: #adadad transparent transparent transparent;
    font-size: 1px;
}

.swatch-option-tooltip .image,
.swatch-option-tooltip-layered .image {
    display: block;
    height: 40px;
    width: 50px;
    /*margin: 0 0 5px;*/
    margin: 0 auto;
}

.swatch-option-tooltip .title {
    max-width: 140px;
    min-height: 20px;
    max-height: 200px;
    color: #333;
    text-align: center;
    display: block;
    overflow: hidden;
}

.swatch-opt {
    /*margin: 20px 0;*/
}

.swatch-more {
    display: inline-block;
    margin: 2px 0;
    text-decoration: none !important;
    position: static;
    z-index: 1;
}

/* Layered Features */
.swatch-option-link-layered {
    position: relative;
}

.swatch-option-link-layered .swatch-option {
    display: inline-block;
    vertical-align: middle;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.swatch-option-link-layered .swatch-option.text {
    border: none;
}

.swatch-option-link-layered .swatch-option.text:hover {
    color: #a50034;
    text-decoration: underline;
}

.swatch-option-link-layered .swatch-option:not(.text).selected:before {
    border-radius: 0;
}

.swatch-option-link-layered .swatch-option.text.selected {
    font-weight: bold;
}

.swatch-option-link-layered .swatch-option + span {
    vertical-align: middle;
}

.swatch-option-tooltip-layered {
    width: 140px;
    position: absolute;
    background: #fff;
    color: rgb(148, 148, 148);
    border: 1px solid #adadad;
    display: none;
    z-index: 999;
    left: -47px;
}

.swatch-visual-tooltip-layered {
    height: 160px;
    top: -170px;
}

.swatch-textual-tooltip-layered {
    height: 30px;
    top: -40px;
}

.swatch-option-link-layered:hover > .swatch-option-tooltip-layered {
    display: block;
}

.swatch-attribute-options .swatch-option-tooltip-layered .title {
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: -5px;
    left: 0;
    color: rgb(40, 40, 40);
    text-align: center;
    margin-bottom: 10px;
}

.swatch-option-disabled:after {
    content: '';
    position: absolute;
    width: 42px;
    height: 2px;
    background: red;
    transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    z-index: 995;
    left: -4px;
    top: 10px;
}

.swatch-option-disabled {
    outline: none !important;
    cursor: default;
    border: 0;
}

/* Bugfix for Add To Cart button */
.swatch-opt-listing {
    margin-bottom: 10px;
}

.swatch-option-loading {
    content: url("../images/loader-2.gif");
}

.swatch-input {
    left: -1000px;
    position: absolute;
    visibility: hidden;
}

.swatch-opt .swatch-option:not(.text).selected:before {
    width: 32px;
    height: 32px;
    border-width: 2px;
    top: -4px;
    left: -4px;
}

.swatch-opt .swatch-attribute {
    margin-bottom: 10px;
}

.swatch-opt .swatch-option {
    min-width: 30px;
    height: 30px;
}

.swatch-opt .swatch-option.text {
    height: auto;
    font-size: 20px;
    padding: 5px 3px;
    font-weight: bold;
}

@media all and (max-width: 768px) {
    .swatch-option-tooltip {
        display: none !important;
    }

    .swatch-option {
        min-width: 30px;
        height: 30px;
        margin: 0 15px 0 0;
    }

    .swatch-option:not(.text).selected:before {
        width: 32px;
        height: 32px;
        border-width: 2px;
        top: -4px;
        left: -4px;
    }

    .swatch-option.text {
        border-color: transparent;
        font-size: 22px;
        border-width: 2px;
    }

    .swatch-attribute-label {
        font-size: 24px;
    }

    .swatch-opt .swatch-attribute-options {
        display: inline-block;
        vertical-align: top;
    }

    .swatch-opt .swatch-option {
        min-width: 50px;
        height: 50px;
        margin: 0 20px 0 0;
    }

    .swatch-opt .swatch-option:not(.text).selected:before {
        width: 56px;
        height: 56px;
        top: -6px;
        left: -6px;
    }

    .swatch-opt .swatch-attribute {
        display: table;
        width: 100%;
    }

    .swatch-opt .swatch-attribute .swatch-attribute-label {
        display: table-cell;
        vertical-align: top;
        width: 30%;
    }

    .swatch-opt .swatch-attribute .swatch-attribute-options {
        display: table-cell;
        vertical-align: top;
        width: 70%;
    }

    .swatch-opt .swatch-option.text {
        font-size: 30px;
        padding: 8px 5px;
    }
}

@media all and (max-width: 479px) {
    .swatch-option {
        min-width: 15px;
        height: 15px;
        margin: 0 6px 0 0;
    }

    .swatch-option:not(.text).selected:before {
        width: 17px;
        height: 17px;
        border-width: 1px;
        top: -3px;
        left: -3px;
    }

    .swatch-option.text {
        font-size: 11px;
        border-width: 1px;
        margin: 0 3px 0 0;
        padding: 2px 1px;
    }

    .swatch-attribute-label {
        font-size: 12px;
    }

    .swatch-opt .swatch-option {
        min-width: 25px;
        height: 25px;
        margin: 0 10px 0 0;
    }

    .swatch-opt .swatch-option:not(.text).selected:before {
        width: 27px;
        height: 27px;
        top: -4px;
        left: -4px;
    }

    .swatch-opt .swatch-option.text {
        font-size: 15px;
        padding: 4px 3px;
    }
}