// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________
@summary__padding: 15px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Shopping cart
    //  ---------------------------------------------

    //  Summary block
    .cart-summary {
        &:extend(.abs-sidebar-summary all);

        .block {
            &:extend(.abs-discount-block all);

            .item-options {
                margin-left: 0;
            }

            .fieldset {
                .field {
                    .lib-form-field-type-revert(@_type: block);

                    &.note {
                        margin: 0 0 @indent__s;
                    }

                    .message {
                        top: 0;
                        margin-bottom: 0;
                    }
                }

                &.coupon {
                    margin-bottom: @indent__base;
                    overflow: hidden;

                    .field {
                        margin: 0 0 @indent__s;

                        label {
                            font-weight: @font-weight__light;
                        }
                    }

                    .actions-toolbar {
                        border: none;
                        padding: 0;
                        margin: 0;

                        .primary {
                            width: 100%;
                        }
                    }
                }
            }

            .fieldset.estimate {
                > .legend,
                > .legend + br {
                    &:extend(.abs-no-display all);
                }
            }
        }
        .actions-toolbar {
            > .primary {
                button {
                    &:extend(.abs-revert-secondary-color all);
                }
            }
        }
        &:extend(.abs-adjustment-incl-excl-tax all);
    }

    //  Totals block
    .cart-totals {
        &:extend(.abs-sidebar-totals all);

        .table-wrapper {
            margin-bottom: 0;
            overflow: inherit;
        }
    }

    //  Products table
    .cart.table-wrapper {
        .items {
            thead + .item {
                border-top: @border-width__base solid @border-color__base;
            }

            > .item {
                border-bottom: @border-width__base solid @border-color__base;
                position: relative;
            }
        }

        .col {
            padding-top: 15px;
            padding-bottom: @indent__s;

            &.qty {
                .input-text {
                    &:extend(.abs-input-qty all);
                    height: 32px;
                    vertical-align: top;
                }

                .qty-collapse,
                .qty-expande {
                    .lib-button(
                        @_button-icon-use: true,
                        @_button-font-content: @icon-collapse,
                        @_button-icon-font-size: @button__font-size,
                        @_button-icon-font-line-height: @button__line-height,
                        @_button-icon-font-text-hide: true
                    );
                }

                .qty-expande {
                    .lib-icon-font-symbol(
                        @_icon-font-content:  @icon-expand,
                        @_icon-font-position: @button-icon__position
                    );
                }

                .label {
                    &:extend(.abs-visually-hidden all);
                }

                .action {
                    margin: 0;
                    .lib-button(
                        @_button-icon-use: true,
                        @_button-font-content: @icon-update,
                        @_button-icon-font-size: @button__font-size,
                        @_button-icon-font-line-height: @button__line-height,
                        @_button-icon-font-text-hide: true
                    );
                }
            }

            .price {
                font-size: 16px;
            }
        }

        .item {
            &-actions td {
                padding-bottom: @indent__s;
                text-align: center;
                white-space: normal;
            }

            .col {
                &.item {
                    display: block;
                    position: relative;
                }
            }
        }

        .actions-toolbar {
            border: none;
            text-align: left;
            padding-top: @indent__s;
            &:extend(.abs-add-clearfix all);

            .action {
                font-weight: @font-weight__light;
                .abs-bar(after,#707070,0 6px 0 3px,@font-weight__light);

                span {
                    color: @primary__color;
                }

                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }
        }

        .action {
            &.help.map {
                &:extend(.abs-action-button-as-link all);
                font-weight: @font-weight__regular;
            }
        }

        .product {
            &-item-photo {
                display: table-cell;
            }

            &-item-details {
                display: table-cell;
                vertical-align: middle;
                white-space: normal;
                padding-left: @indent__s;

                .message {
                    margin: @indent__s 0 0;
                }
            }

            &-item-name {
                display: inline-block;
                font-weight: @font-weight__regular;
                height: auto;
            }
        }

        .gift-registry-name-label {
            &:after {
                content: ':';
            }
        }

        //  Product options
        .item-options {
            font-size: @font-size__s;
            margin-bottom: @indent__s;
            &:extend(.abs-product-options-list all);
            &:extend(.abs-add-clearfix all);
        }

        .product-item-name + .item-options {
            margin-top: @indent__s;
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }

        .action.configure {
            display: inline-block;
            margin: 0 0 @indent__base;
        }
    }

    .cart-container {
        .form-cart {
            &:extend(.abs-shopping-cart-items all);
        }

        .checkout-methods-items {
            &:extend(.abs-reset-list all);
            text-align: center;

            .action.primary {
                &:extend(.abs-button-l all);
                width: 100%;
            }

            .item {
                & + .item {
                    margin-bottom: @indent__s;
                }
            }
        }
    }

    //  Products pager
    .cart-products-toolbar {
        .toolbar-amount {
            margin: @indent__m 0 15px;
            padding: 0;
            text-align: center;
        }

        .pages {
            margin: 0 0 @indent__m;
            text-align: center;

            .items {
                > .item {
                    border-bottom: 0;
                }
            }
        }
    }

    .cart-products-toolbar-top {
        border-bottom: @border-width__base solid @border-color__base;
    }

    .cart-empty {
        text-align: center;

        .actions-toolbar {
            margin-top: @indent__base;
            border-top: 0;
            text-align: center;

            .primary {
                float: none;
            }
        }
    }

    //
    //  Cross sell
    //  ---------------------------------------------

    .block.crosssell {
        margin-top: 70px;
    }

    .cart-tax-info,
    .cart .cart-tax-info {
        + .cart-tax-total {
            display: block;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .cart {
        &.table-wrapper {
            overflow: inherit;

            thead {
                .col {
                    &:not(.item) {
                        display: none;
                    }
                }
            }

            .col {
                &.qty,
                &.subtotal {
                    box-sizing: border-box;
                    display: block;
                    float: left;
                    text-align: center;
                    white-space: nowrap;
                    width: 50%;

                    &:before {
                        content: attr(data-th);
                        display: block;
                        font-weight: @font-weight__semibold;
                        padding-bottom: @indent__s;
                        text-transform: uppercase;
                    }
                }

                &.msrp {
                    white-space: normal;
                }

                &.msrp,
                &.price {
                    display: none;
                }

                &.subtotal {
                    span {
                        line-height: 1.7;
                    }
                }
            }

            .item {
                .col.item {
                    border-bottom: 1px solid @border-color__base;
                }
            }
        }

        &.actions {
            .continue,
            .clear {
                display: none !important;
            }

            .action {
                width: 100%;
                padding: @indent__s;
            }
        }
    }

    .cart-container {
        .form-cart {
            &:extend(.abs-shopping-cart-items-mobile all);
        }
    }
}

//
//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .cart.table-wrapper {
        .col.price,
        .col.qty,
        .col.subtotal,
        .col.msrp,
        .col.discount,
        .col.total {
            text-align: center;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .cart-container {
        &:extend(.abs-add-clearfix-desktop all);
        .form-cart {
            &:extend(.abs-shopping-cart-items-desktop all);
        }

        .widget {
            float: left;
        }
    }

    .cart-summary {
        position: relative;
        .lib-layout-column(2, 2, @layout-column-checkout__width-left);

        .actions-toolbar {
            .column.main & {
                &:extend(.abs-reset-left-margin-desktop all);
                > .secondary {
                    float: none;
                }
            }
        }
    }

    .cart {
        &.table-wrapper {
            .items { // Google Chrome version 44.0.2403.107 m fix
                min-width: 100%;
                width: auto;
            }

            .item {
                .col {
                    &.item {
                        padding: @indent__base @indent__xs @indent__s;
                    }
                }

                &-actions {
                    td {
                        text-align: right;
                    }
                }
            }

            .actions-toolbar {
                 &:extend(.abs-reset-left-margin-desktop all);
             }
        }

        .action {
            margin-bottom: @indent__s;
        }
    }

    //  Products pager
    .cart-products-toolbar {
        .toolbar-amount {
            line-height: 30px;
            margin: 0;
        }

        .pages {
            float: right;
            margin: 0 0 1px;

            .item {
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .cart.table-wrapper {
        .cart-products-toolbar {
            + .cart {
                thead {
                    tr {
                        th.col {
                            padding-bottom: 7px;
                            padding-top: 8px;
                        }
                    }
                }
            }
        }

        .cart {
            + .cart-products-toolbar {
                margin-top: @indent__m;
            }
        }
    }
}
