<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * @see \Eguana\InventoryManagement\Block\Adminhtml\System\Config\Run
 */
?>
<script>
    require(['prototype'], function(){

//<![CDATA[
        function execute(url, resultDiv) {
            var validationMessage = $(resultDiv);

            params = {};

            new Ajax.Request(url, {
                parameters: params,
                onSuccess: function(response) {
                    var result = '<?php /* @escapeNotVerified */ echo __('Error during execution.') ?>';
                    try {
                        if (response.responseText.isJSON()) {
                            response = response.responseText.evalJSON();
                            result = response.message;
                            console.log(result);
                        }
                        if (response.valid == 1) {
                            validationMessage.removeClassName('hidden').addClassName('success')
                        } else {
                            validationMessage.removeClassName('hidden').addClassName('error')
                        }
                    } catch (e) {
                        validationMessage.removeClassName('hidden').addClassName('error')
                    }
                    validationMessage.update(result);
                }
            });
        }

        window.execute = execute;
//]]>

    });
</script>
<div class="actions actions-validate-vat">
    <div id="<?php /* @escapeNotVerified */ echo $block->getResultDivId(); ?>" class="message-validation hidden"></div>
    <button onclick="javascript:execute('<?php /* @escapeNotVerified */ echo $block->getAjaxUrl() ?>', '<?php /* @escapeNotVerified */ echo $block->getResultDivId(); ?>'); return false;" class="action-validate-vat" type="button" id="<?php echo $block->getHtmlId() ?>">
        <span><?php echo $block->escapeHtml($block->getButtonLabel()) ?></span>
    </button>
   <!-- <div id="time_message" class="time-message"><?php /*echo __('Current Time and Time Zone:'); */?> <?php /*echo $block->getTimeMessage(); */?></div>-->
</div>
