// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@minicart__border-color: @color-gray80;
@minicart__padding-horizontal: @indent__base;

@minicart-qty__height: 24px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Minicart
    //  ---------------------------------------------

    .block-minicart {
        .items-total {
            float: left;
            font-size: 30px;

            .count {
                font-weight: @font-weight__bold;
            }
        }

        .subtotal {
            text-align: right;
            font-size: 30px;
        }

        .amount {
            .price-wrapper {
                &:first-child {
                    .price {
                        font-size: 30px;
                        font-weight: @font-weight__bold;
                        color: @active__color;
                    }
                }
            }
        }

        .subtitle {
            display: none;

            &.empty {
                display: block;
                font-size: 30px;
                font-weight: @font-weight__bold;
                padding: 0 0 @indent__base;
                text-align: center;
            }
        }

        .text {
            &.empty {
                text-align: center;
            }
        }

        .block-content {
            > .actions {
                margin-top: @indent__base;
                text-align: center;

                > .primary {
                    .action {
                        &.primary {
                            &:extend(.abs-button-l all);
                            display: block;
                            margin-bottom: @indent__base * 2;
                            width: 100%;

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }

                .secondary {
                    a {
                        font-size: 24px;
                        .lib-link(
                            @_link-color: @active__color,
                            @_link-text-decoration: underline,
                            @_link-color-visited: @active__color,
                            @_link-text-decoration-visited: underline
                        );
                    }
                }
            }
        }

        .block-category-link,
        .block-product-link,
        .block-cms-link,
        .block-banners {
            margin: 15px 0 0;
            text-align: center;
        }
    }

    .minicart-wrapper {
        .lib-dropdown(
        @_toggle-selector: ~'.action.showcart',
        @_options-selector: ~'.block-minicart',
        @_dropdown-list-width: 480px,
        @_dropdown-list-position-right: 0px,
        @_dropdown-list-pointer-position: right,
        @_dropdown-list-pointer-position-left-right: 26px,
        @_dropdown-list-z-index: 101,    
        @_dropdown-toggle-icon-content: @icon-cart,
        @_dropdown-toggle-active-icon-content: @icon-cart,
        @_dropdown-list-item-padding: false,
        @_dropdown-list-item-hover: false,
        @_icon-font-position: before,
        @_icon-font-size: 32px,
        @_icon-font-line-height: 100%,
        @_icon-font-color: @minicart-icons-color,
        @_icon-font-color-hover: @minicart-icons-color-hover,
        @_icon-font-color-active: @minicart-icons-color
        );
        float: left;

        .block-minicart {
            .lib-css(padding, 35px @minicart__padding-horizontal 25px);

            .block-title {
                display: none;
            }
        }

        .product {
            .actions {
                float: right;
                text-align: right;

                > .primary,
                > .secondary {
                    display: inline;
                }
            }
        }

        .action {
            &.close {
                .lib-button-icon(
                    @icon-remove,
                    @_icon-font-size: 16px,
                    @_icon-font-color: @primary__color,
                    @_icon-font-color-hover: @primary__color,
                    @_icon-font-text-hide: true
                );
                .lib-button-reset();
                height: 60px;
                width: 60px;
                position: absolute;
                right: 0;
                top: 0;

                &:before {
                    font-weight: @font-weight__bold;
                }
            }

            &.showcart {
                white-space: nowrap;

                .text {
                    &:extend(.abs-visually-hidden all);
                }

                .counter.qty {
                    color: @minicart-icons-color;
                    font-weight: @font-weight__bold;

                    .loader {
                        > img {
                            .lib-css(max-width, @minicart-qty__height);
                        }
                    }
                }

                .ico:not(.empty) {
                    &:before {
                        content: '';
                        width: 8px;
                        height: 8px;
                        background: @primary__color;
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 22px;
                    }

                    &:after {
                        content: '';
                        width: 6px;
                        height: 6px;
                        background: @active__color;
                        display: block;
                        .border-radius(50%);
                        position: absolute;
                        top: 0;
                        left: 26px;
                        z-index: 1;
                    }
                }
            }
        }
    }

    .minicart-items-wrapper {
        .lib-css(border, 1px solid @minicart__border-color);
        .lib-css(margin, 0 -@minicart__padding-horizontal);
        border-left: 0;
        border-right: 0;
        overflow-x: auto;
        padding: @indent__l @minicart__padding-horizontal;
    }

    .minicart-items {
        .lib-list-reset-styles();

        .product-item {
            padding: @indent__l 0;

            &:not(:first-child) {
                .lib-css(border-top, 1px solid @minicart__border-color);
            }

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                padding-bottom: 0;
            }

            > .product {
                &:extend(.abs-add-clearfix all);
            }
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }

        .product-item-pricing {
            .label {
                display: inline-block;
            }
        }

        .price-minicart {
            margin-bottom: @indent__xs;
        }

        .product {
            > .product-item-photo,
            > .product-image-container {
                float: left;
            }

            .toggle {
                .lib-icon-font(
                @_icon-font-content: @icon-down,
                @_icon-font-size: @font-size__s,
                @_icon-font-line-height: 14px,
                @_icon-font-text-hide: false,
                @_icon-font-position: after,
                @_icon-font-display: block
                );
                cursor: pointer;
                position: relative;
                font-weight: @font-weight__bold;

                &:after {
                    margin-left: @indent__xs;
                    font-weight: @font-weight__bold;
                    width: 16px;
                }
            }

            &.active {
                > .toggle {
                    .lib-icon-font-symbol(
                    @_icon-font-content: @icon-up,
                    @_icon-font-position: after
                    );
                }

                .options {
                    margin: 0;
                    overflow: hidden;

                    dt {
                        font-weight: @font-weight__regular;
                        float: left;
                        margin: 0;
                        color: @primary__color__light;
                        &:extend(.abs-colon all);
                    }

                    dd {
                        font-weight: @font-weight__bold;
                        float: left;
                        margin: 0 0 0 @indent__xs;
                        color: @primary__color__light;

                        & + dt {
                            clear: both;
                        }
                    }
                }
            }
        }

        .product-item-name {
            margin: 0 0 @indent__s;
        }

        .product-item-details {
            padding-left: 88px;

            .price {
                font-weight: @font-weight__bold;
                color: @primary__color__light;
                font-size: @font-size__l * 2;
            }

            .original-price {
                display: block;

                .price {
                    font-weight: @font-weight__regular;
                    color: @primary__color__lightest;
                    text-decoration: line-through;
                    font-size: 24px;
                }
            }

            .price-including-tax,
            .price-excluding-tax {
                margin: @indent__xs 0 0;
            }

            .weee[data-label] {
                .lib-font-size(11);
                .label {
                    &:extend(.abs-no-display all);
                }
            }

            .details-qty {
                margin-top: 35px;
                color: @primary__color__light;
            }
        }

        .product.options {
            .tooltip.toggle {
                .lib-icon-font(
                @icon-down,
                @_icon-font-size: 28px,
                @_icon-font-line-height: 28px,
                @_icon-font-text-hide: true,
                @_icon-font-margin: -3px 0 0 7px,
                @_icon-font-position: after
                );

                .details {
                    display: none;
                }
            }
        }

        .details-qty,
        .price-minicart {
            .label {
                &:extend(.abs-colon all);
            }
        }

        .item-qty {
            margin-right: @indent__s;
            text-align: center;
            width: 40px;
        }

        .update-cart-item {
            .lib-font-size(11);
            vertical-align: top;
        }

        .subtitle {
            display: none;
        }

        .action {
            &.edit,
            &.delete {
                .lib-icon-font(
                @icon-settings,
                @_icon-font-size: 24px,
                @_icon-font-line-height: 100%,
                @_icon-font-text-hide: true,
                @_icon-font-color: @primary__color__lightest,
                @_icon-font-color-hover: @primary__color,
                @_icon-font-color-active: @primary__color
                );
            }

            &.delete {
                .lib-icon-font-symbol(
                @_icon-font-content: @icon-trash
                );
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .minicart-wrapper {
        .block-minicart {
            padding-top: 50px;

            &:before {
                right: 1px;
            }

            &:after {
                right: 0;
            }

            .price-container {
                line-height: 1;
            }
        }

        .action.showcart {
            .ico:not(.empty) {
                &:before {
                    width: 14px;
                    height: 14px;
                    left: auto;
                    right: -15px;
                    top: -10px;
                }

                &:after {
                    width: 12px;
                    height: 12px;
                    left: auto;
                    right: -15px;
                    top: -10px;
                }
            }
        }
    }

    .minicart-items-wrapper {
        border-width: 2px;
    }

    .minicart-items {
        .options {
            font-size: 22px;
            margin-bottom: @indent__l;

            .title {
                margin-bottom: @indent__s;
            }

            .content {
                dt {
                    font-size: 24px;
                    line-height: 1.1;
                }
            }
        }

        .product {
            .toggle {
                &:after {
                    width: 20px;
                    margin-left: @indent__s;
                    font-size: 18px;
                }
            }
        }

        .product-item-details {
            .original-price {
                margin-bottom: @indent__xs;
            }

            .details-qty {
                font-size: 26px;
                line-height: 1;
            }

            .product-item-pricing {
                position: relative;

                .actions {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }
        }

        .product-item {
            &:not(:first-child) {
                border-top-width: 2px;
            }
        }

        .action {
            &.edit,
            &.delete {
                &:before {
                    font-size: 30px;
                }
            }

            &.edit {
                margin-right: @indent__s;
            }
        }
    }

    .header {
        &.content {
            .minicart-wrapper {
                position: absolute;
                top: 38px;
                right: @layout__width-xs-indent * 2;

                &:after {
                    display: none;
                }

                .action {
                    &.showcart {
                        .lib-icon-font-symbol(
                            @ico-lg-not_circle_cart,
                            @_icon-font-position: @icon-font__position
                        );

                        .counter {
                            display: none;
                        }

                        &:after {
                            width: 10px;
                            height: 10px;
                            left: auto;
                            right: -15px;
                            top: -5px;
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .minicart-wrapper {
        .block-minicart {
            padding: 25px @minicart__padding-horizontal/2 @indent__s;
            width: 290px;
        }

        .action.close {
            width: 30px;
            height: 30px;

            &:before {
                font-size: @font-size__xs;
            }
        }

        .action.showcart {
            .ico:not(.empty) {
                &:before {
                    width: 7px;
                    height: 7px;
                    right: -5px;
                    top: -5px;
                }

                &:after {
                    width: 6px;
                    height: 6px;
                    right: -5px;
                    top: -5px;
                }
            }
        }
    }

    .minicart-items-wrapper {
        border-width: 1px;
        margin: 0 -@minicart__padding-horizontal/2;
        padding: @indent__l/2 @minicart__padding-horizontal/2;
    }

    .block-minicart {
        .items-total {
            font-size: 15px;
        }

        .subtotal {
            font-size: 15px;
        }

        .amount {
            .price-wrapper {
                &:first-child {
                    .price {
                        font-size: 15px;
                    }
                }
            }
        }

        .subtitle {
            &.empty {
                font-size: 15px;
                padding: 0 0 @indent__s;
            }
        }

        .block-content {
            > .actions {
                margin-top: @indent__s;

                > .primary {
                    .action {
                        &.primary {
                            margin-bottom: @indent__base;
                        }
                    }
                }

                .secondary {
                    a {
                        font-size: @font-size__s;
                    }
                }
            }
        }
    }

    .minicart-items {
        .product {
            .toggle {
                &:after {
                    width: 10px;
                    margin-left: @indent__xs;
                    font-size: @font-size__xs;
                }
            }
        }

        .product-item {
            padding: @indent__l/2 0;

            &:not(:first-child) {
                border-top-width: 1px;
            }
        }

        .product-item-details {
            .price {
                font-size: @font-size__l;
            }

            .original-price {
                margin-bottom: @indent__xs/2;

                .price {
                    font-size: 12px;
                }
            }

            .details-qty {
                font-size: 13px;
                margin-top: @indent__base;
            }
        }

        .options {
            font-size: 11px;
            margin-bottom: @indent__s;

            .title {
                margin-bottom: @indent__xs;
            }

            .content {
                dt {
                    font-size: 12px;
                }
            }
        }

        .action {
            &.edit,
            &.delete {
                &:before {
                    font-size: 15px;
                }
            }

            &.edit {
                margin-right: @indent__xs;
            }
        }
    }

    .header {
        &.content {
            .minicart-wrapper {
                top: 19px;
                right: @layout__width-xs-indent;

                .action {
                    &.showcart {
                        &:before {
                            font-size: 18px;
                        }

                        &:after {
                            width: 5px;
                            height: 5px;
                            right: -5px;
                        }
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .minicart-wrapper {
        margin-left: @indent__l;
        margin-top: @indent__s;

        .block-minicart {
            width: 480px;

            .items-total {
                font-size: @font-size__l;
                margin: 0 @indent__base;
            }

            .subtotal {
                margin: 0 @indent__base;
                font-size: @font-size__l;
            }

            .subtitle {
                &.empty {
                    font-size: 16px;
                    padding: @indent__l 0 @indent__l + @indent__base;
                }
            }

            .amount {
                .price-wrapper {
                    &:first-child {
                        .price {
                            font-size: 24px;
                        }
                    }
                }
            }

            .block-content {
                > .actions {
                    margin-top: @indent__s;

                    > .primary {
                        margin: 0 @indent__base 15px;

                        .action {
                            &.primary {
                                margin-bottom: @indent__base;
                            }
                        }
                    }

                    .secondary {
                        margin-top: @indent__base + 5px;

                        .action {
                            font-size: 16px;
                        }
                    }
                }
            }

            .product-item-details {
                .details-qty {
                    font-size: 15px;
                    margin-top: @indent__s;
                }

                .price {
                    font-size: @font-size__l;
                }

                .original-price {
                    .price {
                        font-size: @font-size__base;
                    }
                }
            }
        }

        .product {
            &.actions,
            .price-container {
                margin-top: @indent__s;
                float: right;
                margin-left: @indent__l;
            }

            &.actions {
                > .primary {
                    margin-right: @indent__s;
                }
            }
        }

        .action.close {
            width: 40px;
            height: 40px;

            &:before {
                font-weight: @font-weight__regular;
                font-size: @font-size__base;
            }
        }

        .action.showcart {
            &.active:before,
            &:before {
                margin-right: @indent__xs;
                width: 34px;
            }

            .counter {
                &.qty {
                    font-size: 18px;
                    line-height: 32px;

                    .counter-number {
                        padding: 0 @indent__xs;
                        vertical-align: middle;
                    }

                    .counter-label {
                        vertical-align: middle;
                    }
                }
            }
        }
    }

    .minicart-items {
        .product-item-details {
            .original-price {
                margin-top: -12px;
                text-align: right;
            }
        }
    }
}
