// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .faqs {
        .type-area {
            overflow: hidden;

            .type-title {
                background-color: @secondary__color__lighter;
                text-align: center;
                cursor: pointer;
                font-weight: bold;

                &.active {
                    color: @primary__color;
                }
            }
        }

        .faq-group {
            .title {
                cursor: pointer;
            }

            .content {
                p {
                    margin: 0;
                }
            }

            .empty {
                text-align: center;
                display: block;

                .empty-icon {
                    font-weight: @font-weight__bold;
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .faq-index-index {
        .page-title-wrapper {
            margin-bottom: 20px;
        }
    }

    .faqs {
        .type-area {
            grid-gap: 1px;
        }

        .type-title {
            font-size: 11px;
            padding: 6px 0;
            border-bottom: 2px solid @secondary__color__lighter;

            &.active {
                border-bottom: 2px solid @active__color;
            }
        }

        .faq-group {
            .faq {
                border-bottom: 1px solid @secondary__color__lighter;

                .title {
                    font-size: 11px;
                    padding: 7.5px 10px;

                    .lib-icon-font(
                        @_icon-font-content: @icon-down,
                        @_icon-font-size: 10px,
                        @_icon-font-text-hide: false,
                        @_icon-font-position: after,
                        @_icon-font-display: block
                    );

                    &:after {
                        line-height: 18px;
                    }
                }

                .content {
                    font-size: 11px;
                    padding: 12.5px 10px;
                }
            }

            .empty {
                padding: 46.5px 0 49.5px;
                border-bottom: 1px solid @secondary__color__lighter;

                .empty-icon {
                    font-size: 24px;
                    margin-bottom: 10.5px;

                    .lib-icon-font(
                        @_icon-font-content: @ico-lg-state_info,
                        @_icon-font-color: @active__color,
                        @_icon-font-size: 60px,
                        @_icon-font-position: before,
                        @_icon-font-display: block
                    );

                    &:before {
                        padding-bottom: 3.5px;
                        display: block;
                    }
                }

                .text {
                    font-size: 15px;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .faq-index-index {
        .page-title-wrapper {
            margin-bottom: 40px;
        }
    }

    .faqs {
        .type-area {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 2px;
        }

        .type-title {
            display: block;
            width: 100%;
            font-size: 22px;
            padding: 12px 0;
            border-bottom: 4px solid @secondary__color__lighter;
            color: @secondary__color;

            &.active {
                border-bottom: 4px solid @active__color;
            }

            .type {
                display: table;
                width: 100%;
                height: 100%;

                span {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }

        .faq-group {
            .faq {
                border-bottom: 2px solid @secondary__color__lighter;

                .title {
                    font-size: 22px;
                    padding: 15px 20px;
                    color: @primary__color__light;

                    .lib-icon-font(
                        @_icon-font-content: @icon-down,
                        @_icon-font-size: 15px,
                        @_icon-font-text-hide: false,
                        @_icon-font-position: after,
                        @_icon-font-display: block
                    );

                    &:after {
                        float: right;
                        line-height: 26px;
                        font-weight: @font-weight__bold;
                    }
                }

                .content {
                    font-size: 22px;
                    color: @primary__color__lightest;
                    padding: 25px 20px;
                    background-color: @secondary__color__lighter;
                }
            }

            .empty {
                padding: 93px 0 99px;
                border-bottom: 2px solid @secondary__color__lighter;

                .empty-icon {
                    font-size: 48px;
                    margin-bottom: 21px;

                    .lib-icon-font(
                        @_icon-font-content: @ico-lg-state_info,
                        @_icon-font-color: @active__color,
                        @_icon-font-size: 120px,
                        @_icon-font-position: before,
                        @_icon-font-display: block
                    );

                    &:before {
                        display: block;
                        padding-bottom: 7px;
                    }
                }

                .text {
                    font-size: 30px;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .faq-index-index {
        .page-title-wrapper {
            margin-bottom: 28px;
        }
    }

    .faqs {
        .type-area {
            display: table;
            width: 100%;
        }

        .type-title {
            display: inline-block;
            font-size: 16px;
            padding: 12px 0;
            display: table-cell;
            vertical-align: middle;
            color: @primary__color__lighter;
            width: 100/7%;
            border-bottom: 4px solid @secondary__color__lighter;

            span {
                display: block;
                border-right: 1px solid @color-white;
                box-sizing: border-box;
            }

            &.active {
                border-bottom: 4px solid @active__color;
            }
        }

        .faq-group {
            .faq {
                border-bottom: 1px solid @secondary__color__lighter;

                .title {
                    font-size: 18px;
                    padding: 17px 20px 18px 20px;

                    .lib-icon-font(
                        @_icon-font-content: @icon-down,
                        @_icon-font-size: 12px,
                        @_icon-font-text-hide: false,
                        @_icon-font-position: after,
                        @_icon-font-display: block
                    );

                    &:after {
                        float: right;
                        line-height: 26px;
                        font-weight: @font-weight__bold;
                    }
                }

                &.active {
                    .title {
                        .lib-icon-font-symbol(
                            @_icon-font-content: @icon-up,
                            @_icon-font-position: after
                        );
                    }
                }

                .content {
                    font-size: 16px;
                    color: @primary__color__lighter;
                    padding: 0 20px 18px 20px;
                }
            }

            .empty {
                padding: 50px 0 54px;
                border-bottom: 1px solid @secondary__color__lighter;

                .empty-icon {
                    font-size: 36px;
                    font-weight: @font-weight__bold;
                    margin-bottom: 14px;

                    .lib-icon-font(
                        @_icon-font-content: @ico-lg-state_info,
                        @_icon-font-color: @active__color,
                        @_icon-font-size: 95px,
                        @_icon-font-position: before,
                        @_icon-font-display: block
                    );

                    &:before {
                        display: block;
                        padding-bottom: 17px;
                    }
                }

                .text {
                    font-size: 20px;
                }
            }
        }
    }
}
