/**
 * Copyright © Eguana, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .feature {
        .module {
            position: relative;
            overflow: hidden;

            picture {
                img {
                    display: block;
                    width: 100%;
                }
            }

            .open-feature-text {
                color: @active__color;
                position: absolute;
                z-index: 1;
                width: 100%;
                bottom: 20px;
                text-align: center;
                margin-top: @indent__base;
            }

            .bg-block {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }

            .effect-fade {
                -webkit-animation: fadeIn 1s infinite ease-in alternate;
                animation: fadeIn 1s infinite ease-in alternate;
                top: 55.55%;
                left: 57%;
                width: 18.75%;
                position: absolute;
                z-index: 10;

                a {
                    cursor: pointer;
                    display: block;

                    img[alt="OFF"] {
                        display: none;
                    }
                }
            }

            &.text-banner {
                h3 {
                    font-size: 36px;
                }

                li {
                    vertical-align: middle;

                    p {
                        margin: 0;
                        padding-left: 20px;
                    }
                }

                &:not(.three-column) {
                    li {
                        p {
                            width: 68%;
                            float: left;
                        }
                    }
                }

                &.one-column {
                    background-color: @primary__color;
                    color: @color-white;

                    .inset {
                        text-align: center;

                        img {
                            display: block;
                            margin: auto;
                        }
                    }
                }

                &.two-column {
                    li {
                        width: 50%;
                        position: static;
                    }
                }

                &.three-column {
                    text-align: center;
                }

                &.two-column,
                &.three-column {
                    background-color: @primary__color;

                    li {
                        background-color: @primary__color;
                        color: @color-white;

                        &:first-child {
                            border-left: none;
                        }

                        h3 {
                            color: @color-white;
                            margin: 0 0 10px;
                        }
                    }
                }

                ul {
                    list-style: none;
                    background-color: @color-white;
                    padding: 0;
                    display: table;
                    width: 100%;
                    margin: 0 auto;
                    table-layout: fixed;
                }
            }

            &.text-child-light {
                .open-feature-text {
                    color: @color-white;
                }
            }

            .open-feature {
                position: absolute;
                text-decoration: none;
                left: 50%;
                height: 32px;
                width: 70px;
                border-radius: 70px 70px 0 0;
                margin-left: -35px;
                text-align: center;
                background: @active__color;
                bottom: 0;
                z-index: 1;

                .lib-icon-font(
                        @icon-down,
                    @_icon-font-size: 18px,
                    @_icon-font-line-height: 30px,
                    @_icon-font-color: @color-white,
                    @_icon-font-text-hide: true,
                    @_icon-font-position: before
                );

                &:before {
                    font-weight: @font-weight__bold;
                }
            }

            .close-feature {
                background: #777;
                text-align: center;
                border-radius: 0 0 70px 70px;
                height: 32px !important;
                width: 70px;
                z-index: 3;

                &:hover,
                &:active {
                    background: @active__color;
                }

                .lib-icon-font(
                        @icon-remove,
                    @_icon-font-size: 18px,
                    @_icon-font-line-height: 30px,
                    @_icon-font-color: @color-white,
                    @_icon-font-text-hide: true,
                    @_icon-font-position: before
                );
            }

            .text-block {
                margin: 0 auto;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 100%;
                z-index: 1;
                box-sizing: border-box;

                h1,
                h3 {
                    margin: 0;
                    line-height: 100%;
                    padding: 4px 0 0;
                    word-wrap: break-word;
                    word-break: keep-all;
                }

                h4 {
                    margin: 0;
                    line-height: 100%;
                    word-wrap: break-word;
                    word-break: keep-all;
                    font-weight: @font-weight__regular;
                }

                h2,
                p {
                    margin: 0;
                    line-height: 1.2;
                    padding: 13px 0;
                    word-wrap: break-word;
                    word-break: keep-all;
                }

                .cta-button {
                    margin: @indent__base 0;

                    a {
                        .lib-button-primary();
                        .lib-link(
                            @_link-color: @color-white,
                            @_link-text-decoration: none,
                            @_link-color-hover: @color-white,
                            @_link-text-decoration-visited: none,
                            @_link-color-active: @color-white,
                            @_link-text-decoration-hover: none,
                            @_link-color-visited: @color-white,
                            @_link-text-decoration-active: none
                        );
                        font-weight: @font-weight__regular;
                    }
                }
            }

            .vertical-align-wrap {
                display: table;
                width: 100%;
                height: 100%;

                .inner-wrap {
                    display: table-cell;
                    vertical-align: middle;
                }
            }

            &.text-horz-left {
                .text-block {
                    position: relative;
                    padding: 1rem 2.5rem;

                    p {
                        font-size: @font-size__base;
                    }
                }
            }

            &.hide,
            .hide {
                display: none;
            }

            &.bg-white {
                background-color: @color-white;
            }

            &.bg-gray {
                background: #f3f3f3;
            }

            &.none-img,
            &.bg-black {
                background: @color-black;

                .text-block {
                    color: @color-white;
                }
            }

            &.text-light {
                background: @primary__color;

                .text-block * {
                    color: @color-white;
                }
            }

            &.text-dark {
                background: @color-white;

                .text-block * {
                    color: @primary__color;
                }
            }

            &.text-bottom,
            &.text-top {
                text-align: center;
            }

            &.text-bottom {
                .text-block {
                    right: 0;
                    top: auto;
                }
            }

            &.text-top {
                .text-block {
                    right: 0;
                    bottom: auto;
                }
            }

            .video-thumb,
            .inset-image {
                margin-bottom: @indent__xl;

                img {
                    display: block !important;
                    max-width: 1000px;
                    margin: 0 auto;
                    width: 80%;
                }
            }

            .video-thumb {
                position: relative;

                .see-video {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    background: @color-white;
                    .lib-css(border-radius, 50%);
                    margin: -45px 0 0 -45px;

                    .lib-icon-font(
                            @ico-lg-video_play,
                        @_icon-font-size: 90px,
                        @_icon-font-line-height: 100%,
                        @_icon-font-color: @active__color,
                        @_icon-font-text-hide: true,
                        @_icon-font-position: before
                    );
                }
            }

            .controller {
                .see-video {
                    position: absolute;
                    left: 50%;
                    background: @color-white;
                    .lib-css(border-radius, 50%);
                    margin: -20px 0 0 -20px;
                    bottom: 20px;
                    z-index: 1;

                    .lib-icon-font(
                            @ico-lg-video_play,
                        @_icon-font-size: 40px,
                        @_icon-font-line-height: 100%,
                        @_icon-font-color: @active__color,
                        @_icon-font-text-hide: true,
                        @_icon-font-position: before
                    );
                }
            }

            .video-asset {
                display: none;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 5;

                .video-content {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    padding: 0;
                    background: @color-black;

                    iframe {
                        width: 100%;
                        height: 100%;
                        border: none;
                    }

                    .close {
                        padding: 8px 12px 10px 10px;
                        position: absolute;
                        right: 12px;
                        top: 8px;
                        .lib-icon-font(
                                @ico-lg-state_warn,
                            @_icon-font-size: 30px,
                            @_icon-font-line-height: 100%,
                            @_icon-font-color: #a7a7a7,
                            @_icon-font-text-hide: true,
                            @_icon-font-position: before
                        );
                    }
                }
            }

            .feature-tab {
                ul {
                    .lib-list-inline();
                    text-align: center;

                    li {
                        a {
                            .lib-link(
                                @_link-color: @color-white,
                                @_link-text-decoration: none,
                                @_link-color-visited: @color-white,
                                @_link-text-decoration-visited: none,
                                @_link-color-hover: @color-white,
                                @_link-text-decoration-hover: none,
                                @_link-color-active: @color-white,
                                @_link-text-decoration-active: none
                            );

                            span {
                                display: block;
                            }

                            img {
                                display: block;
                                margin: auto;
                            }

                            .on {
                                display: none;
                            }

                            &:hover {
                                .off{
                                    display: none;
                                }

                                .on {
                                    display: block;
                                }

                                span {
                                    color: @active__color;
                                }
                            }
                        }

                        &.on {
                            a {
                                .on {
                                    display: block;
                                }

                                .off {
                                    display: none;
                                }

                                span {
                                    color: @active__color;
                                }
                            }
                        }
                    }
                }

                & + .feature-wrap {
                    .feature-text-img {
                        display: none;

                        &.on {
                            display: block;
                        }
                    }
                }
            }

            .module-carousel {
                .swiper-pagination {
                    z-index: 3;
                }
            }

            &.m33 {
                .text-block {
                    right: 0;
                    bottom: auto;
                    padding: 4% 0;
                    color: @color-white;
                    text-align: center;

                    p,
                    h3 {
                        max-width: 1024px;
                        margin: 0 auto;
                    }
                }
            }

            &.m32,
            &.m36,
            &.m37 {
                .text-block {
                    position: unset;
                    text-align: center;

                    p,
                    h3 {
                        max-width: 1024px;
                        margin: 0 auto;
                    }
                }
            }

            &.m37 {
                & + .m37 {
                    .close-feature {
                        &.last {
                            bottom: 0;
                            border-radius: 70px 70px 0 0;
                        }
                    }
                }
            }

            &.m29 {
                .video-thumb {
                    .see-video {
                        background: transparent;

                        &:before {
                            display: none;
                        }
                    }
                }
            }

            &.call-to-action {
                .slide {
                    .slide-content {
                        min-height: 156px;
                    }

                    img {
                        float: left;
                        margin-right: 20px;
                        width: 240px;
                    }

                    h3 {
                        .lib-font-size(70);
                        line-height: 70px;
                    }

                    p {
                        .lib-font-size(30);
                        font-style: italic;
                        margin: 0;
                    }
                }
            }

            &.m05 {
                .slide-content {
                    max-width: 1200px;
                    width: 100%;
                    margin: 0 auto;
                    min-height: 0 !important;
                    display: table;

                    .image-area {
                        vertical-align: middle;

                        img {
                            float: none;
                        }
                    }

                    .text-area {
                        vertical-align: middle;
                        text-align: center;

                        h3 {
                            margin-bottom: 10px;
                        }

                        p {
                            min-height: 0;
                        }
                    }
                }
            }

            &.background-animation {
                .video-asset {
                    display: block;

                    video {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    .feature-module {
        background: @color-white;
        background-image: linear-gradient(#fff 90%,#f6f7f9);
        position: relative;
        overflow: hidden;

        &.onecolumn,
        &.doublecolumn {
            .text-box {
                text-align: center;

                .image {
                    position: relative;
                }

                .see-video {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    background: @color-white;
                    .lib-css(border-radius, 50%);
                    margin: -45px 0 0 -45px;

                    .lib-icon-font(
                            @ico-lg-video_play,
                        @_icon-font-size: 90px,
                        @_icon-font-line-height: 100%,
                        @_icon-font-color: @active__color,
                        @_icon-font-text-hide: true,
                        @_icon-font-position: before
                    );
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .feature {
        .module {
            .text-banner {
                &.one-column {
                    h3 {
                        font-size: 28px;
                    }
                }

                &.two-column {
                    h3 {
                        font-size: 16px;
                    }
                }

                &.three-column {
                    .more {
                        display: none;
                    }
                }
            }

            .effect-fade {
                display: none;
            }

            .open-feature-text {
                font-size: 20px;
                margin-bottom: @indent__base;
            }

            .text-block {
                padding: 35px @layout__width-xs-indent * 2;

                h1,
                h3 {
                    font-size: 46px;
                }

                h4 {
                    font-size: 27px;
                    padding: 0 0 @indent__s;
                }

                h2,
                p {
                    font-size: 28px;
                }
            }

            &.text-banner {
                .inset {
                    text-align: center;
                }

                &:not(.three-column) {
                    li {
                        display: table-cell;
                    }
                }

                &.two-column {
                    p {
                        display: none;
                    }

                    li {
                        position: relative;
                        border-left: 3px solid @color-white;

                        h3 {
                            font-size: 16px;
                            text-align: center;
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: 10px;
                        }
                    }

                    .inset {
                        margin: 20px auto 50px;
                    }
                }

                &.three-column {
                    li {
                        border-top: 3px solid @color-white;
                        margin-bottom: 0;
                        padding: 30px 0;

                        &:first-child {
                            border-top: none;
                        }
                    }

                    .inset {
                        margin-bottom: 20px;
                    }
                }

                &.two-column,
                &.three-column {
                    margin: 3px auto;
                }
            }

            &.one-column {
                margin: 1px 0;
                padding: @indent__l 0;

                .inset {
                    margin: 0 auto;
                }

                p {
                  display: none;
                }

                h3 {
                    font-size: 16px;
                    text-align: center;
                }
            }

            &:not(.m35) {
                .background-image {
                    background: no-repeat !important;
                }
            }

            &.image-left,
            &.image-right {
                .text-block {
                    position: unset;
                    padding-left: 5%;
                    padding-right: 5%;
                }
            }

            &.text-horz-left {
                .text-block {
                    padding: 0 1.3rem !important;
                }
            }

            .video-thumb {
                .see-video {
                    margin: -30px 0 0 -30px !important;

                    &:before {
                        font-size: 60px !important;
                    }
                }
            }

            .feature-tab {
                padding-top: 6.25%;

                ul {
                    li {
                        width: 100%/3;

                        img {
                            width: 56px;
                        }

                        span {
                            font-size: 20px;
                        }
                    }
                }
            }

            .module-carousel {
                .swiper-pagination-bullet {
                    width: 12px;
                    height: 12px;
                }
            }

            &.m29 {
                .video-thumb {
                    .see-video {
                        width: 16%!important;
                        margin: -8% 0 0 -8%;
                    }
                }
            }

            &.m36 {
                &.m36-text-left {
                    .inset-image {
                        padding-top: 8%;
                        margin-bottom: 0;
                    }
                }

                .video-thumb,
                .insert-image {
                    margin: 10% 0 7%;

                    img {
                        width: 80%;
                    }
                }

                .text-block {
                    padding-left: 5%;
                    padding-right: 5%;
                }
            }

            &.m32 {
                .text-block {
                    padding-top: 3%;

                    h3 {
                        padding-top: 3%;
                        font-size: 38px;
                    }
                }
            }

            .controller {
                .see-video {
                    display: none;
                }
            }

            &.call-to-action {
                .slide {

                    h3 {
                        .lib-font-size(20);
                        margin-bottom: 30px;
                    }
                }
            }

            &.m05 {
                .slide {
                    padding: 40px 4rem 70px;
                    box-sizing: border-box;
                }

                .slide-content {
                    padding: 0;

                    .image-area {
                        display: block;
                        width: auto;
                        text-align: center;
                        padding: 0;

                        img {
                            width: 100%;
                            max-width: 107px;
                            max-height: 107px;
                            margin: 10px auto;
                        }
                    }

                    .text-area {
                        padding: 0;
                        text-align: center;
                        display: block;
                        width: auto;
                        margin: 10px 0;

                        p {
                            .lib-font-size(20);
                            line-height: 20px;
                            padding: 0;
                            text-align: center;
                            color: @primary__color__lightest;
                            min-height: 0;
                        }
                    }
                }

                h3 {
                    .lib-font-size(28);
                    text-align: center;
                    line-height: 30px;
                    margin-bottom: 10px;
                }
            }

            &.b10 {
                margin: 60px auto;
                padding: 0 10px;

                .column {
                    h3 {
                        font-size: 26px;
                        padding: 0 10px 15px;
                        text-align: center;
                    }
                }
            }

            &.b02 {
                .two-column {
                    padding: 0 1.29032%;

                    .column {
                        border: 1px solid #ddd;
                        padding: 0 0 30px;
                        margin-top: 10px;

                        .img {
                            text-align: center;
                        }

                        .cta {
                            padding: 40px 0 0;
                            text-align: center;
                        }
                    }
                }
            }
        }

        > ul {
            font-size: 30px;
            padding-top: @indent__l;
            list-style-type: square;
            padding-left: 70px;
            padding-right: @layout__width-xs-indent * 2;
        }
    }

    .feature-module {

        padding: @indent__l @indent__base;

        .text-box {
            h3 {
                font-size: 26px;
            }

            p {
                font-size: 16px;
                line-height: 20px;
                margin-top: 15px;
            }

            .see-video {
                margin: 0 0 0 -30px !important;
                position: relative !important;
                left: auto !important;

                &:before {
                    font-size: 60px !important;
                }
            }
        }

        .image {
            margin: @indent__l auto 0;
            text-align: center;
        }

        &.doublecolumn {
            padding: 0;

            .column {
                padding: @indent__l @indent__base;
                position: relative;

                &.left:after {
                    display: block;
                    position: absolute;
                    left: @indent__base;
                    right: @indent__base;
                    height: 1px;
                    bottom: 0;
                    content: "";
                    background: @secondary__color__light;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .feature {
        .module {
            &.one-column {
                padding: 15px 0;
            }

            .text-block {
                padding-left: @layout__width-xs-indent;
                padding-right: @layout__width-xs-indent;

                h1,
                h3 {
                    font-size: 26px;
                }

                h4 {
                    font-size: 14px;
                    padding: 0 0 5px;
                }

                h2,
                p {
                    font-size: 16px;
                }
            }

            &.text-banner {
                h3 {
                    font-size: 18px;
                }

                &.one-column {
                    img {
                        width: 30%;
                    }
                }

                &.two-column,
                &.three-column {
                    img {
                        width: 60%;
                    }
                }

                &.two-column {
                    li {
                        border-left: 1.5px solid @color-white;
                    }
                }

                &.three-column {
                    li {
                        border-top: 1.5px solid @color-white;
                        padding: 15px 0;
                    }

                    .inset {
                        margin-bottom: 10px;
                    }
                }
            }

            .close-feature {
                width: 55px !important;
                height: 26px !important;
                margin-left: -55px / 2 !important;
                border-radius: 0 0 55px 55px !important;

                &:before {
                    font-size: 14px !important;
                }
            }

            .controller {
                .see-video {
                    display: none;
                }
            }

            .open-feature-text {
                font-size: @font-size__base;
                margin-bottom: @indent__s;
            }

            .open-feature {
                width: 55px !important;
                height: 26px !important;
                margin-left: -55px / 2 !important;
                border-radius: 55px 55px 0 0 !important;

                &:before {
                    font-size: 14px !important;
                }
            }

            .feature-tab {
                ul {
                    li {
                        span {
                            font-size: 12px !important;
                        }

                        img {
                            width: 38px !important;
                        }
                    }
                }
            }

            &.m32 {
                .text-block {
                    h3 {
                        font-size: 17px !important;
                    }
                }
            }

            &.m37 {
                & + & {
                    .close-feature {
                        &.last {
                            border-radius: 55px 55px 0 0 !important;
                        }
                    }
                }
            }

            &.b10 {
                margin: 30px auto;

                .column {
                    h3 {
                        font-size: 13px;
                    }
                }
            }

            &.b02 {
                .two-column {
                    .column {
                        padding: 0 0 15px;
                        margin-top: 5px;

                        .cta {
                            padding: 20px 0 0;
                        }
                    }
                }
            }
        }

        > ul {
            font-size: 15px;
            padding-top: @indent__l/2;
            padding-left: 35px;
            padding-right: @layout__width-xs-indent;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .feature {
        .module {
            .text-block {
                padding: 75px @layout-indent__width;

                h1,
                h3 {
                    font-size: 70px;
                }

                h2,
                p {
                    font-size: 30px;
                }

                h4 {
                    font-size: 34px;
                    padding: 0 0 17px;
                }

                .cta-button {
                    a {
                        font-size: 23px !important;
                        padding-top: 11px !important;
                        padding-bottom: 11px !important;
                    }
                }
            }

            &.text-banner {
                h3 {
                    font-size: 36px;
                }

                li {
                    padding: 4rem;
                    display: table-cell;

                    p {
                        font-size: 16px;
                    }
                }

                &:not(.three-column) {
                    .inset {
                        float: left;
                    }
                }

                &.one-column,
                &.two-column,
                &.three-column {
                    margin: 6px auto;

                    li {
                        border-left: 6px solid @color-white;
                    }
                }

                &.two-column {
                    .inset img {
                        width: 150px;
                    }
                }

                &.three-column {
                    .more {
                        display: none;
                    }
                }
            }

            .open-feature-text {
                font-size: 20px;
                margin-bottom: @indent__base;
            }

            &.one-column {
                padding: @indent__xl @indent__base;

                h3 {
                    font-size: 36px;
                }

                p {
                    font-size: 16px;
                }

                h3, p {
                    text-align: center;
                }

                .inset {
                    float: left;
                    padding-right: @indent__base;

                    & + * + *,
                    & + * {
                        float: left;
                        width: 75%;
                        text-align: left;
                    }
                }
            }

            &.image-left {
                .text-block {
                    width: 50%;
                    left: 50%;
                    padding-right: 5%;
                    padding-left: 0;
                }

                &.text-narrow {
                    .text-block {
                        width: 37.5%;
                        left: 62.5%
                    }
                }
            }

            &.image-right {
                .text-block {
                    width: 50%;
                    right: 50%;
                    padding-right: 0;
                    padding-left: 5%;
                }

                &.text-narrow {
                    .text-block {
                        width: 37.5%;
                        right: 62.5%
                    }
                }
            }

            &.text-horz-left {
                .text-block {
                    padding: @indent__s 25px;
                }
            }

            &.text-bottom {
                .text-block {
                    max-width: 1084px;
                }
            }

            &.text-top {
                .text-block {
                    max-width: 1084px;
                }
            }

            &.m37 {
                .text-block {
                    padding: 70px 0;

                    h3 {
                      font-size: 44px;
                    }

                    p {
                        font-size: 23px;
                    }
                }
            }

            &.m32 {
                .text-block {
                    padding-top: 2%;

                    h3 {
                        font-size: 5.3rem;
                    }
                }
            }

            &.m36 {
                &.m36-text-left {
                    .text-block {
                        text-align: left;
                    }
                }

                .text-block {
                    position: unset;
                    width: 50%;
                    float: right;

                    h3 {
                        font-size: 44px;
                    }

                    p {
                        font-size: 23px;
                    }
                }

                .inset-image {
                    width: 50%;
                    float: left;
                    padding: 7% 0;

                    img {
                        width: 480px;
                    }
                }
            }

            .feature-tab {
                padding-top: 3.8%;

                ul {
                    li {
                        min-width: 180px;

                        span {
                            padding-top: 7%;
                            font-size: 18px;
                        }

                        img {
                            width: 61px;
                        }
                    }
                }
            }

            .module-carousel {
                .swiper-pagination-bullet {
                    margin: 0 6px;
                    width: 18px;
                    height: 18px;
                }

                .swiper-button-prev {
                    left: 25px;
                }

                .swiper-button-next {
                    right: 25px;
                }
            }

            &.call-to-action {
                .slide {
                    padding: 4rem 11rem;
                    box-sizing: border-box;

                    img {
                        float: left;
                        margin-right: 20px;
                        width: 240px;
                    }

                    h3 {
                        .lib-font-size(70);
                        line-height: 70px;
                    }

                    p {
                        .lib-font-size(30);
                        font-style: italic;
                        font-family: "LG Smart Light",Tahoma,Arial,sans-serif;
                        margin: 0;
                    }
                }
            }

            &.m05 {
                .slide-content {
                    .image-area {
                        width: 270px;
                        display: table-cell;
                        padding-right: 30px;

                        img {
                            margin-right: 0;
                        }
                    }

                    .text-area {
                        padding: 18px 0;
                        display: table-cell;

                        h3 {
                            margin-bottom: 10px;
                        }

                        p {
                            line-height: 40px;
                            padding-bottom: 5px;
                            color: #888;
                        }
                    }
                }
            }

            &.b10 {
                margin: 93px auto 100px;

                .column {
                    h3 {
                        font-size: 44px;
                        text-align: center;
                    }
                }
            }

            &.b02 {
                .two-column {
                    max-width: 1240px;
                    margin: 0 auto;
                    padding: 0 1.29032%;

                    .column {
                        width: 50%;
                        float: left;
                        box-sizing: border-box;

                        .img  {
                            position: relative;
                            text-align: center;

                            img {
                                width: auto;
                            }

                            .cta {
                                position: absolute;
                                bottom: 40px;
                                width: 100%;
                                left: 0;
                                text-align: center;
                            }
                        }

                        &:nth-child(1) {
                            padding-right: 2.5%;
                        }

                        &:nth-child(2) {
                            padding-left: 2.5%;
                        }
                    }
                }
            }
        }

        > ul {
            font-size: 20px;
            padding-top: 67px;
            list-style-type: square;
            padding-left: @indent__base;
        }
    }

    .feature-module {
        padding: @indent__l*2;

        .text-box {
            h3 {
              font-size: 70px;
            }

            p {
                font-size: 30px;
                line-height: 40px;
                margin-top: 25px;
            }

            .image {
                margin: 50px auto 0;
            }
        }

        &.text-left {
            .text-box {
                float: left;
                width: 60%;
                box-sizing: border-box;
                padding-right: @indent__l *2;
            }

            .image {
                width: 40%;
                max-width: 465px;
                float: right;
                box-sizing: border-box;

            }
        }

        &.text-right {
            .text-box {
              float: right;
              width: 60%;
              box-sizing: border-box;
              padding-left: @indent__l *2;
            }

            .image {
              width: 40%;
              float: left;
              box-sizing: border-box;
              max-width: 465px;
            }
        }

        &.doublecolumn {
            display: table;
            width: 100%;
            padding-left: 0;
            padding-right: 0;

            .column {
                width: 50%;
                display: table-cell;
                float: none;
                vertical-align: top;
                padding: 0 @indent__base;
            }

            .left {
                border-right: 1px solid @secondary__color__light;
            }
        }

        .left {
            .video-asset {
                width: 50%;
            }
        }

        .right {
            .video-asset {
                width: 50%;
                right: 0;
                left: auto;
            }
        }
    }
}