// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  ---------------------------------------------

@product-name-link__color: @text__color;
@product-name-link__color__active: @active__color;
@product-name-link__color__hover: @active__color;
@product-name-link__color__visited: @text__color;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: none;
@product-name-link__text-decoration__hover: none;
@product-name-link__text-decoration__visited: none;
@product-list-hover-border-color: #e5e5e5;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    //  Product Lists

    .product {
        &-items {
            &:extend(.abs-reset-list all);
        }

        &-item {
            vertical-align: top;

            .products-grid & {
                display: inline-block;

                &-photo {
                    position: relative;
                    text-align: center;
                }

                &-flag-icon {
                    position: absolute;
                    z-index:  99;
                    left: 10px;
                }

                &-flag {
                    font-weight: @font-weight__bold;
                    text-transform: uppercase;
                    position: relative;
                    display: inline-block;

                    span {
                        display: inline-block;
                        line-height: 100%;
                        position: relative;
                    }

                    .top-icon-new,
                    .top-icon-financing {
                        position: absolute;
                        z-index: 999;
                    }

                    .flag-new {
                        color: @active__color;
                        border-right: none;

                        &:hover {
                            color: @active__color;
                        }
                    }

                    .flag-financing {
                        color: @primary__color;
                        border-right: none;

                        &:hover {
                            color: @primary__color;
                        }
                    }

                    .bottom-icon-new,
                    .bottom-icon-financing {
                        position: absolute;
                        z-index: 999;
                    }

                    .top-icon-best,
                    .top-icon-blackfriday {
                        position: absolute;
                        z-index: 999;
                        border-right: 0 solid transparent;
                    }

                    .flag-best,
                    .flag-blackfriday {
                        border-right: none;
                        color: @color-white;
                    }

                    .bottom-icon-best,
                    .bottom-icon-blackfriday {
                        position: absolute;
                        bottom: 0;
                        z-index: 99;
                    }
                }

                &-photo {
                    display: block;
                }

                &-details {
                    .swatch-attribute-options {
                        text-align: center;
                    }
                }

                .price-box {
                    .label {
                        display: none;
                    }
                }

                &-actions {
                    .actions-primary + .actions-secondary {
                        text-align: right;
                    }

                    .actions-primary {
                        .action.tocart,
                        .stock.unavailable {
                            width: 100%;
                            line-height: 1.6rem;
                        }

                        .stock.unavailable {
                            background-color: @secondary__color__light;
                            text-align: center;
                            color: @color-white;
                            font-weight: @font-weight__bold;
                            border: 1px solid @secondary__color__light;
                            box-sizing: border-box;
                        }

                        button span {
                            white-space: normal;
                        }
                    }
                }
            }

            &:extend(.abs-add-box-sizing all);

            &-energy-class {
                display: block;

                span, img {
                    display: inline-block;
                    vertical-align: middle;
                    cursor: pointer;
                }
            }

            &-model-name {
                color: @primary__color__light;
            }

            &-name {
                &:extend(.abs-product-link all);
                -moz-hyphens: auto;
                -ms-hyphens: auto;
                -webkit-hyphens: auto;
                display: block;
                hyphens: auto;
                margin: @indent__xs 0;
                word-wrap: break-word;
            }

            &-actions {
                .actions-secondary {
                    > button.action {
                        .lib-button-reset();
                    }

                    > .action {
                        &:extend(.abs-actions-addto-gridlist all);
                        &:before {
                            margin: 0;
                            position: relative;
                        }

                        &.tocompare {
                            &:before {
                                content: '▤';
                            }
                        }

                        &:hover {
                            cursor: pointer;

                            span {
                                color: @addto-hover-color;
                            }
                        }

                        span {
                            color: @addto-color;
                            font-weight: @font-weight__bold;
                        }

                        &:not(.towishlist):not(.tocompare):not(.delete) {
                            span {
                                &:extend(.abs-visually-hidden all);
                            }
                        }
                    }

                    .action.towishlist + .action {
                        margin-left: 15px;
                    }
                }
            }

            &-description {
                color: @primary__color__lighter;

                p {
                    margin-bottom: 0;
                }
            }

            .product-reviews-summary {
                .rating-summary {
                    margin: 0 4px 0 0;
                }

                .reviews-actions {
                    font-size: @font-size__s;
                    margin-top: 5px;
                    text-transform: lowercase;
                }
            }

            .price-box,
            .price-as-configured {
                > span:not(.old-price) {
                    &:first-child {
                        margin-left: 10px;
                    }
                }
            }


            .price-box {
                overflow: hidden;
                text-align: right;

                .price {
                    color: @active__color;
                    font-weight: @font-weight__bold;
                }

                .old-price {
                    display: inline-block;
                    vertical-align: middle;

                    .price {
                        color: @primary__color__lighter;
                        font-weight: @font-weight__light;
                    }

                    + span {
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }

            .special-price,
            .minimal-price {
                .price {
                    .lib-font-size(14);
                    font-weight: @font-weight__bold;
                }

                .price-including-tax + .price-excluding-tax {
                    display: block;
                }
            }

            .special-price {
                display: block;
            }

            .regular-price {
                .price-label {
                    display: none;
                }
            }

            .minimal-price {
                .price-container {
                    display: block;
                }
            }

            .minimal-price-link {
                margin-top: 5px;

                .price-label {
                    .lib-css(color, @link__color);
                    .lib-font-size(14);
                }

                .price {
                    font-weight: @font-weight__regular;
                }
            }

            .minimal-price-link,
            .price-excluding-tax,
            .price-including-tax {
                display: block;
                white-space: nowrap;
            }

            .price-from,
            .price-to {
                margin: 0;
            }

            .tocart {
                white-space: nowrap;
            }
        }
    }

    .price-container {
        .price {
            .lib-font-size(14);
        }

        .price-including-tax + .price-excluding-tax,
        .weee {
            margin-top: @indent__xs;
        }

        .price-including-tax + .price-excluding-tax,
        .weee,
        .price-including-tax + .price-excluding-tax .price,
        .weee .price,
        .weee + .price-excluding-tax:before,
        .weee + .price-excluding-tax .price {
            .lib-font-size(11);
        }

        .weee {
            &:before {
                content: '('attr(data-label) ': ';
            }

            &:after {
                content: ')';
            }

            + .price-excluding-tax {
                &:before {
                    content: attr(data-label) ': ';
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .page-products {
        .products-grid {
            margin-left: -(@layout-indent__width/2) /2;
            margin-right: -(@layout-indent__width/2) /2;;
        }

        .product {
            &-item {
                margin-bottom: 27px;

                &:nth-last-child(-n+2) {
                    margin-bottom: 15px;
                }

                .price-box {
                    min-height: 30px;
                }
            }
        }
    }

    .product {
        &-item {
            &-model-name {
                .lib-font-size(11);
            }

            &-name {
                .lib-font-size(13);
            }

            &-energy-class {
                span {
                    padding-bottom: 2.5px;
                }
            }
        }
    }

    .products-grid {
        .products {
            &-configurable {
                .product-item:not(.product-configurable) {
                    .product-item-details {
                        margin-top: 31px;
                    }
                }

                .product-configurable {
                    .product-item-details {
                        > div[class*='swatch-opt-'] {
                            min-height: 21px;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }

        .product {
            &-item {
                padding: 0 7.5px;

                &-model-name,
                &-name,
                &-description,
                .price-box {
                    padding-left: @indent__xs;
                    padding-right: @indent__xs;
                }

                &-energy-class {
                    min-height: 28px;

                    span {
                        padding-right: 5px;
                        .lib-font-size(12);
                    }

                    img {
                        width: 40px;
                    }
                }

                &-flag-icon {
                    line-height: 1.2;
                }

                &-flag {
                    font-size: 15px;
                    margin-top: 2.75px;

                    span {
                        padding: 6.5px 12px;
                    }

                    .flag-new {
                        border: 1px solid @active__color;

                        &:after {
                            display: inline-block;
                            float: left;
                            height: 30px;
                            content: '';
                            background-image: url("../images/lg-flag-border01-mb02.png");
                            background-repeat: no-repeat;
                            width: 10px;
                            right: -10px;
                            position: absolute;
                            top: -1px;
                        }
                    }

                    .flag-financing {
                        border: 1px solid @primary__color;

                        &:after {
                            display: inline-block;
                            float: left;
                            height: 30px;
                            content: '';
                            background-image: url("../images/black-flag-border01-mb02.png");
                            background-repeat: no-repeat;
                            width: 10px;
                            right: -10px;
                            position: absolute;
                            top: -1px;
                        }
                    }

                    .flag-best {
                        border: 1px solid @active__color;

                        &:after {
                            display: inline-block;
                            float: left;
                            height: 30px;
                            content: '';
                            background-image: url("../images/lg-flag-border02-mb02.png");
                            background-repeat: no-repeat;
                            width: 10px;
                            right: -10px;
                            position: absolute;
                            top: -1px;
                        }
                    }

                    .flag-blackfriday {
                        border: 1px solid @primary__color;

                        &:after {
                            display: inline-block;
                            float: left;
                            height: 30px;
                            content: '';
                            background-image: url("../images/black-flag-border02-mb02.png");
                            background-repeat: no-repeat;
                            width: 10px;
                            right: -10px;
                            position: absolute;
                            top: -1px;
                        }
                    }
                }

                &-details {
                    margin-top: 10px;
                }

                &-description {
                    .lib-font-size(8.5);
                    padding-top: 6px;
                    padding-bottom: 6px;
                    border-top: 1px solid @secondary__color__lighter;
                }

                &-model-name {
                    padding-top: 5px;
                }

                &-name {
                    margin-top: 2.5px;
                    margin-bottom: 6px;
                    height: 62px;
                }

                &-link {
                    .lib-font-size(13)
                }

                .price-box,
                .price-as-configured {
                    > span:not(.old-price) {
                        margin-left: 5px;
                    }
                }

                .price-box {
                    border-top: 1px solid @secondary__color__lighter;
                    padding-top: 8.5px;

                    .label + .normal-price {
                        margin-left: 0;
                    }

                    .price {
                        .lib-font-size(18);
                    }

                    .old-price {
                        .price {
                            .lib-font-size(11);
                        }
                    }
                }

                &-actions {
                    margin: 9.5px 0 @indent__xs 0;

                    .actions-primary + .actions-secondary {
                        padding-top: @indent__s/2;
                    }

                    .actions-primary {
                        .action.tocart,
                        .stock.unavailable {
                            .lib-font-size(11);
                            padding: 5px 0;
                        }
                    }

                    .actions-secondary {
                        > .action {
                            &:before {
                                width: 12px;
                                top: 1px;
                            }

                            span {
                                .lib-font-size(10);
                            }
                        }
                    }
                }
            }
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .page-products {
        .products-grid {
            margin-left: -@layout-indent__width/2;
            margin-right: -@layout-indent__width/2;;
        }

        .product {
            &-item {
                margin-bottom: 54px;

                &:nth-last-child(-n+2) {
                    margin-bottom: 30px;
                }

                .price-box {
                    min-height: 55px;
                }
            }
        }
    }

    .product {
        &-item {
            &-model-name {
                .lib-font-size(22);
            }

            &-name {
                .lib-font-size(26);
            }

            &-energy-class {
                span {
                    padding-bottom: 5px;
                }
            }
        }
    }

    .products-grid {
        &.products-crosssell {
            .product {
                &-item {
                    width: 100%/2;
                }
            }
        }

        .products {
            &-configurable {
                .product-item:not(.product-configurable) {
                    .product-item-details {
                        margin-top: 56px;
                    }
                }
            }

            .product-item-details {
                margin-top: 0;
            }

            .product-configurable {
                .product-item-details {
                    > div[class*='swatch-opt-'] {
                        min-height: 39px;
                        margin-top: 20px;
                    }
                }
            }
        }

        .product {
            &-item {
                width: 100%/2;
                padding: 0 15px;

                &-model-name,
                &-name,
                &-description,
                &-energy-class,
                .price-box {
                    padding-left: @indent__s;
                    padding-right: @indent__s;
                }

                &-energy-class {
                    min-height: 55px;

                    span {
                        padding-right: 10px;
                        .lib-font-size(18);
                    }

                    img {
                        width: 60px;
                    }
                }

                &-details {
                    margin-top: 20px;
                }

                &-description {
                    .lib-font-size(17);
                    padding-top: 12px;
                    padding-bottom: 12px;
                    border-top: 2px solid @secondary__color__lighter;
                }

                &-flag {
                    font-size: 20px;
                    margin-top: 5.5px;

                    span {
                        padding: 8px 15px;
                    }

                    .flag-new {
                        border: 2px solid @active__color;
                        border-right: none;
                        background: @color-white;
                        position: relative;

                        &:after {
                            display: inline-block;
                            float: left;
                            height: 40px;
                            content: '';
                            background-image: url("../images/lg-flag-border01-mb01.png");
                            background-repeat: no-repeat;
                            width: 10px;
                            right: -10px;
                            position: absolute;
                            top: -2px;
                        }
                    }

                    .flag-financing {
                        border: 2px solid @primary__color;
                        border-right: none;
                        background: @color-white;
                        position: relative;

                        &:after {
                            display: inline-block;
                            float: left;
                            height: 40px;
                            content: '';
                            background-image: url("../images/black-flag-border01-mb01.png");
                            background-repeat: no-repeat;
                            width: 10px;
                            right: -10px;
                            position: absolute;
                            top: -2px;
                        }
                    }

                    .flag-best {
                        border: 2px solid @active__color;
                        border-right: none;
                        background: @active__color;
                        position: relative;

                        &:after {
                            display: inline-block;
                            float: left;
                            height: 40px;
                            content: '';
                            background-image: url("../images/lg-flag-border02-mb01.png");
                            background-repeat: no-repeat;
                            width: 10px;
                            right: -10px;
                            position: absolute;
                            top: -2px;
                        }
                    }

                    .flag-blackfriday {
                        border: 2px solid @primary__color;
                        border-right: none;
                        background: @primary__color;
                        position: relative;

                        &:after {
                            display: inline-block;
                            float: left;
                            height: 40px;
                            content: '';
                            background-image: url("../images/black-flag-border02-mb01.png");
                            background-repeat: no-repeat;
                            width: 10px;
                            right: -10px;
                            position: absolute;
                            top: -2px;
                        }
                    }
                }

                &-model-name {
                    padding-top: 10px;
                    display: block;
                }

                &-name {
                    margin-bottom: 12px;
                    .text-ellipsis(4,124px);
                    line-height: 1.2;
                }

                &-link {
                    .lib-font-size(26)
                }

                .price-box,
                .price-as-configured {
                    > span:not(.old-price) {
                        margin-left: 10px;
                    }
                }

                .price-box {
                    border-top: 2px solid @secondary__color__lighter;
                    padding-top: 17px;
                    display: table;
                    width: 100%;
                    box-sizing: border-box;

                    .label + .normal-price {
                        margin-left: 0;
                    }

                    .price {
                        .lib-font-size(36);
                        line-height: 100%;
                        vertical-align: middle;
                    }

                    .old-price {
                        .price {
                            .lib-font-size(22);
                        }
                    }
                }

                &-actions {
                    margin: 19px 0 @indent__s 0;

                    .actions-primary + .actions-secondary {
                        padding-top: @indent__s;
                    }

                    .actions-primary {
                        .action.tocart,
                        .stock.unavailable {
                            .lib-font-size(22);
                            padding: 17.5px 0;
                        }
                    }

                    .actions-secondary {
                        > .action {
                            &:before {
                                width: 16px;
                                top: -2px;
                            }

                            span {
                                .lib-font-size(20);
                            }
                        }
                    }
                }
            }
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .page-layout-1column,
    .page-layout-3columns,
    .page-products.page-layout-1column,
    .page-products.page-layout-3columns {
        .products-grid:not(.products-crosssell) {
            .product-item {
                width: 100%/3;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-products {
        .products-grid {
            .product {
                &-item {
                    margin-bottom: 60px;
                    padding: 0 32px;
                    width: 50%;

                    &:nth-last-child(-n+3) {
                        margin-bottom: 35px;
                    }

                    .price-box {
                        min-height: 34px;
                    }
                }
            }
        }
    }

    .product {
        &-item {
            &-model-name {
                .lib-font-size(14);
            }

            &-name {
                .lib-font-size(16);
            }

            &-energy-class {
                min-height: 35px;

                span {
                    padding-bottom: 3px;
                    padding-right: 10px;
                }

                img {
                    width: 50px;
                }
            }
        }
    }

    .products-grid {
        &.products-crosssell {
            margin-left: -10px;
            margin-right: -10px;

            .product {
                &-item {
                    width: 100%/4;
                    padding: 0;

                    &-info {
                        padding: 10px;
                    }
                }
            }
        }

        .products {
            &-configurable {
                .product-item:not(.product-configurable) {
                    .product-item-details {
                        margin-top: 55px;
                    }
                }

                .product-item-details {
                    margin-top: 0;
                }

                .product-configurable {
                    .product-item-details {
                        > div[class*='swatch-opt-'] {
                            min-height: 26px;
                            margin-top: 20px;
                        }
                    }
                }
            }
        }

        .product {
            &-item {
                &-model-name,
                &-name,
                &-description,
                &-energy-class,
                .price-box {
                    padding-left: @indent__s;
                    padding-right: @indent__s;
                }

                &-details {
                    margin-top: 20px;
                }

                &-flag-icon {
                    top: 18.5px;
                }

                &-flag {
                    font-size: 13px;
                    margin-top: 5.5px;

                    span {
                        padding: 6px 13px;
                    }

                    .flag-new {
                        border: 1px solid @active__color;
                        border-right: none;
                        padding: 5.5px 13px;
                        background: @color-white;
                        position: relative;

                        &:after {
                            display: inline-block;
                            float: left;
                            height: 27px;
                            content: '';
                            background-image: url("../images/lg-flag-border01.png");
                            background-repeat: no-repeat;
                            width: 6px;
                            right: -6px;
                            position: absolute;
                            top: -1px;
                        }
                    }

                    .flag-financing {
                        border: 1px solid @primary__color;
                        border-right: none;
                        padding: 5.5px 13px;
                        background: @color-white;
                        position: relative;

                        &:after {
                            display: inline-block;
                            float: left;
                            height: 27px;
                            content: '';
                            background-image: url("../images/black-flag-border01.png");
                            background-repeat: no-repeat;
                            width: 6px;
                            right: -6px;
                            position: absolute;
                            top: -1px;
                        }
                    }

                    .flag-best {
                        border: 1px solid @active__color;
                        border-right: none;
                        padding: 5.5px 13px;
                        background: @active__color;
                        position: relative;

                        &:after {
                            display: inline-block;
                            float: left;
                            height: 27px;
                            content: '';
                            background-image: url("../images/lg-flag-border02.png");
                            background-repeat: no-repeat;
                            width: 6px;
                            right: -6px;
                            position: absolute;
                            top: -1px;
                        }
                    }

                    .flag-blackfriday {
                        border: 1px solid @primary__color;
                        border-right: none;
                        padding: 5.5px 13px;
                        background: @primary__color;
                        position: relative;

                        &:after {
                            display: inline-block;
                            float: left;
                            height: 27px;
                            content: '';
                            background-image: url("../images/black-flag-border02.png");
                            background-repeat: no-repeat;
                            width: 6px;
                            right: -6px;
                            position: absolute;
                            top: -1px;
                        }
                    }
                }

                &-info {
                    padding: 10px;
                    border: 1px solid transparent;
                }

                &:hover {
                    .product-item-info {
                        border: 1px solid @product-list-hover-border-color;
                        box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.05);
                    }
                }

                &-model-name {
                    display: block;
                    margin-top: 9px;
                }

                &-name {
                    .text-ellipsis(3,66px);
                    margin-bottom: 14px;
                }

                &-description {
                    .lib-font-size(14);
                    padding-top: 9px;
                    padding-bottom: 9px;
                    border-top: 1px solid @secondary__color__lighter;
                }

                .price-box,
                .price-as-configured {
                    > span {
                        margin-left: 10px;

                        &:not(.old-price) {
                            float: right;
                        }
                    }
                }

                .price-box {
                    border-top: 1px solid @secondary__color__lighter;
                    padding-top: @indent__s;

                    > span {
                        margin-left: 10px;

                        &:not(.old-price) {
                            float: right;
                        }
                    }

                    .price {
                        .lib-font-size(24);
                    }

                    .old-price {
                        .price {
                            .lib-font-size(16);
                            line-height: 34px;
                        }
                    }
                }

                &-actions {
                    margin: @indent__s 0;

                    .actions-primary + .actions-secondary {
                        padding-top: @indent__xs;
                    }

                    .actions-primary {
                        .action.tocart,
                        .stock.unavailable {
                            .lib-font-size(18);
                            padding: 10.5px 0;
                        }
                    }

                    .actions-secondary {
                        > .action {
                            &:before {
                                width: 12px;
                                top: -1px;
                            }

                            &.tocompare {
                                &:before {
                                    .lib-font-size(13);
                                    width: 13px;
                                    top: -2px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .page-products.page-layout-1column {
        .products-grid {
            .product-item {
                width: 100%/4;
            }
        }
    }

    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/2;
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/4;
            }
        }
    }

    .page-products {
        &.page-layout-3columns {
            .products-grid {
                .product-item {
                    margin-left: 1%;
                    width: 32.667%;

                    &:nth-child(3n) {
                        margin-left: 1%;
                    }

                    &:nth-child(3n + 1) {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .products-grid {
        .product {
            &-item {
                &-info {
                    padding: 20px;
                }
            }
        }
    }

    .page-products {
        .products-grid {
            .product {
                &-item {
                    width: 100%/3;
                    padding: 0 32px;

                    &-info {
                        padding: 20px;
                    }
                }
            }
        }
    }
}