// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

@toolbar-mode-icon-font-size: 24px;
@toolbar-element-background: @panel__background-color;

& when (@media-common = true) {

    .page-products {
        .columns {
            position: relative;
            z-index: 1;
        }
    }

    .toolbar {
        &:extend(.abs-add-clearfix all);
    }

    .toolbar-amount {
        display: block;
        line-height: @toolbar-mode-icon-font-size + 2;
        margin: 0;
        padding: 8px 0 0;
        vertical-align: middle;

        .products.wrapper ~ .toolbar & {
            display: none;
        }
    }

    .toolbar-products {
        .pages {
            display: none;

            .products.wrapper ~ & {
                display: block;
                text-align: center;
            }
        }

        .modes,
        .toolbar-amount,
        .limiter {
            display: none;
        }
    }

    .sorter {
        .products.wrapper ~ .toolbar & {
            display: none;
        }
    }

    .sorter-options {
        border:none !important;
    }

    .sorter-action {
        vertical-align: top;
        .lib-icon-font(
        @icon-arrow-up,
        @_icon-font-size: 28px,
        @_icon-font-line-height: 32px,
        @_icon-font-color: @header-icons-color,
        @_icon-font-color-hover: @header-icons-color-hover,
        @_icon-font-text-hide: true
        );
    }

    .sorter {
        .sort-desc {
            &:before {
                content: @icon-arrow-down;
            }
        }
    }

    .modes {
        display: none;
    }

    .limiter-options {
        margin: 0 5px 0 7px;
        width: auto;
    }

    .limiter-label {
        font-weight: 400;
    }

    .limiter {
        .page-products .toolbar & {
            display: none;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .toolbar {
        .products.wrapper ~ & .pages {
            border-top: 1px solid @secondary__color__light;
            padding-top: 16px;
        }

        &-top {
            margin-left: -@layout-indent__width / 2;
            margin-right: -@layout-indent__width / 2;
            padding-top: 3.5px;
            padding-bottom: 16.5px;
            margin-bottom: 14px;
        }

        &-sorter {
            border-top: 1px solid @secondary__color__light;
            border-bottom: 1px solid @secondary__color__light;

            .sorter-options {
                padding: 0 15px 0 11px;
                background-position-x: 97%;
            }

            .field.limiter + & {
                .sorter-options {
                    padding: 0 15px;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .toolbar {
        .products.wrapper ~ & .pages {
            border-top: 2px solid @secondary__color__light;
            padding-top: 32px;
        }

        &-top {
            margin-left: -@layout-indent__width;
            margin-right: -@layout-indent__width;
            padding-top: 7px;
            padding-bottom: 33px;
            margin-bottom: 28px;

            .toolbar-products {
                position: relative;
            }

            .sidebar-main {
                margin: 0;
            }
        }

        &-sorter {
            width: 50%;
            display: inline-block;
            border-top: 2px solid @secondary__color__light;
            border-bottom: 2px solid @secondary__color__light;
            position: absolute;
            right: 0;
            top: 0;

            .sorter-options {
                padding: 0 30px 0 22px;
                background-position-x: 92%;
            }

            .field.limiter + & {
                width: 100%;
                position: relative;

                .sorter-options {
                    padding: 0 30px;
                    background-position-x: 96.5%;
                }
            }

            .sorter-action {
                display: none;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .toolbar {
        &-top {
            padding-top: 8px;
            border-top: 1px solid @secondary__color__light;
            margin-top: @indent__s;
        }

        .products.wrapper ~ & .pages {
            border-top: 1px solid @secondary__color__light;
            padding-top: @indent__base;
        }
    }

    .sorter-options {
        width: auto;
        .lib-font-size(18);
    }
}