<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/* @var $block \Magento\MultipleWishlist\Block\Customer\Wishlist\Management */
?>
<?php if ($block->getCurrentWishlist()): ?>
    <div class="block-wishlist-management">
        <div class="wishlist-select<?php if(!$block->canCreateWishlists($block->getWishlists())):?> wishlist-no-create<?php endif;?>">
            <span class="wishlist-name" data-mage-init='{"toggleAdvanced": {"toggleContainers": "#wishlists-select", "selectorsToggleClass": "active"}}' >
                <span class="wishlist-name-label"><?= /* @escapeNotVerified */ __('Wish Lists') ?></span>
                <span class="wishlist-name-current">
                    <?= $block->escapeHtml($block->getCurrentWishlist()->getName()) ?>
                </span>
            </span>
            <ul class="wishlist-select-items" data-target="dropdown" id="wishlists-select">
                <?php foreach ($block->getWishlists() as $wishlist): ?>
                    <?php if ($wishlist->getId() == $block->getCurrentWishlist()->getId()): ?>
                        <li class="current item">
                            <span title="<?= $block->escapeHtml($wishlist->getName()) ?>">
                                <?= $block->escapeHtml($wishlist->getName()) ?>
                            </span>
                        </li>
                    <?php else: ?>
                        <li class="item">
                            <a title="<?= $block->escapeHtml($wishlist->getName()) ?>"
                               href="<?= /* @escapeNotVerified */ $block->getWishlistManagementUrl($wishlist) ?>">
                                <?= $block->escapeHtml($wishlist->getName()) ?>
                            </a>
                        </li>
                    <?php endif; ?>
                <?php endforeach;?>
            </ul>
            <?php if ($block->canCreateWishlists($block->getWishlists())): ?>
                <div class="wishlist-add">
                    <a href="#"
                       id="wishlist-create-button"
                       data-action-keypress="true"
                       data-wishlist-create='{
                                "url":"<?= /* @escapeNotVerified */ $block->getCreateUrl() ?>",
                                "title":"<?= /* @escapeNotVerified */ __('Create Wish List') ?>",
                                "formKey": "<?= /* @escapeNotVerified */ $block->getFormkey() ?>"
                                }'
                       title="<?= /* @escapeNotVerified */ __('Create New Wish List') ?>"
                       class="action add wishlist">
                        <span><?= /* @escapeNotVerified */ __('Create New Wish List') ?></span>
                    </a>
                </div>
            <?php endif; ?>
        </div>

        <div class="wishlist-title page-title">
            <span><?= $block->escapeHtml($block->getCurrentWishlist()->getName()) ?></span>
            <a href="#" data-wishlist-edit='{
                    "url":"<?= /* @escapeNotVerified */ $block->getEditUrl($block->getCurrentWishlist()->getId()) ?>",
                    "name":"<?= /* @escapeNotVerified */ $block->escapeQuote($block->getCurrentWishlist()->getName(), true) ?>",
                    "title":"<?= /* @escapeNotVerified */ __('Edit Wish List') ?>",
                    "isPublic":<?= /* @escapeNotVerified */ $block->getCurrentWishlist()->getVisibility() ? 'true' : 'false' ?>,
                    "formKey": "<?= /* @escapeNotVerified */ $block->getFormkey() ?>"
                }' title="<?= /* @escapeNotVerified */ __('Edit Wish List') ?>" class="action edit">
                <?= /* @escapeNotVerified */ __('Edit') ?>
            </a>
        </div>

        <div class="wishlist-info">
            <?php if ($block->getCurrentWishlist()->getVisibility()): ?>
                <div class="wishlist-notice public"><?= /* @escapeNotVerified */ __('Public Wish List') ?></div>
            <?php else: ?>
                <div class="wishlist-notice private<?php if (!$block->getCurrentWishlist()->getItemsCount()): ?> wishlist-empty<?php endif;?>"><?= /* @escapeNotVerified */ __('Private Wish List') ?></div>
            <?php endif; ?>
            <span class="counter qty">
                <?= /* @escapeNotVerified */ $block->getItemCount($block->getCurrentWishlist()) ?>
            </span>
        </div>

        <?php if ($block->getCurrentWishlist()->getItemsCount()): ?>
            <div class="wishlist-toolbar">
                <div class="wishlist-toolbar-select choice">
                    <input type="checkbox" name="" id="wishlist-select-all" data-role="select-all" />
                    <label class="label" for="wishlist-select-all"><?= /* @escapeNotVerified */ __('Select all') ?></label>
                </div>
                <div class="wishlist-toolbar-actions">
                    <div id="wishlists-move"
                         class="wishlist-dropdown move"
                         data-wishlist-move='{"moveSelectedUrl":"<?= /* @escapeNotVerified */ $block->getMoveSelectedUrl() ?>", "moveItemUrl":"<?= /* @escapeNotVerified */ $block->getMoveItemUrl() ?>"}'>
                        <span class="action toggle"
                              data-mage-init='{"dropdown":{}}'
                              data-trigger-keypress-button="true"
                              <?php if ($block->getCurrentWishlist()->getId() != $block->getDefaultWishlist()->getId()): ?>data-wishlist-move-selected='{"wishlistId":"<?= /* @escapeNotVerified */ $block->getDefaultWishlist()->getId() ?>"}'<?php endif;?>>
                            <span><?= /* @escapeNotVerified */ __('Move Selected to Wish List') ?></span>
                        </span>
                        <ul class="items dropdown" data-target="dropdown">
                            <?php foreach ($block->getWishlists() as $wishlist): ?>
                                <?php if ($wishlist->getId() !== $block->getCurrentWishlist()->getId()): ?>
                                    <li class="item">
                                        <span role="button"
                                              tabindex="0"
                                              data-action-keypress="true"
                                              data-wishlist-move-selected='{"wishlistId":"<?= /* @escapeNotVerified */ $wishlist->getId() ?>"}'
                                              title="<?= $block->escapeHtml($wishlist->getName()) ?>">
                                            <?= $block->escapeHtml($wishlist->getName()) ?>
                                        </span>
                                    </li>
                                <?php endif; ?>
                            <?php endforeach;?>
                            <?php if ($block->canCreateWishlists($block->getWishlists())): ?>
                                <li class="item">
                                    <span role="button"
                                          tabindex="0"
                                          class="action new"
                                          data-action-keypress="true"
                                          data-wishlist-move-selected='{"new":true}'
                                          title="<?= /* @escapeNotVerified */ __('Create New Wish List') ?>">
                                        <span><?= /* @escapeNotVerified */ __('Create New Wish List') ?></span>
                                    </span>
                                </li>
                            <?php endif;?>
                        </ul>
                    </div>
                    <div id="wishlists-copy"
                         class="wishlist-dropdown copy"
                         data-wishlist-copy='{"copySelectedUrl":"<?= /* @escapeNotVerified */ $block->getCopySelectedUrl() ?>", "copyItemUrl":"<?= /* @escapeNotVerified */ $block->getCopyItemUrl() ?>"}'>
                        <span class="action toggle"
                              data-mage-init='{"dropdown":{}}'
                              data-trigger-keypress-button="true"
                              <?php if ($block->getCurrentWishlist()->getId() != $block->getDefaultWishlist()->getId()): ?>data-wishlist-copy-selected='{"wishlistId":"<?= /* @escapeNotVerified */ $block->getDefaultWishlist()->getId() ?>"}'<?php endif;?>>
                            <span><?= /* @escapeNotVerified */ __('Copy Selected to Wish List') ?></span>
                        </span>
                        <ul class="items dropdown" data-target="dropdown">
                            <?php foreach ($block->getWishlists() as $wishlist): ?>
                                <?php if ($wishlist->getId() !== $block->getCurrentWishlist()->getId()): ?>
                                    <li class="item">
                                        <span role="button"
                                              tabindex="0"
                                              data-action-keypress="true"
                                              data-wishlist-copy-selected='{"wishlistId":"<?= /* @escapeNotVerified */ $wishlist->getId() ?>"}'
                                              title="<?= $block->escapeHtml($wishlist->getName()) ?>">
                                            <?= $block->escapeHtml($wishlist->getName()) ?>
                                        </span>
                                    </li>
                                <?php endif;?>
                            <?php endforeach;?>
                            <?php if ($block->canCreateWishlists($block->getWishlists())): ?>
                                <li class="item">
                                    <span role="button"
                                          tabindex="0"
                                          class="action new"
                                          data-action-keypress="true"
                                          data-wishlist-copy-selected='{"new":true}'
                                          title="<?= /* @escapeNotVerified */ __('Create New Wish List') ?>">
                                        <span><?= /* @escapeNotVerified */ __('Create New Wish List') ?></span>
                                    </span>
                                </li>
                            <?php endif;?>
                        </ul>
                    </div>
                </div>
            </div>
        <?php endif;?>
    </div>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "[data-role='select-all']": {
            "Magento_MultipleWishlist/js/select-all-change": {}
        }
    }
</script>
