<?php
/**
 * Created by PhpStorm.
 * User: jason
 * Date: 2018-08-24
 * Time: 오후 5:48
 */

/** @var $block \Eguana\RecommendedProducts\Block\ListBlock*/
$categoryInfo = $block->getCategoryInfo();
/** @var $helper \Eguana\RecommendedProducts\Helper\Data*/
$helper = $this->helper(\Eguana\RecommendedProducts\Helper\Data::class);
$recommendedProductSize = $helper->getRecommendedProductSize();
?>
<?php if($block->isEnabled()):?>
<style>
    .inactive{
        display:none;
    }
</style>
<div class="home-recommended-products">
    <div class="title">
        <h2><?=__('Recommended Products')?></h2>
    </div>
    <div class="recommended-category-swiper swiper-content" <?php if(count($categoryInfo) == 1):?>style="display: none"<?php endif;?>>
        <div class="category swiper-container">
            <ul class="list swiper-wrapper">
            <?php foreach ($categoryInfo as $category):?>
                <li class="category-info swiper-slide" id="recommended_category_<?=$category['id']?>"><div class="category-info-title"><a href="javascript:void(0);"><?=$category['name']?></a></div></li>
            <?php endforeach;?>
            </ul>
        </div>
    </div>
    <div class="recommended-products-swiper">
        <div class="recommended-product-area" style="margin-left: -30px; margin-right: -30px;">
            <div class="product-area">
                <?php foreach ($categoryInfo as $key => $category):?>
                    <div class="swiper-content recommended-product recommended-product-<?=$category['id']?> <?=$key==0 ? 'active' : 'inactive'?>" ><?=$category['html']?></div>
                <?php endforeach;?>
            </div>
        </div>
    </div>
</div>
<script>
    require(['jquery','swiper'],function ($,Swiper) {
        $(document).ready(function() {
            var recommendSwiper = new Swiper('.recommended-category-swiper .swiper-container', {
                simulateTouch: false,
                freeModeMomentum: false,
                breakpoints: {
                    768: {
                        slidesPerView: "auto",
                        freeMode: true,
                        simulateTouch: true
                    }
                }
            });

            var recommendProductSwiper = new Swiper('.recommended-product.active .home-recommended-swiper-container', {
                simulateTouch: false,
                slidesPerView: 4,
                <?php if($recommendedProductSize > 4):?>
                slidesPerColumn: 2,
                <?php endif;?>
                breakpoints: {
                    768: {
                        slidesPerView: 2,
                        freeMode: false
                    }
                }
            });

            $('.category-info:first-child').addClass('active');

            $('.home-recommended-products > .recommended-category-swiper > .category > .list > .category-info').click(function(){
                var categoryIdData = this.id.split('_');

                $('.recommended-product.active').removeClass('active').addClass('inactive');
                $('.recommended-product-'+categoryIdData[categoryIdData.length -1]).removeClass('inactive').addClass('active');
                $('.category-info').removeClass('active');
                $(this).addClass('active');

                var recommendProductSwiper = new Swiper('.recommended-product-'+categoryIdData[categoryIdData.length -1] + ' .home-recommended-swiper-container', {
                    simulateTouch: false,
                    slidesPerView: 4,
                    breakpoints: {
                        768: {
                            slidesPerView: 2,
                            freeMode: false
                        }
                    }
                });
            })
        });
    });
</script>
<?php endif;?>