<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko if: (isVisible()) -->
<div class="shipping-information">
    <div class="ship-to">
        <div class="shipping-information-title">
            <span data-bind="i18n: 'Ship To:'"></span>
            <button class="action action-edit" data-bind="click: back">
                <span data-bind="i18n: 'edit'"></span>
            </button>
        </div>
        <div class="shipping-information-content">
            <!-- ko foreach: getRegion('ship-to') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
    </div>
    <div class="ship-via">
        <div class="shipping-information-title">
            <span data-bind="i18n: 'Shipping Method:'"></span>
            <button class="action action-edit" data-bind="click: backToShippingMethod">
                <span data-bind="i18n: 'edit'"></span>
            </button>
        </div>
        <div class="shipping-information-content">
            <span class="value" data-bind="text: getShippingMethodTitle()"></span>
        </div>
        <!--eguana add start-->
        <div class="shipping-information-content">
            <span class="value" data-bind="text: getWasteCollectionInformation()"></span>
        </div>
        <!--eguana add end -->

    </div>
</div>
<!--/ko-->

<!-- Eguana Add Start -->
<div class="checkout-waste">
    <div class="step-title">
        <strong translate="'Withdrawal Used'"/>
        <span translate="'(only for TV and Grandl Appliances (washing machines, dryers, refrigerators))'" />
    </div>
    <table class="table-checkout-waste">
        <thead>
        <tr class="row">
            <th class="col col-method" translate="'Select Method'"></th>
            <th class="col col-agree" translate="'Agree'"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="col col-method">
                <input type="radio"
                       class="radio"
                       name="waste-household-collection"
                       id="waste-household-collection-yes"
                       value="yes"/>
            </td>
            <td>
                <span translate="'Yes'" />
            </td>
        </tr>
        <tr>
            <td class="col col-agree">
                <input type="radio"
                       class="radio"
                       name="waste-household-collection"
                       id="waste-household-collection-no"
                       value="yes"/>
            </td>
            <td>
                <span translate="'No'" />
            </td>
        </tr>
        </tbody>
    </table>
    <p class="information">
                        <span>
                            <b>IMPORTANTE</b>: Se necessiti del ritiro dell’usato ricordati di preparare il vecchio prodotto scollegato e disinstallato.<br/>
                            <b>Per gli Elettrodomestici:</b><br/>
                            • Rimozione dell’imballo;<br/>
                            • Allacciamento del tubo di carico acqua ad un rubinetto<br/>
                            • Allacciamento del tubo di scarico acqua ad uno scarico murale dotato di apposito sfiato in aria, oppure al sifone dello scarico del lavello<br/>
                            • Rimozione dei fermi di bloccaggio se presenti<br/>
                            • Collegamento alla presa elettrica del cavo di alimentazione in dotazione del prodotto<br/>
                            • Prova di scarico e carico acqua<br/>
                            • Ritiro e smaltimento usato se selezionato il servizio al momento dell’acquisto: secondo normativa RAEE, D.Lgs 49/2014. Trasporto negli appositi Centri di Raccolta.<br/>
                            <br/>
                            Sono esclusi in ogni caso lavori di falegnameria, di idraulica ecc e tutti quei servizi che rientrano tra i servizi accessori non inclusi nei costi base dell’installazione certificata.<br/>
                            I servizi di installazione ed allacciamento vengono eseguiti secondo le norme vigenti.<br/>
                            I suddetti servizi sono effettuati esclusivamente su impianti preesistenti (elettrico/idrico/gas), perfettamente funzionanti e rispondenti alle normative di sicurezza vigenti.<br/>
                            <br/>
                            <b>Per i TV:</b><br/>
                            • Rimozione dell’imballo;<br/>
                            • Collegamento alla presa elettrica del cavo di alimentazione in dotazione del prodotto<br/>
                            • Sintonizzazione dei Canali TV<br/>
                            • Ritiro e smaltimento usato se selezionato il servizio al momento dell’acquisto: secondo normativa RAEE, D.Lgs 49/2014. Trasporto negli appositi Centri di Raccolta.<br/>

                            Gli accessori funzionali all’installazione del prodotto come staffe a muro, spine, adattatori, cavi e prolunghe, etc., dovranno essere messi a disposizione dal cliente al momento della consegna Sono esclusi in ogni caso lavori di falegnameria, di muratura  ecc e tutti quei servizi che rientrano tra i servizi accessori non inclusi nei costi base dell’installazione certificata. I servizi di installazione ed allacciamento vengono eseguiti secondo le norme vigenti. Il personale addetto all’installazione del prodotto, potrà eseguirla solo su impianti preesistenti, perfettamente funzionanti e rispondenti alle normative di sicurezza vigenti;<br/>
                        </span>
    </p>
</div>
<!-- Eguana Add End -->
