<!-- Eguana Add Start -->
<div class="checkout-waste">
    <div class="step-title">
        <strong translate="'Withdrawal Used'"/>
    </div>
    <table class="table-checkout-waste">
        <thead>
        <tr class="row">
            <th class="col col-method" translate="'Select Method'"></th>
            <th class="col col-agree" translate="'Agree'"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="col col-method">
                <input type="radio"
                       class="radio required-entry"
                       name="waste-household-collection"
                       id="waste-household-collection-yes"
                       data-validate="{required:true}"
                       value="Yes"/>
            </td>
            <td>
                <span translate="'Yes'" />
            </td>
        </tr>
        <tr>
            <td class="col col-agree">
                <input type="radio"
                       class="radio required-entry"
                       name="waste-household-collection"
                       id="waste-household-collection-no"
                       data-validate="{required:true}"
                       value="No"/>
            </td>
            <td>
                <span translate="'No'" />
            </td>
        </tr>
        </tbody>
    </table>
    <p class="information">
                        <span>
                            <b>IMPORTANTE</b>: Se necessiti del ritiro dell’usato ricordati di preparare il vecchio prodotto scollegato e disinstallato.<br/>
                        </span>
    </p>
</div>
<!-- Eguana Add End -->