<div class="eguana-slider-grid-cell linkage">
    <!-- ko foreach: { data: getLinkageData($row()), as: 'linkage' } --><!-- ko if: ($index() > 0) -->,  <!-- /ko --><a href="#" data-bind="attr: {href: linkage.url},text: linkage.name"></a><!-- /ko -->
</div>