// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .multicheckout {
        &.results, &.success {
            h3 {
                font-size: 1.6rem;
                margin-bottom: @indent__base;
                margin-top: @indent__l;
                a {
                    color: @text__color;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            ul.orders-list {
                list-style: none;
                padding-left: 0;
            }

            .orders-list {
                margin-top: @indent__m;
                padding-left: @indent__base - 4px;

                .shipping-list {
                    .shipping-item {
                        margin-left:84px;
                    }
                    .shipping-label {
                        font-weight: @font-weight__bold;
                        margin-right: @indent__s;
                    }
                    .shipping-address {
                        font-weight: @font-weight__regular;
                    }
                    .error-block {
                        color: @color-red10;

                        .error-label {
                            font-weight: @font-weight__bold;
                            margin-right: @indent__s;
                        }
                        .error-description {
                            font-weight: @font-weight__regular;
                        }
                    }
                }
            }

            .orders-succeed {
                .orders-list {
                    margin-top: 0;

                    .shipping-list {
                        .order-id {
                            float:left;
                        }
                        .shipping-item {
                            margin-left:100px;
                        }
                    }
                }
            }
        }

        .title {
            strong {
                font-weight: @font-weight__regular;
            }
        }

        .table-wrapper {
            margin-bottom: 0;

            table {
                > tbody,
                > thead {
                    > tr {
                        > th,
                        > td {
                            vertical-align: top;

                            &:not(.qty):not(.actions) {
                                text-align: left;
                            }
                        }
                    }
                }
            }

            .action.delete {
                display: inline-block;
                .lib-link(
                    @_link-color: @active__color,
                    @_link-text-decoration: none,
                    @_link-color-visited: @active__color,
                    @_link-text-decoration-visited: none
                );

            }

            .col {
                &.qty {
                    .input-text {
                        &:extend(.abs-input-qty all);
                        vertical-align: top;
                        margin: 0 -7px 0 -6px;
                    }

                    .qty-collapse,
                    .qty-expande {
                        height: @form-element-mobile-input__height;
                        width: @form-element-mobile-input__height;
                        font-size: @form-element-mobile-input__font-size;

                        .lib-button(
                            @_button-color: @form-element-input__border-color,
                            @_button-color-active: @form-element-input__border-color,
                            @_button-color-hover: @form-element-input__border-color,
                            @_button-border: @form-element-input__border,
                            @_button-border-hover: @form-element-input__border,
                            @_button-border-active: @form-element-input__border,
                            @_button-padding: 0 ,
                            @_button-icon-use: true,
                            @_button-font-content: @icon-collapse,
                            @_button-icon-font-size: @button__font-size,
                            @_button-icon-font-line-height: @form-element-mobile-input__font-size,
                            @_button-icon-font-text-hide: true
                        );

                        border-width: 2px;
                    }

                    .qty-expande {
                        .lib-icon-font-symbol(
                            @_icon-font-content:  @icon-expand,
                            @_icon-font-position: @button-icon__position
                        );
                    }

                    .label {
                        &:extend(.abs-visually-hidden all);
                    }

                    .action {
                        margin: 0;
                        .lib-button(
                            @_button-icon-use: true,
                            @_button-font-content: @icon-update,
                            @_button-icon-font-size: @button__font-size,
                            @_button-icon-font-line-height: @button__line-height,
                            @_button-icon-font-text-hide: true
                        );
                    }
                }

                .label {
                    &:extend(.abs-visually-hidden all);
                }

                &.item {
                    .action.edit {
                        font-weight: @font-weight__regular;
                        margin-left: @indent__s;
                    }
                }

                &.product {
                    padding-left: @table-cell__padding-horizontal;
                    padding-right: @table-cell__padding-horizontal;
                }
            }

            .cart-price {
                &:extend(.abs-checkout-cart-price all);
            }
        }

        &:not(.address) {
            .table-wrapper {
                .product-item-name {
                    margin: 0;
                }
            }
        }

        > .actions-toolbar {
            margin-top: @indent__xl;
        }

        .actions-toolbar {
            > .secondary {
                display: block;

                .action {
                    &:not(.back) {
                        &:extend(.abs-button all);
                    }

                    &.back {
                        display: block;
                        margin-left: 0;
                    }
                }
            }
        }

        .action.primary {
            &:extend(.abs-button-l all);
        }

        .item-options {
            &:extend(.abs-product-options-list all);
            &:extend(.abs-add-clearfix all);
            margin: 0;
        }

        .block {
            &:extend(.abs-add-clearfix all);

            .methods-shipping {
                .item-content {
                    .fieldset {
                        > .legend {
                            &:extend(.abs-visually-hidden all);
                        }

                        > .legend + br {
                            &:extend(.abs-no-display all);
                        }

                        > .field {
                            &:before {
                                display: none;
                            }

                            .control {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }

        .block-title,
        .block-content .title {
            border-bottom: @border-width__base solid @border-color__base;
            padding-bottom: @indent__s;

            strong {
                font-weight: @font-weight__regular;

                span {
                    .lib-css(color, @primary__color__lightest);
                }
            }
        }

        .block-content {
            &:extend(.abs-add-clearfix all);
            .title {
                border-bottom: none;
                padding-bottom: 0;
            }
        }

        &.order-review {
            .block-title > strong {
                .lib-font-size(24);
            }

            .block-shipping {
                .block-content:not(:last-child) {
                    margin-bottom: @indent__xl;
                }
            }

            .error-description {
                color: @color-red10;
                font-weight: @font-weight__regular;
                margin-bottom: @indent__s;
                margin-top: -@indent__s;
            }
        }

        .box {
            .box-title {
                span {
                    margin-right: @indent__s;
                }

                > .action {
                    margin: 0;
                    border: none !important;
                    background: transparent !important;
                    padding: 0 !important;
                    color: @active__color !important;
                    text-decoration: underline !important;

                    &:hover,
                    &:active {
                        color: @link__hover__color !important;
                    }
                }
            }
        }

        .box-shipping-method {
            .price {
                font-weight: @font-weight__bold;
            }
        }

        .box-billing-method {
            .fieldset {
                margin: 0;

                .legend.box-title {
                    margin: 0 0 @indent__xs;
                }
            }
        }

        .hidden {
            &:extend(.abs-no-display all);
        }

        .checkout-review .grand.totals {
            .lib-font-size(@font-size__xl);
            margin-bottom: @indent__xl;

            .mark {
                font-weight: @font-weight__regular;
            }
        }
    }

    [class^='multishipping-'] {
        .nav-sections,
        .nav-toggle {
            &:extend(.abs-no-display all);
        }

        .logo {
            margin-left: 0;
        }

        .actions-toolbar {
            .action.back {
                display: none;
            }
        }

        .action.primary {
            &:extend(.abs-button-l all);
        }
    }

    .multishipping-checkout-success {
        .nav-sections {
            display: block;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .multishipping-checkout-addresses {
        .page-title-wrapper {
            margin-bottom: 0;
        }
    }

    .multishipping-checkout-success {
        .nav-toggle {
            display: block;
        }

        .logo {
            margin-left: @indent__xl;
        }
    }

    .multicheckout {
        margin-left: -@layout__width-xs-indent * 2;
        margin-right: -@layout__width-xs-indent * 2;

        .title {
            font-size: 24px;
            padding-left: @layout__width-xs-indent * 2;
            padding-right: @layout__width-xs-indent * 2;
            margin-bottom: @indent__base;
        }

        .actions-toolbar {
            padding-left: @layout__width-xs-indent * 2;
            padding-right: @layout__width-xs-indent * 2;

            .secondary {
                .action {
                    &:not(.back) {
                        margin-bottom: @indent__base;
                    }

                    &.back {
                        font-size: 24px;
                        .lib-link(
                            @_link-color: @active__color,
                            @_link-color-visited: @active__color,
                            @_link-text-decoration: underline
                        );
                    }
                }
            }

            > .primary {
                margin-bottom: @indent__xl;
            }
        }

        .table-wrapper {
            tbody {
                > tr:first-child {
                    border-top: 2px solid @table__border-color !important;
                }

                td {
                    padding-left: @layout__width-xs-indent * 2 !important;
                    padding-right: @layout__width-xs-indent * 2 !important;
                    padding-bottom: @indent__base !important;
                    overflow: hidden;
                    clear: both;

                    &:before {
                        content: attr(data-th) !important;
                        font-weight: @font-weight__bold !important;
                        margin-bottom: 15px;
                        float: left;
                        width: 25%;
                        box-sizing: border-box;
                    }

                    > .qty,
                    > .product {
                        float: left;
                        width: 75%;
                        box-sizing: border-box;
                    }

                    &.actions {
                        text-align: right;

                        &:before {
                            display: none;
                        }

                        a {
                            .lib-icon-font(
                                    @icon-trash,
                                @_icon-font-size: 40px,
                                @_icon-font-line-height: 100%,
                                @_icon-font-text-hide: true,
                                @_icon-font-color: @primary__color__lightest,
                                @_icon-font-color-hover: @primary__color,
                                @_icon-font-color-active: @primary__color
                            );
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .multicheckout {
        margin-left: -@layout__width-xs-indent;
        margin-right: -@layout__width-xs-indent;

        .title {
            padding-left: @layout__width-xs-indent;
            padding-right: @layout__width-xs-indent;
            font-size: @font-size__s;
            margin-bottom: @indent__s;
        }

        .data.table {
            .address {
                &:before {
                    margin-bottom: @indent__xs;
                }
            }
        }

        .table-wrapper {
            tbody {
                > tr:first-child {
                    border-top-width: 1px !important;
                }

                td {
                    padding-left: @layout__width-xs-indent !important;
                    padding-right: @layout__width-xs-indent !important;
                    padding-bottom: @indent__s !important;

                    &:before {
                        margin-bottom: @indent__xs;
                    }

                    &.actions {
                        a {
                            &:before {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }

            .col {
                &.qty {
                    .input-text {
                        margin: 0 -5px;
                    }

                    .qty-collapse,
                    .qty-expande {
                        height: @form-element-mobile-input__height/2;
                        width: @form-element-mobile-input__height/2;
                        border-width: 1px;

                        &:before {
                            font-size: @font-size__xs;
                        }
                    }
                }
            }
        }

        .block-content .box {
            &:not(:last-child) {
                margin-bottom: @indent__xl;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &.order-review {
            .box-items {
                .data.table {
                    thead {
                        display: block;

                        tr {
                            display: block;
                        }

                        .col.item {
                            display: block;
                            padding: 0;
                        }
                    }
                }
            }

            .data.table {
                &:extend(.abs-checkout-order-review all);
            }
        }

        .actions-toolbar {
            padding-left: @layout__width-xs-indent;
            padding-right: @layout__width-xs-indent;

            .secondary {
                .action {
                    &:not(.back) {
                        margin-bottom: @indent__s;
                    }

                    &.back {
                        font-size: @font-size__s;
                    }
                }
            }

            > .primary {
                margin-bottom: @indent__base;
                margin-right: 0;
            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .multicheckout {
        .actions-toolbar {
            margin-top: @indent__l *2;

            .column:not(.sidebar-main) & {
                &:extend(.abs-reset-left-margin-desktop-s all);
            }

            .primary {
                margin-right: @indent__s;

                button {
                    min-width: 320px;
                    padding-left: @indent__base;
                    padding-right: @indent__base;
                }
            }

            .secondary {
                float: none;
                text-align: right;

                .action {
                    margin-left: @indent__s !important;

                    &:not(.back) {
                        margin-top: 15px;
                    }

                    &.back {
                        display: block;
                        float: left;
                        .lib-button(
                            @_button-padding: 23px 20px,
                            @_button-font-size: 16px,
                            @_button-font-weight: @font-weight__regular,
                            @_button-color: @primary__color,
                            @_button-background: @secondary__color__lighter,
                            @_button-border: 1px solid @border-color__base,
                            @_button-color-hover: @primary__color,
                            @_button-background-hover: @secondary__color__lighter,
                            @_button-border-hover:1px solid @border-color__base,
                            @_button-color-active: @primary__color,
                            @_button-background-active: @secondary__color__lighter,
                            @_button-border-active: 1px solid @border-color__base,
                            @_button-icon-use: true,
                            @_button-icon-font-size: 16px,
                            @_button-icon-font-line-height: 16px,
                            @_button-font-content: @ico-lg-back_btn,
                            @_button-icon-font-margin: 0 @indent__xs 0 0,
                            @_button-icon-font-position: before
                        );
                    }
                }
            }
        }

        .item-options {
            &:extend(.abs-product-options-list-desktop all);
            margin-top: @indent__s;

            dd {
                margin: 0;
            }
        }

        .block-content .box {
            margin-bottom: 0;
        }

        .table-wrapper {
            .action.delete {
                font-size: 16px;
            }

            .col {
                &.qty {
                    .input-text {
                        margin: 0 -4px 0 -5px;
                    }

                    .qty-collapse,
                    .qty-expande {
                        height: @form-element-input__height;
                        width: @form-element-input__height;
                        font-size: @form-element-input__font-size;
                        border-width: 1px;
                    }
                }
            }
        }

        .title {
            font-size: 24px;
            margin-bottom: @indent__xl;
        }

        .block-shipping {
            .box {
                float: left;
                width: 30%;
                box-sizing: border-box;

                &.box-shipping-address {
                    width: 25%;
                }
            }

            .box-shipping-method {
                padding-left: @indent__m*2;
                padding-right: @indent__m*2;
                width: 45%;
                box-sizing: border-box;

                .fieldset {
                    .legend {
                        &:extend(.abs-reset-left-margin-desktop-s all);
                    }

                    .field {
                        &:before {
                            display: none;
                        }
                    }
                }
            }
        }

        .block-billing {
            &:extend(.abs-add-clearfix-desktop-s all);
            .box-billing-address {
                &:extend(.abs-add-box-sizing-desktop-s all);
                float: left;
                width: 30%;
                box-sizing: border-box;
            }

            .box-billing-method {
                &:extend(.abs-add-box-sizing-desktop-s all);
                float: left;
                padding-left: @indent__m;
                width: 45%;
                box-sizing: border-box;
            }
        }

        &.form.address {
            .table-wrapper {
                .applicable {
                    margin: 7px 0 0;
                }
            }
        }

        &.order-review {
            .box-items {
                clear: left;
                float: none;
                padding-top: @indent__xl;
                width: auto;
            }

            .col.item {
                width: 75%;
            }
        }


        .fieldset {
            > .legend {
                font-size: 20px;
                margin-bottom: @indent__xs;
            }
        }

        //  Payment methods
        .methods-payment {
            .item-content > .fieldset {
                width: auto;

                .field {
                    &.cvv {
                        display: inline-block;
                        width: auto;
                    }
                }
            }

            .fieldset > .field:not(.choice) {
                > .label {
                    float: none;
                    margin-bottom: 8px;
                    text-align: left;
                    width: auto;
                }

                &:not(.cvv) {
                    .control {
                        width: 100%;
                    }
                }
            }
        }
    }
}