<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php if ($_item = $block->getItem()): ?>
    <div class="product-interface-status">
        <p><?= /* @escapeNotVerified */ __('Back Interface') ?>: <?= /* @escapeNotVerified */ $_item->getData('back_interface') ?></p>
        <p><?= /* @escapeNotVerified */ __('Interface Status') ?>: <?= /* @escapeNotVerified */ $this->helper('\Eguana\GERP\Helper\StatusHelper')->getLabelByValue($_item->getData('interface_status')) ?></p>
        <p><?= /* @escapeNotVerified */ __('Product From') ?>: <?= /* @escapeNotVerified */ $_item->getData('product_from') ?></p>
        <p><?= /* @escapeNotVerified */ __('Delivery Type') ?>: <?= /* @escapeNotVerified */ $_item->getData('delivery_type') ?></p>
        <p><?= /* @escapeNotVerified */ __('Gerp Line Id') ?>: <?= /* @escapeNotVerified */ $_item->getData('gerp_line_id') ?></p>
        <p><?= /* @escapeNotVerified */ __('Product Carrier') ?>: <?= /* @escapeNotVerified */ $_item->getData('product_carrier') ?></p>
    </div>
<?php endif; ?>
