<?php
/**
* Copyright 2016 Eguana. All rights reserved.
* See LICENSE.txt for license details.
*/

// @codingStandardsIgnoreFile

/* @var $block \Eguana\Slider\Block\Adminhtml\Page\Menu */
?>
<div class="aw-menu">
    <div class="actions dropdown closable">
        <button type="button"
                class="admin__action-dropdown"
                data-mage-init='{"dropdown":{}}'
                data-toggle="dropdown"
                aria-haspopup="true">
            <span class="admin__action-dropdown-text"><?php echo $block->escapeHtml(__($block->getTitle())) ?></span>
        </button>
        <ul class="dropdown-menu"><?php /* @noEscape */ echo $block->getChildHtml() ?></ul>
    </div>
</div>
