// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .wishlist {
        //  Wish list split button
        &.split.button {
            .lib-dropdown-split(
                @_options-selector: ~'.items',
                @_dropdown-split-button-border-radius-fix: true,
                @_dropdown-split-list-item-padding: 5px 5px 5px 23px,
                @_dropdown-split-toggle-icon-content: @icon-down,
                @_dropdown-split-toggle-active-icon-content: @icon-up,
                @_dropdown-split-toggle-actions-padding: false,
                @_icon-font-size: 22px,
                @_icon-font-color: @addto-color,
                @_dropdown-split-list-pointer-position: left,
                @_dropdown-split-list-min-width: 200px
            );
            vertical-align: middle;
            &:extend(.abs-dropdown-items-new all);

            .items {
                text-align: left;
                .item {
                    &:last-child {
                        &:hover {
                            .lib-css(background, @dropdown-list-item__hover);
                        }
                    }
                }
            }

            .table-comparison &,
            .product-items & {
                > .action {
                    &:extend(.abs-action-button-as-link all);
                    &.split {
                        &:extend(.abs-actions-addto-gridlist all);
                        .lib-icon-font-symbol(
                            @_icon-font-content: @icon-wishlist-empty
                        );
                    }

                    &:active,
                    &:focus,
                    &:hover {
                        .lib-css(color, @addto-hover-color);
                    }
                }

                > .action.toggle {
                    &:before {
                        border-left: 1px solid lighten(@addto-color, 30%);
                        content: '';
                        float: left;
                        height: 15px;
                        margin-top: 3px;
                    }
                }
            }

            .product-info-main &,
            .block-bundle-summary &,
            .product-add-form & {
                .action {
                    &.split,
                    &.toggle {
                        .lib-button-s();
                    }

                    &.toggle {
                        padding: 0;
                    }
                }
            }

            .cart.table-wrapper & {
                margin-bottom: @indent__s;

                > .action {
                    &.toggle {
                        padding: 4px @indent__xs;
                    }
                }
            }
        }

        &-dropdown {
            cursor: pointer;
            position: relative;

            > .items.dropdown {
                display: none;
            }

            &.active {
                > .items.dropdown {
                    display: block;
                    position: absolute;
                    z-index: 99;
                    background-color: @color-white;
                    left: 0;
                    right: 0;

                    li {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .block-wishlist-management {
        position: relative;

        .wishlist {
            //  Select wish list
            &-select {
                &-items {
                    &:extend(.abs-reset-list all);
                }

                .wishlist-add {
                    span {
                        color: @active__color;

                        &:extend(.abs-icon-add all);

                        &:before {
                            position: relative;
                            top: -2px;
                        }
                    }
                }
            }

            //  Wish list name
            &-title {
                display: block;

                span {
                    margin-right: @indent__s;
                }

                a {
                    background-color: @secondary__color__lighter;
                    font-weight: @font-weight__light;
                    position: relative;
                    top: -8px;

                    &:hover,
                    &:active,
                    &:focus {
                        color: @primary__color;
                        text-decoration: none;
                    }
                }
            }

            &-notice {
                .lib-css(color, @primary__color__light);
                display: inline-block;
                font-weight: @font-weight__bold;
            }

            &-info {
                .counter.qty {
                    .lib-css(color, @primary__color__light);
                }
            }

            //  Wish list toolbar
            &-toolbar {
                &-select {
                    margin-right: @indent__base;
                }
            }
        }
    }

    .form-wishlist-items {
        .actions-toolbar {
            .action.remove {
                color: @primary__color;
                background-color: @secondary__color__lighter;
                font-weight: @font-weight__light;
            }
        }
    }

    .block-wishlist-search-form {
        .block-title {
            &:extend(.abs-account-title all);
        }

        .form-wishlist-search {
            .lib-css(margin-bottom, @indent__l*2);
            max-width: 500px;

            .fieldset {
                > .legend {
                    &:extend(.abs-visually-hidden);
                }
            }
        }
    }

    .block-wishlist-search-results {
        .block-title {
            &:extend(.abs-block-title all);
        }

        .toolbar-wishlist-results {
            text-align: center;
        }
    }

    .page-multiple-wishlist {
        .page-title-wrapper {
            margin-bottom: 0;

            .page-title {
                &:extend(.abs-visually-hidden all);
            }
        }
    }

    .block-wishlist-info-items {
        .block-title {
            .lib-css(margin-bottom, @indent__base);
            .lib-font-size(22);
            > strong {
                font-weight: @font-weight__light;
            }
        }

        .product-item {
            width: 100%;
        }

        .product-item-photo {
            margin-left: @indent__base;
        }

        .product-item-info {
            width: auto;

            &:hover {
                .split {
                    visibility: visible;
                }
            }
        }

        .price-wrapper {
            display: block;
            margin: 0 0 @indent__s;
        }

        .split {
            clear: both;
            padding: @indent__s 0;
        }

        .action {
            &.towishlist {
                padding: @indent__s 0;
            }
        }

        .input-text {
            &.qty {
                &:extend(.abs-input-qty all);
                margin-right: @indent__s;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .page-multiple-wishlist {
        .modal-popup .modal-inner-wrap {
            .modal-content {
                .fieldset > .field {
                    &.choice {
                        margin-bottom: 17.5px;
                    }
                }
            }
        }

        .page-title-wrapper {
            .page.messages .messages {
                margin-bottom: 13.5px;
            }
        }

        .wishlist.popup {
            .actions-toolbar.modal-footer {
                padding-top: 0;
            }
        }
    }

    .block-wishlist-management {
        .wishlist {
            //  Select wish list
            &-select {
                margin-left: -10px;
                margin-right: -10px;

                &.wishlist-no-create {
                    .wishlist-select-items.active {
                        .item {
                            margin: 3px -10px 0 -10px;
                        }
                    }
                }

                .wishlist-name {
                    border-right: 1px solid @secondary__color__light;
                    display: inline-block;
                    &:extend(.abs-toggling-title-mobile all);

                    &-label {
                        font-size: 13px;
                    }

                    &:after {
                        top: 13px;
                        right: 10px;
                    }

                    &.active {
                        border-bottom: 1px solid transparent;
                    }
                }

                &-items {
                    &.active {
                        border-right: 1px solid @secondary__color__light;
                        top: 37px;
                        left: -1px;

                        li {
                            > span,
                            > a {
                                font-size: 13px;
                                padding: 8.5px 10px;
                                border-bottom: 1px solid @secondary__color__lighter;
                            }

                            &:first-child {
                                > span,
                                > a {
                                    border-top: 1px solid @secondary__color__lighter;
                                }
                            }

                            &:last-child {
                                border-bottom: 1px solid @secondary__color__light;
                            }
                        }
                    }

                    .item {
                        margin: 3px 0 0 -10px;
                    }
                }

                .wishlist-add {
                    font-size: 13px;
                    border-bottom: 1px solid @secondary__color__light;
                    line-height: 37px;

                    span {
                        &:extend(.abs-icon-add-mobile all);

                        &:before {
                            position: relative;
                            top: -1px;
                            font-weight: @font-weight__bold;
                            width: 12px;
                        }
                    }
                }
            }

            &-notice {
                .lib-font-size(13);
                margin-right: 12.5px;
            }

            //  Wish list name
            &-title {
                margin-bottom: 5px;
                margin-top: 5px;

                a {
                    font-size: 11px;
                    padding: 2px 14px;
                    border: 1px solid @secondary__color;
                    top: -4px;
                }
            }

            &-info {
                margin-bottom: 15px;

                .counter.qty {
                    font-size: 13px;
                }
            }

            &-toolbar {
                margin-bottom: 25px;

                &-select {
                    margin-bottom: @indent__s;
                }

                &-actions {
                    li.item,
                    .action.toggle {
                        padding: 4px 10px;

                        span {
                            font-size: 12px;
                        }
                    }

                    .action.toggle {
                        border: 1px solid @secondary__color__light;
                    }
                }
            }

            &-dropdown {
                >.action {
                    .lib-icon-font(
                        @_icon-font-content: @icon-down,
                        @_icon-font-size: 10px,
                        @_icon-font-text-hide: false,
                        @_icon-font-position: after,
                        @_icon-font-display: block
                    );

                    &:after {
                        font-weight: bold;
                        float: right;
                        position: relative;
                        top: 3px;
                    }
                }

                &.move {
                    margin-bottom: @indent__base / 2;
                }

                &.active {
                    >.action {
                        .lib-icon-font-symbol(
                            @_icon-font-content: @icon-up,
                            @_icon-font-position: after
                        );
                    }

                    > .items.dropdown {
                        top: 29px;
                        border: 1px solid @secondary__color__light;
                        border-top: none;

                        li {
                            border-top: 1px solid @secondary__color__lighter;
                        }
                    }
                }
            }
        }
    }

    .form-wishlist-items {
        .message.info.empty {
            margin: 9% 0 9.75% 0;

            span {
                font-size: 13px;
            }
        }

        .action.remove {
            font-size: 11px;
            border: 1px solid @secondary__color;
            padding: 8.5px 0;
        }
    }

    .page-multiple-wishlist .modal-popup .modal-inner-wrap {
        .modal-content {
            .fieldset > .field {
                &.choice {
                    margin-bottom: 17.5px;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .page-multiple-wishlist {
        .modal-popup .modal-inner-wrap {
            width: 87.5%;

            .modal-content {
                .fieldset > .field {
                    &.choice {
                        margin-bottom: 35px;
                    }
                }
            }
        }

        .page-title-wrapper {
            .page.messages .messages {
                margin-bottom: 27px;
            }
        }

        .wishlist.popup {
            .actions-toolbar.modal-footer {
                padding-top: 0;
            }
        }
    }

    .block-wishlist-management {
        margin-top: 0;

        .wishlist {
            //  Select wish list
            &-select {
                margin-left: -20px;
                margin-right: -20px;
                display: block;
                overflow: hidden;

                &.wishlist-no-create {
                    .wishlist-name {
                        width: 100%;
                        border-right: none;
                    }

                    .wishlist-select-items.active {
                        width: 100%;
                        left: 0;
                        right: 0;
                        border-right: none;

                        .item {
                            margin: 3px -20px 0 -20px;
                        }
                    }
                }

                .wishlist-name {
                    border-right: 2px solid @secondary__color__light;
                    border-bottom: 2px solid @secondary__color__light;
                    display: inline-block;
                    width: 50%;
                    box-sizing: border-box;
                    float: left;

                    &:extend(.abs-toggling-title-mobile all);

                    &.active {
                        border-bottom: 2px solid transparent;
                    }

                    &-current {
                        display: none;
                    }

                    &-label {
                        font-size: 26px;
                    }

                    &:after {
                        top: 23px;
                        right: 20px;
                    }
                }

                &-items {
                    display: none;

                    &.active {
                        display: block;
                        border-right: 2px solid @secondary__color__light;
                        position: absolute;
                        top: 71px;
                        width: 50%;
                        left: -2px;
                        z-index: 999;
                        background-color: @color-white;

                        li {
                            > span,
                            > a {
                                font-size: 26px;
                                color: @primary__color__light;
                                padding: 17px 20px;
                                display: block;
                                border-bottom: 2px solid @secondary__color__lighter;
                            }

                            &:first-child {
                                > span,
                                > a {
                                    border-top: 2px solid @secondary__color__lighter;
                                }
                            }

                            &:last-child {
                                border-bottom: 2px solid @secondary__color__light;
                                > span,
                                > a {
                                    border-bottom: none;
                                }
                            }
                        }
                    }

                    .item {
                        margin: 3px 0 0 -20px;

                        &:first-child {
                            margin-top: 0;
                        }

                        a {
                            display: block;
                            padding: @indent__xs 18px;
                            text-decoration: none;

                            &:hover {
                                .lib-css(color, @account-nav-item-hover);
                            }
                        }
                    }
                }

                .wishlist-add {
                    font-size: 26px;
                    text-align: center;
                    display: inline-block;
                    float: left;
                    width: 50%;
                    border-bottom: 2px solid @secondary__color__light;
                    line-height: 71px;

                    span {
                        &:extend(.abs-icon-add-mobile all);

                        &:before {
                            position: relative;
                            top: -3px;
                            font-weight: @font-weight__bold;
                            width: 16px;
                        }
                    }
                }
            }

            &-add.item {
                .add {
                    &:extend(.abs-icon-add-mobile all);
                }
            }

            //  Wish list name
            &-title {
                margin-bottom: 10px;
                margin-top: 10px;

                a {
                    font-size: 22px;
                    padding: 4px 28px;
                    border: 2px solid @secondary__color;
                }

                strong {
                    .lib-font-size(26);
                }
            }

            &-notice {
                .lib-font-size(26);
                margin-right: 25px;

                &.wishlist-empty {
                    display: none;
                }
            }

            //  Wish list info
            &-info {
                margin-bottom: 30px;

                .counter.qty {
                    font-size: 26px;
                }
            }

            //  Wish list toolbar
            &-toolbar {
                margin-bottom: 50px;
                position: relative;

                &-select {
                    margin: 0 0 @indent__base 0;
                }

                &-actions {
                    li.item,
                    .action.toggle {
                        padding: 8px 20px;

                        span {
                            font-size: 24px;
                        }
                    }

                    .action.toggle {
                        border: 2px solid @secondary__color__light;
                    }
                }
            }

            &-dropdown {
                >.action {
                    .lib-icon-font(
                        @_icon-font-content: @icon-down,
                        @_icon-font-size: 18px,
                        @_icon-font-text-hide: false,
                        @_icon-font-position: after,
                        @_icon-font-display: block
                    );

                    &:after {
                        font-weight: bold;
                        float: right;
                        position: relative;
                        top: 4px;
                    }
                }

                &.move {
                    margin-bottom: @indent__base;
                }

                &.active {
                    >.action {
                        .lib-icon-font-symbol(
                            @_icon-font-content: @icon-up,
                            @_icon-font-position: after
                        );
                    }

                    > .items.dropdown {
                        top: 52px;
                        border: 2px solid @secondary__color__light;
                        border-top: none;

                        li {
                            border-top: 2px solid @secondary__color__lighter;
                        }
                    }
                }
            }
        }
    }

    .form-wishlist-items {
        .action.remove {
            font-size: 22px;
            border: 2px solid @secondary__color;
            padding: 17px 0;
        }
    }

    .products-grid.wishlist {
        .product {
            &-item {
                &-checkbox {
                    left: 0;
                    position: absolute;
                    top: 0;
                    z-index: 1;
                }
            }
        }

        .wishlist-dropdown {
            display: none;
        }
    }

    .toolbar-wishlist-results {
        &:extend(.abs-pager-toolbar-mobile all);
    }

    .form-wishlist-items {
        .message.info.empty {
            margin:  18% 0 19.5% 0;
            text-align: center;

            span {
                margin: 0;
                font-size: 30px;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-multiple-wishlist {
        .page-title-wrapper {
            .page.messages .messages {
                margin-bottom: 47px;
            }
        }
    }

    .page-multiple-wishlist .modal-popup:not(.confirm) {
        .modal-inner-wrap {
            width: 600px;
        }
    }

    .page-multiple-wishlist .modal-popup .modal-inner-wrap {
        .modal-content {
            margin-left: -30px;
            margin-right: -30px;

            .fieldset > .field {
                padding: 0 30px;

                &.choice {
                    margin-bottom: 38px;
                }
            }
        }
    }

    .form-wishlist-items {
        .message.info.empty {
            margin:  11.5% 0;

            span {
                margin: 0;
            }
        }

        .action.remove {
            font-size: 16px;
            border: 1px solid @secondary__color;
        }
    }

    .block-wishlist-management {
        &:extend(.abs-add-clearfix-desktop all);
        margin-bottom: 15px;

        .wishlist {
            //  Select wish list
            &-select {
                border-bottom: 1px solid @secondary__color__light;
                display: table;
                margin-bottom: 15px;
                width: 100%;

                .wishlist-name {
                    display: table-cell;
                    margin-right: @indent__s;
                    padding: @indent__xs @indent__s @indent__s;
                    vertical-align: top;
                    white-space: nowrap;
                    width: 5%;

                    &-label {
                        font-size: 16px;
                    }
                }

                &-items {
                    display: inline-block;

                    .item {
                        display: inline-block;
                        margin-right: @indent__s;
                        padding: 0 @indent__s @indent__s;
                        font-size: 20px;
                        font-weight: @font-weight__bold;

                        a {
                            color: @secondary__color;
                        }

                        &:last-child {
                            margin-right: 0;
                        }
                    }

                    .current {
                        border-bottom: 2px solid @active__color;
                        color: @active__color;
                    }
                }

                .wishlist-add {
                    position: absolute;
                    right: 0;
                    top: 5px;
                    display: inline-block;

                    span {
                        font-size: 16px;
                    }
                }

                .wishlist-name-current {
                    display: none;
                }
            }

            &-add .item {
                position: absolute;
                right: 0;
                top: 0;
            }

            //  Wish list name
            &-title {
                margin-bottom: 10px;

                a {
                    font-size: 14px;
                    padding: 4px 14px;
                    border: 1px solid @secondary__color;
                }

                strong {
                    .lib-font-size(40);
                }
            }

            //  Wish list info
            &-info {
                .counter.qty {
                    font-size: 16px;
                }
            }

            //  Wish list toolbar
            &-toolbar {
                padding-top: 15px;

                &-select,
                &-actions {
                    display: inline-block;
                }

                &-select {
                    position: relative;
                    vertical-align: top;
                    margin-bottom: 15px;

                    .label {
                        font-size: 16px;
                    }
                }

                &-actions {
                    position: relative;
                    vertical-align: top;

                    li.item,
                    .action.toggle {
                        padding: 6px 12px;

                        span {
                            font-size: 15px;
                        }
                    }

                    .action.toggle {
                        border: 1px solid @secondary__color__light;
                        line-height: 1.2;

                        &.active {
                            border-bottom: none;
                        }
                    }
                }
            }

            &-notice {
                margin-right: 15px;
                font-size: 16px;
            }

            &-dropdown {
                display: inline-block;
                width: 218px;

                &.move {
                    margin-right: @indent__base;
                }

                >.action {
                    .lib-icon-font(
                        @_icon-font-content: @icon-down,
                        @_icon-font-size: 14px,
                        @_icon-font-text-hide: false,
                        @_icon-font-position: after,
                        @_icon-font-display: block
                    );

                    &:after {
                        font-weight: bold;
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        width: 21px;
                        margin-top: -8px;
                    }
                }

                &.active {
                    >.action {
                        .lib-icon-font-symbol(
                            @_icon-font-content: @icon-up,
                            @_icon-font-position: after
                        );
                    }

                    > .items.dropdown {
                        border: 1px solid @secondary__color__light;
                        border-top: none;

                        li {
                            border-top: 1px solid @secondary__color__lighter;
                        }
                    }
                }
            }
        }
    }

    .block-wishlist-info-items {
        .product-item-photo {
            margin-left: 0;
        }
    }

    .products-grid.wishlist {
        .product {
            &-item {
                position: relative;

                &-checkbox {
                    left: 10px;
                    position: absolute;
                    top: 10px;
                    z-index: 1;
                }
            }
        }
    }

    .toolbar-wishlist-results {
        &:extend(.abs-pager-toolbar all);
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .products-grid.wishlist {
        .product {
            &-item {
                &-checkbox {
                    left: 20px;
                    top: 20px;
                }
            }
        }
    }

    .block-wishlist-management {
        .wishlist {
            &-info {
                float: left;
            }

            &-toolbar {
                float: right;
                padding-top: 0;

                &-actions {
                    top: -24px;
                }
            }
        }
    }
}