#product-shipping-form {
    border: 1px solid #ccc;
    margin-top: 30px;
    padding: 15px 20px 10px 20px;
    margin-bottom: 30px;
}

#product-shipping-form .field {
    width: 100%;
}

#product-shipping-form input {
    width: 100%;
    line-height: 34px;
    height: 34px;
    vertical-align: middle;
    margin-bottom: 15px;
}

#product-shipping-form .field:first-child {
    margin-bottom: 0;
}

#product-shipping-form .field:nth-child(2) {
    margin-bottom: 5px;
}

#product-shipping-form #product-shipping-button {
    width: 100%;
    padding: 16px 0;
    font-size: 24px;
    font-weight: 400;
}

@media all and (max-width: 768px) {
    #product-shipping-form input {
        width: 100%;
        line-height: 60px;
        height: 60px;
        margin-bottom: 20px;
    }

    #product-shipping-form label {
        width: 100%;
    }

    #product-shipping-form #product-shipping-button {
        padding: 31px 0;
        font-size: 36px;
        font-weight: 600;
    }

    #product-shipping-form .field:last-child {
        margin-bottom: 0;
    }

    #product-shipping-form #product-shipping-result {
        font-size: 24px;
    }
}

@media all and (max-width: 479px) {
    #product-shipping-form {
        padding: 7.5px 10px 5px 10px;
    }

    #product-shipping-form input {
        line-height: 30px;
        height: 30px;
        margin-bottom: 10px;
    }

    #product-shipping-form #product-shipping-button {
        padding: 15.5px 0;
        font-size: 18px;
    }

    #product-shipping-form #product-shipping-result {
        font-size: 12px;
    }
}


