// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .block-product-link,
    .block-category-link {
        &.widget {
            display: block;
            margin-bottom: @indent__base;
        }
    }

    .block-product-link-inline {
        &.widget {
            margin: 0;
        }
    }

    .block.widget {
        .product-item-info {
            width: auto;
        }

        .pager {
            padding: 0;

            .toolbar-amount {
                float: none;
                .lib-font-size(12);
            }

            .pages-item-previous {
                padding-left: 0;
            }

            .pages-item-next {
                position: relative;
            }

            .items {
                white-space: nowrap;
            }
        }

        &:not(.crosssell) {
            .block-title {
                text-align: center;
            }
        }

        .block-title {
            border: none;

            strong {
                text-transform: uppercase;
                font-weight: @font-weight__bold;
            }
        }

        .products-grid {
            &.swiper-container,
            .swiper-wrapper,
            .swiper-slide {
                z-index: auto;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .column.main {
        .block.widget:not(.home-recommended):not(.block-static-block) {
            margin-left: -7.5px !important;
            margin-right: -7.5px !important;

            .block-title {
                margin-bottom: 22.5px;

                strong {
                    .lib-font-size(20);
                }
            }

            &.related {
                margin-bottom: 30px;
            }

            &.crosssell {
                .block-title {
                    padding: 0 7.5px;
                }

                .products-grid {
                    .product {
                        &-item {
                            margin-bottom: 31px;
                        }
                    }

                    .price-box.price-final_price {
                        min-height: 30px;
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .column.main {
        .block.widget:not(.home-recommended):not(.block-static-block) {
            margin-left: -15px !important;
            margin-right: -15px !important;

            .block-title {
                margin-bottom: 45px;

                strong {
                    .lib-font-size(40);
                }
            }

            &.crosssell {
                .block-title {
                    padding: 0 15px;
                }

                .products-grid {
                    .product {
                        &-item {
                            margin-bottom: 62px;

                            &:nth-last-child(-n+2) {
                                margin-bottom: 0;
                            }
                        }
                    }

                    .price-box.price-final_price {
                        min-height: 77px;
                    }
                }
            }
        }

        .block.widget:not(.crosssell) {
            .products-grid {
                .product {
                    &-item {
                        &-model-name,
                        &-name {
                            text-align: center;
                        }

                        .label {
                            + .normal-price,
                            + .price-final_price {
                                display: block;
                                text-align: center;
                                width: 100%;
                                margin: 0;
                            }
                        }

                        .old-price + .normal-price {
                            text-align: right;
                        }
                    }
                }
            }

            &.related {
                margin-bottom: 60px;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-layout-3columns .block.widget .products-grid .product-item {
        width: 100%/2;
    }

    .sidebar .block.widget .pager {
        .item:not(.pages-item-next):not(.pages-item-previous) {
            &:extend(.abs-no-display-desktop all);
        }

        .pages-item-next {
            padding: 0;

            .action {
                margin: 0;
            }
        }
    }

    .column.main {
        .block.widget {
            .block-title {
                margin-bottom: 36px;

                strong {
                    .lib-font-size(25);
                }
            }

            &.related {
                margin-bottom: 50px;
            }

            &.crosssell {
                .product-item {
                    margin-bottom: 24px;

                    &:nth-last-child(-n+4) {
                        margin-bottom: 0;
                    }
                }

                .price-box.price-final_price {
                    min-height: 46px;
                }

                .old-price {
                    margin-bottom: 0;
                    display: block;

                    .price {
                        .lib-font-size(15);
                        line-height: 1.0;
                    }

                    + span {
                        .price {
                            line-height: 1.0;
                        }
                    }
                }

                .price-box {
                    .label + .price-final_price {
                        padding-top: 17px;
                    }
                }
            }

            &:not(.crosssell) {
                .product-item {
                    padding: 5px 30px;
                }
            }
        }
    }
}
