// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .orders-history {
        .pager {
            margin-top: 30px;
        }
    }

    .shipping-tracking-popup {
        .bottom.content {
            display: none;
        }

        .page.tracking {
            .table-wrapper {
                margin-bottom: 0;
                table {
                    display: table !important;

                    tbody {
                        display: table-row-group !important;
                        border-bottom: none !important;
                    }

                    th, td {
                        width: 50%;
                        display: table-cell !important;
                    }

                    td.col.value {
                        font-weight: bold;
                    }

                    tr {
                        display: table-row !important;
                    }
                }
            }
        }
    }

    .form-orders-search {
        .actions-toolbar {
            .action.primary {
                &:extend(.abs-button-l all);
            }
        }
    }

    .orders-history {
        display: inline-block;
        width: 100%;

        tbody {
            td.total {
                font-weight: @font-weight__bold;
            }
        }

        .pager {
            .toolbar-amount,
            .limiter {
                display: none;
            }
        }
    }

    .page-title-wrapper {
        .order-date {
            font-weight: @font-weight__bold;
        }
    }

    .order-links {
        .item {
            display: inline-block;

            a {
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .order-actions-toolbar {
        .actions {
            display: inline-block;
        }

        .action {
            &:extend(.abs-account-secondary-button);
            margin: 0 20px 0 0;
        }
    }

    .sales-order-view,
    .sales-order-invoice,
    .sales-order-shipment,
    .sales-order-creditmemo,
    .sales-order-print,
    .sales-order-printinvoice,
    .sales-order-printshipment,
    .sales-order-printcreditmemo,
    .sales-guest-view,
    .sales-guest-invoice,
    .sales-guest-shipment,
    .sales-guest-creditmemo {
        .page-title {
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 0;
        }

        .order-status {
            vertical-align: middle;
        }

        .order-actions-toolbar {
            vertical-align: middle;
            float: right;
        }

        .order-links {
            li.item {
                > a, strong {
                    font-weight: @font-weight__bold;
                    display: block;
                }

                > a {
                    color: @secondary__color;
                }
            }
        }
    }

    .item-options {
        &:extend(.abs-product-options-list all);

        &.links {
            dt {
                display: inline-block;

                &:after {
                    content: ': ';
                }
            }

            dd {
                margin: 0;
            }
        }
    }

    .order-details-items {
        .items-qty {
            &:extend(.abs-reset-list all);

            .item {
                white-space: nowrap;
            }

            .title {
                &:after {
                    content: ': ';
                }
            }
        }

        .actions-toolbar .action.back {
            display: none;
        }

        .table-order-items {
            .product-item-name {
                margin-top: 0;
            }

            tbody + tbody {
                border-top: @border-width__base solid @border-color__base;
            }

            tfoot {
                &:extend(.abs-sidebar-totals all);
                background-color: @secondary__color__lighter;
            }
        }
    }

    .order-pager-wrapper {
        .toolbar-amount {
            padding-top: 3px;
        }

        .pages-items {
            .item {
                &:first-child,
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .order-actions-toolbar {
        .action {
            margin-right: 8px;

            &.print {
                margin: 0;
            }
        }
    }

    .order-status {
        &:extend(.abs-status all);
    }

    .form-orders-search {
        .field {
            &.email,
            &.zip {
                margin-bottom: 0;
            }
        }
    }

    .block-reorder {
        .block-title {
            &:extend(.abs-block-title all);
        }

        .product-item {
            .checkbox {
                position: relative;
                top: 2px;
                vertical-align: baseline;
            }

            .label {
                &:extend(.abs-visually-hidden all);
            }

            .field.item {
                display: inline-block;
            }
        }

        .product-item-name {
            display: inline-block;
        }

        .actions-toolbar {
            margin: 17px 0;
            max-width: 178px;
        }

        .sidebar-main & .subtitle,
        .sidebar-additional & .subtitle {
            &:extend(.abs-no-display all);
        }
    }

    .block-order-details {
        &-comments {
            margin: 0 0 40px;

            .comment-date {
                font-weight: @font-weight__semibold;
            }

            .comment-content {
                line-height: 1.6;
                margin: 0 0 20px;
            }
        }

        &-view {
            .box-content {
                .payment-method {
                    .title {
                        font-weight: @font-weight__regular;
                    }

                    .content {
                        margin: 0;

                        > strong {
                            font-weight: @font-weight__regular;

                            &:after {
                                content: ': ';
                            }
                        }
                    }
                }
            }
        }
    }

    .account:not(.page-print) {
        .order-tracking {
            margin: 0;
            padding: 20px 0;

            .tracking-title {
                display: inline-block;
            }

            .tracking-content {
                display: inline-block;
                margin: 0 0 0 5px;
            }
        }
    }

    //
    //  Guest order view page
    //  ---------------------------------------------

    [class^='sales-guest-'],
    .sales-guest-view {
        .column.main {
            .block:not(.widget) {
                &:extend(.abs-account-blocks all);
            }
        }
    }

    .table-order-items {
        .product-item-model-name {
            color: @primary__color__light;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .order-details-items .table-order-items {
        .product-item-model-name,
        .product-item-name {
            .lib-font-size(13);
        }
    }

    .orders-history {
        .pager {
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }

    .shipping-tracking-popup {
        #maincontent {
            padding-top: 17.5px;
        }

        .page-title-wrapper {
            margin-bottom: 7.5px;

            .page-title {
                font-size: 15px;
                border-bottom: 1px solid @secondary__color__light;
                padding-bottom: 7.5px;
            }
        }

        .page.tracking {
            .subtitle {
                font-size: 18px;
                margin-bottom: 7.5px;
            }

            .message {
                margin-bottom: 20px;
            }

            > .actions {
                margin-top: 20px;

                button {
                    padding: 8.5px 0;

                    span {
                        font-size: 11px;
                    }
                }
            }

            .table-wrapper {
                border-bottom: 1px solid @secondary__color__light;
            }

            table {
                tbody {
                    tr {
                        border-top: 1px solid @secondary__color__light !important;
                    }

                    th, td {
                        font-size: 13px !important;
                        padding: 10px 0 !important;
                    }
                }
            }
        }
    }

    .orders-history {
        border-top: 1px solid @secondary__color__light;
        margin-top: 2.5px;
    }

    .order-details-items.shipments {
        .order-title {
            padding-bottom: 3.5px;
        }

        .order-actions-toolbar {
            margin-bottom: 7.5px;
            margin-top: 3px;

            .action:first-child {
                margin-right: 5px;
            }
        }

        .order-tracking {
            font-size: 18px;
            padding: 17.5px 0 0 0;
        }
    }

    .order-actions-toolbar {
        .action {
            padding: 5px 13px;
            margin: 0;

            &:extend(.abs-account-secondary-button-mobile-xs);
        }
    }

    .sales-order-view,
    .sales-order-invoice,
    .sales-order-shipment,
    .sales-order-print,
    .sales-order-printinvoice,
    .sales-order-printshipment,
    .sales-guest-view,
    .sales-guest-invoice,
    .sales-guest-shipment {
        table {
            tbody {
                td {
                    &.col.subtotal {
                        padding: 7.5px 0px 10px 0 !important;

                        .cart-price {
                            .price {
                                font-size: 18px !important;
                            }
                        }
                    }
                }
            }
        }
    }

    .sales-order-shipment,
    .sales-guest-shipment {
        table {
            tbody {
                td {
                    &.col.qty {
                        padding: 0 0 17.5px 0 !important;
                    }
                }

                &:last-child {
                    border-bottom: 1px solid @secondary__color__light !important;
                }
            }
        }
    }

    .sales-order-view,
    .sales-order-invoice,
    .sales-order-shipment,
    .sales-order-creditmemo,
    .sales-order-print,
    .sales-order-printinvoice,
    .sales-order-printshipment,
    .sales-order-printcreditmemo,
    .sales-guest-view,
    .sales-guest-invoice,
    .sales-guest-shipment,
    .sales-guest-creditmemo {
        .page-title-wrapper {
            margin-bottom: 20px;
            position: relative;

            .page-title {
                margin-right: 7.5px;
                margin-bottom: 6px;
            }

            .order-status {
                margin-bottom: 6px;
                padding: 2.75px 6.5px;
                font-size: 8px;
                margin-top: 6px;
            }

            .order-date {
                font-size: 15px;
                line-height: 27px;
                padding-top: 6px;
            }

            .order-actions-toolbar {
                right: 0;
                padding-top: 6px;
            }
        }

        .order-links {
            margin-bottom: 15px;

            li {
                padding: 5px 0;
                margin-bottom: 1px;

                > strong, > a {
                    font-size: 11px;
                }

                &.current {
                    border-bottom: 2px solid @active__color;
                }
            }
        }

        .order-details-items {
            margin-bottom: 45px;
        }

        table {
            tbody {
                border-top: 1px solid @secondary__color__light !important;

                td {
                    &.name {
                        padding: 20px 0 !important;
                    }

                    &.price {
                        padding-bottom: 2.5px;
                    }

                    .price,
                    .items-qty .title {
                        font-size: 15px !important;
                    }

                    .items-qty {
                        .item {
                            margin-bottom: -5px;
                        }
                    }

                    &:not(.name) {
                        padding-top: 2.5px !important;
                        padding-bottom: 2.5px !important;
                    }

                    &.col.discount {
                        .price {
                            font-size: 15px !important;
                        }
                    }
                }
            }

            tfoot {
                margin-left: -15px;
                margin-right: -15px;
                padding-left: 15px !important;
                padding-right: 15px !important;
                border-top: 1px solid @secondary__color__light;

                th {
                    font-size: 13px !important;
                }

                tr {
                    &.grand_total {
                        border-top: 1px solid @secondary__color__light;

                        .amount .price {
                            font-size: 20px !important;
                        }
                    }
                }
            }

            &.creditmemo {
                .col.total {
                    padding-bottom: 7.5px !important;

                    &:before {
                      line-height: 28px;
                    }

                    .price {
                        font-size: 20px !important;
                    }
                }
            }
        }
    }
    .order-details-items {
        .order-title {
            padding-bottom: 12.5px;
            border-bottom: 1px solid @secondary__color__light;

            > strong {
                font-size: 18px;
            }
        }
    }

    .block-order-details-view {
        .block-title {
            padding-bottom: 2.5px !important;
            margin-bottom: 15px !important;

            strong {
                font-size: 18px !important;
            }
        }

        .block-content {
            .box {
                padding-bottom: 13px;
                margin-bottom: 10px !important;
                border-bottom: 1px solid @secondary__color__light;
            }
        }
    }

    .sales-guest-form,
    .sales-guest-view,
    .sales-guest-invoice,
    .sales-guest-shipment,
    .sales-guest-creditmemo {
        .page-title-wrapper {
            padding-top: @indent__s;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .account {
        .order-details-items {
            .table-order-items {
                .product-item-name,
                .price-including-tax,
                .price-excluding-tax,
                .items-qty {
                    display: inline-block;
                    vertical-align: top;
                }
            }
        }

        .toolbar {
            &:extend(.abs-add-clearfix-desktop all);

            .pages {
                float: right;
            }

            .limiter {
                clear: both;
            }
        }
    }

    .order-details-items {
        thead {
            display: block;

            tr,
            td {
                display: block;
            }
        }
    }

    .table-wrapper {
        .table.table-order-items {
            tfoot {
                td.order-pager-wrapper {
                    width: 100%;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .order-details-items .table-order-items {
        .product-item-model-name,
        .product-item-name {
            .lib-font-size(26);
            display: block;
        }
    }

    .orders-history {
        .pager {
            margin-bottom: 30px;
        }
    }

    .shipping-tracking-popup {
        #maincontent {
            padding-top: 35px;
        }

        .page-title-wrapper {
            margin-bottom: 15px;

            .page-title {
                display: block;
                font-size: 30px;
                border-bottom: 2px solid @secondary__color__light;
                padding-bottom: 15px;
            }
        }

        .page.tracking {
            .subtitle {
                font-size: 36px;
                margin-bottom: 15px;
            }

            .message {
                margin-bottom: 40px;
            }

            > .actions {
                margin-top: 40px;

                button {
                    width: 100%;
                    padding: 17px 0;

                    span {
                        font-size: 22px;
                    }
                }
            }

            .table-wrapper {
                border-bottom: 2px solid @secondary__color__light;
            }

            table {
                tbody {
                    th:before {
                        display: none !important;
                    }

                    td:before {
                        display: none !important;
                    }

                    tr {
                        border-top: 2px solid @secondary__color__light !important;
                    }

                    th, td {
                        font-size: 26px !important;
                        padding: 20px 0 !important;
                    }
                }
            }
        }
    }

    .sales-order-view,
    .sales-order-invoice,
    .sales-order-shipment,
    .sales-order-print,
    .sales-order-printinvoice,
    .sales-order-printshipment,
    .sales-guest-view,
    .sales-guest-invoice,
    .sales-guest-shipment {
        table {
            tbody {
                td {
                    &.col.subtotal {
                        padding: 15px 0 20px 0 !important;

                        > span {
                            .cart-price .price {
                                font-weight: @font-weight__bold !important;
                            }
                        }
                    }
                }
            }
        }
    }

    .sales-order-shipment,
    .sales-guest-shipment {
        table {
            tbody {
                td {
                    &.col.qty {
                        padding: 0 0 35px 0 !important;
                    }
                }

                &:last-child {
                    border-bottom: 2px solid @secondary__color__light !important;
                }
            }
        }
    }

    .sales-order-view,
    .sales-order-invoice,
    .sales-order-shipment,
    .sales-order-creditmemo,
    .sales-order-print,
    .sales-order-printinvoice,
    .sales-order-printshipment,
    .sales-order-printcreditmemo,
    .sales-guest-view,
    .sales-guest-invoice,
    .sales-guest-shipment,
    .sales-guest-creditmemo {
        .page-title-wrapper {
            overflow: hidden;
            margin-bottom: 40px;

            .page-title {
                margin-right: 15px;
                margin-bottom: 12px;
                display: inline;

                span {
                    word-break: break-all;
                }
            }

            .order-status {
                margin-bottom: 12px;
                padding: 5.5px 13px;
                font-size: 16px;
                margin-top: 12px;
            }

            .order-date {
                font-size: 30px;
                line-height: 55px;
                padding-top: 12px;
            }

            .order-actions-toolbar {
                position: absolute;
                right: 30px;
                padding-top: 12px;
            }
        }

        .order-links {
            margin-bottom: 30px;

            li {
                width: 100%;
                background-color: @secondary__color__lighter;
                padding: 10px 0;
                margin-bottom: 2px;
                text-align: center;

                &:last-child {
                    margin-bottom: 0;
                }

                > strong, > a {
                    font-size: 22px;
                }

                &.current {
                    border-bottom: 4px solid @active__color;
                }
            }
        }

        .order-details-items {
            margin-bottom: 90px;
        }

        .table-wrapper {
            overflow: inherit !important;
        }

        table {
            tbody {
                overflow: hidden;
                border-top: 2px solid @secondary__color__light !important;
                border-bottom: none !important;

                td {
                    &.name {
                        overflow: hidden;
                        padding: 40px 0 !important;

                        &:before {
                            display: none !important;
                        }
                    }

                    &.price {
                        padding-bottom: 5px;
                    }

                    .price,
                    .items-qty .title {
                        font-size: 30px;
                        font-weight: @font-weight__light !important;
                        color: @primary__color__light;
                    }

                    &.col.subtotal:before {
                        border-top: none !important;
                    }

                    .items-qty,
                    &.discount .price,
                    &.total .price {
                        display: inline-block;
                        float: right;
                        text-align: right;

                        .item {
                            margin-bottom: -10px;
                        }
                    }

                    &:before {
                        content: attr(data-th) !important;
                        font-weight: @font-weight__bold !important;
                        box-sizing: border-box;
                    }

                    &:not(.name) {
                        box-sizing: border-box;
                        padding-top: 5px !important;
                        padding-bottom: 5px !important;
                    }

                    &.col.price > span {
                        width: auto !important;
                        padding: 0;
                    }

                    &.col.subtotal {
                        > span {
                            border-top: none !important;
                            width: auto !important;

                            .cart-price .price {
                                color: @primary__color__light !important;
                            }
                        }
                    }

                    &.col.discount {
                        float: left;
                        width: 100%;
                    }
                }
            }

            &.creditmemo {
                .col.subtotal {
                    > span {
                        .price {
                            font-weight: @font-weight__bold !important;
                        }
                    }
                }

                .col.total {
                    padding-top: 0 !important;
                    padding-bottom: 15px !important;

                    &:before {
                        line-height: 65px;
                    }

                    .price {
                        font-size: 40px !important;
                        font-weight: @font-weight__bold !important;
                    }
                }
            }

            thead + tbody {
                border-top: none !important;
            }

            tfoot {
                overflow: hidden;
                margin-left: -30px;
                margin-right: -30px;
                border-top: 2px solid @secondary__color__light;
                padding-left: 30px !important;
                padding-right: 30px !important;

                th {
                    font-size: 26px !important;
                }

                tr {
                    overflow: hidden;

                    &.grand_total {
                        border-top: 2px solid @secondary__color__light;
                        display: table !important;
                        width: 100%;

                        th, td {
                            display: table-cell !important;
                            vertical-align: middle;
                            float: none !important;
                            width: auto !important;
                        }

                        .amount .price {
                            font-size: 40px !important;
                        }
                    }
                }
            }
        }
    }

    .orders-history {
        border-top: 2px solid @secondary__color__light;
        margin-top: 5px;

        tbody {
            td.actions {
                padding-top: 20px;
            }
        }
    }

    .order-pager-wrapper {
        .toolbar-amount {
            left: inherit;
            position: relative;
            text-align: center;
            top: inherit;
        }

        .pages {
            text-align: center;
        }

        .action.previous,
        .action.next {
            margin: 0;
        }
    }

    .order-actions-toolbar {
        .action {
            padding: 10px 26px;
            margin: 0;

            &:extend(.abs-account-secondary-button-mobile);

            &.print {
                display: none;
            }
        }
    }

    .order-details-items {
        .order-title {
            padding-bottom: 7px;
            border-bottom: 2px solid @secondary__color__light;

            > strong {
                font-size: 36px;
                font-weight: @font-weight__light;
            }
        }

        &.ordered {
            .action.track {
                display: none;
            }
        }

        &.shipments {
            .order-title {
                overflow: hidden;
            }

            .order-actions-toolbar {
                display: block;
                width: 100%;
                text-align: left;
                margin-bottom: 15px;
                margin-top: 6px;

                .action:first-child {
                    margin-right: 10px;
                }
            }
        }

        .order-tracking {
            font-size: 36px;
            padding: 35px 0 0 0;

            .tracking-title {
                font-weight: @font-weight__light;
            }

            .tracking-content {
                margin: 0;
            }
        }

        .actions-toolbar .action.back {
            display: none;
        }
    }

    .block-order-details-view {
        .block-title {
            padding-bottom: 5px !important;
            margin-bottom: 30px !important;

            strong {
                font-weight: @font-weight__light !important;
                font-size: 36px !important;
            }
        }

        .block-content {
            .box {
                padding-bottom: 26px;
                margin-bottom: 20px !important;
                border-bottom: 2px solid @secondary__color__light;

                &:last-child {
                    border-bottom: none !important;
                }
            }
        }
    }

    .sales-guest-form,
    .sales-guest-view,
    .sales-guest-invoice,
    .sales-guest-shipment,
    .sales-guest-creditmemo {
        .page-title-wrapper {
            padding-top: @indent__base;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .orders-history,
    .recent {
        thead th {
            &.id {
                width: 14%;
            }

            &.date {
                width: 12.5%;
            }

            &.shipping {
                width: 13%;
            }

            &.total {
                width: 15%;
            }

            &.status {
                width: 17.5%;
            }

            &.actions {
                width: 28%;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .order-details-items .table-order-items {
        .product-item-model-name {
            .lib-font-size(14);
            display: block;
        }

        .product-item-name {
            .lib-font-size(16);
            display: block;
        }
    }

    .shipping-tracking-popup {
        .page-title-wrapper {
            margin: 0;

            .page-title {
                border-bottom: 1px solid @secondary__color__light;
                padding: 28px 0 21px 0;
                font-size: 36px;
                margin-bottom: 15px;
                word-wrap: break-word;
                display: block !important;
            }
        }

        .page-title-wrapper + .page.messages {
            margin: 0;
        }

        .page.tracking {
            .subtitle {
                font-size: 24px;
                margin-bottom: 15px;
            }

            >.actions {
                margin-top: 40px;
                border-top: 1px solid @secondary__color__light;
                text-align: center;
                padding-top: 20px;
                margin-left: -30px;
                margin-right: -30px;

                > button {
                    width: 177px;
                    padding: 11px 0;

                    span {
                        font-size: 18px;
                    }
                }
            }

            .table-wrapper {
                border-bottom: 1px solid @secondary__color__light;

                table {
                    th, td {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .order-details-items.ordered {
        .order-title {
            display: none;
        }
    }

    .item-options {
        &:extend(.abs-product-options-list-desktop all);
    }

    .orders-history {
        border-top: 1px solid @secondary__color__light;
        margin-top: 8px;
    }

    .account:not(.page-print) {
        .order-details-items:not(.ordered) {
            .order-tracking {
              padding: 0 0 15px 0;
              font-size: 20px;

                .tracking-title {
                  font-weight: @font-weight__light;
                }
            }
        }
    }

    .order-details-items:not(.ordered) {
        .table-wrapper {
            border-top: 1px solid @secondary__color__light;
        }

        .order-title {
            display: table;
            width: 100%;

            strong {
                font-weight: @font-weight__light;
                font-size: 20px;
                color: @primary__color;
                display: table-cell;
                vertical-align: middle;
            }

            .order-actions-toolbar {
                top: 0 !important;
                padding: 20px 0;

                a {
                    margin-right: 8px !important;

                    &:last-child {
                        margin-right: 0 !important;
                    }
                }
            }
        }
    }

    .table-order-items:not(.creditmemo) {
        thead th {
            &.price {
                padding: 10px 5% 10px 10px;
            }

            &.qty {
                width: 10% !important;
            }

            &.subtotal {
                width: 18%;
            }
        }

        th.price,
        td.price {
            padding: 40px 5% 12px;
            box-sizing: border-box;
        }
    }

    .ordered .table-order-items {
        .col.qty {
            text-align: center;
        }

        th.col.qty {
            text-align: center;
        }
    }

    .table-order-items {
        .subtotal,
        .amount {
            text-align: right;
        }


        &.shipment {
            thead th.qty {
                white-space: nowrap;
            }
        }

        &.creditmemo {
            thead th {
                &.name {
                    width: 40%;
                }

                &.price {
                    padding: 10px 2% 10px 10px;
                }
            }

            th.price,
            td.price {
                padding-right: 2%;

              .price {
                display: inline-block;
              }
            }

            .col {
                &.discount,
                &.subtotal {
                    padding-right: 10px;
                }
            }
        }

        tfoot {
            th.mark {
                text-align: right !important;
            }

            tr {
                &:nth-last-child(3) {
                    th {
                        span {
                            border-bottom: 1px solid @primary__color;
                            display: inline-block;
                            padding-bottom: 16.5px;
                            line-height: 26px;
                        }
                    }

                    td {
                        span {
                            border-bottom: 1px solid @primary__color;
                            display: block;
                            padding-bottom: 15px;
                        }
                    }

                    th, td {
                        padding-bottom: 0 !important;
                    }
                }

                &.totals-tax {
                   display: none;
                }
            }

            th {
                padding-left: 30px;
                padding-right: 0;
            }

            td {
                padding-right: 30px;
            }

            .grand_total {
                .amount {
                    .price {
                        display: block;
                    }
                }
            }
        }
    }

    .order-pager-wrapper {
        .order-pager-wrapper-top {
            padding-left: 0;
            padding-right: 0;
        }

        .pages {
            float: right;
        }
    }

    .order-actions-toolbar {
        .action {
            &:extend(.abs-account-secondary-button-desktop);
            padding: 6px 18px;
        }
    }

    .page-title-wrapper {
        .order-date {
            @order-status-indent: ceil(@h1__margin-bottom__desktop/2);
            font-size: 20px;
        }

        .order-status {
            padding: 8px 15px;
            font-size: 13px;
        }
    }

    .sales-order-view,
    .sales-order-invoice,
    .sales-order-shipment,
    .sales-order-creditmemo,
    .sales-order-print,
    .sales-order-printinvoice,
    .sales-order-printshipment,
    .sales-order-printcreditmemo,
    .sales-guest-view,
    .sales-guest-invoice,
    .sales-guest-shipment,
    .sales-guest-creditmemo {
        .order-links {
            border-bottom: @border-width__base solid @secondary__color__light;

            li.item {
                margin-bottom: 0;
                margin-right: @indent__l;

                > a, strong {
                    font-size: 20px;
                    padding-bottom: 15px;
                }

                > strong {
                    color: @active__color;
                    border-bottom: 2px solid @active__color;
                }
            }
        }

        .order-actions-toolbar {
            position: relative;
            top: 4px;
        }

        .table-wrapper {
            thead {
                tr {
                    > th:not(.price) {
                        padding: 10px;

                        &:first-child {
                            padding-left: 30px;
                        }

                        &:last-child {
                            padding-right: 30px;

                            &:not(.qty) {
                                text-align: right;
                            }
                        }
                    }
                }
            }

            tbody {
                tr {
                    > td {
                        &:first-child {
                            padding-left: 30px;
                        }

                        &:last-child {
                            padding-right: 30px;
                        }

                        vertical-align: top !important;

                        &.name {
                            padding-top: 30px !important;
                            padding-bottom: 30px !important;
                        }
                    }
                }
            }
        }

        .block-order-details-view {
            .block-title {
                margin-bottom: 0 !important;
            }

            .block-content {
                &:extend(.abs-blocks-4columns all);

                padding: 32px 0 40px 0;
                background-color: @secondary__color__lighter;

                &:before {
                    display: none !important;
                }

                .box {
                    padding: 0 20px;
                    box-sizing: border-box;

                    &:nth-child(n+2) {
                        border-left: 1px solid @secondary__color__light;
                    }
                }
            }
        }
    }

    .page-title-wrapper {
        .order-date {
            margin: 15px 0 45px;
        }
    }

    .order-details-items {
        margin-bottom: @indent__xl;
    }

    .sales-order-view,
    .sales-order-invoice,
    .sales-order-shipment,
    .sales-order-creditmemo,
    .sales-order-print,
    .sales-order-printinvoice,
    .sales-order-printshipment,
    .sales-order-printcreditmemo,
    .sales-guest-view,
    .sales-guest-invoice,
    .sales-guest-shipment,
    .sales-guest-creditmemo {
        .page-title-wrapper {
            .page-title {
                margin-right: @indent__m;
            }
        }
    }
}
