<?php if ($block->getCId()) { ?>
<!-- pixel -->
<script type="text/javascript">
     var _itt = {
            c:'<?php echo $block->getCId(); ?>',
            s:'<?php echo $block->getSessionId(); ?>',
            t:'CO'
            };

    (function(){
                var a=document.createElement('script');
                a.type='text/javascript';a.async=true;
                a.src='https://uc8.tv/<?php echo $block->getCId(); ?>.js';
                var b=document.getElementsByTagName('script')[0];
                b.parentNode.insertBefore(a, b);
    })();
</script>
<noscript>
<img src="https://uc8.tv/img/<?php echo $block->getCId(); ?>/<?php echo $block->getSessionId(); ?>" border=0 width=0 />
</noscript>
<!-- / pixel -->
<?php } ?>
